<template>
    <v-select
        :item-text="itemText"
        :items="listItems"
        :value="value"
        v-bind="$attrs"
        item-disabled="disabled"
        @input="$emit('input', $event)"
    />
</template>

<script>
    import { FETCH_CATEGORIES_POST } from '../../apollo/query/category';

    export default {
        name: 'SelectCategory',
        props: {
            query: {
                type: Object,
                default() {
                    return FETCH_CATEGORIES_POST
                }
            },
            value: {
                type: String,
                default: undefined
            },
            itemText: {
                type: String,
                default: 'name'
            },
            disableItem: {
                type: [Array, Object, String],
                default: undefined
            },
            disableItemTree: {
                type: [Array, Object, String],
                default: undefined
            }
        },
        apollo: {
            data() {
                return {
                    query: this.query,
                    result({ data: { data }, loading, networkStatus }) {
                        if ( data.data ) {
                            this.recursiveItems = this.categoriesRecursive([...data.data]);

                            this.listItems = [{
                                id: '0',
                                name: '--ROOT--'
                            }, ...this.converMenuItem(this.recursiveItems, 0, this.disableItem)];
                        }
                    }
                };
            }
        },
        data() {
            return {
                itemDisabled: [],
                recursiveItems: [],
                listItems: []
            }
        },
        computed: {
            listDisabled() {
                let list = this.disableItem;
                if ( ! Array.isArray(this.disableItem) ) {
                    list = [this.disableItem];
                }
                return list.filter(item => (item !== '0'));
            },
            listDisabledTree() {
                let list = this.disableItemTree;
                if ( ! Array.isArray(this.disableItemTree) ) {
                    list = [this.disableItemTree];
                }
                list = [...list, ...this.listDisabled];

                return list.filter(item => (item !== '0'));
            }
        },
        watch: {
            disableItem(val) {
                this.listItems = [{ id: '0', name: '--ROOT--' }, ...this.converMenuItem(this.recursiveItems, 0, val)];
            }
        },
        methods: {
            categoriesRecursive(data, parentKey = 'parentId', idKey = 'id', childrenKey = 'children') {
                if ( ! Array.isArray(data) ) {
                    return [];
                }

                let n = {};
                for( let item of data ) {
                    if ( ! n[`${ item[parentKey] || 0 }-key`] ) n[`${ item[parentKey] || 0 }-key`] = [];
                    n[`${ item[parentKey] || 0 }-key`].push(item);
                }
                for( let item of data ) {
                    if ( n[item[idKey] + '-key'] ) {
                        item[childrenKey] = n[item[idKey] + '-key'];
                    }
                }
                return n['0-key'] || [];
            },
            converMenuItem(data, level = 0, disabled = false) {
                let menuItems = [];
                for( let item of data ) {

                    let space = Array.from(Array(level)).map(x => ('\xA0\xA0\xA0\xA0')).join('');

                    let childString = '';

                    if ( level > 0 ) {
                        childString = '|--\xA0\xA0';
                    }

                    menuItems.push({
                        ...item,
                        name: space + childString + item.name,
                        disabled: this.listDisabled.indexOf(item[this.$attrs['item-value']]) !== -1 || disabled === true
                    });

                    if ( Array.isArray(item.children) ) {
                        let isDisabled = disabled === true || this.listDisabledTree.indexOf(item[this.$attrs['item-value']]) !== -1;
                        menuItems.push.apply(menuItems, this.converMenuItem(item.children, level + 1, isDisabled));
                    }
                }
                return menuItems;
            }
        }
    };
</script>

<style scoped>

</style>