<template>
    <v-select
        :items="listCuontry"
        :loading="loading"
        :value="value"
        v-bind="$attrs"
        item-value="id"
        @change="change"
    >
        <template v-slot:prepend-item>
            <v-text-field
                v-model="searchText"
                class="mx-3"
                hide-details
                label="Search"
                single-line
            />
        </template>
    </v-select>
</template>

<script>
    import { COUNTRY } from '../../lib/country';

    export default {
        name: 'SelectCountry',
        props: {
            value: {
                type: [Object, String],
                default: undefined
            }
        },
        data() {
            return {
                model: null,
                states: COUNTRY,
                listCuontry: COUNTRY,
                loading: false,
                searchText: ''
            }
        },
        watch: {
            searchText(val) {
                this.querySelections(val);
            }
        },
        methods: {
            change(val) {
                this.searchText = '';
                this.$emit('input', val);
            },
            querySelections(v) {
                this.loading = true;
                // Simulated ajax query
                setTimeout(() => {
                    this.listCuontry = this.states.filter(({ text }) => {
                        return (text || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1;
                    });
                    this.loading = false;
                }, 500);
            }
        }
    };
</script>

<style scoped>

</style>