<template>
    <v-select
        :item-value="itemValue"
        :items="listItem"
        :value="value"
        v-bind="$attrs"
        item-text="name"
        @input="$emit('input', $event)"
    />
</template>

<script>
    import { FETCH_MENUS } from '../../apollo/query/menu';

    export default {
        name: 'SelectMenu',
        inheritAttrs: false,
        props: {
            value: {
                type: String,
                default: undefined
            },
            itemValue: {
                type: String,
                default: 'id'
            },
        },
        apollo: {
            data() {
                return {
                    query: FETCH_MENUS
                }
            }
        },
        computed: {
            listItem() {
                return this.data && this.data.data || [];
            }
        }
    };
</script>

<style scoped>

</style>