<template>
    <v-select
        :item-value="itemValue"
        :items="listItem"
        :value="value"
        v-bind="$attrs"
        item-text="name"
        solo
        @input="$emit('input', $event)"
    />
</template>

<script>
    import { FETCH_PRODUCT_TYPES } from '../../apollo/query/product-type';
    import {categoriesRecursive} from "../utils/utils";

    export default {
        name: 'SelectCategoryProduct',
        inheritAttrs: false,
        props: {
            value: {
                type: [String, Number],
                default: undefined
            },
            itemValue: {
                type: String,
                default: 'id'
            },
        },
        apollo: {
            data() {
                return {
                    query: FETCH_PRODUCT_TYPES
                }
            }
        },
        computed: {
            listItem() {
                return this.data && [{ id: '0', name: `--Chọn danh mục--` }, ...categoriesRecursive(this.data.data)] || [];
            }
        }
    };
</script>

<style scoped>

</style>