<template>
    <div>
        <v-autocomplete
            :items="items"
            :loading="isLoading"
            :search-input.sync="search"
            v-bind="$attrs"
            v-model="model"
            chips
            hide-selected
            item-text="name"
            label="Search for a customer..."
            prepend-inner-icon="search"
            return-object
            solo
        >
            <template v-slot:no-data>
                <v-list-item>
                    <v-list-item-title>
                        Search for your favorite <strong>Customer</strong>
                    </v-list-item-title>
                </v-list-item>
            </template>
            <template v-slot:selection="{ item, selected }">
                <v-chip
                    :selected="selected"
                    class="white--text"
                    color="blue-grey"
                >
                    <v-icon left>mdi-coin</v-icon>
                    <span v-text="model.name"/>
                </v-chip>
            </template>
            <template v-slot:item="{ item }">
                <v-list-item-avatar
                    class="headline font-weight-light white--text"
                    color="indigo"
                >
                    {{ item.name.charAt(0) }}
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title v-text="item.name"/>
                    <v-list-item-subtitle v-text="item.symbol"/>
                </v-list-item-content>
                <v-list-item-action>
                    <v-icon>mdi-coin</v-icon>
                </v-list-item-action>
            </template>
        </v-autocomplete>
    </div>
</template>

<script>
    import { FETCH_USERS213 } from '../../apollo/query/user';
    import _ from 'lodash';

    export default {
        name: 'SelectUser',
        props: {
            value: {
                type: [Object, String],
                default() {
                    return undefined;
                }
            }
        },
        data: () => ({
            isLoading: false,
            items: [],
            model: null,
            search: null,
            debounce: null
        }),
        watch: {
            search(val) {
                console.log('search', val);
                // Items have already been loaded
                // if (this.items.length > 0) return;
                if ( ! val ) return;

                this.isLoading = true;

                if ( this.debounce ) {
                    return this.debounce(val);
                }
                ;

                this.debounce = _.debounce((str) => {
                    this.$apollo.query({
                        query: FETCH_USERS213,
                        variables: {
                            filter: {
                                field: 'name',
                                value: `%${ str }%`,
                                operator: 'like'
                            }
                        },
                        fetchPolicy: 'no-cache',
                    }).then(({ data }) => {
                        let items = _.get(data, 'data.data', []) || [];
                        this.items = items;
                    })
                        .catch(err => {
                            console.log(err)
                        })
                        .finally(() => (this.isLoading = false))
                }, 300);

                this.debounce(val);
            },
            value(val) {
                this.model = val;
            },
            model(val) {
                this.$emit('input', val);
            }
        },
        mounted() {
            this.model = this.value;
        },
        methods: {}
    };
</script>

<style scoped>

</style>