<template>
    <v-select
        :item-text="itemText"
        :items="listItems"
        :value="value"
        v-bind="$attrs"
        item-disabled="disabled"
        solo
        dense
        @input="commit"
    />
</template>

<script>

    import { FETCH_PRODUCT_VENDOR } from '../../apollo/query/product-vendor';

    export default {
        name: 'SelectProductVendor',
        props: {
            value: {
                type: String,
                default: undefined
            },
            itemText: {
                type: String,
                default: 'name'
            }
        },
        apollo: {
            data() {
                return {
                    query: FETCH_PRODUCT_VENDOR,
                    result({ data: { data }, loading, networkStatus }) {
                        if ( data.data ) {
                            this.listItems = data.data;
                        }
                    }
                };
            }
        },
        data() {
            return {
                itemDisabled: [],
                recursiveItems: [],
                listItems: []
            }
        },
        computed: {},
        watch: {},
        methods: {
            commit(e) {
                console.log(e);
                this.$emit('input', e);
            }
        }
    };
</script>

<style scoped>

</style>