<template>
    <v-autocomplete
        :items="listItems"
        :value="inputValue"
        v-bind="$attrs"
        item-text="name"
        item-value="code"
        @input="changeFlag">
        <template
            slot="selection"
            slot-scope="data">
            <v-flex xs2>
                <img
                    :alt="data.item.code"
                    :src="data.item.image">
            </v-flex>
            <v-flex class="ml-1">
                {{ data.item.name }}
            </v-flex>
        </template>
        <template
            slot="item"
            slot-scope="data">
            <img
                :alt="data.item.code"
                :src="data.item.image">
            &nbsp;
            <v-list-item-content>
                <v-list-item-title v-html="data.item.name"/>
            </v-list-item-content>
        </template>
    </v-autocomplete>
</template>

<script>
    export default {
        name: 'SelectFlag',
        props: {
            value: {
                type: String,
                default: undefined
            }
        },
        data() {
            return {
                items: [
                    // {
                    //     'code': 'AD',
                    //     'emoji': '🇦🇩',
                    //     'unicode': 'U+1F1E6 U+1F1E9',
                    //     'name': 'Andorra',
                    //     'title': 'flag for Andorra'
                    // },
                    // {
                    //     'code': 'AE',
                    //     'emoji': '🇦🇪',
                    //     'unicode': 'U+1F1E6 U+1F1EA',
                    //     'name': 'United Arab Emirates',
                    //     'title': 'flag for United Arab Emirates'
                    // },
                    // {
                    //     'code': 'AF',
                    //     'emoji': '🇦🇫',
                    //     'unicode': 'U+1F1E6 U+1F1EB',
                    //     'name': 'Afghanistan',
                    //     'title': 'flag for Afghanistan'
                    // },
                    // {
                    //     'code': 'AL',
                    //     'emoji': '🇦🇱',
                    //     'unicode': 'U+1F1E6 U+1F1F1',
                    //     'name': 'Albania',
                    //     'title': 'flag for Albania'
                    // },
                    // {
                    //     'code': 'AM',
                    //     'emoji': '🇦🇲',
                    //     'unicode': 'U+1F1E6 U+1F1F2',
                    //     'name': 'Armenia',
                    //     'title': 'flag for Armenia'
                    // },
                    // {
                    //     'code': 'AO',
                    //     'emoji': '🇦🇴',
                    //     'unicode': 'U+1F1E6 U+1F1F4',
                    //     'name': 'Angola',
                    //     'title': 'flag for Angola'
                    // },
                    // {
                    //     'code': 'AR',
                    //     'emoji': '🇦🇷',
                    //     'unicode': 'U+1F1E6 U+1F1F7',
                    //     'name': 'Argentina',
                    //     'title': 'flag for Argentina'
                    // },
                    // {
                    //     'code': 'AT',
                    //     'emoji': '🇦🇹',
                    //     'unicode': 'U+1F1E6 U+1F1F9',
                    //     'name': 'Austria',
                    //     'title': 'flag for Austria'
                    // },
                    // {
                    //     'code': 'AU',
                    //     'emoji': '🇦🇺',
                    //     'unicode': 'U+1F1E6 U+1F1FA',
                    //     'name': 'Australia',
                    //     'title': 'flag for Australia'
                    // },
                    // {
                    //     'code': 'AZ',
                    //     'emoji': '🇦🇿',
                    //     'unicode': 'U+1F1E6 U+1F1FF',
                    //     'name': 'Azerbaijan',
                    //     'title': 'flag for Azerbaijan'
                    // },
                    // {
                    //     'code': 'BA',
                    //     'emoji': '🇧🇦',
                    //     'unicode': 'U+1F1E7 U+1F1E6',
                    //     'name': 'Bosnia and Herzegovina',
                    //     'title': 'flag for Bosnia and Herzegovina'
                    // },
                    // {
                    //     'code': 'BB',
                    //     'emoji': '🇧🇧',
                    //     'unicode': 'U+1F1E7 U+1F1E7',
                    //     'name': 'Barbados',
                    //     'title': 'flag for Barbados'
                    // },
                    // {
                    //     'code': 'BD',
                    //     'emoji': '🇧🇩',
                    //     'unicode': 'U+1F1E7 U+1F1E9',
                    //     'name': 'Bangladesh',
                    //     'title': 'flag for Bangladesh'
                    // },
                    // {
                    //     'code': 'BE',
                    //     'emoji': '🇧🇪',
                    //     'unicode': 'U+1F1E7 U+1F1EA',
                    //     'name': 'Belgium',
                    //     'title': 'flag for Belgium'
                    // },
                    // {
                    //     'code': 'BF',
                    //     'emoji': '🇧🇫',
                    //     'unicode': 'U+1F1E7 U+1F1EB',
                    //     'name': 'Burkina Faso',
                    //     'title': 'flag for Burkina Faso'
                    // },
                    // {
                    //     'code': 'BH',
                    //     'emoji': '🇧🇭',
                    //     'unicode': 'U+1F1E7 U+1F1ED',
                    //     'name': 'Bahrain',
                    //     'title': 'flag for Bahrain'
                    // },
                    // {
                    //     'code': 'BI',
                    //     'emoji': '🇧🇮',
                    //     'unicode': 'U+1F1E7 U+1F1EE',
                    //     'name': 'Burundi',
                    //     'title': 'flag for Burundi'
                    // },
                    // {
                    //     'code': 'BJ',
                    //     'emoji': '🇧🇯',
                    //     'unicode': 'U+1F1E7 U+1F1EF',
                    //     'name': 'Benin',
                    //     'title': 'flag for Benin'
                    // },
                    // {
                    //     'code': 'BN',
                    //     'emoji': '🇧🇳',
                    //     'unicode': 'U+1F1E7 U+1F1F3',
                    //     'name': 'Brunei Darussalam',
                    //     'title': 'flag for Brunei Darussalam'
                    // },
                    // {
                    //     'code': 'BO',
                    //     'emoji': '🇧🇴',
                    //     'unicode': 'U+1F1E7 U+1F1F4',
                    //     'name': 'Bolivia',
                    //     'title': 'flag for Bolivia'
                    // },
                    // {
                    //     'code': 'BR',
                    //     'emoji': '🇧🇷',
                    //     'unicode': 'U+1F1E7 U+1F1F7',
                    //     'name': 'Brazil',
                    //     'title': 'flag for Brazil'
                    // },
                    // {
                    //     'code': 'BS',
                    //     'emoji': '🇧🇸',
                    //     'unicode': 'U+1F1E7 U+1F1F8',
                    //     'name': 'Bahamas',
                    //     'title': 'flag for Bahamas'
                    // },
                    // {
                    //     'code': 'BT',
                    //     'emoji': '🇧🇹',
                    //     'unicode': 'U+1F1E7 U+1F1F9',
                    //     'name': 'Bhutan',
                    //     'title': 'flag for Bhutan'
                    // },
                    //
                    // {
                    //     'code': 'BW',
                    //     'emoji': '🇧🇼',
                    //     'unicode': 'U+1F1E7 U+1F1FC',
                    //     'name': 'Botswana',
                    //     'title': 'flag for Botswana'
                    // },
                    // {
                    //     'code': 'BY',
                    //     'emoji': '🇧🇾',
                    //     'unicode': 'U+1F1E7 U+1F1FE',
                    //     'name': 'Belarus',
                    //     'title': 'flag for Belarus'
                    // },
                    // {
                    //     'code': 'BZ',
                    //     'emoji': '🇧🇿',
                    //     'unicode': 'U+1F1E7 U+1F1FF',
                    //     'name': 'Belize',
                    //     'title': 'flag for Belize'
                    // },
                    // {
                    //     'code': 'CA',
                    //     'emoji': '🇨🇦',
                    //     'unicode': 'U+1F1E8 U+1F1E6',
                    //     'name': 'Canada',
                    //     'title': 'flag for Canada'
                    // },
                    // {
                    //     'code': 'CD',
                    //     'emoji': '🇨🇩',
                    //     'unicode': 'U+1F1E8 U+1F1E9',
                    //     'name': 'Congo',
                    //     'title': 'flag for Congo'
                    // },
                    // {
                    //     'code': 'CF',
                    //     'emoji': '🇨🇫',
                    //     'unicode': 'U+1F1E8 U+1F1EB',
                    //     'name': 'Central African Republic',
                    //     'title': 'flag for Central African Republic'
                    // },
                    // {
                    //     'code': 'CG',
                    //     'emoji': '🇨🇬',
                    //     'unicode': 'U+1F1E8 U+1F1EC',
                    //     'name': 'Congo',
                    //     'title': 'flag for Congo'
                    // },
                    // {
                    //     'code': 'CH',
                    //     'emoji': '🇨🇭',
                    //     'unicode': 'U+1F1E8 U+1F1ED',
                    //     'name': 'Switzerland',
                    //     'title': 'flag for Switzerland'
                    // },
                    // {
                    //     'code': 'CI',
                    //     'emoji': '🇨🇮',
                    //     'unicode': 'U+1F1E8 U+1F1EE',
                    //     'name': 'Côte D\'Ivoire',
                    //     'title': 'flag for Côte D\'Ivoire'
                    // },
                    // {
                    //     'code': 'CL',
                    //     'emoji': '🇨🇱',
                    //     'unicode': 'U+1F1E8 U+1F1F1',
                    //     'name': 'Chile',
                    //     'title': 'flag for Chile'
                    // },
                    // {
                    //     'code': 'CM',
                    //     'emoji': '🇨🇲',
                    //     'unicode': 'U+1F1E8 U+1F1F2',
                    //     'name': 'Cameroon',
                    //     'title': 'flag for Cameroon'
                    // },
                    // {
                    //     'code': 'CN',
                    //     'emoji': '🇨🇳',
                    //     'unicode': 'U+1F1E8 U+1F1F3',
                    //     'name': 'China',
                    //     'title': 'flag for China'
                    // },
                    // {
                    //     'code': 'CO',
                    //     'emoji': '🇨🇴',
                    //     'unicode': 'U+1F1E8 U+1F1F4',
                    //     'name': 'Colombia',
                    //     'title': 'flag for Colombia'
                    // },
                    // {
                    //     'code': 'CR',
                    //     'emoji': '🇨🇷',
                    //     'unicode': 'U+1F1E8 U+1F1F7',
                    //     'name': 'Costa Rica',
                    //     'title': 'flag for Costa Rica'
                    // },
                    // {
                    //     'code': 'CU',
                    //     'emoji': '🇨🇺',
                    //     'unicode': 'U+1F1E8 U+1F1FA',
                    //     'name': 'Cuba',
                    //     'title': 'flag for Cuba'
                    // },
                    // {
                    //     'code': 'CV',
                    //     'emoji': '🇨🇻',
                    //     'unicode': 'U+1F1E8 U+1F1FB',
                    //     'name': 'Cape Verde',
                    //     'title': 'flag for Cape Verde'
                    // },
                    // {
                    //     'code': 'CY',
                    //     'emoji': '🇨🇾',
                    //     'unicode': 'U+1F1E8 U+1F1FE',
                    //     'name': 'Cyprus',
                    //     'title': 'flag for Cyprus'
                    // },
                    // {
                    //     'code': 'CZ',
                    //     'emoji': '🇨🇿',
                    //     'unicode': 'U+1F1E8 U+1F1FF',
                    //     'name': 'Czech Republic',
                    //     'title': 'flag for Czech Republic'
                    // },
                    // {
                    //     'code': 'DE',
                    //     'emoji': '🇩🇪',
                    //     'unicode': 'U+1F1E9 U+1F1EA',
                    //     'name': 'Germany',
                    //     'title': 'flag for Germany'
                    // },
                    // {
                    //     'code': 'DJ',
                    //     'emoji': '🇩🇯',
                    //     'unicode': 'U+1F1E9 U+1F1EF',
                    //     'name': 'Djibouti',
                    //     'title': 'flag for Djibouti'
                    // },
                    // {
                    //     'code': 'DK',
                    //     'emoji': '🇩🇰',
                    //     'unicode': 'U+1F1E9 U+1F1F0',
                    //     'name': 'Denmark',
                    //     'title': 'flag for Denmark'
                    // },
                    // {
                    //     'code': 'DM',
                    //     'emoji': '🇩🇲',
                    //     'unicode': 'U+1F1E9 U+1F1F2',
                    //     'name': 'Dominica',
                    //     'title': 'flag for Dominica'
                    // },
                    // {
                    //     'code': 'DO',
                    //     'emoji': '🇩🇴',
                    //     'unicode': 'U+1F1E9 U+1F1F4',
                    //     'name': 'Dominican Republic',
                    //     'title': 'flag for Dominican Republic'
                    // },
                    // {
                    //     'code': 'DZ',
                    //     'emoji': '🇩🇿',
                    //     'unicode': 'U+1F1E9 U+1F1FF',
                    //     'name': 'Algeria',
                    //     'title': 'flag for Algeria'
                    // },
                    // {
                    //     'code': 'EC',
                    //     'emoji': '🇪🇨',
                    //     'unicode': 'U+1F1EA U+1F1E8',
                    //     'name': 'Ecuador',
                    //     'title': 'flag for Ecuador'
                    // },
                    // {
                    //     'code': 'EE',
                    //     'emoji': '🇪🇪',
                    //     'unicode': 'U+1F1EA U+1F1EA',
                    //     'name': 'Estonia',
                    //     'title': 'flag for Estonia'
                    // },
                    // {
                    //     'code': 'EG',
                    //     'emoji': '🇪🇬',
                    //     'unicode': 'U+1F1EA U+1F1EC',
                    //     'name': 'Egypt',
                    //     'title': 'flag for Egypt'
                    // },
                    // {
                    //     'code': 'EH',
                    //     'emoji': '🇪🇭',
                    //     'unicode': 'U+1F1EA U+1F1ED',
                    //     'name': 'Western Sahara',
                    //     'title': 'flag for Western Sahara'
                    // },
                    // {
                    //     'code': 'ER',
                    //     'emoji': '🇪🇷',
                    //     'unicode': 'U+1F1EA U+1F1F7',
                    //     'name': 'Eritrea',
                    //     'title': 'flag for Eritrea'
                    // },
                    // {
                    //     'code': 'ES',
                    //     'emoji': '🇪🇸',
                    //     'unicode': 'U+1F1EA U+1F1F8',
                    //     'name': 'Spain',
                    //     'title': 'flag for Spain'
                    // },
                    // {
                    //     'code': 'ET',
                    //     'emoji': '🇪🇹',
                    //     'unicode': 'U+1F1EA U+1F1F9',
                    //     'name': 'Ethiopia',
                    //     'title': 'flag for Ethiopia'
                    // },
                    // {
                    //     'code': 'FI',
                    //     'emoji': '🇫🇮',
                    //     'unicode': 'U+1F1EB U+1F1EE',
                    //     'name': 'Finland',
                    //     'title': 'flag for Finland'
                    // },
                    // {
                    //     'code': 'FJ',
                    //     'emoji': '🇫🇯',
                    //     'unicode': 'U+1F1EB U+1F1EF',
                    //     'name': 'Fiji',
                    //     'title': 'flag for Fiji'
                    // },
                    // {
                    //     'code': 'FM',
                    //     'emoji': '🇫🇲',
                    //     'unicode': 'U+1F1EB U+1F1F2',
                    //     'name': 'Micronesia',
                    //     'title': 'flag for Micronesia'
                    // },
                    // {
                    //     'code': 'FR',
                    //     'emoji': '🇫🇷',
                    //     'unicode': 'U+1F1EB U+1F1F7',
                    //     'name': 'France',
                    //     'title': 'flag for France'
                    // },
                    // {
                    //     'code': 'GA',
                    //     'emoji': '🇬🇦',
                    //     'unicode': 'U+1F1EC U+1F1E6',
                    //     'name': 'Gabon',
                    //     'title': 'flag for Gabon'
                    // },
                    // {
                    //     'code': 'GB',
                    //     'emoji': '🇬🇧',
                    //     'unicode': 'U+1F1EC U+1F1E7',
                    //     'name': 'United Kingdom',
                    //     'title': 'flag for United Kingdom'
                    // },
                    // {
                    //     'code': 'GD',
                    //     'emoji': '🇬🇩',
                    //     'unicode': 'U+1F1EC U+1F1E9',
                    //     'name': 'Grenada',
                    //     'title': 'flag for Grenada'
                    // },
                    // {
                    //     'code': 'GE',
                    //     'emoji': '🇬🇪',
                    //     'unicode': 'U+1F1EC U+1F1EA',
                    //     'name': 'Georgia',
                    //     'title': 'flag for Georgia'
                    // },
                    // {
                    //     'code': 'GH',
                    //     'emoji': '🇬🇭',
                    //     'unicode': 'U+1F1EC U+1F1ED',
                    //     'name': 'Ghana',
                    //     'title': 'flag for Ghana'
                    // },
                    // {
                    //     'code': 'GM',
                    //     'emoji': '🇬🇲',
                    //     'unicode': 'U+1F1EC U+1F1F2',
                    //     'name': 'Gambia',
                    //     'title': 'flag for Gambia'
                    // },
                    // {
                    //     'code': 'GN',
                    //     'emoji': '🇬🇳',
                    //     'unicode': 'U+1F1EC U+1F1F3',
                    //     'name': 'Guinea',
                    //     'title': 'flag for Guinea'
                    // },
                    // {
                    //     'code': 'GQ',
                    //     'emoji': '🇬🇶',
                    //     'unicode': 'U+1F1EC U+1F1F6',
                    //     'name': 'Equatorial Guinea',
                    //     'title': 'flag for Equatorial Guinea'
                    // },
                    // {
                    //     'code': 'GR',
                    //     'emoji': '🇬🇷',
                    //     'unicode': 'U+1F1EC U+1F1F7',
                    //     'name': 'Greece',
                    //     'title': 'flag for Greece'
                    // },
                    // {
                    //     'code': 'GT',
                    //     'emoji': '🇬🇹',
                    //     'unicode': 'U+1F1EC U+1F1F9',
                    //     'name': 'Guatemala',
                    //     'title': 'flag for Guatemala'
                    // },
                    // {
                    //     'code': 'GW',
                    //     'emoji': '🇬🇼',
                    //     'unicode': 'U+1F1EC U+1F1FC',
                    //     'name': 'Guinea-Bissau',
                    //     'title': 'flag for Guinea-Bissau'
                    // },
                    // {
                    //     'code': 'GY',
                    //     'emoji': '🇬🇾',
                    //     'unicode': 'U+1F1EC U+1F1FE',
                    //     'name': 'Guyana',
                    //     'title': 'flag for Guyana'
                    // },
                    // {
                    //     'code': 'HN',
                    //     'emoji': '🇭🇳',
                    //     'unicode': 'U+1F1ED U+1F1F3',
                    //     'name': 'Honduras',
                    //     'title': 'flag for Honduras'
                    // },
                    // {
                    //     'code': 'HR',
                    //     'emoji': '🇭🇷',
                    //     'unicode': 'U+1F1ED U+1F1F7',
                    //     'name': 'Croatia',
                    //     'title': 'flag for Croatia'
                    // },
                    // {
                    //     'code': 'HT',
                    //     'emoji': '🇭🇹',
                    //     'unicode': 'U+1F1ED U+1F1F9',
                    //     'name': 'Haiti',
                    //     'title': 'flag for Haiti'
                    // },
                    // {
                    //     'code': 'HU',
                    //     'emoji': '🇭🇺',
                    //     'unicode': 'U+1F1ED U+1F1FA',
                    //     'name': 'Hungary',
                    //     'title': 'flag for Hungary'
                    // },
                    // {
                    //     'code': 'ID',
                    //     'emoji': '🇮🇩',
                    //     'unicode': 'U+1F1EE U+1F1E9',
                    //     'name': 'Indonesia',
                    //     'title': 'flag for Indonesia'
                    // },
                    // {
                    //     'code': 'IE',
                    //     'emoji': '🇮🇪',
                    //     'unicode': 'U+1F1EE U+1F1EA',
                    //     'name': 'Ireland',
                    //     'title': 'flag for Ireland'
                    // },
                    // {
                    //     'code': 'IL',
                    //     'emoji': '🇮🇱',
                    //     'unicode': 'U+1F1EE U+1F1F1',
                    //     'name': 'Israel',
                    //     'title': 'flag for Israel'
                    // },
                    // {
                    //     'code': 'IN',
                    //     'emoji': '🇮🇳',
                    //     'unicode': 'U+1F1EE U+1F1F3',
                    //     'name': 'India',
                    //     'title': 'flag for India'
                    // },
                    // {
                    //     'code': 'IQ',
                    //     'emoji': '🇮🇶',
                    //     'unicode': 'U+1F1EE U+1F1F6',
                    //     'name': 'Iraq',
                    //     'title': 'flag for Iraq'
                    // },
                    // {
                    //     'code': 'IR',
                    //     'emoji': '🇮🇷',
                    //     'unicode': 'U+1F1EE U+1F1F7',
                    //     'name': 'Iran',
                    //     'title': 'flag for Iran'
                    // },
                    // {
                    //     'code': 'IS',
                    //     'emoji': '🇮🇸',
                    //     'unicode': 'U+1F1EE U+1F1F8',
                    //     'name': 'Iceland',
                    //     'title': 'flag for Iceland'
                    // },
                    // {
                    //     'code': 'IT',
                    //     'emoji': '🇮🇹',
                    //     'unicode': 'U+1F1EE U+1F1F9',
                    //     'name': 'Italy',
                    //     'title': 'flag for Italy'
                    // },
                    // {
                    //     'code': 'JM',
                    //     'emoji': '🇯🇲',
                    //     'unicode': 'U+1F1EF U+1F1F2',
                    //     'name': 'Jamaica',
                    //     'title': 'flag for Jamaica'
                    // },
                    // {
                    //     'code': 'JO',
                    //     'emoji': '🇯🇴',
                    //     'unicode': 'U+1F1EF U+1F1F4',
                    //     'name': 'Jordan',
                    //     'title': 'flag for Jordan'
                    // },
                    // {
                    //     'code': 'JP',
                    //     'emoji': '🇯🇵',
                    //     'unicode': 'U+1F1EF U+1F1F5',
                    //     'name': 'Japan',
                    //     'title': 'flag for Japan'
                    // },
                    // {
                    //     'code': 'KE',
                    //     'emoji': '🇰🇪',
                    //     'unicode': 'U+1F1F0 U+1F1EA',
                    //     'name': 'Kenya',
                    //     'title': 'flag for Kenya'
                    // },
                    // {
                    //     'code': 'KG',
                    //     'emoji': '🇰🇬',
                    //     'unicode': 'U+1F1F0 U+1F1EC',
                    //     'name': 'Kyrgyzstan',
                    //     'title': 'flag for Kyrgyzstan'
                    // },
                    // {
                    //     'code': 'KH',
                    //     'emoji': '🇰🇭',
                    //     'unicode': 'U+1F1F0 U+1F1ED',
                    //     'name': 'Cambodia',
                    //     'title': 'flag for Cambodia'
                    // },
                    // {
                    //     'code': 'KI',
                    //     'emoji': '🇰🇮',
                    //     'unicode': 'U+1F1F0 U+1F1EE',
                    //     'name': 'Kiribati',
                    //     'title': 'flag for Kiribati'
                    // },
                    // {
                    //     'code': 'KM',
                    //     'emoji': '🇰🇲',
                    //     'unicode': 'U+1F1F0 U+1F1F2',
                    //     'name': 'Comoros',
                    //     'title': 'flag for Comoros'
                    // },
                    // {
                    //     'code': 'KN',
                    //     'emoji': '🇰🇳',
                    //     'unicode': 'U+1F1F0 U+1F1F3',
                    //     'name': 'Saint Kitts and Nevis',
                    //     'title': 'flag for Saint Kitts and Nevis'
                    // },
                    // {
                    //     'code': 'KP',
                    //     'emoji': '🇰🇵',
                    //     'unicode': 'U+1F1F0 U+1F1F5',
                    //     'name': 'North Korea',
                    //     'title': 'flag for North Korea'
                    // },
                    // {
                    //     'code': 'KR',
                    //     'emoji': '🇰🇷',
                    //     'unicode': 'U+1F1F0 U+1F1F7',
                    //     'name': 'South Korea',
                    //     'title': 'flag for South Korea'
                    // },
                    // {
                    //     'code': 'KW',
                    //     'emoji': '🇰🇼',
                    //     'unicode': 'U+1F1F0 U+1F1FC',
                    //     'name': 'Kuwait',
                    //     'title': 'flag for Kuwait'
                    // },
                    // {
                    //     'code': 'KZ',
                    //     'emoji': '🇰🇿',
                    //     'unicode': 'U+1F1F0 U+1F1FF',
                    //     'name': 'Kazakhstan',
                    //     'title': 'flag for Kazakhstan'
                    // },
                    // {
                    //     'code': 'LA',
                    //     'emoji': '🇱🇦',
                    //     'unicode': 'U+1F1F1 U+1F1E6',
                    //     'name': 'Lao People\'s Democratic Republic',
                    //     'title': 'flag for Lao People\'s Democratic Republic'
                    // },
                    // {
                    //     'code': 'LB',
                    //     'emoji': '🇱🇧',
                    //     'unicode': 'U+1F1F1 U+1F1E7',
                    //     'name': 'Lebanon',
                    //     'title': 'flag for Lebanon'
                    // },
                    // {
                    //     'code': 'LC',
                    //     'emoji': '🇱🇨',
                    //     'unicode': 'U+1F1F1 U+1F1E8',
                    //     'name': 'Saint Lucia',
                    //     'title': 'flag for Saint Lucia'
                    // },
                    // {
                    //     'code': 'LI',
                    //     'emoji': '🇱🇮',
                    //     'unicode': 'U+1F1F1 U+1F1EE',
                    //     'name': 'Liechtenstein',
                    //     'title': 'flag for Liechtenstein'
                    // },
                    // {
                    //     'code': 'LK',
                    //     'emoji': '🇱🇰',
                    //     'unicode': 'U+1F1F1 U+1F1F0',
                    //     'name': 'Sri Lanka',
                    //     'title': 'flag for Sri Lanka'
                    // },
                    // {
                    //     'code': 'LR',
                    //     'emoji': '🇱🇷',
                    //     'unicode': 'U+1F1F1 U+1F1F7',
                    //     'name': 'Liberia',
                    //     'title': 'flag for Liberia'
                    // },
                    // {
                    //     'code': 'LS',
                    //     'emoji': '🇱🇸',
                    //     'unicode': 'U+1F1F1 U+1F1F8',
                    //     'name': 'Lesotho',
                    //     'title': 'flag for Lesotho'
                    // },
                    // {
                    //     'code': 'LT',
                    //     'emoji': '🇱🇹',
                    //     'unicode': 'U+1F1F1 U+1F1F9',
                    //     'name': 'Lithuania',
                    //     'title': 'flag for Lithuania'
                    // },
                    // {
                    //     'code': 'LU',
                    //     'emoji': '🇱🇺',
                    //     'unicode': 'U+1F1F1 U+1F1FA',
                    //     'name': 'Luxembourg',
                    //     'title': 'flag for Luxembourg'
                    // },
                    // {
                    //     'code': 'LV',
                    //     'emoji': '🇱🇻',
                    //     'unicode': 'U+1F1F1 U+1F1FB',
                    //     'name': 'Latvia',
                    //     'title': 'flag for Latvia'
                    // },
                    // {
                    //     'code': 'LY',
                    //     'emoji': '🇱🇾',
                    //     'unicode': 'U+1F1F1 U+1F1FE',
                    //     'name': 'Libya',
                    //     'title': 'flag for Libya'
                    // },
                    // {
                    //     'code': 'MA',
                    //     'emoji': '🇲🇦',
                    //     'unicode': 'U+1F1F2 U+1F1E6',
                    //     'name': 'Morocco',
                    //     'title': 'flag for Morocco'
                    // },
                    // {
                    //     'code': 'MC',
                    //     'emoji': '🇲🇨',
                    //     'unicode': 'U+1F1F2 U+1F1E8',
                    //     'name': 'Monaco',
                    //     'title': 'flag for Monaco'
                    // },
                    // {
                    //     'code': 'MD',
                    //     'emoji': '🇲🇩',
                    //     'unicode': 'U+1F1F2 U+1F1E9',
                    //     'name': 'Moldova',
                    //     'title': 'flag for Moldova'
                    // },
                    // {
                    //     'code': 'ME',
                    //     'emoji': '🇲🇪',
                    //     'unicode': 'U+1F1F2 U+1F1EA',
                    //     'name': 'Montenegro',
                    //     'title': 'flag for Montenegro'
                    // },
                    // {
                    //     'code': 'MG',
                    //     'emoji': '🇲🇬',
                    //     'unicode': 'U+1F1F2 U+1F1EC',
                    //     'name': 'Madagascar',
                    //     'title': 'flag for Madagascar'
                    // },
                    // {
                    //     'code': 'MH',
                    //     'emoji': '🇲🇭',
                    //     'unicode': 'U+1F1F2 U+1F1ED',
                    //     'name': 'Marshall Islands',
                    //     'title': 'flag for Marshall Islands'
                    // },
                    // {
                    //     'code': 'MK',
                    //     'emoji': '🇲🇰',
                    //     'unicode': 'U+1F1F2 U+1F1F0',
                    //     'name': 'Macedonia',
                    //     'title': 'flag for Macedonia'
                    // },
                    // {
                    //     'code': 'ML',
                    //     'emoji': '🇲🇱',
                    //     'unicode': 'U+1F1F2 U+1F1F1',
                    //     'name': 'Mali',
                    //     'title': 'flag for Mali'
                    // },
                    // {
                    //     'code': 'MM',
                    //     'emoji': '🇲🇲',
                    //     'unicode': 'U+1F1F2 U+1F1F2',
                    //     'name': 'Myanmar',
                    //     'title': 'flag for Myanmar'
                    // },
                    // {
                    //     'code': 'MN',
                    //     'emoji': '🇲🇳',
                    //     'unicode': 'U+1F1F2 U+1F1F3',
                    //     'name': 'Mongolia',
                    //     'title': 'flag for Mongolia'
                    // },
                    // {
                    //     'code': 'MR',
                    //     'emoji': '🇲🇷',
                    //     'unicode': 'U+1F1F2 U+1F1F7',
                    //     'name': 'Mauritania',
                    //     'title': 'flag for Mauritania'
                    // },
                    // {
                    //     'code': 'MT',
                    //     'emoji': '🇲🇹',
                    //     'unicode': 'U+1F1F2 U+1F1F9',
                    //     'name': 'Malta',
                    //     'title': 'flag for Malta'
                    // },
                    // {
                    //     'code': 'MU',
                    //     'emoji': '🇲🇺',
                    //     'unicode': 'U+1F1F2 U+1F1FA',
                    //     'name': 'Mauritius',
                    //     'title': 'flag for Mauritius'
                    // },
                    // {
                    //     'code': 'MV',
                    //     'emoji': '🇲🇻',
                    //     'unicode': 'U+1F1F2 U+1F1FB',
                    //     'name': 'Maldives',
                    //     'title': 'flag for Maldives'
                    // },
                    // {
                    //     'code': 'MW',
                    //     'emoji': '🇲🇼',
                    //     'unicode': 'U+1F1F2 U+1F1FC',
                    //     'name': 'Malawi',
                    //     'title': 'flag for Malawi'
                    // },
                    // {
                    //     'code': 'MX',
                    //     'emoji': '🇲🇽',
                    //     'unicode': 'U+1F1F2 U+1F1FD',
                    //     'name': 'Mexico',
                    //     'title': 'flag for Mexico'
                    // },
                    // {
                    //     'code': 'MY',
                    //     'emoji': '🇲🇾',
                    //     'unicode': 'U+1F1F2 U+1F1FE',
                    //     'name': 'Malaysia',
                    //     'title': 'flag for Malaysia'
                    // },
                    // {
                    //     'code': 'MZ',
                    //     'emoji': '🇲🇿',
                    //     'unicode': 'U+1F1F2 U+1F1FF',
                    //     'name': 'Mozambique',
                    //     'title': 'flag for Mozambique'
                    // },
                    // {
                    //     'code': 'NA',
                    //     'emoji': '🇳🇦',
                    //     'unicode': 'U+1F1F3 U+1F1E6',
                    //     'name': 'Namibia',
                    //     'title': 'flag for Namibia'
                    // },
                    // {
                    //     'code': 'NE',
                    //     'emoji': '🇳🇪',
                    //     'unicode': 'U+1F1F3 U+1F1EA',
                    //     'name': 'Niger',
                    //     'title': 'flag for Niger'
                    // },
                    // {
                    //     'code': 'NG',
                    //     'emoji': '🇳🇬',
                    //     'unicode': 'U+1F1F3 U+1F1EC',
                    //     'name': 'Nigeria',
                    //     'title': 'flag for Nigeria'
                    // },
                    // {
                    //     'code': 'NI',
                    //     'emoji': '🇳🇮',
                    //     'unicode': 'U+1F1F3 U+1F1EE',
                    //     'name': 'Nicaragua',
                    //     'title': 'flag for Nicaragua'
                    // },
                    // {
                    //     'code': 'NL',
                    //     'emoji': '🇳🇱',
                    //     'unicode': 'U+1F1F3 U+1F1F1',
                    //     'name': 'Netherlands',
                    //     'title': 'flag for Netherlands'
                    // },
                    // {
                    //     'code': 'NO',
                    //     'emoji': '🇳🇴',
                    //     'unicode': 'U+1F1F3 U+1F1F4',
                    //     'name': 'Norway',
                    //     'title': 'flag for Norway'
                    // },
                    // {
                    //     'code': 'NP',
                    //     'emoji': '🇳🇵',
                    //     'unicode': 'U+1F1F3 U+1F1F5',
                    //     'name': 'Nepal',
                    //     'title': 'flag for Nepal'
                    // },
                    // {
                    //     'code': 'NR',
                    //     'emoji': '🇳🇷',
                    //     'unicode': 'U+1F1F3 U+1F1F7',
                    //     'name': 'Nauru',
                    //     'title': 'flag for Nauru'
                    // },
                    // {
                    //     'code': 'NZ',
                    //     'emoji': '🇳🇿',
                    //     'unicode': 'U+1F1F3 U+1F1FF',
                    //     'name': 'New Zealand',
                    //     'title': 'flag for New Zealand'
                    // },
                    // {
                    //     'code': 'OM',
                    //     'emoji': '🇴🇲',
                    //     'unicode': 'U+1F1F4 U+1F1F2',
                    //     'name': 'Oman',
                    //     'title': 'flag for Oman'
                    // },
                    // {
                    //     'code': 'PA',
                    //     'emoji': '🇵🇦',
                    //     'unicode': 'U+1F1F5 U+1F1E6',
                    //     'name': 'Panama',
                    //     'title': 'flag for Panama'
                    // },
                    // {
                    //     'code': 'PE',
                    //     'emoji': '🇵🇪',
                    //     'unicode': 'U+1F1F5 U+1F1EA',
                    //     'name': 'Peru',
                    //     'title': 'flag for Peru'
                    // },
                    // {
                    //     'code': 'PG',
                    //     'emoji': '🇵🇬',
                    //     'unicode': 'U+1F1F5 U+1F1EC',
                    //     'name': 'Papua New Guinea',
                    //     'title': 'flag for Papua New Guinea'
                    // },
                    // {
                    //     'code': 'PH',
                    //     'emoji': '🇵🇭',
                    //     'unicode': 'U+1F1F5 U+1F1ED',
                    //     'name': 'Philippines',
                    //     'title': 'flag for Philippines'
                    // },
                    // {
                    //     'code': 'PK',
                    //     'emoji': '🇵🇰',
                    //     'unicode': 'U+1F1F5 U+1F1F0',
                    //     'name': 'Pakistan',
                    //     'title': 'flag for Pakistan'
                    // },
                    // {
                    //     'code': 'PL',
                    //     'emoji': '🇵🇱',
                    //     'unicode': 'U+1F1F5 U+1F1F1',
                    //     'name': 'Poland',
                    //     'title': 'flag for Poland'
                    // },
                    // {
                    //     'code': 'PT',
                    //     'emoji': '🇵🇹',
                    //     'unicode': 'U+1F1F5 U+1F1F9',
                    //     'name': 'Portugal',
                    //     'title': 'flag for Portugal'
                    // },
                    // {
                    //     'code': 'PW',
                    //     'emoji': '🇵🇼',
                    //     'unicode': 'U+1F1F5 U+1F1FC',
                    //     'name': 'Palau',
                    //     'title': 'flag for Palau'
                    // },
                    // {
                    //     'code': 'PY',
                    //     'emoji': '🇵🇾',
                    //     'unicode': 'U+1F1F5 U+1F1FE',
                    //     'name': 'Paraguay',
                    //     'title': 'flag for Paraguay'
                    // },
                    // {
                    //     'code': 'QA',
                    //     'emoji': '🇶🇦',
                    //     'unicode': 'U+1F1F6 U+1F1E6',
                    //     'name': 'Qatar',
                    //     'title': 'flag for Qatar'
                    // },
                    // {
                    //     'code': 'RO',
                    //     'emoji': '🇷🇴',
                    //     'unicode': 'U+1F1F7 U+1F1F4',
                    //     'name': 'Romania',
                    //     'title': 'flag for Romania'
                    // },
                    // {
                    //     'code': 'RS',
                    //     'emoji': '🇷🇸',
                    //     'unicode': 'U+1F1F7 U+1F1F8',
                    //     'name': 'Serbia',
                    //     'title': 'flag for Serbia'
                    // },
                    // {
                    //     'code': 'RU',
                    //     'emoji': '🇷🇺',
                    //     'unicode': 'U+1F1F7 U+1F1FA',
                    //     'name': 'Russia',
                    //     'title': 'flag for Russia'
                    // },
                    // {
                    //     'code': 'RW',
                    //     'emoji': '🇷🇼',
                    //     'unicode': 'U+1F1F7 U+1F1FC',
                    //     'name': 'Rwanda',
                    //     'title': 'flag for Rwanda'
                    // },
                    // {
                    //     'code': 'SA',
                    //     'emoji': '🇸🇦',
                    //     'unicode': 'U+1F1F8 U+1F1E6',
                    //     'name': 'Saudi Arabia',
                    //     'title': 'flag for Saudi Arabia'
                    // },
                    // {
                    //     'code': 'SB',
                    //     'emoji': '🇸🇧',
                    //     'unicode': 'U+1F1F8 U+1F1E7',
                    //     'name': 'Solomon Islands',
                    //     'title': 'flag for Solomon Islands'
                    // },
                    // {
                    //     'code': 'SC',
                    //     'emoji': '🇸🇨',
                    //     'unicode': 'U+1F1F8 U+1F1E8',
                    //     'name': 'Seychelles',
                    //     'title': 'flag for Seychelles'
                    // },
                    // {
                    //     'code': 'SD',
                    //     'emoji': '🇸🇩',
                    //     'unicode': 'U+1F1F8 U+1F1E9',
                    //     'name': 'Sudan',
                    //     'title': 'flag for Sudan'
                    // },
                    // {
                    //     'code': 'SE',
                    //     'emoji': '🇸🇪',
                    //     'unicode': 'U+1F1F8 U+1F1EA',
                    //     'name': 'Sweden',
                    //     'title': 'flag for Sweden'
                    // },
                    // {
                    //     'code': 'SG',
                    //     'emoji': '🇸🇬',
                    //     'unicode': 'U+1F1F8 U+1F1EC',
                    //     'name': 'Singapore',
                    //     'title': 'flag for Singapore'
                    // },
                    // {
                    //     'code': 'SI',
                    //     'emoji': '🇸🇮',
                    //     'unicode': 'U+1F1F8 U+1F1EE',
                    //     'name': 'Slovenia',
                    //     'title': 'flag for Slovenia'
                    // },
                    // {
                    //     'code': 'SK',
                    //     'emoji': '🇸🇰',
                    //     'unicode': 'U+1F1F8 U+1F1F0',
                    //     'name': 'Slovakia',
                    //     'title': 'flag for Slovakia'
                    // },
                    // {
                    //     'code': 'SL',
                    //     'emoji': '🇸🇱',
                    //     'unicode': 'U+1F1F8 U+1F1F1',
                    //     'name': 'Sierra Leone',
                    //     'title': 'flag for Sierra Leone'
                    // },
                    // {
                    //     'code': 'SM',
                    //     'emoji': '🇸🇲',
                    //     'unicode': 'U+1F1F8 U+1F1F2',
                    //     'name': 'San Marino',
                    //     'title': 'flag for San Marino'
                    // },
                    // {
                    //     'code': 'SN',
                    //     'emoji': '🇸🇳',
                    //     'unicode': 'U+1F1F8 U+1F1F3',
                    //     'name': 'Senegal',
                    //     'title': 'flag for Senegal'
                    // },
                    // {
                    //     'code': 'SO',
                    //     'emoji': '🇸🇴',
                    //     'unicode': 'U+1F1F8 U+1F1F4',
                    //     'name': 'Somalia',
                    //     'title': 'flag for Somalia'
                    // },
                    // {
                    //     'code': 'SR',
                    //     'emoji': '🇸🇷',
                    //     'unicode': 'U+1F1F8 U+1F1F7',
                    //     'name': 'Suriname',
                    //     'title': 'flag for Suriname'
                    // },
                    // {
                    //     'code': 'ST',
                    //     'emoji': '🇸🇹',
                    //     'unicode': 'U+1F1F8 U+1F1F9',
                    //     'name': 'Sao Tome and Principe',
                    //     'title': 'flag for Sao Tome and Principe'
                    // },
                    // {
                    //     'code': 'SV',
                    //     'emoji': '🇸🇻',
                    //     'unicode': 'U+1F1F8 U+1F1FB',
                    //     'name': 'El Salvador',
                    //     'title': 'flag for El Salvador'
                    // },
                    // {
                    //     'code': 'SY',
                    //     'emoji': '🇸🇾',
                    //     'unicode': 'U+1F1F8 U+1F1FE',
                    //     'name': 'Syrian Arab Republic',
                    //     'title': 'flag for Syrian Arab Republic'
                    // },
                    // {
                    //     'code': 'SZ',
                    //     'emoji': '🇸🇿',
                    //     'unicode': 'U+1F1F8 U+1F1FF',
                    //     'name': 'Swaziland',
                    //     'title': 'flag for Swaziland'
                    // },
                    // {
                    //     'code': 'TD',
                    //     'emoji': '🇹🇩',
                    //     'unicode': 'U+1F1F9 U+1F1E9',
                    //     'name': 'Chad',
                    //     'title': 'flag for Chad'
                    // },
                    // {
                    //     'code': 'TG',
                    //     'emoji': '🇹🇬',
                    //     'unicode': 'U+1F1F9 U+1F1EC',
                    //     'name': 'Togo',
                    //     'title': 'flag for Togo'
                    // },
                    // {
                    //     'code': 'TH',
                    //     'emoji': '🇹🇭',
                    //     'unicode': 'U+1F1F9 U+1F1ED',
                    //     'name': 'Thailand',
                    //     'title': 'flag for Thailand'
                    // },
                    // {
                    //     'code': 'TJ',
                    //     'emoji': '🇹🇯',
                    //     'unicode': 'U+1F1F9 U+1F1EF',
                    //     'name': 'Tajikistan',
                    //     'title': 'flag for Tajikistan'
                    // },
                    // {
                    //     'code': 'TL',
                    //     'emoji': '🇹🇱',
                    //     'unicode': 'U+1F1F9 U+1F1F1',
                    //     'name': 'Timor-Leste',
                    //     'title': 'flag for Timor-Leste'
                    // },
                    // {
                    //     'code': 'TM',
                    //     'emoji': '🇹🇲',
                    //     'unicode': 'U+1F1F9 U+1F1F2',
                    //     'name': 'Turkmenistan',
                    //     'title': 'flag for Turkmenistan'
                    // },
                    // {
                    //     'code': 'TN',
                    //     'emoji': '🇹🇳',
                    //     'unicode': 'U+1F1F9 U+1F1F3',
                    //     'name': 'Tunisia',
                    //     'title': 'flag for Tunisia'
                    // },
                    // {
                    //     'code': 'TO',
                    //     'emoji': '🇹🇴',
                    //     'unicode': 'U+1F1F9 U+1F1F4',
                    //     'name': 'Tonga',
                    //     'title': 'flag for Tonga'
                    // },
                    // {
                    //     'code': 'TR',
                    //     'emoji': '🇹🇷',
                    //     'unicode': 'U+1F1F9 U+1F1F7',
                    //     'name': 'Turkey',
                    //     'title': 'flag for Turkey'
                    // },
                    // {
                    //     'code': 'TT',
                    //     'emoji': '🇹🇹',
                    //     'unicode': 'U+1F1F9 U+1F1F9',
                    //     'name': 'Trinidad and Tobago',
                    //     'title': 'flag for Trinidad and Tobago'
                    // },
                    // {
                    //     'code': 'TV',
                    //     'emoji': '🇹🇻',
                    //     'unicode': 'U+1F1F9 U+1F1FB',
                    //     'name': 'Tuvalu',
                    //     'title': 'flag for Tuvalu'
                    // },
                    // {
                    //     'code': 'TW',
                    //     'emoji': '🇹🇼',
                    //     'unicode': 'U+1F1F9 U+1F1FC',
                    //     'name': 'Taiwan',
                    //     'title': 'flag for Taiwan'
                    // },
                    // {
                    //     'code': 'TZ',
                    //     'emoji': '🇹🇿',
                    //     'unicode': 'U+1F1F9 U+1F1FF',
                    //     'name': 'Tanzania',
                    //     'title': 'flag for Tanzania'
                    // },
                    // {
                    //     'code': 'UA',
                    //     'emoji': '🇺🇦',
                    //     'unicode': 'U+1F1FA U+1F1E6',
                    //     'name': 'Ukraine',
                    //     'title': 'flag for Ukraine'
                    // },
                    // {
                    //     'code': 'UG',
                    //     'emoji': '🇺🇬',
                    //     'unicode': 'U+1F1FA U+1F1EC',
                    //     'name': 'Uganda',
                    //     'title': 'flag for Uganda'
                    // },
                    {
                        'code': 'EN',
                        'emoji': 'en',
                        'unicode': 'U+1F1FA U+1F1F8',
                        'name': 'United States',
                        'title': 'flag for United States'
                    },
                    // {
                    //     'code': 'UY',
                    //     'emoji': '🇺🇾',
                    //     'unicode': 'U+1F1FA U+1F1FE',
                    //     'name': 'Uruguay',
                    //     'title': 'flag for Uruguay'
                    // },
                    // {
                    //     'code': 'UZ',
                    //     'emoji': '🇺🇿',
                    //     'unicode': 'U+1F1FA U+1F1FF',
                    //     'name': 'Uzbekistan',
                    //     'title': 'flag for Uzbekistan'
                    // },
                    // {
                    //     'code': 'VA',
                    //     'emoji': '🇻🇦',
                    //     'unicode': 'U+1F1FB U+1F1E6',
                    //     'name': 'Vatican City',
                    //     'title': 'flag for Vatican City'
                    // },
                    // {
                    //     'code': 'VC',
                    //     'emoji': '🇻🇨',
                    //     'unicode': 'U+1F1FB U+1F1E8',
                    //     'name': 'Saint Vincent and The Grenadines',
                    //     'title': 'flag for Saint Vincent and The Grenadines'
                    // },
                    // {
                    //     'code': 'VE',
                    //     'emoji': '🇻🇪',
                    //     'unicode': 'U+1F1FB U+1F1EA',
                    //     'name': 'Venezuela',
                    //     'title': 'flag for Venezuela'
                    // },
                    {
                        'code': 'VN',
                        'emoji': '🇻🇳',
                        'unicode': 'U+1F1FB U+1F1F3',
                        'name': 'Viet Nam',
                        'title': 'flag for Viet Nam'
                    },
                    // {
                    //     'code': 'VU',
                    //     'emoji': '🇻🇺',
                    //     'unicode': 'U+1F1FB U+1F1FA',
                    //     'name': 'Vanuatu',
                    //     'title': 'flag for Vanuatu'
                    // },
                    // {
                    //     'code': 'WS',
                    //     'emoji': '🇼🇸',
                    //     'unicode': 'U+1F1FC U+1F1F8',
                    //     'name': 'Samoa',
                    //     'title': 'flag for Samoa'
                    // },
                    // {
                    //     'code': 'YE',
                    //     'emoji': '🇾🇪',
                    //     'unicode': 'U+1F1FE U+1F1EA',
                    //     'name': 'Yemen',
                    //     'title': 'flag for Yemen'
                    // },
                    // {
                    //     'code': 'ZA',
                    //     'emoji': '🇿🇦',
                    //     'unicode': 'U+1F1FF U+1F1E6',
                    //     'name': 'South Africa',
                    //     'title': 'flag for South Africa'
                    // },
                    // {
                    //     'code': 'ZM',
                    //     'emoji': '🇿🇲',
                    //     'unicode': 'U+1F1FF U+1F1F2',
                    //     'name': 'Zambia',
                    //     'title': 'flag for Zambia'
                    // },
                    // {
                    //     'code': 'ZW',
                    //     'emoji': '🇿🇼',
                    //     'unicode': 'U+1F1FF U+1F1FC',
                    //     'name': 'Zimbabwe',
                    //     'title': 'flag for Zimbabwe'
                    // }
                ]
            }
        },
        computed: {
            listItems() {
                let items = this.items.map(item => {
                    let img = this.renderImage(item.code);
                    let d = {
                        ...item,
                        image: img
                    };
                    return d;
                });
                return items;
            },
            inputValue() {
                let item = this.listItems.filter(item => {
                    return item.image === this.value;
                });

                if ( ! item.length ) {
                    return;
                }

                return item[0].code;
            }
        },
        methods: {
            changeFlag(value) {
                this.$emit('input', this.renderImage(value))
            },
            renderImage(value) {
                return `./images/flags/${ value.toLowerCase() }.png`
            }
        }
    };
</script>

<style scoped>

</style>