<template>
    <v-select
        :item-value="itemValue"
        :items="listItem"
        :value="value"
        v-bind="$attrs"
        item-text="displayName"
        @input="$emit('input', $event)"
    />
</template>

<script>
    import { FETCH_ALL_ROLE } from '../../apollo/query/role';

    export default {
        name: 'SelectRole',
        inheritAttrs: false,
        props: {
            value: {
                type: String,
                default: undefined
            },
            itemValue: {
                type: String,
                default: 'id'
            },
        },
        data: () => ({
            items: ['Foo', 'Bar', 'Fizz', 'Buzz']
        }),
        apollo: {
            data() {
                return {
                    query: FETCH_ALL_ROLE
                }
            }
        },
        computed: {
            listItem() {
                return this.data && this.data.data || [];
            }
        }
    };
</script>

<style scoped>

</style>