<template>
    <v-container grid-list-lg>
        <Card
            :title="$t('Tag')"
            color="green">
            <v-layout
                row
                wrap>
                <v-flex
                    xs4>
                    <h3 class="headline font-weight-regular">{{ $t('Add new tag') }}</h3>
                    <FormTagCreate class="pa-3 elevation-3"/>
                </v-flex>
                <v-flex
                    xs8>
                    <Table
                        :filter="listFilter"
                        :headers="headers"
                        :query="query"
                        :select.sync="selected"
                    >
                        <template v-slot:toolbar-right="{apollo}">
                            <FormFilter v-model="searchText"/>
                            <v-spacer/>
                            <v-btn
                                depressed
                                @click="apollo.refetch()">
                                <v-icon
                                    left
                                >refresh
                                </v-icon>
                                {{ $t('Refresh') }}
                            </v-btn>
                        </template>
                        <template v-slot:items="{selected, item}">
                            <td class="text-sm-left">{{ item.text }}</td>
                            <td class="text-sm-left">
                                <DateFormat :value="item.createdAt"/>
                            </td>
                            <td class="text-sm-right">
                                <ButtonActionTooltip
                                    :title="$t('Edit')"
                                    :to="'/post/tags/edit/' + item.id"
                                    color="indigo"
                                    icon="edit"
                                    nuxt/>
                                <ButtonActionDelete
                                    :gql="deleteTag"
                                    :item="item"
                                    refetch-queries="tags"/>
                            </td>
                        </template>
                    </Table>
                </v-flex>
            </v-layout>
        </Card>
    </v-container>
</template>

<script>
    import { FETCH_TAGS } from '../../../apollo/query/tag';
    import Table from '../../../components/table/Table';
    import ButtonActionTooltip from '../../../components/button/ButtonActionTooltip';
    import FormTag from '../../../components/views/tag/FormTag';
    import Card from '../../../components/material/Card';
    import ButtonActionDelete from '../../../components/button/ButtonActionDelete';
    import { DELETE_TAG } from '../../../apollo/mutation/tag';
    import FormTagCreate from '../../../components/views/tag/FormTagCreate';
    import BulkActionsTag from '../../../components/views/tag/BulkActionsTag';
    import FormFilter from '../../../components/material/FormFilter';
    import DateFormat from '../../../components/helper/DateFormat';

    export default {
        components: {
            DateFormat,
            FormFilter,
            BulkActionsTag,
            FormTagCreate,
            ButtonActionDelete,
            Card,
            FormTag,
            ButtonActionTooltip,
            Table
        },
        data() {
            return {
                query: FETCH_TAGS,
                deleteTag: DELETE_TAG,
                selected: [],
                searchText: '',
                headers: [
                    {
                        text: this.$t('Tag name'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '100px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        width: '100px'
                    }
                ]
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [];
                }
                ;
                return [
                    {
                        field: 'name',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    }
                ];
            }
        }
    };
</script>
