<template>
    <div
        :class="{
            'condition': true,
            'active': !!fieldSelected.value,
            'transition-with': true,
            'full-with': fullWith && !menu && !menu2
        }"
    >
        <v-menu
            :max-width="220"
            :nudge-width="120"
            v-model="menu"
            bottom
            origin="center center"
            transition="scale-transition"
        >
            <template v-slot:activator="{ on }">
                <a
                    :class="{
                        'font-weight-regular': true,
                        'd-inline-block': true,
                        'mb-2': !!fieldSelected.value,
                        'transition-with': true,
                        'full-with': fullWith && !menu && !menu2
                    }"
                    v-on="on">
                    <v-btn
                        v-if="!fieldSelected.value"
                        :class="{
                            'ma-0': true,
                            'transition-with': true,
                            'full-with': fullWith && !menu && !menu2
                        }"
                        class="d-block"
                        style="top: 2px;"
                        color="indigo"
                        outlined
                        large
                        depressed
                    >
                        <v-icon left>add</v-icon>
                        {{ $t('Condition') }}
                    </v-btn>
                    <span
                        v-else
                        class="text-filter">{{ fieldSelected.label }}</span> </a>
            </template>

            <v-card style="max-width: 220px;">
                <v-list>
                    <v-list-item
                        v-for="field in listField"
                        :key="field.value"
                        @click="changeField(field)">
                        <v-list-item-title>{{ field.label }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-menu>
        <div/>
        <v-menu
            :close-on-content-click="false"
            :nudge-width="100"
            v-model="menu2"
            bottom
            class="nguyen"
            origin="center center"
            transition="scale-transition"
        >
            <template v-slot:activator="{ on }">
                <a
                    class="text-filter font-weight-regular"
                    v-on="on"> <span class="text-condition">{{ conditionSelected.name }}</span> <span
                        v-if="isObject(textSearch)">{{ textSearch.text }}</span> <span v-else>{{ textSearch }}</span> </a>
            </template>
            <v-card>
                <v-layout
                    wrap
                >
                    <v-flex
                        d-flex
                        style="min-width: 170px;">
                        <v-list class="w-100">
                            <v-list-item
                                v-for="condition in listConditions"
                                :key="condition.name"
                                :input-value="conditionSelected === condition"
                                active-class="blue--text lighten-5 condition-active"
                                @click="changeCondition(condition)">
                                <v-list-item-title>
                                    <span>{{ condition.name }}</span>
                                </v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-flex>
                    <v-flex
                        v-if="conditionSelected && conditionSelected.view"
                        d-flex
                        style="border-left: solid 1px #cccccc; min-width: 200px;">
                        <ConditionViewSelectItem
                            v-if="conditionSelected.view.type === 'Array'"
                            :data="conditionSelected.view.data"
                            :key="id + conditionSelected.view.type"
                            @onChange="changeValue"
                        />
                        <ConditionViewSelectQuery
                            v-if="conditionSelected.view.type === 'Query'"
                            :key="id + conditionSelected.view.query.definitions[0].name.value"
                            :open="menu2"
                            :query="conditionSelected.view.query"
                            @onChange="changeValue"
                        />
                        <ConditionViewText
                            v-if="conditionSelected.view.type === 'Text'"
                            :key="id + conditionSelected.view.type"
                            v-model="textSearch"
                        />
                        <ConditionViewNumber
                            v-if="conditionSelected.view.type === 'Number'"
                            :key="id + conditionSelected.view.type"
                            v-model="textSearch"
                        />
                        <ConditionViewDate
                            v-if="conditionSelected.view.type === 'Date'"
                            :key="id + conditionSelected.view.type"
                            v-model="textSearch"
                            @onChange="changeValue"
                        />
                    </v-flex>
                </v-layout>
            </v-card>
        </v-menu>
        <a
            v-if="conditionSelected && conditionSelected.name"
            style="position: absolute; right: 15px;top: 25px;"
            @click="$emit('delete', $event)"
        >
            <v-icon>highlight_off</v-icon>
        </a>
    </div>
</template>

<script>
    import ConditionViewSelectItem from './condition-view/ConditionViewSelectItem';
    import ConditionViewText from './condition-view/ConditionViewText';
    import ConditionViewNumber from './condition-view/ConditionViewNumber';
    import ConditionViewDate from './condition-view/ConditionViewDate';
    import _ from 'lodash';
    import ConditionViewSelectQuery from './condition-view/ConditionViewSelectQuery';

    const uuid = require('uuid');

    export default {
        name: 'AddCondition',
        components: {
            ConditionViewSelectQuery,
            ConditionViewDate,
            ConditionViewNumber,
            ConditionViewText,
            ConditionViewSelectItem
        },
        props: {
            value: {
                type: [Object, String],
                default: undefined
            },
            uuid: {
                type: String,
                default: undefined
            },
            listField: {
                type: Array,
                default() {
                    return [];
                }
            },
            fullWith: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            id: uuid.v4(),
            created: true,
            menu: false,
            menu2: false,
            fieldSelected: {},
            conditionSelected: {},
            textSearch: undefined,
            /**
             * is - Là
             * isn`t - Không là
             * before - trước
             * after - sau
             * has any value - Có giá trị bất kỳ ( not null )
             * is unknown - Không có giá trị nào ( is null )
             * less than - Nhỏ hơn
             * begins with - Bắt đầu với
             * end with - Kết thúc bằng
             */
            listConditions: [],
            view: ''// select, input text, number, date, custom
        }),
        watch: {
            menu2(val, old) {
                if ( val === false ) this.validate();
            },
            menu(val, old) {
                if ( val === false ) this.validate();
            },
            value(val, old) {
                if ( val.operator ) {
                    let conditions = this.listConditions.filter(x => x.name === val.operator.name);
                    if ( conditions.length ) ;
                    this.conditionSelected = conditions[0];
                }
                if ( val.field ) {
                    let fields = this.listField.filter(x => x.value === val.field);

                    if ( fields.length ) {
                        this.fieldSelected = fields[0];
                    }
                }
                this.textSearch = val.value;
            }
        },
        methods: {
            isObject(value) {
                return _.isObject(value);
            },
            emitChange() {
                let value = this.newValue();
                if ( this.created ) {
                    this.$emit('created', true);
                    this.created = false;
                }
                this.$emit('filter', value);
            },
            newValue() {
                return {
                    uuid: this.uuid,
                    operator: this.conditionSelected.value ? this.conditionSelected : undefined,
                    value: this.textSearch,
                    field: this.fieldSelected.value
                };
            },
            oldValue() {
                return {
                    uuid: this.value.uuid,
                    operator: this.value.operator,
                    value: this.value.value,
                    field: this.value.field
                };
            },
            validate() {
                if ( this.menu || this.menu2 ) {
                    return;
                }
                let isChangeValue = ! _.isEqual(this.oldValue(), this.newValue());

                if ( ! isChangeValue ) {
                    return;
                }
                if ( this.fieldSelected.value && ! this.conditionSelected.view ) {
                    return this.emitChange();
                }

                if ( ! this.fieldSelected.value || ! this.conditionSelected.name || ! this.textSearch ) {
                    this.fieldSelected = {};
                    this.conditionSelected = {};
                    this.textSearch = undefined;
                }

                this.emitChange();
            },
            changeField(field) {
                this.textSearch = undefined;
                this.conditionSelected = {};
                this.id = uuid.v4();

                this.fieldSelected = field;
                this.listConditions = field.listConditions;
                this.changeCondition(this.listConditions[0]);
                this.menu = false;
                this.menu2 = true;
            },
            changeCondition(condition) {
                // this.textSearch = undefined;
                if ( ! condition.view ) {
                    this.textSearch = null;
                    this.menu2 = false;
                }
                // console.log('condition', condition.name);
                this.conditionSelected = condition;
            },
            changeValue(v) {
                this.textSearch = v;
                this.menu2 = false;
            },
            hasArray(view) {
                if ( Array.isArray(view) ) {
                    return true;
                }
                return false;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .condition {
        display: inline-block;
        margin-bottom: 7px;
        margin-right: 7px;
    }

    .active {
        height: 72px;
        position: relative;
        padding: 10px 15px;
        padding-right: 50px;
        border: solid 1px #ccc;
        border-radius: 3px;
        min-width: 150px;
    }

    .text-filter {
        color: #222;
        border-bottom: solid 2px #ccc;
    }

    .text-condition {
        color: #8492a6;
    }
</style>
<style>
    .condition-active span {
        border-bottom: solid 2px #1565c0c9;
        padding: 0 2px;
    }

    .full-with {
        width: 100%;
    }

    .transition-with {
        transition: width .5s;
        -webkit-transition: width .5s; /* Safari 3.1 to 6.0 */
    }
</style>