<template>
    <div class="ma-2">
        <span>{{ title }}</span>
        <v-menu offset-y>
            <template v-slot:activator="{ on }">
                <a
                    class="condition-active"
                    v-on="on"
                >{{ selected.label }}</a>
            </template>
            <v-list>
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    :input-value="selected === item"
                    active-class="blue--text lighten-5"
                    @click="changeOperator(item)"
                >
                    <v-list-item-title>{{ item.label }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script>
    export default {
        name: 'ChangeOperatorGroup',
        props: {
            value: {
                type: String,
                default: 'AND'
            },
            title: {
                type: [Object, String],
                default: undefined
            }
        },
        data() {
            return {
                items: [
                    {
                        value: 'AND',
                        label: this.$t('all of the following conditions')
                    },
                    {
                        value: 'OR',
                        label: this.$t('any of the following conditions')
                    }
                ],
                selected: {}
            };
        },
        watch: {
            value(val, old) {
                this.update(val);
            }
        },
        mounted() {
            this.update(this.value);
        },
        methods: {
            changeOperator(item) {
                this.selected = item;
                this.$emit('input', item.value);
            },
            update(val) {
                let operations = this.items.filter(x => x.value === val.toUpperCase());
                if ( operations.length ) {
                    this.selected = operations[0];
                }
            }
        }
    };
</script>

<style scoped>
    .condition-active {
        border-bottom: solid 2px #1565c0c9;
        padding: 0 2px;
    }
</style>