<template>
    <div>
        <AddCondition
            v-for="(condition, index) in listConditions"
            :full-with="listConditions.length === 1"
            :key="condition.uuid"
            :list-field="listField"
            :uuid="condition.uuid"
            :value="condition"
            @created="addCondition"
            @delete="deleteCondition(condition)"
            @filter="changeCondition(index, $event)"
        />
    </div>
</template>

<script>
    import AddCondition from './AddCondition';

    const uuid = require('uuid');

    export default {
        name: 'Conditions',
        components: { AddCondition },
        props: {
            data: {
                type: [Function, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                listConditions: [
                    {
                        uuid: uuid.v4()
                    }
                ]
            }
        },
        computed: {
            listField() {
                if ( Array.isArray(this.data) ) {
                    return this.data;
                }

                const translate = (key) => {
                    if ( ! key.raw ) {
                        return this.$t(key);
                    }
                    return this.$t(String.raw(key));
                }
                return this.data.bind(this)(translate);
            }
        },
        methods: {
            addCondition(event) {
                this.listConditions.push({
                    uuid: uuid.v4()
                });
            },
            changeCondition(index, event) {
                const { listConditions } = this;

                listConditions[index] = event;

                if ( ! event.field ) {
                    listConditions.splice(index, 1);
                }

                this.listConditions = [...listConditions];

                this.$emit('onChange', this.listConditions.filter(x => !! x.field).map(this.mapValue));
            },
            deleteCondition(condition) {
                this.listConditions = this.listConditions.filter(x => x !== condition);
                this.$emit('onChange', this.listConditions.filter(x => !! x.field).map(this.mapValue));
            },
            isDate(val) {
                return /\d\d\d\d\-\d\d\-\d\d/g.test(val)
            },
            formatValue(value) {
                return value !== null && typeof value === 'object' ? value.value : value;
            },
            mapValue(item) {
                if ( ['on', 'is', 'eq'].indexOf(item.operator.value) !== -1 ) {
                    if ( this.isDate(item.value) && item.operator.type === 'datetime' ) {
                        return {
                            operator: 'AND',
                            items: [
                                {
                                    field: item.field,
                                    operator: 'lt',
                                    value: this.formatValue(item.value) + ' 23:59:59'
                                },
                                {
                                    field: item.field,
                                    operator: 'gt',
                                    value: this.formatValue(item.value)
                                }
                            ]
                        }
                    }
                    return {
                        field: item.field,
                        operator: 'eq',
                        value: this.formatValue(item.value)
                    }
                } else if ( item.operator.value === 'ne' ) {
                    if ( this.isDate(item.value) ) {
                        return {
                            operator: 'AND',
                            items: [
                                {
                                    field: item.field,
                                    operator: 'gt',
                                    value: this.formatValue(item.value) + ' 23:59:59'
                                },
                                {
                                    field: item.field,
                                    operator: 'lt',
                                    value: this.formatValue(item.value)
                                }
                            ]
                        }
                    }
                } else if ( ['gt', 'lte'].indexOf(item.operator.value) !== -1 ) {
                    if ( this.isDate(item.value) ) {
                        return {
                            field: item.field,
                            operator: 'gt',
                            value: this.formatValue(item.value) + ' 23:59:59'
                        }
                    }
                } else if ( ['like'].indexOf(item.operator.value) !== -1 ) {
                    return {
                        field: item.field,
                        operator: 'like',
                        value: `%${ this.formatValue(item.value) }%`
                    }
                }

                return {
                    field: item.field,
                    operator: item.operator.value,
                    value: this.formatValue(item.value)
                };
            }
        }
    };
</script>

<style scoped>

</style>