<template>
    <v-layout
        row
    >
        <v-flex xs12>
            <div>
                Head HTML
                <v-textarea
                    v-model="form.metaHeadHTML"
                    solo
                />
            </div>
        </v-flex>
        <v-flex xs12>
            <div>
                Footer HTML
                <v-textarea
                    v-model="form.metaFooterHTML"
                    solo
                />
            </div>
        </v-flex>
        <v-flex xs12>
            <div>
                Number Phone
                <v-text-field
                    v-model="form.themeNumberPhone"
                    solo
                    dense
                />
            </div>
        </v-flex>
        <v-flex xs12>
            <div>
                <v-label>Facebook Message</v-label>
                <v-text-field
                    v-model="form.themeFacebookMessage"
                    solo
                    dense
                />
            </div>
        </v-flex>
        <v-flex xs12>
            <div>
                Zalo Message
                <v-text-field
                    v-model="form.themeZaloMessage"
                    solo
                    dense
                />
            </div>
        </v-flex>
        <v-flex xs12>
            <div>
                google map
                <v-textarea
                    v-model="form.googleMap"
                    solo
                    dense
                />
            </div>
        </v-flex>


    </v-layout>
</template>

<script>
    export default {
        name: "SettingGeneral",
        props: {
            form: {
                type: Object,
                default() {
                    return {};
                }
            }
        }
    }
</script>

<style scoped>

</style>
