<template>
    <v-card>
        <v-card-text>
            <div>
                Any changes made will affect your theme settings.
            </div>
            <v-layout column>
                <v-flex>
                    <TextField
                        v-model="settings.twitter"
                        hint="https://twitter.com/nguyenpl117"
                        label="Twitter"
                        persistent-hint
                    />
                </v-flex>
                <v-flex>
                    <TextField
                        v-model="settings.facebook"
                        hint="https://facebook.com/nguyenpl117"
                        label="Facebook"
                        persistent-hint
                    />
                </v-flex>
                <v-flex>
                    <TextField
                        v-model="settings.pinterest"
                        hint="https://pinterest.com/nguyenpl117"
                        label="Pinterest"
                        persistent-hint
                    />
                </v-flex>
                <v-flex>
                    <TextField
                        v-model="settings.instagram"
                        hint="http://instagram.com/nguyenpl117"
                        label="Instagram"
                        persistent-hint
                    />
                </v-flex>
                <v-flex>
                    <TextField
                        v-model="settings.tumblr"
                        hint="http://nguyenpl117.tumblr.com"
                        label="Tumblr"
                        persistent-hint
                    />
                </v-flex>
                <v-flex>
                    <TextField
                        v-model="settings.snapchat"
                        hint="https://www.snapchat.com/add/nguyenpl117"
                        label="Snapchat"
                        persistent-hint
                    />
                </v-flex>
                <v-flex>
                    <TextField
                        v-model="settings.youTube"
                        hint="https://www.youtube.com/nguyenpl117"
                        label="YouTube"
                        persistent-hint
                    />
                </v-flex>
                <v-flex>
                    <TextField
                        v-model="settings.vimeo"
                        hint="https://vimeo.com/nguyenpl117"
                        label="Vimeo"
                        persistent-hint
                    />
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
    import TextField from "../TextField";
    export default {
        name: "SettingSocial",
        components: {TextField},
        props: {
            settings: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
    }
</script>

<style scoped>

</style>