<template>
    <div class="d-flex align-start">
        <SelectRole
            :label="$t('Select role')"
            :error="!!errors.roles"
            :error-messages="errors.roles"
            v-model="role"
            solo
            dense
        />
        <div>
            <v-btn
                :loading="loading"
                color="indigo"
                fab
                outlined
                x-small
                class="ma-2"
                @click.stop="onChange">
                <v-icon>done</v-icon>
            </v-btn>
            <v-btn
                color="indigo"
                fab
                outlined
                x-small
                @click.stop="onClose"
            >
                <v-icon>clear</v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script>
    import SelectRole from '../../select/SelectRole';
    import { UPDATE_USER } from '../../../apollo/mutation/user';
    import { showNotifyGraphQL } from '../../utils/utils';

    export default {
        name: 'ChangeRole',
        components: { SelectRole },
        props: {
            users: {
                type: [Array, Object],
                default: null,
                isRequired: true
            },
            open: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                role: '',
                errors: {},
                loading: false
            }
        },
        computed: {
            listUsers() {
                if ( ! Array.isArray(this.users) ) {
                    return [this.users];
                }
                return this.users;
            }
        },
        watch: {
            open: function(newVal, oldVal) {
                try {
                    this.role = this.listUsers[0].roles[0].id;
                } catch (e) {
                }
            }
        },
        methods: {
            /*onChange() {
                this.serviceHttp.updateFetch(UPDATE_USER, { id: this.user.id, roles: this.role }, () => {
                    this.$emit('onClose', true);
                });
            },*/
            onChange() {
                let notifi = true;
                for( let user of this.listUsers ) {
                    this.$apollo.mutate({
                        mutation: UPDATE_USER,
                        variables: { id: user.id, roles: this.role },
                        refetchQueries: this.refetchQueries
                    }).then(() => {
                        if ( notifi ) {
                            notifi = false;
                            this.$notify({
                                group: 'app',
                                type: 'success',
                                title: 'Success',
                                text: 'Thao tác thành công.',
                                duration: 2000,
                            });
                            this.$emit('onClose', true);
                        }
                    }).catch(({ graphQLErrors }) => {
                        showNotifyGraphQL.bind(this)(graphQLErrors, (errors) => {
                            this.errors = errors;
                        });
                    });
                }
            },
            onClose() {
                this.$emit('onClose', true);
            }
        }
    };
</script>

<style scoped>

</style>