<template>
    <div>
        <v-btn
            v-if="!changePass"
            small
            @click.stop="generatorPassword">{{ $t('Generate Password') }}
        </v-btn>
        <v-text-field
            v-else
            :append-icon="e1 ? 'visibility' : 'visibility_off'"
            :label="$t('Password')"
            :type="e1 ? 'text' : 'password'"
            :value="value"
            v-bind="$attrs"
            style="max-width: 400px;"
            @click:append="() => (e1 = !e1)"
            @input="$emit('input', $event)"
        >
            <template v-slot:append-outer>
                <v-btn
                    small
                    style="margin-top: 0;"
                    @click.stop="close">{{ $t('Cancel') }}
                </v-btn>
            </template>
        </v-text-field>
    </div>
</template>

<script>
    const generator = require('generate-password');

    export default {
        name: 'GeneratePassword',
        props: {
            value: {
                type: String,
                default: undefined
            }
        },
        data() {
            return {
                e1: true,
                changePass: false
            }
        },
        watch: {
            value(val, old) {
                if ( val === undefined ) {
                    this.changePass = false;
                }
            }
        },
        methods: {
            generatorPassword() {
                let pass = generator.generate({
                    length: 15,
                    numbers: true
                });

                this.changePass = true;

                this.$emit('input', pass);
            },
            close() {
                this.changePass = false;
                this.$emit('input', null);
            }
        }
    };
</script>

<style scoped>

</style>