<template>
    <div>
        <ButtonActionTooltip
            :title="$t('Delete')"
            color="#555"
            icon="mdi-delete-forever"
            @click.stop="dialog = true">
            <template v-slot:icon>
                <v-icon style="font-size: 24px;">mdi-delete-forever</v-icon>
            </template>
            <DialogConfirm
                :accept-text="$t('Delete')"
                :cancel-text="$t('Cancel')"
                :loading="loading"
                v-model="dialog"
                @ok="deleteBulk"
            />
        </ButtonActionTooltip>
        <Popover
            offset-x
            right
            fixed
            @open="popoverOpen = $event">
            <template v-slot:activator="{on: popover}">
                <v-tooltip
                    top
                >
                    <template v-slot:activator="{ on: tooltip }">
                        <v-btn
                            text
                            icon
                            v-on="mapListener(popover, tooltip)"
                        >
                            <v-icon style="font-size: 24px;">mdi-folder-move</v-icon>
                        </v-btn>
                    </template>
                    {{ $t('Move to') }}
                </v-tooltip>
            </template>
            <template v-slot:popover="{popover}">
                <Box
                    :title="$t('Assigned Role')"
                    class="elevation-3"
                    color="green lighten-3"
                    offset="0">
                    <ChangeRole
                        :open="popoverOpen"
                        :users="selected"
                        @onClose="popover.close()"
                    />
                </Box>
            </template>
        </Popover>
    </div>
</template>

<script>
    import DialogConfirm from '../../dialog/DialogConfirm';
    import ButtonActionTooltip from '../../button/ButtonActionTooltip';
    import Popover from '../../popover/Popover';
    import ChangeRole from './ChangeRole';
    import Box from '../../material/Box';

    export default {
        name: 'ToolbarActionsUser',
        components: { Box, ChangeRole, Popover, ButtonActionTooltip, DialogConfirm },
        props: {
            deleteMutation: {
                type: [Object],
                default: null
            },
            deleteRefetchQueries: {
                type: [String, Array],
                default() {
                    return [];
                }
            },
            selected: {
                type: [Object, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                dialog: false,
                loading: false,
                popoverOpen: false
            }
        },
        computed: {
            refetchQueries() {
                let refetchQueries = this.deleteRefetchQueries;
                if ( ! Array.isArray(this.deleteRefetchQueries) ) {
                    refetchQueries = [refetchQueries];
                }
                return refetchQueries;
            }
        },
        methods: {
            mapListener(arg1, arg2) {
                return { ...arg1, ...arg2 };
            },
            resetSelected() {
                // this.$emit('update:selected', []);
            },
            deleteBulk() {
                if ( this.loading ) return;

                this.loading = true;

                this.serviceHttp.deleteFetch(this.deleteMutation, this.selected.map(x => (x.id)), this.refetchQueries).finally(() => {
                    this.dialog = false;
                    this.loading = false;
                });
            }
        }
    };
</script>

<style scoped>

</style>