<template>
    <v-container
        grid-list-lg
    >
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >
            <div class="toolbar-form-product">
                <h3 class="font-weight-regular">{{ $t('Create product') }}</h3>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </div>
            <FormToolbar>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </FormToolbar>

            <FormProduct v-model="form">
                <template slot="submit">
                    <div/>
                </template>
                <template slot="customField">
                    <SeoBox :form="form"/>
                </template>
            </FormProduct>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../../components/material/Card';
    import FormPost from '../../../../components/views/post/FromPost';
    import FormToolbar from '../../../../components/material/FormToolbar';
    import Toolbar from '../../../../components/core/Toolbar';
    import FormProduct from '../../../../components/views/product/FromProduct';
    import { CREATE_PRODUCT } from '../../../../apollo/mutation/product';
    import {convertStringToNumber, deMeta, enMeta} from '../../../../components/utils/utils';
    import _ from 'lodash';
    import SeoBox from '../../../../components/Box/SeoBox';

    export default {
        components: { SeoBox, FormProduct, Toolbar, FormToolbar, FormPost, Card },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    productTypeId: '1',
                    branches: [{}],
                    images: [],
                    requiresShipping: true
                },
            };
        },
        methods: {
            formatForm() {
                let _form = _.cloneDeep(this.form);

                let meta = deMeta(_form);
                let tags = [];
                if ( Array.isArray(_form.tags) ) {
                    tags = _form.tags.map(i => (i.text));
                }

                let branched = _form.branches && _form.branches.length > 0;

                if ( branched ) {
                    let images = _form.images;
                    _form.branches = _form.branches.map(branch => {

                        branch.price = convertStringToNumber(branch.price);
                        branch.priceSale = convertStringToNumber(branch.priceSale);
                        branch.requiresShipping = _form.requiresShipping;
                        branch = {
                            ...branch, ..._.pick(_form, [
                                'weight',
                                'length',
                                'width',
                                'height',
                                'requiresShipping',
                            ])
                        };

                        if ( _form.imageType ) {
                            let attr = _.head(branch.attributes.filter(x => x.groupName === _form.imageType));
                            if ( attr ) {
                                branch.images = images[attr.name] || [];
                            }
                        } else {
                            branch.images = images;
                        }

                        return _.omit(branch, ['active']);
                    });

                } else {
                    _form.branches = [
                        {
                            ..._.pick(_form, [
                                'code',
                                'sku',
                                'price',
                                'priceSale',
                                'inventory',
                                'weight',
                                'length',
                                'width',
                                'height',
                                'requiresShipping',
                            ]),
                            images: _form.images
                        }
                    ]
                }

                return {
                    ..._form,
                    meta,
                    tags
                }
            },
            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                console.log(variables);

                return this.serviceHttp.createFetch({
                    mutation: CREATE_PRODUCT,
                    variables: variables,
                }, callback);
            },
            saveToDraft() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.productStatus !== 'private' ) {
                        this.form = { ...this.form, productStatus: 'draft' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            // path: '/product/form/edit/' + data.productCreate.id
                            path: '/product/list'
                        });
                    });
                }
            },
            publish() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.productStatus !== 'private' ) {
                        this.form = { ...this.form, productStatus: 'publish' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            // path: '/product/form/edit/' + data.productCreate.id
                            path: '/product/list'
                        });
                    });
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .toolbar-form-product {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>
