<template>
    <v-container grid-list-lg>
        <Card
            :title="$t('Edit category')"
            color="green">
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <FormCategory
                    :query="query"
                    :errors="errors"
                    v-model="form"/>
                <v-btn
                    :loading="loading"
                    color="success"
                    @click="validate"
                >
                    {{ $t('Save') }}
                </v-btn>
            </v-form>
        </Card>
    </v-container>
</template>

<script>
    import Card from '../../../../components/material/Card';
    import FormCategory from '../../../../components/views/category/FormCategory';
    import { CATEGORY_DETAIL, FETCH_CATEGORIES_POST } from '../../../../apollo/query/category';
    import { UPDATE_CATEGORY_POST } from '../../../../apollo/mutation/category';
    import {deMeta, enMeta, isNullOrUndefined} from "../../../../components/utils/utils";

    export default {
        components: { FormCategory, Card },
        data() {
            return {
                valid: true,
                loading: false,
                errors: {},
                form: {
                    name: '',
                    slug: '',
                    parentId: '0',
                    description: '',
                    'meta_avatar': {},
                    'meta_banner': {},
                },
                query: FETCH_CATEGORIES_POST
            };
        },
        apollo: {
            data() {
                return {
                    query: CATEGORY_DETAIL,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data.data ) {
                            this.form = {...this.form, ...data.data};
                            enMeta(this.form, data.data.meta);
                            if (isNullOrUndefined(this.form['meta_avatar'])) {
                                this.form['meta_avatar'] = {};
                            }
                            if (isNullOrUndefined(this.form['meta_banner'])) {
                                this.form['meta_banner'] = {};
                            }
                        }
                    }
                };
            }
        },
        methods: {
            validate() {
                if ( this.validateOnFocusForm() ) {
                    const meta = deMeta(this.form);

                    this.serviceHttp.updateFetch(UPDATE_CATEGORY_POST, { ...this.form, meta }, () => {
                        return this.$router.push({ path: '/post/category' });
                    });
                }
            }
        }
    };
</script>

<style scoped>

</style>