<template>
    <v-container
        grid-list-lg
        style="background-color: #fff;"
    >
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <div
                class="toolbar-form-post"
            >
                <h3 class="font-weight-regular">{{ $t('Edit post') }}</h3>
                <v-spacer/>
                <v-btn
                    v-if="form.postStatus !== 'draft'"
                    text
                    class="ma-2"
                    @click="switchDraft"
                >
                    {{ $t('Switch to Draft') }}
                </v-btn>
                <v-btn
                    v-else
                    text
                    class="ma-2"
                    @click="saveDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    v-if="['publish', 'private'].indexOf(form.postStatus) !== -1"
                    class="v-btn-facebook ma-2"
                    @click="update">
                    {{ $t('Update') }}
                </v-btn>
                <v-btn
                    v-else
                    class="v-btn-facebook ma-2"
                    @click="savePublish">
                    {{ $t('Publish') }}
                </v-btn>
            </div>
            <FormToolbar container>
                <v-spacer/>
                <v-btn
                    v-if="form.postStatus !== 'draft'"
                    text
                    class="ma-2"
                    @click="switchDraft"
                >
                    {{ $t('Switch to Draft') }}
                </v-btn>
                <v-btn
                    v-else
                    text
                    class="ma-2"
                    @click="saveDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    v-if="['publish', 'private'].indexOf(form.postStatus) !== -1"
                    class="v-btn-facebook ma-2"
                    @click="update">
                    {{ $t('Update') }}
                </v-btn>
                <v-btn
                    v-else
                    class="v-btn-facebook ma-2"
                    @click="savePublish">
                    {{ $t('Publish') }}
                </v-btn>
            </FormToolbar>
            <FormPost
                v-model="form">
                <template slot="submit">
                    <div>&nbsp;</div>
                </template>
                <template slot="customField">
                    <BoxPanel
                        title="Video"
                    >
                        <TextField
                            :rules="[v => (!v || (v + '').indexOf('https://www.youtube.com/watch?v') !== -1) || $t('link must youtube link, example: https://www.youtube.com/watch?v=Ra_iiSIn4OI')]"
                            v-model="form.meta__video_src"
                            label="Link video"
                            placeholder="https://www.youtube.com/watch?v=Ra_iiSIn4OI"
                        />
                    </BoxPanel>
                    <SeoBox :form="form"/>
                </template>
            </FormPost>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../../components/material/Card';
    import BoxLine from '../../../../components/Box/BoxLine';
    import ComboboxTag from '../../../../components/combobox/ComboboxTag';
    import Upload from '../../../../components/helper/Upload';
    import ComboboxCategory from '../../../../components/combobox/ComboboxCategory';
    import { POST_DETAIL } from '../../../../apollo/query/post';
    import { UPDATE_POST } from '../../../../apollo/mutation/post';
    import FormPost from '../../../../components/views/post/FromPost';
    import FormToolbar from '../../../../components/material/FormToolbar';
    import { deMeta, enMeta } from '../../../../components/utils/utils';
    import BoxPanel from '../../../../components/material/BoxPanel';
    import SeoBox from '../../../../components/Box/SeoBox';
    import TextField from '../../../../components/views/theme/TextField';

    export default {
        components: {
            TextField,
            SeoBox,
            BoxPanel,
            FormToolbar,
            FormPost,
            ComboboxCategory,
            Upload,
            ComboboxTag,
            BoxLine,
            Card
        },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    postPassword: '',
                    categories: [],
                    tags: [],
                    postStatus: 'publish',
                    avatar: undefined
                }
            };
        },
        apollo: {
            post: function() {
                return {
                    query: POST_DETAIL,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data && data.post ) {
                            if ( ! data.post ) {
                                return;
                            }

                            this.form = { ...data.post };

                            if ( ! Array.isArray(data.post.categories) ) {
                                this.form.categories = [];
                            } else {
                                this.form.categories = data.post.categories.map(i => (i.id));
                            }

                            if ( Array.isArray(this.form.meta) ) {
                                enMeta(this.form, this.form.meta);
                            }
                        }
                    }
                };
            }
        },
        methods: {
            formatForm() {
                let meta = deMeta(this.form);

                let tags = [];

                if ( Array.isArray(this.form.tags) ) {
                    tags = this.form.tags.map(i => (i.text));
                }

                return {
                    ...this.form,
                    meta,
                    tags
                }
            },
            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                this.serviceHttp.updateFetch(UPDATE_POST, variables, callback);
            },
            switchDraft() {
                if ( this.validateOnFocusForm() ) {
                    this.form = { ...this.form, postStatus: 'draft' };

                    this.handleSave();
                }
            },
            saveDraft() {
                if ( this.validateOnFocusForm() ) {
                    this.form = { ...this.form, postStatus: 'draft' };
                    this.handleSave();
                }
            },
            savePublish() {
                if ( this.validateOnFocusForm() ) {
                    this.form = { ...this.form, postStatus: 'publish' }

                    this.handleSave();
                }
            },
            update() {
                if ( this.validateOnFocusForm() ) {
                    this.handleSave();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .form-post {
    }

    .toolbar-form-post {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>
