<template>
    <v-container grid-list-lg>
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >

            <div>
                <nuxt-link
                    to="/order/form/edit/13"
                    style="display: inline-flex; align-items: center;"
                >
                    <v-icon>mdi-chevron-left</v-icon> #2395839
                </nuxt-link>
            </div>
            <h3>{{ $t('Refund') }}</h3>
            <FormRefund v-model="form"/>
        </v-form>
    </v-container>
</template>

<script>
    import FormRefund from '../../../../components/views/order/refund/FormRefund';
    import { enMeta } from '../../../../components/utils/utils';
    import { FETCH_ORDER } from '../../../../apollo/query/order';
    import _ from 'lodash';

    export default {
        components: { FormRefund },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {}
            }
        },
        apollo: {
            order: function() {
                return {
                    query: FETCH_ORDER,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'cache-and-network',
                    result({ data }) {
                        if ( ! (data && data.order) ) {
                            return;
                        }
                        if ( ! data.order ) {
                            return;
                        }
                        this.form = { ...data.order };

                        const { billingAddress, shippingAddress } = this.form;

                        this.form.billingAddress = _.omit(billingAddress, ['__typename']);

                        this.form.shippingAddress = _.omit(shippingAddress, ['__typename']);

                        if ( ! Array.isArray(data.order.meta) ) {
                            return;
                        }
                        enMeta(this.form, data.order.meta);
                    }
                };
            }
        },
    };
</script>

<style scoped>

</style>