<template>
    <v-dialog
        v-model="dialog"
        persistent
        scrollable
        width="640"
    >
        <template v-slot:activator="{ on }">
            <slot
                :on="on"
                name="activator">
                <v-btn
                    @click="on"
                >
                    Add custom item
                </v-btn>
            </slot>
        </template>
        <Box
            :title="$t('Add custom item')"
            offset="0">
            <template v-slot:actions="{title}">
                <span class="headline font-weight-regular py-1">{{ title }}</span>
                <v-spacer/>
                <v-icon
                    class="v-chip__close"
                    @click="close">
                    clear
                </v-icon>
            </template>
            <template v-slot:footer>
                <v-divider/>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn @click="close">Close</v-btn>
                    <v-btn @click="accept">Save line item</v-btn>
                </v-card-actions>
            </template>
            <v-container grid-list-md>
                <v-layout
                    row
                    wrap>
                    <v-flex xs6>
                        <v-text-field
                            :label="$t('Line item name')"
                            v-model="form.fullname"
                            required
                            single-line
                        />
                    </v-flex>
                    <v-flex xs3>
                        <NumberFormat
                            :label="$t('Price per item')"
                            v-model="form.price"
                            required
                            single-line
                        />
                    </v-flex>
                    <v-flex xs3>
                        <NumberFormat
                            :label="$t('Quantity')"
                            v-model="form.quantity"
                            currency-symbol=""
                            required
                            single-line
                        />
                    </v-flex>
                </v-layout>
            </v-container>
            <div>
                <v-checkbox
                    v-model="form.taxable"
                    color="primary"
                    label="Item is taxable"
                />
            </div>
        </Box>

    </v-dialog>
</template>

<script>
    import Box from '../../material/Box';
    import NumberFormat from '../../material/NumberFormat';
    import { Str } from '../../utils/str';

    export default {
        name: 'AddCustomItem',
        components: { NumberFormat, Box },
        data() {
            return {
                dialog: false,
                form: {
                    fullname: '',
                    price: 0,
                    quantity: 1,
                    taxable: true
                }
            }
        },
        methods: {
            resetForm() {
                this.form = {
                    fullname: '',
                    price: 0,
                    quantity: 1,
                    taxable: true
                };
            },
            closeDialog() {
                this.dialog = false;
            },
            close() {
                this.closeDialog();
                this.$emit('close', true);
            },
            accept() {
                this.closeDialog();
                this.$emit('accept', { key: Str.uuid(), ...this.form });
                this.resetForm();
            }
        }
    };
</script>

<style scoped>

</style>