<template>
    <Box>
        <v-alert
            v-if="!(data.shippingAddress && data.shippingAddress.address)"
            :value="true"
            color="warning"
            outlined
        >
            <div class="title">NOT SEEING ALL YOUR RATES?</div>
            <p>
                Add a customer with a complete shipping address to select from calculated shipping rates
            </p>
        </v-alert>
        <div>
            <v-radio-group v-model="form.methodId">
                <v-radio
                    :value="1"
                    :label="$t('Free shipping')"
                    color="primary"
                />
                <v-radio
                    :value="0"
                    :label="$t('Custom')"
                    color="primary"
                />
            </v-radio-group>
            <v-layout row>
                <v-flex
                    grow
                    pa-1>
                    <v-text-field
                        v-model="form.name"
                        :label="$t('Custom rate name')"
                        required
                        @focus="focusCustom"
                    />
                </v-flex>
                <v-flex
                    pa-1
                    shrink>
                    <NumberFormat
                        v-model="form.price"
                        append-icon="₫"
                        currency-symbol=""
                        required
                        @focus="focusCustom"
                    />
                </v-flex>
            </v-layout>
        </div>
        <template v-slot:footer>
            <v-divider/>
            <v-layout class="px-3">
                <v-btn
                    v-if="isShipping()"
                    color="red"
                    @click="remove">
                    {{ $t('Remove') }}
                </v-btn>
                <v-btn
                    v-else
                    @click="close">
                    {{ $t('Close') }}
                </v-btn>
                <v-spacer/>
                <v-btn @click="accept">{{ $t('Apply') }}</v-btn>
            </v-layout>
        </template>
    </Box>
</template>

<script>
    import Box from '../../material/Box';
    import NumberFormat from '../../material/NumberFormat';
    import _ from 'lodash';

    export default {
        name: 'AddShipping',
        components: { NumberFormat, Box },
        props: {
            data: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                form: {
                    methodId: 0,
                    name: undefined,
                    price: 0
                }
            }
        },
        watch: {
            data(val) {
                this.mapData(val);
            }
        },
        mounted() {
            this.mapData(this.data);
        },
        methods: {
            isShipping(val) {
                let data = this.data;

                if ( val ) {
                    data = val;
                }
                ;

                return data.shipping && _.isInteger(data.shipping.methodId)
            },
            mapData(val) {
                if ( this.isShipping(val) ) {
                    if ( val.shipping.methodId === 0 ) {
                        return this.form = { ...val.shipping };
                    }
                    ;

                    this.form = {
                        methodId: val.shipping.methodId
                    };
                }
            },
            focusCustom() {
                this.form.methodId = 0;
            },
            close() {
                this.$emit('close', true);
            },
            remove() {
                this.$emit('remove', true);
            },
            accept() {
                if ( this.form.methodId === 1 ) {
                    return this.$emit('accept', {
                        ...this.form,
                        name: 'Free shipping',
                        price: 0
                    });
                }
                ;
                if ( ! this.form.name && this.form.methodId === 0 ) {
                    return this.$emit('accept', { ...this.form, name: 'Custom' });
                }
                this.$emit('accept', { ...this.form });
            }
        }
    };
</script>

<style scoped>

</style>