<template>
    <v-dialog
        v-model="dialog"
        persistent
        scrollable
        width="640"
    >
        <template v-slot:activator="{ on }">
            <slot
                :on="open"
                name="activator">
                <v-btn
                    depressed
                    @click="open"
                >
                    show
                </v-btn>
            </slot>
        </template>
        <Box>
            <template v-slot:content>
                <v-card-actions>
                    <span class="headline font-weight-regular">{{ $t('Add billing address') }}</span>
                    <v-spacer/>
                    <v-icon
                        class="v-chip__close"
                        @click="close">
                        clear
                    </v-icon>
                </v-card-actions>
                <v-divider/>
                <v-card-text>
                    <v-form>
                        <v-container grid-list-lg>
                            <v-layout>
                                <v-flex
                                    xs6
                                >
                                    <v-select
                                        :items="items"
                                        outlined
                                        dense
                                        label="Select another address"
                                    />
                                </v-flex>
                            </v-layout>
                            <v-layout
                                row
                                wrap>
                                <v-flex
                                    pb-0
                                    xs12
                                >
                                    <v-text-field
                                        v-model="form.name"
                                        outlined
                                        dense
                                        label="Full name"
                                    />
                                    <v-text-field
                                        v-model="form.company"
                                        outlined
                                        dense
                                        label="Company"
                                    />
                                </v-flex>
                                <v-flex
                                    xs6>
                                    <v-text-field
                                        v-model="form.email"
                                        outlined
                                        dense
                                        label="Email"
                                    />
                                    <v-text-field
                                        v-model="form.address"
                                        outlined
                                        dense
                                        label="Address"
                                    />
                                    <v-text-field
                                        v-model="form.city"
                                        outlined
                                        dense
                                        label="City"
                                    />
                                    <v-text-field
                                        v-model="form.region"
                                        outlined
                                        dense
                                        label="Region"
                                    />
                                </v-flex>
                                <v-flex
                                    xs6>
                                    <!--<v-text-field
                                        v-model="form.lastName"
                                        label="Last name"
                                        outlined
                                        dense
                                    />-->
                                    <v-text-field
                                        v-model="form.phone"
                                        outlined
                                        dense
                                        label="Phone number"
                                    />
                                    <v-text-field
                                        v-model="form.address2"
                                        outlined
                                        dense
                                        label="Address(dòng 2)"
                                    />
                                    <SelectCountry
                                        v-model="form.country"
                                        outlined
                                        dense
                                        label="Country/Region"/>
                                    <v-text-field
                                        v-model="form.posCode"
                                        outlined
                                        dense
                                        label="ZIP/Postal code"
                                    />
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-divider/>
                <v-card-actions>
                    <v-btn @click="close">Close</v-btn>
                    <v-spacer/>
                    <v-btn
                        color="primary"
                        @click="accept">Save
                    </v-btn>
                </v-card-actions>
            </template>
        </Box>
    </v-dialog>
</template>

<script>
    import Box from '../../material/Box';
    import SelectCountry from '../../select/SelectCountry';

    export default {
        name: 'BillingAddressForm',
        components: { SelectCountry, Box },
        props: {},
        data() {
            return {
                box: true,
                dialog: false,
                old: [],
                searchText: '',
                selected: [],
                items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
                form: {}
            }
        },
        methods: {
            open(data) {
                this.dialog = true;
                this.form = { ...data };
            },
            close() {
                this.dialog = false;
            },
            accept() {
                this.close();
                this.$emit('accept', { ...this.form });
            }
        }
    };
</script>

<style scoped>

</style>