<template>
    <div>
        <v-card-actions class="px-3 ma-0">
            <div class="subheading font-weight-regular">Billing Address</div>
            <v-spacer/>
            <BillingAddressForm @accept="changeBillingAddress">
                <template v-slot:activator="{ on }">
                    <a @click="on(form.billingAddress)">Edit</a>
                </template>
            </BillingAddressForm>
        </v-card-actions>
        <v-card-text>
            <p v-if="form.billingAddress.name">{{ form.billingAddress.name }}</p>
            <p v-if="form.billingAddress.address">{{ form.billingAddress.address }}</p>
            <p v-if="form.billingAddress.address2">{{ form.billingAddress.address2 }}</p>
            <p v-if="form.billingAddress.phone">
                <v-icon>phone</v-icon>
                {{ form.billingAddress.phone }}
            </p>
        </v-card-text>
    </div>
</template>
<script>
    import BillingAddressForm from './BillingAddressForm'

    export default {
        name: 'BillingAddress',
        components: { BillingAddressForm },
        props: {
            form: {
                type: [Object, String],
                default: undefined
            }
        },
        methods: {
            changeBillingAddress(event) {
                this.form.billingAddress = event;
            }
        }
    }
</script>