<template>
    <div>
        <v-menu
            offset-y
        >
            <template v-slot:activator="{ on }">
                <v-btn
                    depressed
                    v-on="on"
                >
                    {{ $t('Bulk Actions') }}
                </v-btn>
            </template>
            <v-list>
                <!--<v-list-item @click="moveToStatus('draft')">
                    <v-list-item-title>
                        {{ $t('Move to draft') }}
                    </v-list-item-title>
                </v-list-item>
                <v-list-item @click="moveToStatus('publish')">
                    <v-list-item-title>
                        {{ $t('Move to publish') }}
                    </v-list-item-title>
                </v-list-item>
                <v-list-item @click="moveToStatus('private')">
                    <v-list-item-title>
                        {{ $t('Move to private') }}
                    </v-list-item-title>
                </v-list-item>-->
                <v-list-item @click="changeDelete">
                    <v-list-item-title>
                        {{ $t('Delete') }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        <DialogConfirm
            v-model="dialog"
            @ok="deleteBulk"/>
        <v-snackbar
            :timeout="3000"
            v-model="snackbar"
            top
        >
            {{ text }}
        </v-snackbar>
    </div>

</template>

<script>
    import { DELETE_POST, UPDATE_POST } from '../../../apollo/mutation/post';
    import DialogConfirm from '../../dialog/DialogConfirm';

    export default {
        name: 'BulkActionsOrder',
        components: { DialogConfirm },
        props: {
            value: {
                type: [Object, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                dialog: false,
                snackbar: false,
                text: this.$t('Please choose before you act'),
                loading: false,
            }
        },
        methods: {
            click() {

            },
            resetSelected() {
                this.$emit('input', []);
            },
            changeDelete() {
                if ( this.value.length ) {
                    return this.dialog = true;
                }
                this.snackbar = true;
            },
            deleteBulk() {
                if ( this.loading ) return;

                this.loading = true;

                this.serviceHttp.deleteFetch(DELETE_POST, this.value.map(x => (x.id)), [
                    'posts'
                ]).finally(() => {
                    this.dialog = false;
                    this.loading = false;
                    this.resetSelected();
                });
            },
            changeStatus(status) {
                if ( ! this.value.length ) {
                    return this.snackbar = true;
                }
                let notifi = true;
                for( let item of this.value ) {
                    this.$apollo.mutate({
                        mutation: UPDATE_POST,
                        variables: {
                            id: item.id,
                            postStatus: status
                        },
                        refetchQueries: ['posts']
                    }).finally(() => {
                        if ( notifi ) {
                            notifi = false;
                            this.$notify({
                                group: 'app',
                                type: 'success',
                                title: 'Success',
                                text: 'Thao tác thành công.',
                                duration: 2000,
                            });
                            this.resetSelected();
                        }
                    });
                }
            },
            moveToStatus(status) {
                return this.changeStatus(status);
            },
            moveToDraft() {
                this.changeStatus('draft');
            }
        }
    };
</script>

<style scoped>

</style>