<template>
    <v-select
        :items="dropdownEdit"
        :value="model"
        item-text="name"
        item-value="id"
        label="Overflow Btn w/ counter"
        solo
        @input="input"
    />
</template>

<script>
    import { FETCH_ORDER_STATUS } from '../../../apollo/query/order';

    export default {
        name: 'ChangeStatus',
        props: {
            value: {
                type: [Number, String],
                default: undefined
            }
        },
        data() {
            return {
                dropdownEdit: []
            };
        },
        computed: {
            model() {
                return String(this.value);
            }
        },
        apollo: {
            data() {
                return {
                    query: FETCH_ORDER_STATUS,
                    result({ data: { data } }) {
                        if ( data && data.data ) {
                            this.dropdownEdit = data.data;
                        }
                    }
                }
            }
        },
        methods: {
            input(e) {
                this.$emit('input', e);
            }
        }
    };
</script>

<style scoped>

</style>