<template>
    <Box>
        <p>Taxes are automatically calculated.</p>
        <v-checkbox
            :false-value="false"
            :label="`Charge taxes`"
            :true-value="true"
            v-model="taxes"
            class="mt-0"
            color="primary"
        />
        <v-layout>
            <v-btn @click="close">Close</v-btn>
            <v-spacer/>
            <v-btn @click="accept">Apply</v-btn>
        </v-layout>
    </Box>
</template>

<script>
    import Box from '../../material/Box';

    export default {
        name: 'ChangeTaxes',
        components: { Box },
        props: {
            data: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                taxes: true
            }
        },
        watch: {
            data(val) {
                this.taxes = val;
            }
        },
        mounted() {
            this.taxes = this.data;
        },
        methods: {
            close() {
                this.$emit('close', true);
            },
            remove() {
                this.$emit('remove', true);
            },
            accept() {
                this.$emit('accept', this.taxes);
            }
        }
    };
</script>

<style scoped>

</style>