<template>
    <div>
        <v-layout ma-0>
            <div class="subheading">Timeline</div>
            <v-spacer/>
            <div>
                <v-checkbox
                    class="mt-0 pt-0"
                    label="Show comments"/>
            </div>
        </v-layout>
        <v-divider class="mb-3"/>
        <v-timeline
            clipped
            dense>
            <v-timeline-item
                class="white--text mb-5"
                color="orange"
                fill-dot
                large
            >
                <template v-slot:icon>
                    <span>JL</span>
                </template>
                <v-text-field
                    v-model="input"
                    flat
                    hide-details
                    label="Leave a comment..."
                    solo
                    @keydown.enter="comment"
                >
                    <template v-slot:append>
                        <v-btn
                            class="mx-0"
                            depressed
                            @click="comment"
                        >
                            Post
                        </v-btn>
                    </template>
                </v-text-field>
            </v-timeline-item>

            <v-slide-x-transition
                group
            >
                <v-timeline-item
                    v-for="event in timeline"
                    :key="event.id"
                    class="mb-3"
                    color="pink"
                    large
                >
                    <template v-slot:icon>
                        <v-avatar>
                            <img
                                alt="avatar"
                                src="http://lorempixel.com/50/50/cats">
                        </v-avatar>
                    </template>
                    <v-card>
                        <v-card-actions>
                            <div>
                                <strong v-text="event.name"/>
                                &nbsp;
                                <DateFormat
                                    :value="event.time"
                                    format="Do MMMM"/>
                                <div
                                    class="caption"
                                    v-text="event.text"/>
                            </div>

                            <v-spacer/>
                            <v-icon
                                class="v-chip__close"
                                @click="remove(event)"
                            >
                                clear
                            </v-icon>
                        </v-card-actions>
                    </v-card>
                    <!--<v-layout justify-space-between>
                        <v-flex
                            xs7
                            v-text="event.text"/>
                        <v-flex
                            xs5
                            text-sm-right
                            v-text="event.time"/>
                    </v-layout>-->
                </v-timeline-item>
            </v-slide-x-transition>

            <v-timeline-item
                hide-dot
            >
                <span>
                    <DateFormat
                        :value="data.createdAt"
                        format="Do MMMM"/>
                </span>
            </v-timeline-item>
            <template v-for="item in histories">
                <div :key="item.id">
                    <v-timeline-item
                        :class="{
                            'mb-3': true,
                            'history-item': true,
                            active: item.active
                        }"
                        color="grey"
                        icon-color="grey lighten-2"
                        small
                    >
                        <v-layout row>
                            <v-flex
                                grow
                                @click="active(item)"
                            >
                                <v-hover>
                                    <div
                                        slot-scope="{ hover }"
                                        class="pointer"
                                    >
                                        <span
                                            :class="hover ? 'text-underline' : ''"
                                        >You created this order.</span>
                                        <v-icon v-if="!item.active">mdi-menu-right</v-icon>
                                        <v-icon v-else>mdi-menu-down</v-icon>
                                    </div>
                                </v-hover>
                            </v-flex>
                            <v-flex
                                text-sm-right
                                shrink>
                                <DateFormat
                                    :value="data.createdAt"
                                    format="LT"/>
                                am +7
                            </v-flex>
                        </v-layout>
                    </v-timeline-item>
                    <v-expand-transition>
                        <v-timeline-item
                            v-show="item.active"
                            :class="{
                                'pb-3': item.active,
                                'pa-0': !item.active
                            }"
                            hide-dot
                        >
                            <h4>Added</h4>
                            <ul style="list-style: disc;">
                                <li>
                                    1 x <a href="#">1295829</a>
                                </li>
                                <li>
                                    1 x <a href="#">1295829</a>
                                </li>

                            </ul>
                        </v-timeline-item>
                    </v-expand-transition>
                </div>
            </template>

        </v-timeline>
    </div>
</template>

<script>
    import DateFormat from '../../helper/DateFormat';
    import { Str } from '../../utils/str';

    export default {
        name: 'Comments',
        components: { DateFormat },
        props: {
            data: {
                type: [Object],
                default() {
                    return {};
                }
            }
        },
        data: () => ({
            events: [],
            input: null,
            nonce: 0,
            histories: [
                {
                    id: Str.uuid(),
                    active: false
                },
                {
                    id: Str.uuid(),
                    active: false
                },
                {
                    id: Str.uuid(),
                    active: false
                },

            ]
        }),

        computed: {
            timeline() {
                return this.events.slice().reverse()
            }
        },

        methods: {
            comment() {
                const time = (new Date()).getTime()
                this.events.push({
                    id: this.nonce++,
                    text: this.input,
                    name: 'Phan Trung Nguyên',
                    time: time
                })

                this.input = null
            },
            remove(event) {
                this.events = this.events.filter(x => x !== event);
            },
            active(item) {
                item.active = ! item.active;
            }
        }
    };
</script>

<style scoped>
    .history-item {
        padding: 15px 15px 15px 0;
        /*color: #2196f3;*/
    }

    .active {
        background: #ffffff;
        border-radius: 5px;
    }
</style>