<template>
    <div class="w-100">
        <slot
            :on="open"
            name="activator">
            <v-btn
                depressed
                @click="open"
            >
                {{ $t('Browse products') }}
            </v-btn>
        </slot>
        <v-dialog
            v-model="dialog"
            persistent
            scrollable
            width="640"
        >
            <v-card>
                <v-card-title
                    class="subheading"
                    primary-title
                >
                    {{ $t('All Products') }}
                    <v-spacer/>
                    <v-icon
                        class="v-chip__close"
                        @click="close">
                        clear
                    </v-icon>
                </v-card-title>
                <v-divider/>
                <v-card-actions>
                    <ItemGroup class="elevation-0 border my-0 w-100">
                        <v-text-field
                            :label="$t('Search products')"
                            :value="searchText"
                            class="mt-0 pt-0"
                            flat
                            hide-details
                            prepend-inner-icon="search"
                            required
                            solo
                            @input="$emit('input', $event)"
                        />
                    </ItemGroup>
                </v-card-actions>
                <v-divider/>
                <v-card-text style="padding: 16px;">
                    <div style="height: 600px;">
                        <div
                            v-if="$apollo.loading"
                            class="text-sm-center">
                            <v-progress-circular
                                :width="2"
                                class="ml-2"
                                color="primary"
                                indeterminate
                                size="45"/>
                        </div>
                        <div
                            v-else-if="!items.length"
                            class="font-weight-regular">
                            <span class="blue-grey--text text--lighten-2">No results found for</span> "<strong
                            class="grey--text text--darken-3">{{ searchText }}</strong>"
                        </div>
                        <ul
                            v-else
                            class="list-product">
                            <template v-for="item in items">
                                <li
                                    :class="checkDisabled(item, 'disabled-icon')"
                                    :key="'product-'+ item.id"
                                    @click="clickCheckbox">
                                    <v-layout>
                                        <v-flex>
                                            <v-checkbox
                                                :disabled="!!checkDisabled(item, true)"
                                                :indeterminate="!!item.branches.filter(x => x.checkbox === true).length && item.branches.filter(x => x.checkbox === true).length !== item.branches.length"
                                                :input-value="item.branches.filter(x => x.checkbox === true).length === item.branches.length"
                                                color="primary"
                                                hide-details
                                                @change="changeProduct($event, item)"
                                            >
                                                <template v-slot:label>
                                                    <v-avatar
                                                        :size="30"
                                                        color="grey lighten-4 mr-2"
                                                        tile
                                                    >
                                                        <img
                                                            v-if="item.branches[0].images && item.branches[0].images[0]"
                                                            :alt="item.name"
                                                            :src="item.branches[0].images[0].image"
                                                        >
                                                        <v-icon
                                                            v-else
                                                            style="font-size: 16px;">grain
                                                        </v-icon>
                                                    </v-avatar>
                                                    {{ item.name }}
                                                </template>
                                            </v-checkbox>
                                        </v-flex>
                                        <v-flex>
                                            <div
                                                v-if="item.branches && item.branches.length === 1"
                                                class="mt-3 px-3 text-sm-right">
                                                <span v-if="!checkDisabled(item, true)">
                                                    {{ item.branches[0].price | toCurrentcy }}
                                                </span> <span v-else>
                                                    {{ $t('Item already added') }}
                                                </span>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </li>
                                <template v-if="item.branches && item.branches.length > 1">
                                    <li
                                        v-for="child in item.branches"
                                        :class="checkDisabled(child, 'disabled-icon')"
                                        :key="child.id"
                                        @click="clickCheckbox"
                                    >
                                        <v-layout class="ml-4 px-2">
                                            <v-flex>
                                                <v-checkbox
                                                    :disabled="!!checkDisabled(child, 'disabled-icon')"
                                                    :false-value="false"
                                                    :label="child.fullname"
                                                    :true-value="true"
                                                    v-model="child.checkbox"
                                                    color="primary"
                                                    hide-details
                                                    @change="changeVar($event, child)"
                                                />
                                            </v-flex>
                                            <v-flex>
                                                <div class="mt-3 px-2 text-sm-right">
                                                    <span v-if="!checkDisabled(child, true)">
                                                        {{ child.price | toCurrentcy }}
                                                    </span> <span v-else>
                                                        {{ $t('Item already added') }}
                                                    </span>
                                                </div>
                                            </v-flex>
                                        </v-layout>
                                    </li>
                                </template>
                            </template>
                        </ul>
                    </div>
                </v-card-text>

                <v-divider/>

                <v-card-actions>
                    <div>
                        {{ $t('variants selected', {count: selected.length}) }}
                    </div>
                    <v-spacer/>
                    <v-btn @click="close">
                        {{ $t('Cancel') }}
                    </v-btn>
                    <v-btn
                        :disabled="!selected.length"
                        color="primary"
                        @click="accept"
                    >
                        {{ $t('Add to orders') }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { FETCH_PRODUCT } from '../../../apollo/query/product';
    import _ from 'lodash';
    import ItemGroup from '../../material/ItemGroup';

    const uuid = require('uuid');

    export default {
        name: 'DialogSearchProduct',
        components: { ItemGroup },
        props: {
            disabled: {
                type: [Array],
                default() {
                    return [];
                }
            },
            value: {
                type: String,
                default: undefined
            }
        },
        data() {
            return {
                dialog: false,
                items: [],
                old: [],
                selected: []
            }
        },
        computed: {
            searchText() {
                return this.value;
            }
        },
        watch: {
            value(val, old) {
                this.refetch();
            }
        },
        apollo: {
            data() {
                return {
                    query: FETCH_PRODUCT,
                    result({ data, loading, networkStatus }) {
                        if ( data && data.data ) {
                            this.old = _.cloneDeep(data.data.data) || [];
                            this.items = data.data.data || [];
                        }
                    },
                    variables: {},
                    throttle: 100,
                    debounce: 300
                }
            }
        },
        methods: {
            refetch() {
                this.$apollo.queries.data.refetch({
                    filter: {
                        field: 'name',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    }
                });
            },
            checkDisabled(item, icon) {
                if ( ! Array.isArray(this.disabled) ) {
                    return '';
                }

                if ( item.branches && item.branches.length ) {
                    for( let branch of item.branches ) {
                        if ( this.checkDisabled(branch, icon) === icon ) {
                            return icon;
                        }
                    }
                    return '';
                }

                let isDisabled = this.disabled.filter(x => x.productBranchId === item.id).length;

                if ( isDisabled ) {
                    return icon;
                }

                return '';
            },
            close() {
                this.dialog = false;
            },
            open() {
                this.dialog = true;
                this.selected = [];
                this.items = _.cloneDeep(this.old);
            },
            accept() {
                this.dialog = false;
                this.$emit('select', this.selected.map(x => {
                    x.productBranchId = x.id;
                    x.key = uuid.v4();
                    return _.omit(x, 'id');
                }));
            },
            click() {

            },
            changeSelected(item) {
                let disabled = !! this.checkDisabled(item, true);

                if ( disabled ) {
                    return;
                }

                this.selected = [item, ...this.selected];
            },
            deleteSelected(item) {
                this.selected = this.selected.filter(x => x.id !== item.id);
            },
            changeProduct(event, item) {
                if ( event === true ) {
                    item.branches = item.branches.map(x => {
                        x.checkbox = true;
                        this.changeSelected(x);
                        return x;
                    });
                } else {
                    item.branches = item.branches.map(x => {
                        x.checkbox = false;
                        this.deleteSelected(x);
                        return x;
                    });
                }

            },
            changeVar(event, item) {
                if ( event ) {
                    this.changeSelected(item);
                } else {
                    this.deleteSelected(item)
                }
                this.items = [...this.items];
            },
            clickCheckbox(el) {
                let tag = el.target;
                if ( tag && (tag.tagName === 'LABEL' || !! tag.closest('.v-avatar')) ) {
                    return;
                }

                if ( tag.classList.contains('v-input--selection-controls__ripple') ) {
                    return;
                }

                if ( ! el.target.querySelector('input') ) {
                    tag = tag.closest('li');
                }

                tag.querySelector('input').click();
            }
        }
    };
</script>

<style lang="scss" scoped>
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul {
        margin: -16px;
    }

    li {
        padding-left: 16px;
        border-top: solid 1px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        height: 50px;
    }

    li:hover {
        background-color: rgba(204, 204, 204, 0.36);
    }

    li:first-child {
        border-top-color: transparent;
    }
</style>

<style lang="scss">
    .list-product {
        .v-input--selection-controls {
            margin-top: 4px !important;
        }

        .theme--light.v-input--selection-controls.v-input--is-disabled .v-input--selection-controls__input .v-icon {
            color: transparent !important;
        }

        .disabled-icon {
            .v-input--selection-controls__input .v-icon {
                color: transparent !important;
            }
        }
    }
</style>