<template>
    <Box>
        <div>
            <v-label>
                {{ $t('Discount this item by') }}
            </v-label>
        </div>
        <ItemGroup
            v-model="discountType"
            class="elevation-0 border mt-1"
            mandatory>
            <v-btn
                :value="1"
                class="font-weight-light subheading ma-0"
                text
                style="width: 50px; height: 40px">₫
            </v-btn>
            <v-btn
                :value="2"
                class="font-weight-light subheading ma-0"
                text
                style="width: 50px; height: 40px">%
            </v-btn>
            <NumberFormat
                v-model="discount"
                autofocus
                currency-symbol=""
                flat
                hide-details
                solo
                style="width: 150px;"
            >
                <template v-slot:append>
                    <div class="font-weight-regular">{{ icon }}</div>
                </template>
            </NumberFormat>
        </ItemGroup>
        <v-divider/>
        <div class="mt-3">
            <v-label>
                {{ $t('Reason') }}
            </v-label>
        </div>
        <ItemGroup class="elevation-0 border mt-1 w-100">
            <v-text-field
                v-model="reason"
                color="primary"
                flat
                hide-details
                label="Reason"
                solo/>
        </ItemGroup>
        <template v-slot:footer>
            <v-divider/>
            <v-card-actions>
                <v-layout>
                    <v-btn
                        v-if="hasRemove"
                        color="red"
                        text
                        outlined
                        @click="remove">
                        {{ $t('Remove') }}
                    </v-btn>
                    <v-btn
                        v-else
                        color="red"
                        text
                        outlined
                        @click="remove">
                        {{ $t('Close') }}
                    </v-btn>
                    <v-spacer/>
                    <v-btn
                        color="orange"
                        text
                        outlined
                        @click="accept"
                    >
                        {{ $t('Apply') }}
                    </v-btn>
                </v-layout>
            </v-card-actions>
        </template>
    </Box>
</template>

<script>
    import Box from '../../material/Box';
    import NumberFormat from '../../material/NumberFormat';
    import ItemGroup from '../../material/ItemGroup';

    export default {
        name: 'DiscountProduct',
        components: { ItemGroup, NumberFormat, Box },
        props: {
            value: {
                type: [Number, String],
                default: 0
            },
            data: {
                type: [Number, String],
                default: 0
            }
        },
        data() {
            return {
                discountType: 1,
                discount: 0,
                reason: ''
            }
        },
        computed: {
            hasRemove() {
                return Number(this.data);
            },
            icon() {
                return this.discountType === 1 ? '₫' : '%';
            }
        },
        watch: {
            value(val) {
                this.discount = val;
            }
        },
        mounted() {
            this.discount = this.value;
        },
        methods: {
            remove() {
                this.discount = 0;
                this.reason = '';
                this.$emit('remove', true);
            },
            close() {
                this.discount = 0;
                this.reason = '';
                this.$emit('close', true);
            },
            accept() {
                this.$emit('accept', {
                    discount: this.discount,
                    discountType: Number(this.discountType)
                });
            }
        }
    };
</script>

<style scoped>

</style>