<template>
    <v-layout
        class="from-order"
        row
        wrap>
        <v-flex
            class="sidebar-left"
            md8
            xs12>

            <div>
                <Box
                    text="?"
                >
                    <div v-if="!isComplete">
                        <v-layout class="pa-3 mb-0">
                            <span class="subheading font-weight-medium">{{ $t('Order details') }}</span>
                            <v-spacer/>
                            <AddCustomItem @accept="changeProducts([$event])">
                                <template v-slot:activator="{on}">
                                    <a v-on="on">{{ $t('Add custom item') }}</a>
                                </template>
                            </AddCustomItem>
                        </v-layout>
                        <v-layout
                            ma-0
                            mb-3
                        >
                            <DialogSearchProduct
                                :disabled="selected.items"
                                v-model="searchText"
                                @select="changeProducts">
                                <template v-slot:activator="{ on }">
                                    <v-layout
                                        wrap
                                        pa-2>
                                        <v-text-field
                                            :label="$t('Search products')"
                                            v-model="searchText"
                                            solo
                                            single-line
                                            dense
                                            hide-details
                                            height="40"
                                            style="border-radius: 0"
                                            prepend-inner-icon="search"
                                            @keyup="openBrowse(on)"
                                        />
                                        <v-btn
                                            class="ma-0"
                                            color="secondary"
                                            style="height: 40px;"
                                            tile
                                            depressed
                                            @click="on"
                                        >
                                            {{ $t('Browse products') }}
                                        </v-btn>
                                    </v-layout>

                                </template>
                            </DialogSearchProduct>
                        </v-layout>
                        <v-divider v-if="selected.items.length"/>
                    </div>
                    <div style="min-height: 100px;">
                        <v-data-table
                            :headers="headers"
                            :items="selected.items"
                            :items-per-page="1000"
                            class="elevation-0 order-list"
                            hide-default-footer
                            hide-default-header
                        >
                            <template v-slot:item="{item, index}">
                                <tr>
                                    <td style="width: 1px;">
                                        <v-avatar
                                            color="grey lighten-4"
                                            tile
                                        >
                                            <v-icon v-if="!item.getImage()">photo</v-icon>
                                            <img
                                                v-else
                                                :src="item.getImage()"
                                                alt="avatar">
                                        </v-avatar>
                                    </td>
                                    <td>
                                        <div class="body-1 font-weight-medium">
                                            {{ item.getName() }}
                                        </div>
                                        <div class="caption">
                                            {{ item.getName() }}
                                        </div>
                                        <div class="caption">
                                            {{ item.getName() }}
                                        </div>
                                    </td>
                                    <td
                                        class="text-sm-right"
                                        style="width: 120px;">
                                        <div v-if="isComplete">
                                            {{ item.getPrice() | toCurrentcy }}
                                        </div>
                                        <Popover
                                            v-else
                                            left
                                            offset-y
                                            @open="popoverOpen = $event">
                                            <template v-slot:activator="{on: p}">
                                                <v-tooltip top>
                                                    <template v-slot:activator="{ on }">
                                                        <div>
                                                            <div
                                                                v-if="item.getDiscount()"
                                                                class="caption">
                                                                {{ item.getPrice() | toCurrentcy }}
                                                            </div>
                                                            <div v-on="on">
                                                                <a
                                                                    class="tooltip-target b3"
                                                                    v-on="p"> {{ item.getPriceSell() | toCurrentcy }} </a>
                                                            </div>
                                                        </div>
                                                    </template>
                                                    <span>
                                                        {{ $t('Add item discount') }}
                                                    </span>
                                                </v-tooltip>
                                            </template>
                                            <template v-slot:popover="{popover}">
                                                <DiscountProduct
                                                    v-if="popover.menu"
                                                    :data="item.discount"
                                                    :value="item.discount"
                                                    @accept="item.setDiscount($event); popover.close();"
                                                    @close="popover.close()"
                                                    @remove="item.setDiscount(0); popover.close()"/>
                                            </template>
                                        </Popover>
                                    </td>
                                    <td
                                        class="text-sm-right"
                                        style="width: 27px;">
                                        <v-icon class="caption">clear</v-icon>
                                    </td>
                                    <td
                                        :style="{
                                            width: isComplete ? '15px' : '120px'
                                        }"
                                        class="text-sm-right"
                                    >
                                        <div v-if="isComplete">{{ item.quantity | toCurrentcy('') }}</div>
                                        <NumberFormat
                                            v-else
                                            :value="item.quantity"
                                            class="qty"
                                            currency-symbol=""
                                            single-line
                                            @input="item.setQuantity($event)"
                                        />
                                    </td>
                                    <td
                                        class="text-sm-right"
                                        style="width: 120px;">
                                        {{ item.getTotal() | toCurrentcy }}
                                    </td>
                                    <td
                                        v-if="!isComplete"
                                        class="text-sm-right red--text"
                                        style="width: 27px;"
                                    >
                                        <v-icon
                                            class="v-chip__close red--text"
                                            @click="removeProduct(item)">
                                            clear
                                        </v-icon>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </div>


                    <!--<v-divider/>
                    

                    <v-divider/>
                    <v-layout ma-0>
                        <span class="subheading font-weight-regular">Email</span>
                        <v-spacer/>
                        <v-btn>Email invoice</v-btn>
                    </v-layout>-->
                    <!--<v-divider/>
                    <v-layout ma-0>
                        <span class="subheading font-weight-regular">Payment</span>
                        <v-spacer/>
                        <v-btn>Mark as paid</v-btn>
                        <v-btn>Mark as pending</v-btn>
                    </v-layout>-->
                </Box>
                <!--<Box :title="$t('Refunded')">
                    <div>123</div>
                </Box>-->
                <Box :title="$t('Payment') ">
                    <v-layout>
                        <v-flex>
                            <span>
                                {{ $t('Notes') }}
                            </span>
                            <v-textarea
                                :error="!!errors.note"
                                :error-messages="errors.note"
                                :label="$t('Add a note...')"
                                v-model="selected.note"
                                auto-grow
                                required
                                rows="1"
                                solo
                                value=""
                            />
                        </v-flex>
                        <v-flex
                            :class="{
                                'px-3': isComplete,
                                'px-5': !isComplete
                            }"
                        >
                            <v-layout
                                row
                            >
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    <div v-if="isComplete">
                                        {{ $t('Discount') }}
                                    </div>
                                    <Popover
                                        v-else
                                        left
                                        offset-y
                                        @open="popoverOpen = $event">
                                        <template v-slot:activator="{on: p}">
                                            <a
                                                class="tooltip-target b3"
                                                v-on="p"> {{ $t('Add discount') }} </a>
                                        </template>
                                        <template v-slot:popover="{popover}">
                                            <DiscountProduct
                                                :data="selected.discount"
                                                :value="selected.discount"
                                                @accept="selected.setDiscount($event); popover.close();"
                                                @close="popover.close()"
                                                @remove="selected.setDiscount(0); popover.close()"/>
                                        </template>
                                    </Popover>
                                </v-flex>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    {{ - selected.getDiscountValue() | toCurrentcy }}
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    {{ $t('Subtotal') }}
                                </v-flex>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>{{ selected.getSubtotal() | toCurrentcy }}
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    <div v-if="isComplete">
                                        {{ $t('Shipping') }}
                                        <div v-if="!!selected.shipping.name">
                                            <em>{{ selected.shipping.name }}</em>
                                        </div>
                                    </div>
                                    <Popover
                                        v-else
                                        :nudge-width="460"
                                        nudge-left="200"
                                        offset-y
                                        right
                                        @open="popoverOpen = $event">
                                        <template v-slot:activator="{on}">
                                            <div>
                                                <a
                                                    class="tooltip-target b3"
                                                    v-on="on"> {{ $t('Add shipping') }} </a>
                                                <div v-if="!!selected.shipping.name">
                                                    {{ selected.shipping.name }}
                                                </div>
                                            </div>
                                        </template>
                                        <template v-slot:popover="{popover}">
                                            <AddShipping
                                                :data="selected"
                                                @accept="selected.setShipping($event); popover.close()"
                                                @close="popover.close()"
                                                @remove="selected.resetShipping(); popover.close()"/>
                                        </template>
                                    </Popover>
                                </v-flex>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    {{ selected.getPriceShipping() | toCurrentcy }}
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    <div v-if="isComplete">
                                        {{ $t('Tax') }}
                                    </div>
                                    <Popover
                                        v-else
                                        left
                                        offset-y
                                        @open="popoverOpen = $event">
                                        <template v-slot:activator="{on: p}">
                                            <a
                                                class="tooltip-target b3"
                                                v-on="p"> {{ $t('Taxes') }} </a>
                                            <div>VAT 10%</div>
                                        </template>
                                        <template v-slot:popover="{popover}">
                                            <ChangeTaxes
                                                :data="selected.taxes"
                                                @accept="selected.setTaxes($event); popover.close()"
                                                @close="popover.close()"
                                                @remove="selected.resetTaxes(); popover.close()"
                                            />
                                        </template>
                                    </Popover>
                                </v-flex>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>{{ selected.getTax() | toCurrentcy }}
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    {{ $t('Total') }}
                                </v-flex>
                                <v-flex
                                    class="text-sm-right"
                                    xs6>
                                    <strong>{{ selected.getTotal() | toCurrentcy }}</strong>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </Box>

                <Comments
                    :data="selected"
                    class="mt-5"/>
                <slot name="customField"/>
            </div>
        </v-flex>
        <v-flex
            class="sidebar-right"
            md4
            xs12>
            <Box
                :title="$t('Actions')"
            >
                <ChangeStatus v-model="selected.orderStatusId"/>
                <v-layout>
                    <v-spacer/>
                    <v-btn @click="save">{{ $t('Save') }}</v-btn>
                </v-layout>
            </Box>
            <Box
                :hide-body="true"
                :title="$t('Find or create a customer')"
            >
                <template
                    v-slot:actions="{title}"
                    v-if="selected.user">
                    <div class="subheading">Customer</div>
                    <v-spacer/>
                    <v-icon
                        class="v-chip__close red&#45;&#45;text"
                        @click="clearUser">clear</v-icon>
                </template>
                <template
                    v-slot:content
                >
                    <InfoUser
                        v-if="selected.user"
                        :form="selected"
                        :value="selected.user"
                    />
                    <div v-else>
                        <v-card-text>
                            <SelectUser
                                v-model="selected.user"/>
                        </v-card-text>
                    </div>
                    <ShippingAddress :form="selected"/>
                    <v-divider/>
                    <BillingAddress :form="selected"/>
                </template>
                <!--<template
                    v-slot:actions="{title}"
                    v-if="selected.user">
                    <div class="subheading">Customer</div>
                    <v-spacer/>
                    <v-icon
                        class="v-chip__close red&#45;&#45;text"
                        @click="clearUser">clear</v-icon>
                </template>
                <template
                    v-slot:content
                    v-if="selected.user">
                    <InfoUser
                        :form="selected"
                        :value="selected.user"
                    />
                </template>
                <SelectUser
                    v-else
                    v-model="selected.user"/>-->
            </Box>
            <Box
                v-if="!hideTag"
                :title="$t('Tags')"
                class="box-line-tag sidebar-right-tag">
                <ComboboxTag
                    v-model="selected.tags"
                    item-value="text"/>
            </Box>

        </v-flex>
    </v-layout>
</template>

<script>
    import Box from '../../material/Box';
    import ComboboxTag from '../../combobox/ComboboxTag';
    import DialogSearchProduct from './DialogSearchProduct';
    import NumberFormat from '../../material/NumberFormat';
    import { Cart } from '../../utils/utils';
    import Popover from '../../popover/Popover';
    import SelectUser from '../../select/SelectUser';
    import DiscountProduct from './DiscountProduct';
    import AddCustomItem from './AddCustomItem';
    import AddShipping from './AddShipping';
    import ChangeTaxes from './ChangeTaxes';
    import InfoUser from './InfoUser';
    import Comments from './Comments';
    import ItemGroup from '../../material/ItemGroup';
    import _ from 'lodash';
    import ChangeStatus from './ChangeStatus';
    import ShippingAddress from './ShippingAddress';
    import BillingAddress from './BillingAddress';

    export default {
        name: 'FormOrder',
        components: {
            BillingAddress,
            ShippingAddress,
            ChangeStatus,
            ItemGroup,
            Comments,
            InfoUser,
            ChangeTaxes,
            AddShipping,
            AddCustomItem,
            DiscountProduct,
            SelectUser,
            Popover,
            NumberFormat,
            DialogSearchProduct,
            ComboboxTag,
            Box
        },
        props: {
            value: {
                type: [Object, String],
                default: undefined
            }
        },
        data() {
            return {
                searchText: '',
                form: {
                    tags: []
                },
                errors: {},
                hideTag: false,
                nameRules: [
                    v => !! v || this.$t('Name is required'),
                    v => (v && v.length <= 250) || this.$t('Name must be less than 250 characters')
                ],
                headers: [
                    { text: 'Calories', value: 'calories' },
                    {
                        text: 'Dessert (100g serving)',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { text: 'Calories', value: 'calories' },
                    { text: 'Fat (g)', value: 'fat' },
                    { text: 'Carbs (g)', value: 'carbs' },
                    { text: 'Protein (g)', value: 'protein' },
                    { text: 'Iron (%)', value: 'iron' }
                ],
                selected: new Cart([]),
                radioGroup: 1,
                debounce: null
            }
        },
        computed: {
            isComplete() {
                return false;
            }
        },
        watch: {
            selected: {
                handler(val, old) {
                    // this.form = { ...this.form, ...val };
                    // console.log('handler update', val);

                    this.$emit('input', val);
                },
                deep: true
            },
            value(data, old) {
                if ( data === old ) {
                    return;
                }
                if ( ! (data instanceof Cart) ) {
                    this.mapData(data);
                } else {
                    this.selected = data;
                    return;
                }
            }
        },
        mounted() {
            this.mapData(this.value);
        },
        methods: {
            mapData(data) {
                let cart = new Cart(data.items);
                let n = _.pick(data, [
                    'discount',
                    'discountType',
                    'id',
                    'customerId',
                    'meta',
                    'tags',
                    'user',
                    'orderStatusId',
                    'note',
                    'billingAddress',
                    'shippingAddress'
                ]);

                for( let i in n ) {
                    cart[i] = data[i];
                }
                if ( ! data.taxValue ) {
                    cart.taxes = false;
                }
                if ( data.shipping ) {
                    cart.shipping = data.shipping;
                }

                this.selected = new Cart(cart);
            },
            clearUser() {
                this.selected.user = null;
                // this.selected.shippingAddress = {};
                // this.selected.billingAddress = {};
            },
            openBrowse(fn) {
                if ( this.debounce ) {
                    return this.debounce(this.searchText, fn);
                }

                this.debounce = _.debounce((str, fn) => {
                    this.searchText && fn();
                }, 300);

                this.debounce(this.searchText, fn);
            },
            changeProducts(items) {
                this.selected.multiple(items);

                this.selected = new Cart(this.selected);
            },
            removeProduct(item) {
                this.selected.items = this.selected.items.filter(x => x !== item);

                this.selected = new Cart(this.selected);
            },
            save() {
                this.$emit('save', true);
            }
        }
    };
</script>

<style scoped>

</style>

<style lang="scss">
    .from-order{
    }
    .order-list {
        td .qty {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }

    }
</style>