<template>
    <div>
        <v-card-text>
            <v-layout>
                <v-flex>
                    <v-avatar color="indigo">
                        <v-icon v-if="!value.avatar">account_circle</v-icon>
                        <img
                            v-else
                            :alt="value.name"
                            :src="value.avatar">
                    </v-avatar>
                </v-flex>
                <v-flex xs6>
                    No order
                </v-flex>
            </v-layout>
            <div>
                <div>
                    <a @click="click">{{ value.name }}</a>
                </div>
                <v-layout ma-0>
                    <a @click="click">{{ value.email }}</a>
                    <v-spacer/>
                    <!--<a href="">Edit</a>-->
                    <!--<v-flex grow>name@gmail.com</v-flex>-->
                    <!--<v-flex shark>edit</v-flex>-->
                </v-layout>
            </div>
        </v-card-text>
    </div>
</template>

<script>
    export default {
        name: 'InfoUser',
        props: {
            value: {
                type: [Object, String],
                default: undefined
            },
            form: {
                type: [Object, String],
                default: undefined
            }
        },
        methods: {
            click() {

            },
            changeShippingAddress(event) {
                this.form.shippingAddress = event;
            },
            changeBillingAddress(event) {
                this.form.billingAddress = event;
            }
        }
    };
</script>

