<template>
    <div>
        <v-divider class="ma-0"/>
        <v-card-actions class="px-3 ma-0">
            <div class="subheading font-weight-regular">Shipping Address</div>
            <v-spacer/>
            <ShippingAddressForm @accept="changeShippingAddress">
                <template v-slot:activator="{ on }">
                    <a @click="on(form.shippingAddress)">Edit</a>
                </template>
            </ShippingAddressForm>
        </v-card-actions>
        <v-card-text>
            <p v-if="form.shippingAddress.name">{{ form.shippingAddress.name }}</p>
            <p v-if="form.shippingAddress.address">{{ form.shippingAddress.address }}</p>
            <p v-if="form.shippingAddress.address2">{{ form.shippingAddress.address2 }}</p>
            <p v-if="form.shippingAddress.phone">
                <v-icon>phone</v-icon>
                {{ form.shippingAddress.phone }}
            </p>
        </v-card-text>
    </div>
</template>
<script>
    import ShippingAddressForm from './ShippingAddressForm'

    export default {
        name: 'ShippingAddress',
        components: { ShippingAddressForm },
        props: {
            form: {
                type: [Object, String],
                default: undefined
            }
        },
        methods: {
            changeShippingAddress(event) {
                this.form.shippingAddress = event;
            },
        }
    }
</script>
