<template>
    <v-dialog
        :max-width="maxWidth"
        :value="value"
        @input="$emit('input', $event)"
    >
        <v-card>
            <v-card-title class="red darken-2 white--text">
                <v-icon class="white--text pr-3">
                    {{ icon }}
                </v-icon>
                <div
                    class="body-1"
                    v-html="title"/>
            </v-card-title>
            <br>
            <v-card-text
                class="font-weight-regular"
                v-html="message"/>
            <v-divider/>
            <v-card-actions>
                <v-spacer/>
                <v-btn
                    color="grey darken-1"
                    outlined
                    @click="$emit('input', false)"
                >
                    {{ cancelText }}
                </v-btn>
                <v-btn
                    :loading="loading"
                    color="red darken-1"
                    outlined
                    @click="acceptFunction"
                >
                    {{ acceptText }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'DialogConfirm',
        props: {
            value: {
                type: Boolean,
                default: false
            },
            title: {
                type: String,
                default() {
                    return this.$t('Confirm delete')
                }
            },
            icon: {
                type: String,
                default: 'view_quilt'
            },
            message: {
                type: String,
                default() {
                    return this.$t('Do you really want to delete this record?')
                }
            },
            cancelText: {
                type: String,
                default() {
                    return this.$t('Cancel');
                }
            },
            acceptText: {
                type: String,
                default() {
                    return this.$t('Delete');
                }
            },
            loading: {
                type: Boolean,
                default: false
            },
            maxWidth: {
                type: [Number, String],
                default: 290
            }
        },
        data() {
            return {
                dialog: false
            }
        },
        methods: {
            acceptFunction() {
                this.$emit('ok', true);
            }
        }
    };
</script>

<style scoped>

</style>
