<template>
    <v-container
        fluid
        grid-list-lg
        style="background-color: #fff;"
    >
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation>
            <v-layout
                row
                wrap>
                <v-flex
                    class="sidebar-left"
                    md9
                    xs12>
                    <Box :title="$t('Contact infomation')">
                        <p>
                            Time:
                            <DateFormat :value="info.createdAt"/>
                        </p>
                        <p>
                            Full Name: {{ info.name }}
                        </p>
                        <p>
                            Email: {{ info.email }}
                        </p>
                        <p>
                            Phone: {{ info.phone }}
                        </p>
                        <p>
                            Address: {{ info.address }}
                        </p>
                        <p>
                            Subject: {{ info.subject }}
                        </p>
                        <p>
                            Content:
                        </p>
                        <pre
                            class="pa-2"
                            style="background: rgba(0,0,0,.05)"
                            v-html="info.content"/>
                    </Box>
                    <Box :title="$t('Replies')">
                        <div v-if="!replies.length">
                            No reply yet!
                        </div>
                        <div
                            v-for="(item, index) in replies"
                            :key="index"
                        >
                            <div class="my-3">
                                <p>
                                    Time:
                                    <DateFormat :value="item.createdAt"/>
                                </p>
                                <p>
                                    Content:
                                </p>
                                <pre
                                    class="pa-2"
                                    style="background: rgba(0,0,0,.05)"
                                    v-html="item.message"/>
                            </div>
                            <v-divider/>
                        </div>

                        <v-btn @click="reply">Reply</v-btn>

                        <ReplyForm v-if="showReply"/>
                    </Box>
                </v-flex>
                <v-flex
                    class="sidebar-right"
                    md3
                    xs12>
                    <Box
                        :title="$t('Publish')"
                        class="box-line-publish sidebar-right-publish"
                        offset="0">
                        <div class="content">
                            <v-select
                                :items="[
                                    {
                                        value: 'read',
                                        text: 'Read'
                                    },
                                    {
                                        value: 'unRead',
                                        text: 'UnRead'
                                    }
                                ]"
                                v-model="info.status"
                            />
                        </div>
                        <div class="submit">
                            <v-btn
                                color="success"
                                @click="submit"
                            >
                                {{ $t('Save') }}
                            </v-btn>
                        </div>
                    </Box>
                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import Box from '../../../../components/material/Box';
    import DateFormat from '../../../../components/helper/DateFormat';
    import { CONTACT_DETAIL, FETCH_CONTACT_REPLIES } from '../../../../apollo/query/contact';
    import ReplyForm from '../../../../components/views/contacts/ReplyForm';
    import { UPDATE_CONTACT } from '../../../../apollo/mutation/contact';

    export default {
        components: { ReplyForm, DateFormat, Box },
        data() {
            return {
                info: {},
                showReply: false,
                replies: [],
                valid: true,
                loading: false,
                errors: {}
            }
        },
        apollo: {
            contact: function() {
                return {
                    query: CONTACT_DETAIL,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data && data.contact ) {
                            if ( ! data.contact ) {
                                return;
                            }

                            this.info = { ...data.contact };
                        }
                    }
                };
            },
            contactReplies: function() {
                return {
                    query: FETCH_CONTACT_REPLIES,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data && data.contactReplies ) {
                            if ( ! data.contactReplies ) {
                                return;
                            }

                            if ( ! data.contactReplies.data ) {
                                return;
                            }
                            ;

                            this.replies = [...data.contactReplies.data];
                        }
                    }
                }
            }
        },
        methods: {
            reply() {
                this.showReply = ! this.showReply;
            },
            submit() {
                if ( this.validateOnFocusForm() ) {
                    this.serviceHttp.updateFetch(UPDATE_CONTACT, { id: this.info.id, status: this.info.status }, () => {

                    });
                }
            }

        }
    };
</script>

<style scoped>

</style>