<template>
    <v-container
        fluid
        grid-list-lg
        style="background-color: #fff;"
    >
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >
            <div
                class="toolbar-form-post"
            >
                <h3 class="font-weight-regular">{{ $t('Add new page') }}</h3>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </div>
            <FormToolbar>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </FormToolbar>
            <FormPost
                v-model="form"
                hide-category
                hide-format
                hide-tag
            >
                <template slot="submit">
                    <div/>
                    <!--<div class="text-sm-center">
                        <a
                            class="v-btn-facebook"
                            @click="submit">
                            {{ $t('Save to Draft') }}
                        </a>
                    </div>-->
                    <!--<v-btn
                        class="v-btn-facebook"
                        @click="submit">
                        {{ $t('Save') }}
                    </v-btn>
                    <v-btn
                        class="v-btn-facebook"
                        @click="update">
                        {{ $t('Save & Edit') }}
                    </v-btn>-->
                </template>
            </FormPost>
        </v-form>
    </v-container>
</template>

<script>
    import GutenbergEditor from '../../components/helper/GutenbergEditor';
    import Card from '../../components/material/Card';
    import FormPost from '../../components/views/post/FromPost';
    import FormToolbar from '../../components/material/FormToolbar';
    import { CREATE_PAGE } from '../../apollo/mutation/page';

    export default {
        components: { FormToolbar, FormPost, Card, GutenbergEditor },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    postPassword: '',
                    categories: [],
                    tags: [],
                    postStatus: 'publish',
                    avatar: undefined,
                    commentStatus: 'closed'
                }
            };
        },
        methods: {
            formatForm() {
                let meta = [];
                for( let i in this.form ) {
                    let split = i.split('_');
                    let isMeta = split.indexOf('meta') === 0;

                    if ( isMeta ) {
                        meta.push({
                            metaKey: split[1],
                            metaValue: this.form[i]
                        });
                    }
                }
                let tags = [];

                if ( Array.isArray(this.form.tags) ) {
                    tags = this.form.tags.map(i => (i.text));
                }

                return {
                    ...this.form,
                    meta,
                    tags
                }
            },
            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                return this.serviceHttp.createFetch({
                    mutation: CREATE_PAGE,
                    variables: this.form,
                    refetchQueries: 'post'
                }, callback);
            },
            saveToDraft() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = { ...this.form, postStatus: 'draft' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            path: '/post/form/edit/' + data.postCreate.id
                        });
                    });
                }
            },
            publish() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = { ...this.form, postStatus: 'publish' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            path: '/post/form/edit/' + data.postCreate.id
                        });
                    });
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .form-post {
    }

    .toolbar-form-post {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>