<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container grid-list-lg>
        <Table
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('Pages')"
        >
            <template v-slot:toolbar-actions>
                <ToolbarActionsPage
                    :delete-mutation="deletePage"
                    :selected.sync="selected"
                    delete-refetch-queries="pages"
                />
            </template>
            <template v-slot:menu>
                <div>
                    <a
                        :class="{
                            'mx-1': true,
                            'font-weight-regular': true,
                            'black--text': filterStatusSelected === 'all'
                        }"
                        @click="changeStatus(['publish','private','draft'], 'all')"> {{ $t('All') }} </a> <a
                            :class="{
                                'mx-1': true,
                                'font-weight-regular': true,
                                'black--text': filterStatusSelected === 'publish'
                            }"
                            @click="changeStatus('publish')"> {{ $t('Published') }} </a> <a
                                :class="{
                                    'mx-1': true,
                                    'font-weight-regular': true,
                                    'black--text': filterStatusSelected === 'draft'
                                }"
                                @click="changeStatus('draft')"> {{ $t('Drafts') }} </a> <a
                                    :class="{
                                        'mx-1': true,
                                        'font-weight-regular': true,
                                        'black--text': filterStatusSelected === 'private'
                                    }"
                                    @click="changeStatus('private')"> {{ $t('Private') }} </a>
                                    <!--<a
                        :class="{
                            'mx-1': true,
                            'black&#45;&#45;text': filterStatusSelected === 'trash'
                        }"
                        @click="changeStatus('trash')">
                        {{ $t('Trash') }}
                    </a>-->
                </div>
            </template>
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    :class="{
                        'blue--text lighten-4': showFilter
                    }"
                    class="ma-2"
                    depressed
                    @click="toggleFilter">{{ $t('Filter') }}
                </v-btn>
                <FormFilter
                    v-model="searchText"
                    class="ma-2"
                />
                <v-spacer/>
                <v-btn
                    depressed
                    nuxt
                    class="ma-2"
                    to="/page/add"
                >
                    <v-icon
                        left
                    >add
                    </v-icon>
                    {{ $t('Create') }}
                </v-btn>
                <v-btn
                    depressed
                    class="ma-2"
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only Page, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">{{ item.name }}</td>
                <td class="text-sm-left">{{ item.author && item.author.name }}</td>
                <td class="text-sm-left">
                    <v-chip
                        :color="status[item.postStatus].color"
                        depressed
                        label
                        small
                        text-color="white"
                    >{{ status[item.postStatus].label }}
                    </v-chip>
                </td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="`/page/edit/${item.id}`"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <ButtonActionDelete
                        :gql="deletePage"
                        :item="item"
                        refetch-queries="pages"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import { FETCH_PAGE } from '../../apollo/query/page';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';
    import { DELETE_PAGE } from '../../apollo/mutation/page';
    import BulkActionsPost from '../../components/views/post/BulkActionsPost';
    import FormFilter from '../../components/material/FormFilter';
    import ChangeOperatorGroup from '../../components/conditions/ChangeOperatorGroup';
    import Conditions from '../../components/conditions/Conditions';
    import { FILTER_PAGE } from '../../filters/page';
    import ToolbarActionsPage from '../../components/views/page/ToolbarActionsPage';

    export default {
        components: {
            ToolbarActionsPage,
            Conditions,
            ChangeOperatorGroup,
            FormFilter,
            BulkActionsPost,
            ButtonActionDelete,
            DateFormat,
            ButtonActionTooltip,
            Table
        },
        data() {
            return {
                query: FETCH_PAGE,
                deletePage: DELETE_PAGE,
                selected: [],
                headers: [
                    {
                        text: this.$t('Page name'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Author'),
                        value: 'description',
                        width: '150px'
                    },
                    {
                        text: this.$t('Status'),
                        value: 'postStatus',
                        align: 'center',
                        // defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '110px',
                        sortable: false
                    }
                ],
                filterField: FILTER_PAGE,
                filter: [],
                showFilter: false,
                searchText: undefined,
                operatorGroup: 'AND',
                filterStatus: {
                    field: 'postStatus',
                    operator: 'in',
                    value: [
                        'publish',
                        'private',
                        'draft'
                    ]
                },
                filterStatusSelected: 'all',
                status: {
                    draft: {
                        label: this.$t('Drafts'),
                        color: 'orange'
                    },
                    publish: {
                        label: this.$t('Published'),
                        color: 'primary'
                    },
                    private: {
                        label: this.$t('Private'),
                        color: 'green'
                    },
                    trash: {
                        label: this.$t('Trash'),
                        color: 'red'
                    }
                }
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [
                        {
                            operator: this.operatorGroup,
                            items: this.filter
                        },
                        this.filterStatus
                    ];
                }
                return [
                    {
                        operator: this.operatorGroup,
                        items: this.filter
                    },
                    {
                        field: 'name',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    },
                    this.filterStatus
                ];
            }
        },
        methods: {
            isEqual(a, b) {
                return _.isEqual(a, b);
            },
            click() {

            },
            toggleFilter() {
                this.showFilter = ! this.showFilter;
                if ( ! this.showFilter && this.filter.length ) {
                    this.filter = [];
                }
            },
            changeStatus(value, name) {
                this.filterStatus = {
                    field: 'postStatus',
                    operator: 'in',
                    value: value
                };
                this.filterStatusSelected = name ? name : value;
            }
        }
    };
</script>
