<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container
        fluid
        grid-list-lg
    >
        <Table
            :delete-mutation="deleteMutation"
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('Backups')"
            delete-refetch-queries="backups"
        >
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    :class="{
                        'blue--text lighten-4': showFilter
                    }"
                    depressed
                    @click="toggleFilter">{{ $t('Filter') }}
                </v-btn>
                <FormFilter
                    v-model="searchText"
                    class="ma-2"
                />
                <v-spacer/>
                <GenerateBackup>
                    <template v-slot:activator="{ on }">
                        <v-btn
                            class="ma-2"
                            color="primary"
                            dark
                            @click="on">
                            {{ $t('Generate Backup') }}
                        </v-btn>
                    </template>
                </GenerateBackup>
                <v-btn
                    depressed
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only User, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">{{ item.name }}</td>
                <td class="text-sm-left">{{ item.description }}</td>
                <td class="text-sm-left">{{ converSize(item.size) }}</td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Download')"
                        color="indigo"
                        icon="mdi-download"
                        @click="download(item)"
                    />
                    <ButtonActionDelete
                        :gql="deleteMutation"
                        :item="item"
                        refetch-queries="backups"/>
                    <ButtonActionRestore
                        :item="item"
                    />
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import Box from '../../components/material/Box';
    import ChangeRole from '../../components/views/user/ChangeRole';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';
    import Popover from '../../components/popover/Popover';
    import FormFilter from '../../components/material/FormFilter';
    import ChangeOperatorGroup from '../../components/conditions/ChangeOperatorGroup';
    import Conditions from '../../components/conditions/Conditions';
    import { FETCH_BACKUPS } from '../../apollo/query/backup';
    import { DELETE_BACKUP, DOWNLOAD_BACKUP } from '../../apollo/mutation/backup';
    import GenerateBackup from '../../components/views/backups/GenerateBackup';
    import { FILTER_BACKUP } from '../../filters/backup';
    import ButtonActionRestore from '../../components/views/backups/ButtonActionRestore';

    export default {
        components: {
            ButtonActionRestore,
            GenerateBackup,
            Conditions,
            ChangeOperatorGroup,
            FormFilter,
            Popover,
            ButtonActionDelete,
            ChangeRole,
            Box,
            DateFormat,
            ButtonActionTooltip,
            Table
        },
        data() {
            return {
                query: FETCH_BACKUPS,
                deleteMutation: DELETE_BACKUP,
                selected: [],
                searchText: '',
                filter: [],
                filterField: FILTER_BACKUP,
                showFilter: false,
                operatorGroup: 'AND',
                restoreOptions: {
                    loading: false
                },
                popoverOpen: false,
                headers: [
                    {
                        text: this.$t('Name'),
                        align: 'left',
                        value: 'name',
                    },
                    {
                        text: this.$t('Description'),
                        value: 'description',

                    },
                    {
                        text: this.$t('Size'),
                        value: 'size',
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '130px',
                        sortable: false
                    }
                ]
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [
                        {
                            operator: this.operatorGroup,
                            items: this.filter
                        }
                    ];
                }
                ;
                return [
                    {
                        operator: 'OR',
                        items: [
                            {
                                field: 'name',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            },
                            {
                                field: 'description',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            }
                        ]
                    },
                    {
                        operator: this.operatorGroup,
                        items: this.filter
                    },
                ];
            }
        },
        methods: {
            converSize(size) {
                const unit = 1024;

                const KB = Math.ceil(size / unit);
                const MB = parseFloat(KB / unit).toFixed(2);
                const GB = parseFloat(MB / unit).toFixed(2);
                if ( KB < unit ) {
                    return KB + 'KB';
                }
                if ( MB < unit ) {
                    return MB + 'MB';
                }
                if ( GB < unit ) {
                    return GB + 'GB';
                }
            },
            toggleFilter() {
                this.showFilter = ! this.showFilter;
                if ( ! this.showFilter && this.filter.length ) {
                    this.filter = [];
                }
            },
            download(item) {
                this.serviceHttp.createFetch({
                    mutation: DOWNLOAD_BACKUP,
                    variables: {
                        id: item.id
                    },
                    options: {
                        hidenNotification: false
                    }
                }, ({ data }) => {
                    var fileLink = document.createElement('a');

                    fileLink.href = data.url;

                    document.body.appendChild(fileLink);

                    fileLink.click();
                });
            }
        }
    };
</script>

<style>
    .tooltip-target {
        border-bottom: dashed 1px #2196F3;
    }
</style>
