<template>
    <v-container
        fluid
        grid-list-lg>
        <Table
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('List post')"
        >
            <template v-slot:toolbar-actions>
                <ToolbarActionsPost
                    :delete-mutation="deletePost"
                    :selected.sync="selected"
                    delete-refetch-queries="posts"
                />
            </template>
            <template v-slot:menu>
                <div>
                    <a
                        :class="{
                            'mx-1': true,
                            'font-weight-regular': true,
                            'black--text': filterStatusSelected === 'all'
                        }"
                        @click="changeStatus(['publish','private','draft'], 'all')"> {{ $t('All') }} </a> <a
                            :class="{
                                'mx-1': true,
                                'font-weight-regular': true,
                                'black--text': filterStatusSelected === 'publish'
                            }"
                            @click="changeStatus('publish')"> {{ $t('Published') }} </a> <a
                                :class="{
                                    'mx-1': true,
                                    'font-weight-regular': true,
                                    'black--text': filterStatusSelected === 'draft'
                                }"
                                @click="changeStatus('draft')"> {{ $t('Drafts') }} </a> <a
                                    :class="{
                                        'mx-1': true,
                                        'font-weight-regular': true,
                                        'black--text': filterStatusSelected === 'private'
                                    }"
                                    @click="changeStatus('private')"> {{ $t('Private') }} </a>
                                    <!--<a
                        :class="{
                            'mx-1': true,
                            'black&#45;&#45;text': filterStatusSelected === 'trash'
                        }"
                        @click="changeStatus('trash')">
                        {{ $t('Trash') }}
                    </a>-->
                </div>
            </template>
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    :class="{
                        'blue--text lighten-4': showFilter
                    }"
                    depressed
                    class="ma-2"
                    @click="toggleFilter">
                    {{ $t('Filter') }}
                </v-btn>
                <FormFilter
                    v-model="searchText"
                    class="ma-2"
                />
                <v-spacer/>
                <v-btn
                    depressed
                    nuxt
                    class="ma-2"
                    to="/post/form/add"
                >
                    <v-icon
                        left
                    >add
                    </v-icon>
                    {{ $t('Create') }}
                </v-btn>
                <v-btn
                    depressed
                    class="ma-2"
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only Post, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">
                    <v-avatar color="teal">
                        <img
                            v-if="item.avatar"
                            :src="item.avatar"
                            alt="Avatar"
                        > <span
                            v-else
                            class="white--text headline">C</span>
                    </v-avatar>
                </td>
                <td class="text-sm-left">
                    <nuxt-link :to="'/post/form/edit/' + item.id">
                        {{ item.name }}
                    </nuxt-link>
                </td>
                <td class="text-sm-left">{{ item.categories && item.categories.map(x => (x.name)).join(', ') }}</td>
                <td class="text-sm-left">{{ item.author && item.author.name }}</td>
                <!--<td class="text-sm-left"><DateFormat :value="item.publishedAt"/> </td>-->
                <td class="text-sm-left">
                    <v-chip
                        :color="status[item.postStatus].color"
                        depressed
                        label
                        small
                        text-color="white"
                    >{{ status[item.postStatus].label }}
                    </v-chip>
                </td>
                <td class="text-sm-center">
                    <FeaturedPost
                        :product-id="item.id"
                        v-model="item.isFeatured"/>
                </td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="'/post/form/edit/' + item.id"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <!--<ButtonActionTooltip
                        :title="$t('favorite')"
                        icon="favorite"
                        color="pink"
                    />-->
                    <ButtonActionDelete
                        :gql="deletePost"
                        :item="item"
                        refetch-queries="posts"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../../components/table/Table';
    import { FETCH_POST } from '../../../apollo/query/post';
    import ButtonActionTooltip from '../../../components/button/ButtonActionTooltip';
    import DateFormat from '../../../components/helper/DateFormat';
    import ButtonActionDelete from '../../../components/button/ButtonActionDelete';
    import { DELETE_POST } from '../../../apollo/mutation/post';
    import FormFilter from '../../../components/material/FormFilter';
    import Conditions from '../../../components/conditions/Conditions';
    import ChangeOperatorGroup from '../../../components/conditions/ChangeOperatorGroup';
    import { FILTER_POST } from '../../../filters/post';
    import _ from 'lodash';
    import FeaturedPost from '../../../components/views/post/FeaturedPost';
    import ToolbarActionsPost from '../../../components/views/post/ToolbarActionsPost';

    export default {
        components: {
            ToolbarActionsPost,
            FeaturedPost,
            ChangeOperatorGroup,
            Conditions,
            FormFilter,
            ButtonActionDelete,
            DateFormat,
            ButtonActionTooltip,
            Table
        },
        data() {
            return {
                query: FETCH_POST,
                deletePost: DELETE_POST,
                selected: [],
                headers: [
                    {
                        text: this.$t('Avatar'),
                        align: 'left',
                        sortable: false,
                        value: 'avatar',
                        width: '40px'
                    },
                    {
                        text: this.$t('Name'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Categories'),
                        value: 'categories',
                        sortable: false,
                        width: '200px'
                    },
                    {
                        text: this.$t('Author'),
                        value: 'description',
                        sortable: false,
                        width: '150px'
                    },

                    // {
                    //     text: this.$t('Content'),
                    //     value: 'content',
                    //     width: '200px'
                    // },
                    // {
                    //     text: this.$t('Published at'),
                    //     value: 'publishedAt'
                    // },
                    {
                        text: this.$t('Status'),
                        value: 'postStatus',
                        align: 'center',
                        // defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Featured'),
                        value: 'isFeatured',
                        sortable: false,
                        width: '75px'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '90px',
                        sortable: false
                    }
                ],
                filterField: FILTER_POST,
                filter: [],
                showFilter: false,
                searchText: undefined,
                operatorGroup: 'AND',
                filterStatus: {
                    field: 'postStatus',
                    operator: 'in',
                    value: [
                        'publish',
                        'private',
                        'draft'
                    ]
                },
                filterStatusSelected: 'all',
                status: {
                    draft: {
                        label: this.$t('Drafts'),
                        color: 'orange'
                    },
                    publish: {
                        label: this.$t('Published'),
                        color: 'primary'
                    },
                    private: {
                        label: this.$t('Private'),
                        color: 'green'
                    },
                    trash: {
                        label: this.$t('Trash'),
                        color: 'red'
                    }
                }
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [
                        {
                            operator: this.operatorGroup,
                            items: this.filter
                        },
                        this.filterStatus
                    ];
                }
                return [
                    {
                        operator: this.operatorGroup,
                        items: this.filter
                    },
                    {
                        field: 'name',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    },
                    this.filterStatus
                ];
            }
        },
        methods: {
            isEqual(a, b) {
                return _.isEqual(a, b);
            },
            click() {

            },
            toggleFilter() {
                this.showFilter = ! this.showFilter;
                if ( ! this.showFilter && this.filter.length ) {
                    this.filter = [];
                }
            },
            changeStatus(value, name) {
                this.filterStatus = {
                    field: 'postStatus',
                    operator: 'in',
                    value: value
                };
                this.filterStatusSelected = name ? name : value;
            }
        }
    };
</script>
