<template>
    <v-container
        fluid
        grid-list-lg>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <v-layout
                class="mt-1"
                row
                wrap>
                <v-flex
                    md3
                    xs12
                >
                    <Box class="text-sm-center">
                        <Upload v-model="form.avatar"/>
                    </Box>
                </v-flex>
                <v-flex
                    md9
                    xs12
                >
                    <v-tabs
                        slider-color="green"
                    >
                        <v-tab ripple>
                            {{ $t('Profile user') }}
                        </v-tab>
                        <v-tab-item>
                            <Box>
                                <div>
                                    <v-text-field
                                        :error="!!errors.name"
                                        :error-messages="errors.name"
                                        :label="$t('Full Name')"
                                        :rules="[v => !!v || $t('Fullname is required')]"
                                        v-model="form.name"
                                    />
                                    <v-text-field
                                        :error="!!errors.email"
                                        :error-messages="errors.email"
                                        :label="$t('Email')"
                                        :rules="[v => !!v || $t('Email is required')]"
                                        v-model="form.email"
                                    />
                                    <v-text-field
                                        :error="!!errors.phone"
                                        :error-messages="errors.phone"
                                        :label="$t('Phone')"
                                        :rules="[v => !!v || $t('Phone is required')]"
                                        v-model="form.phone"
                                    />
                                    <SelectRole
                                        :error="!!errors.roles"
                                        :error-messages="errors.roles"
                                        :label="$t('Role')"
                                        :rules="[v => !!v || $t('Role is required')]"
                                        v-model="form.roles"
                                    />
                                    <Gender v-model="form.gender"/>
                                    <DateOfBirth v-model="form.dob"/>
                                    <GeneratePassword
                                        :error="!!errors.password"
                                        :error-messages="errors.password"
                                        :label="$t('Password')"
                                        v-model="form.password"
                                    />
                                </div>
                                <br>
                                <div class="text-sm-center">
                                    <v-btn
                                        color="success"
                                        @click.stop="save">
                                        <v-icon left>save</v-icon>
                                        Update
                                    </v-btn>
                                </div>
                            </Box>
                        </v-tab-item>
                    </v-tabs>

                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import Upload from '../../../components/helper/Upload';
    import Box from '../../../components/material/Box';
    import Card from '../../../components/material/Card';
    import DateOfBirth from '../../../components/material/DateOfBirth';
    import SelectRole from '../../../components/select/SelectRole';
    import Gender from '../../../components/material/Gender';
    import { FETCH_USER } from '../../../apollo/query/user';
    import { UPDATE_USER } from '../../../apollo/mutation/user';
    import GeneratePassword from '../../../components/views/user/GeneratePassword';

    export default {
        components: { GeneratePassword, Gender, SelectRole, DateOfBirth, Card, Box, Upload },
        data() {
            return {
                valid: true,
                loading: false,
                form: {},
                errors: {},
                radios: 1,
            }
        },
        apollo: {
            data() {
                return {
                    query: FETCH_USER,
                    variables: { id: this.$route.params.id },
                    fetchPolicy: 'network-only',
                    result({ data, loading, networkStatus }) {
                        this.form = { ...data.data };
                        try {
                            this.form.roles = data.data.roles[0].id;
                        } catch (e) {
                        }
                    },
                }
            }
        },
        methods: {
            save() {
                if ( this.validateOnFocusForm() ) {
                    this.fetchAPI();
                }
            },
            fetchAPI(callback) {
                return this.serviceHttp.updateFetch(UPDATE_USER, { ...this.form }, callback);
            }
        }
    };
</script>

<style scoped>

</style>