<template>
    <v-container
        grid-list-lg>
        <v-tabs
            slider-color="green"
        >
            <v-tab
                ripple
            >
                Detail
            </v-tab>
            <v-tab
                ripple
            >
                Settings
            </v-tab>
            <v-tab-item
            >
                <v-layout
                    row
                    wrap
                    ma-0
                >
                    <v-flex xs5>
                        <Box>
                            <v-form
                                ref="form"
                                v-model="valid"
                                lazy-validation
                            >
                                <FormLanguage
                                    :errors="errors"
                                    v-model="form"
                                />
                                <br>
                                <div v-if="!form.id">
                                    <v-btn
                                        :loading="loading"
                                        class="v-btn-facebook"
                                        @click="submitForm">
                                        {{ $t('Add new language') }}
                                    </v-btn>
                                </div>
                                <div v-else>
                                    <v-btn
                                        :loading="loading"
                                        class="v-btn-facebook"
                                        @click="submitForm">
                                        {{ $t('Update') }}
                                    </v-btn>
                                </div>
                            </v-form>
                        </Box>
                    </v-flex>
                    <v-flex xs7>
                        <Table
                            :headers="headers"
                            :query="query"
                            :title="$t('Languages')"
                            hide-checkbox
                        >
                            <template v-slot:toolbar-right="{apollo}">
                                <v-spacer/>
                                <v-btn
                                    depressed
                                    @click="apollo.refetch()">
                                    <v-icon
                                        left
                                    >refresh
                                    </v-icon>
                                    {{ $t('Refresh') }}
                                </v-btn>
                            </template>
                            <template v-slot:items="{selected, item}">
                                <td class="text-sm-left">{{ item.name }}</td>
                                <td class="text-sm-left">
                                    <v-avatar
                                        :size="20"
                                        color="grey lighten-4"
                                        tile
                                    >
                                        <img
                                            :src="item.flag"
                                            alt="avatar">
                                    </v-avatar>
                                </td>
                                <td class="text-sm-left">{{ item.code }}</td>
                                <td class="text-sm-left">{{ item.locale }}</td>
                                <td class="text-sm-center">
                                    <v-btn
                                        :color="item.default ? 'indigo': 'grey lighten-1'"
                                        text
                                        icon
                                        @click.stop="changeDefaultLanguage(item)"
                                    >
                                        <v-icon>star</v-icon>
                                    </v-btn>
                                </td>
                                <!--<td class="text-sm-left"><DateFormat :value="item.createdAt"/> </td>-->
                                <td class="text-sm-right">
                                    <ButtonActionTooltip
                                        :title="$t('Edit')"
                                        color="indigo"
                                        icon="edit"
                                        @click="changeVal(item)"/>
                                    <ButtonActionDelete
                                        :gql="deleteMutation"
                                        :item="item"
                                        color="red"
                                        icon="delete"
                                        refetch-queries="languages"/>
                                </td>
                            </template>
                        </Table>
                    </v-flex>
                </v-layout>
            </v-tab-item>
            <v-tab-item
            >
                <SettingLanguage/>
            </v-tab-item>
        </v-tabs>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import { FETCH_LANGUAGES } from '../../apollo/query/language';
    import Box from '../../components/material/Box';
    import FormLanguage from '../../components/views/language/FormLanguage';
    import { CREATE_LANGUAGE, DELETE_LANGUAGE, UPDATE_LANGUAGE } from '../../apollo/mutation/language';
    import SettingLanguage from '../../components/views/language/SettingLanguage';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';

    export default {
        components: { ButtonActionDelete, SettingLanguage, FormLanguage, Box, DateFormat, ButtonActionTooltip, Table },
        data() {
            return {
                query: FETCH_LANGUAGES,
                deleteMutation: DELETE_LANGUAGE,
                selected: [],
                headers: [
                    {
                        text: this.$t('Name'),
                        value: 'name'
                    },
                    {
                        text: this.$t('Flag'),
                        align: 'left',
                        value: 'flag',
                        width: '40px'
                    },
                    {
                        text: this.$t('Code'),
                        value: 'code',
                        width: '40px'
                    },
                    {
                        text: this.$t('Locale'),
                        value: 'locale',
                        width: '40px'
                    },
                    {
                        text: this.$t('Default language'),
                        value: 'default',
                        width: '40px'
                    },

                    /*{
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },*/
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '110px',
                        sortable: false
                    }
                ],
                form: {
                    direction: 1
                },
                errors: {},
                valid: true,
                loading: false
            };
        },
        methods: {
            submitForm() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.id ) {
                        this.updateLanguage(() => {
                            this.form = {
                                direction: 1
                            };
                            this.$refs.form.resetValidation();
                        });
                    } else {
                        this.createLanguage(() => {
                            this.form = {
                                direction: 1
                            };
                            this.$refs.form.resetValidation();
                        });
                    }
                }
            },
            changeVal(val) {
                this.form = { ...val };
            },
            updateLanguage(callback) {
                this.serviceHttp.updateFetch(UPDATE_LANGUAGE, { ...this.form }, callback);
            },
            changeDefaultLanguage(item) {
                this.serviceHttp.updateRefetch({
                    mutation: UPDATE_LANGUAGE,
                    variables: {
                        id: item.id,
                        default: true
                    },
                    refetchQueries: ['languages']
                });
            },
            createLanguage(callback) {
                this.serviceHttp.createFetch({
                    mutation: CREATE_LANGUAGE,
                    variables: { ...this.form },
                    refetchQueries: ['languages']
                }, callback);
            }
        }
    };
</script>
