<template>
    <v-layout
        row
        wrap>
        <v-flex xs12>
            <div class="title">
                Color
            </div>
            <ColorPicker v-model="form.backgroundColor">Background</ColorPicker>
            <br>
            <ColorPicker v-model="form.color">Text</ColorPicker>
        </v-flex>
        <v-flex>
            <v-divider/>
        </v-flex>
        <v-flex xs12>
            <div class="title">
                Content
            </div>
            <v-expansion-panels
                ref="contents"
                v-model="panel">
                <div
                    v-sortable="sortable"
                    style="display: contents;">
                    <v-expansion-panel
                        v-for="item in form.contents"
                        :key="item.id"
                        :data="item"
                        :id="item.heading"
                    >
                        <v-expansion-panel-header>
                            <v-list-item
                                style="margin: -16px -16px -16px -24px;"
                            >
                                <v-list-item-action
                                    class="ml-0"
                                    style="min-width: 30px; cursor: grab; margin-right: 0;">
                                    <v-icon
                                        color="#222"
                                    >
                                        mdi-drag
                                    </v-icon>
                                </v-list-item-action>
                                <v-list-item-avatar>
                                    <v-icon>{{ icons[item.type] }}</v-icon>
                                </v-list-item-avatar>
                                <v-list-item-title>{{ item.heading }}</v-list-item-title>
                            </v-list-item>
                        </v-expansion-panel-header>
                        <v-divider/>
                        <v-expansion-panel-content>
                            <br>
                            <v-card>
                                <v-card-text>
                                    <TextAction
                                        :form="item"
                                        :type="item.type"
                                    />
                                    <MenuAction
                                        :form="item"
                                        :type="item.type"
                                    />
                                    <NewsletterAction
                                        :form="item"
                                        :type="item.type"
                                    />
                                    <SocialAction
                                        :form="item"
                                        :type="item.type"
                                    />
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn @click="removeContent(item)">Remove</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </div>
                <v-expansion-panel
                    v-if="form.contents && form.contents.length < 4"
                    readonly
                    class="ignore-elements"
                >
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                            <v-expansion-panel-header
                                expand-icon=""
                                v-on="on"
                            >
                                <v-list-item
                                    style="margin: -16px; color:rgba(10, 69, 122, 0.8);"
                                >
                                    <v-list-item-avatar>
                                        <v-icon color="rgba(10, 69, 122, 0.8)">mdi-plus-box-outline</v-icon>
                                    </v-list-item-avatar>
                                    <v-list-item-title>Add content</v-list-item-title>
                                </v-list-item>
                            </v-expansion-panel-header>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, index) in items"
                                :key="index"
                                @click="addContent(item)"
                            >
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-flex>
    </v-layout>
</template>

<script>
    import Upload from '../../../helper/Upload';
    import ImagePicker from '../ImagePicker';
    import _ from 'lodash';
    import ColorPicker from '../ColorPicker';
    import TextAction from './Actions/TextAction';
    import MenuAction from './Actions/MenuAction';
    import NewsletterAction from './Actions/NewsletterAction';
    import TextField from '../TextField';
    import SocialAction from './Actions/SocialAction';
    import { arrayMove } from '../../../utils/utils';

    const uuid = require('uuid');

    export default {
        name: 'FooterThemeHomePage',
        components: {
            SocialAction,
            TextField,
            NewsletterAction,
            MenuAction,
            TextAction,
            ColorPicker,
            ImagePicker,
            Upload
        },
        props: {
            value: {
                type: Object,
                default() {
                    return {};
                }
            },
            settings: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                sortable: {
                    filter: '.ignore-elements,.ck-editor',
                    handle: '.v-expansion-panel',
                    onUpdate: this.work
                },
                form: {},
                defaults: {
                    color: '#000',
                    backgroundColor: '#fff',
                    contents: []
                },
                items: [
                    {
                        type: 'text',
                        title: 'Text',
                        heading: 'Talk about your business',
                        text: 'Talk about your business',
                    },
                    {
                        type: 'social',
                        title: 'Social',
                        heading: 'Social',
                        text: 'Talk about your business',
                    },
                    {
                        type: 'menu',
                        title: 'Menu',
                        heading: 'Quick links',
                        text: '1',
                    },
                    {
                        type: 'newsletter',
                        title: 'Newsletter',
                        heading: 'Newsletter',
                        text: 'Newsletter',
                    }
                ],
                icons: {
                    text: 'mdi-text-recognition',
                    menu: 'mdi-link-variant',
                    newsletter: 'mdi-email-outline',
                    social: 'share',
                },
                panel: undefined
            };
        },
        watch: {
            form: {
                handler(val, old) {
                    this.$emit('input', val);
                },
                deep: true
            },
            value(val, old) {
                if ( JSON.stringify(old), JSON.stringify(val) !== JSON.stringify(old) ) {
                    this.form = {
                        ..._.defaultsDeep(val, this.defaults)
                    }
                }
            }
        },
        created() {
            this.form = {
                ..._.defaultsDeep(this.value, this.defaults)
            }
        },
        methods: {
            work(e) {
                console.log('work');
                this.form.contents = arrayMove(this.form.contents, e.oldIndex, e.newIndex);
            },
            click() {
                console.log('???')
            },
            addContent(item) {
                this.form.contents.push({
                    id: uuid.v4(),
                    ...item
                });
                this.panel = this.form.contents.length;
            },
            removeContent(item) {
                this.form.contents = this.form.contents.filter(x => x !== item);
                this.panel = undefined;
            }
        }
    };
</script>

<style scoped>

</style>