<template>
    <v-layout
        row
        wrap>
        <v-flex xs12>
            <div>
                <v-subheader class="pl-0">
                    {{ $t('Logo') }}
                </v-subheader>
            </div>
            <ImagePicker v-model="form.logo"/>
        </v-flex>
        <v-flex xs12>
            <v-subheader class="pl-0">
                {{ $t('Custom logo width') }}
            </v-subheader>
            <v-slider
                :label="`${form.width}px`"
                v-model="form.width"
                class="mt-0"
                hide-details
                inverse-label
                max="400"
                min="50"
            />
        </v-flex>
    </v-layout>
</template>

<script>
    import Upload from '../../../helper/Upload';
    import ImagePicker from '../ImagePicker';
    import _ from 'lodash';

    export default {
        name: 'HeaderThemeHomePage',
        components: { ImagePicker, Upload },
        props: {
            value: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                form: {}
            };
        },
        watch: {
            form: {
                handler(val, old) {
                    this.$emit('input', val);
                },
                deep: true
            },
            value(val, old) {
                if ( JSON.stringify(old), JSON.stringify(val) !== JSON.stringify(old) ) {
                    this.form = {
                        ..._.defaultsDeep(val, {
                            width: 100,
                            logo: {}
                        })
                    }
                }
            }
        },
        created() {
            this.form = {
                ..._.defaultsDeep(this.value, {
                    width: 100,
                    logo: {}
                })
            };
        },
        methods: {
            click() {
            }
        }
    };
</script>

<style scoped>

</style>