<template>
    <v-tooltip
        top
    >
        <template v-slot:activator="{ on }">
            <nuxt-link
                v-if="nuxt"
                :to="to"
                v-bind="$attrs">
                <v-btn
                    :color="color"
                    text
                    icon
                    v-on="mapListener(on, $listeners)"
                >
                    <v-icon class="action-icon">{{ icon }}</v-icon>
                </v-btn>
            </nuxt-link>
            <v-btn
                v-else
                :color="color"
                v-bind="$attrs"
                text
                icon
                v-on="mapListener(on, $listeners)"
            >
                <slot name="icon">
                    <v-icon class="action-icon">{{ icon }}</v-icon>
                </slot>
            </v-btn>
        </template>
        <span>{{ title }}</span>
        <slot/>
    </v-tooltip>
</template>

<script>
    export default {
        name: 'ButtonActionTooltip',
        inheritAttrs: false,
        props: {
            to: {
                type: [String, Object],
                default: '/'
            },
            icon: {
                type: String,
                default: undefined
            },
            title: {
                type: String,
                default: undefined
            },
            color: {
                type: String,
                default: undefined
            },
            nuxt: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                show: false
            };
        },
        methods: {
            click() {

            },
            mapListener(arg1, arg2) {
                return { ...arg1, ...arg2 };
            },
        }
    };
</script>

<style scoped>
    .action-icon{
        font-size: 18px !important;
    }
</style>