<template>
    <ButtonActionTooltip
        :title="$t('Delete')"
        color="red"
        icon="delete"
        @click.stop="dialog = true">
        <DialogConfirm
            :accept-text="$t('Delete')"
            :cancel-text="$t('Cancel')"
            :loading="loading"
            :max-width="maxWidth"
            :message="message"
            :title="title"
            v-model="dialog"
            @ok="deleteRow"
        />
    </ButtonActionTooltip>
</template>

<script>
    import ButtonActionTooltip from './ButtonActionTooltip';
    import DialogConfirm from '../dialog/DialogConfirm';

    export default {
        name: 'ButtonActionDelete',
        components: { DialogConfirm, ButtonActionTooltip },
        props: {
            gql: {
                type: [Object],
                default: null,
                isRequired: true
            },
            item: {
                type: [String, Object],
                default: null,
                isRequired: true
            },
            message: {
                type: String,
                default() {
                    return this.$t('Do you really want to delete this record?')
                }
            },
            title: {
                type: String,
                default() {
                    return this.$t('Confirm delete')
                }
            },
            refetchQueries: {
                type: [String, Array],
                default() {
                    return []
                }
            },
            maxWidth: {
                type: [Number, String],
                default: 290
            }
        },
        data() {
            return {
                dialog: false,
                loading: false,
            }
        },
        methods: {
            deleteRow() {
                if ( this.loading ) return;

                this.loading = true;

                let refetchQueries = this.refetchQueries;
                if ( ! Array.isArray(this.refetchQueries) ) {
                    refetchQueries = [refetchQueries];
                }

                return this.serviceHttp.deleteFetch(this.gql, this.item.id, refetchQueries).finally(() => {
                    this.loading = false;
                    this.dialog = false;
                });
            }
        }
    };
</script>

<style scoped>

</style>