<template>
    <v-container
        fluid
        grid-list-lg
    >
        <v-layout row>
            <v-flex
                xs8>
                <Box :title="$t('Custom CSS')">
                    <no-ssr>
                        <codemirror
                            :options="cmOptions"
                            v-model="code"/>
                    </no-ssr>
                    <p class="caption grey--text">
                        Using Ctrl + Space to auto complete.
                    </p>
                </Box>
            </v-flex>
            <v-flex
                xs4>
                <Box :title="$t('Publish')">
                    <v-btn class="v-btn-facebook">
                        {{ $t('Save') }}
                    </v-btn>
                    <v-btn color="success">
                        {{ $t('Save && Edit') }}
                    </v-btn>
                </Box>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Box from '../../components/material/Box';

    export default {
        components: { Box },
        data() {
            return {
                code: `/* Bạn có thể thêm CSS ở đây. */
.asds{

}
`,
                cmOptions: {
                    // codemirror options
                    extraKeys: { 'Ctrl-Space': 'autocomplete' },
                    tabSize: 4,
                    styleActiveLine: true,
                    lineNumbers: true,
                    line: true,
                    mode: 'text/css',
                    theme: 'paraiso-light'
                    // theme: 'base16-dark',
                    // more codemirror options, 更多 codemirror 的高级配置...
                }
            }
        }
    };
</script>

<style scoped>

</style>