<template>
    <v-container grid-list-lg>
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >
            <div
                class="toolbar-form-post"
            >
                <h3 class="font-weight-regular">{{ $t('Edit orders') }}</h3>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Discard') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Save') }}
                </v-btn>
            </div>
            <div>
                <v-btn
                    class="text-capitalize"
                    text
                    small
                >
                    <v-icon left>print</v-icon>
                    {{ $t('Print') }}
                </v-btn>

                <v-btn
                    class="text-capitalize ma-2"
                    text
                    small
                    to="/order/form/refund/13"
                >
                    <v-icon left>undo</v-icon>
                    {{ $t('Refund') }}
                </v-btn>
                <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn
                            class="text-capitalize font-weight-regular"
                            text
                            small
                            v-on="on"
                        >
                            {{ $t('More actions') }}
                            <v-icon right>keyboard_arrow_down</v-icon>
                        </v-btn>
                    </template>
                    <v-list
                        class="order-more-actions"
                    >
                        <v-list-item
                            @click="click"
                        >
                            <v-list-item-action>
                                <v-icon>
                                    mdi-content-duplicate
                                </v-icon>
                            </v-list-item-action>
                            <v-list-item-title>
                                {{ $t('Duplicate') }}
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            @click="click"
                        >
                            <v-list-item-action>
                                <v-icon>mdi-archive</v-icon>
                            </v-list-item-action>
                            <v-list-item-title>
                                {{ $t('Archive') }}
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            @click="click"
                        >
                            <v-list-item-action>
                                <v-icon>mdi-close</v-icon>
                            </v-list-item-action>
                            <v-list-item-title>
                                Hủy đơn
                            </v-list-item-title>
                        </v-list-item>

                    </v-list>
                </v-menu>
            </div>
            <FormToolbar container>
                <v-spacer/>
                <v-btn
                    text
                    @click="saveToDraft"
                >
                    {{ $t('Cancel') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook"
                    @click="publish">
                    {{ $t('Save') }}
                </v-btn>
            </FormToolbar>
            <FormOrder
                v-model="form"
                @save="publish"
            >
                <template slot="submit">
                    <div/>
                </template>
                <template slot="customField">
                    <div/>
                </template>
            </FormOrder>
        </v-form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <v-overlay :value="loading">
            <v-progress-circular
                :size="50"
                indeterminate
                color="primary"
            />
        </v-overlay>
    </v-container>
</template>

<script>
    import { FETCH_ORDER } from '../../../../apollo/query/order';
    import Card from '../../../../components/material/Card';
    import FormToolbar from '../../../../components/material/FormToolbar';
    import Toolbar from '../../../../components/core/Toolbar';
    import FormOrder from '../../../../components/views/order/FormOrder';
    import _ from 'lodash';
    import { UPDATE_ORDER } from '../../../../apollo/mutation/order';
    import { deMeta, enMeta } from '../../../../components/utils/utils';

    export default {
        components: { FormOrder, Toolbar, FormToolbar, Card },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    postPassword: '',
                    categories: [],
                    tags: [],
                    postStatus: 'publish',
                    avatar: undefined,
                    commentStatus: 'open'
                }
            };
        },
        apollo: {
            order: function() {
                return {
                    query: FETCH_ORDER,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'cache-and-network',
                    result({ data }) {
                        if ( ! (data && data.order) ) {
                            return;
                        }
                        if ( ! data.order ) {
                            return;
                        }
                        this.form = { ...data.order };

                        const { billingAddress, shippingAddress } = this.form;

                        this.form.billingAddress = _.omit(billingAddress, ['__typename']);

                        this.form.shippingAddress = _.omit(shippingAddress, ['__typename']);

                        if ( ! Array.isArray(data.order.meta) ) {
                            return;
                        }
                        enMeta(this.form, data.order.meta);
                    }
                };
            }
        },
        methods: {
            formatForm() {
                let _form = _.cloneDeep(this.form);

                let meta = deMeta(_form);

                let tags = [];

                if ( Array.isArray(_form.tags) ) {
                    tags = _form.tags.map(i => (i.text));
                }

                let items = _form.items.map(x => {
                    x.name = x.getName();
                    x.image = x.getImage();
                    return _.pick(x, [
                        'id',
                        'orderId',
                        'productBranchId',
                        'sku',
                        'code',
                        'name',
                        'image',
                        'price',
                        'quantity',
                        'discount',
                        'discountType',
                        'tax',
                        'reward',
                        'type',
                        'items',
                        'methodId',
                        'instanceId'
                    ]);
                });

                if ( _form.shipping && _.isInteger(_form.shipping.methodId) ) {
                    _form.shipping = _.pick(_form.shipping, ['id', 'name', 'price', 'methodId', 'methodType']);
                } else {
                    _.unset(_form, 'shipping');
                }

                return {
                    ..._form,
                    meta,
                    tags,
                    items,
                    customerId: _form.user ? _form.user.id : null,
                    taxValue: _form.taxes ? _form.taxValue : 0
                }
            },
            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                return this.serviceHttp.updateFetch(UPDATE_ORDER, variables, callback);
            },
            saveToDraft() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = { ...this.form, postStatus: 'draft' };
                    }

                    this.$apollo.queries.order.refetch();

                    /* this.handleSave((data) => {
                         this.$router.push({
                             path: '/post/form/edit/' + data.postCreate.id
                         });
                     });*/
                }
            },
            publish() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = { ...this.form, postStatus: 'publish' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            // path: '/post/form/edit/' + data.postCreate.id
                        });
                    });
                }
            },
            click() {
            }
        }
    };
</script>

<style scoped>
    .form-post {
    }

    .toolbar-form-post {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>
<style lang="scss">
    .order-more-actions {
        min-width: 180px;

        .v-list__tile {
            height: 42px;
        }

        .v-list__tile__action {
            min-width: 35px;
        }
    }
</style>