<template>
    <v-container
        grid-list-lg
        style="max-width: 900px;"
    >
        <Card
            :title="$t('SMTP Settings')"
            color="green">
            <v-tabs
                v-model="active"
                color="cyan"
                dark
                slider-color="yellow"
            >
                <v-tab

                    ripple
                >
                    {{ $t('SMTP Settings') }}
                </v-tab>
                <v-tab

                    ripple
                >
                    {{ $t('Test email') }}
                </v-tab>

                <v-tab-item
                >
                    <Box
                        :elevation="0"
                        :title="$t('SMTP Configuration Settings')">
                        <p v-text="$t('You can request your hosting provider for the SMTP details of your site. Use the SMTP details provided by your hosting provider to configure the following settings.')"/>
                        <v-layout column>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4>
                                        <v-subheader v-text="$t('SMTP Host')"/>
                                    </v-flex>
                                    <v-flex xs8>
                                        <v-text-field
                                            :label="$t('Host')"
                                            v-model="form.SMTPHost"
                                        />
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4>
                                        <v-subheader v-text="$t('Encryption')"/>
                                    </v-flex>
                                    <v-flex xs8>
                                        <v-select
                                            :items="['SSL','TLS']"
                                            :value="'SSL'"
                                            v-model="form.SMTPEncryption"
                                            label="Standard"
                                            single-line
                                        />
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4>
                                        <v-subheader v-text="$t('SMTP Port')"/>
                                    </v-flex>
                                    <v-flex xs8>
                                        <v-text-field
                                            :label="$t('Port')"
                                            v-model="form.SMTPPort"
                                        />
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4>
                                        <v-subheader v-text="$t('SMTP Username')"/>
                                    </v-flex>
                                    <v-flex xs8>
                                        <v-text-field
                                            :label="$t('Username')"
                                            v-model="form.SMTPUsername"
                                        />
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4>
                                        <v-subheader v-text="$t('SMTP Password')"/>
                                    </v-flex>
                                    <v-flex xs8>
                                        <v-text-field
                                            :label="$t('Password')"
                                            v-model="form.SMTPPassword"
                                        />
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4>
                                        <v-subheader v-text="$t('Sender name')"/>
                                    </v-flex>
                                    <v-flex xs8>
                                        <v-text-field
                                            :label="$t('Name')"
                                            v-model="form.SMTPSenderName"
                                        />
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4>
                                        <v-subheader v-text="$t('Sender email')"/>
                                    </v-flex>
                                    <v-flex xs8>
                                        <v-text-field
                                            :label="$t('Email')"
                                            v-model="form.SMTPSenderEmail"
                                        />
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                        <v-btn
                            :loading="loading"
                            class="v-btn-facebook"
                            @click="saveChanges">
                            {{ $t('Save changes') }}
                        </v-btn>
                    </Box>
                </v-tab-item>
                <v-tab-item
                >
                    <TestEmail/>
                </v-tab-item>

            </v-tabs>
        </Card>
    </v-container>
</template>

<script>
    import Card from '../../../components/material/Card';
    import Box from '../../../components/material/Box';
    import { OPTION_EMAIL } from '../../../apollo/query/email';
    import { OPTION_EMAIL_UPDATE } from '../../../apollo/mutation/email';
    import TestEmail from '../../../components/views/settings/TestEmail';

    export default {
        components: { TestEmail, Box, Card },
        data() {
            return {
                active: 0,
                form: {},
                errors: {},
                loading: false
            }
        },
        apollo: {
            optionEmail() {
                return {
                    query: OPTION_EMAIL,
                    result({ data, loading, networkStatus }) {
                        if ( data.optionEmail ) {
                            this.form = data.optionEmail;
                        }
                    }
                }
            }
        },
        methods: {
            saveChanges() {
                this.serviceHttp.updateFetch(OPTION_EMAIL_UPDATE, { ...this.form });
            }
        }
    };
</script>

<style scoped>

</style>