<template>
    <v-container
        grid-list-lg
    >
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >
            <div class="toolbar-form-product">
                <h3 class="font-weight-regular">{{ $t('Edit product') }}</h3>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </div>
            <FormToolbar container>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </FormToolbar>
            <FormProduct
                :key="formKey"
                :product-all-attribute="allAttribute"
                v-model="form">
                <template slot="submit">
                    <div/>
                </template>
                <template slot="customField">
                    <SeoBox :form="form"/>
                </template>
            </FormProduct>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../../components/material/Card';
    import FormPost from '../../../../components/views/post/FromPost';
    import FormToolbar from '../../../../components/material/FormToolbar';
    import Toolbar from '../../../../components/core/Toolbar';
    import FormProduct from '../../../../components/views/product/FromProduct';
    import { UPDATE_PRODUCT } from '../../../../apollo/mutation/product';
    import { convertStringToNumber, deMeta, enMeta, formatValues } from '../../../../components/utils/utils';
    import _ from 'lodash';
    import { ALL_ATTRIBUTE, PRODUCT_DETAIL } from '../../../../apollo/query/product';
    import SeoBox from '../../../../components/Box/SeoBox';

    export default {
        components: { SeoBox, FormProduct, Toolbar, FormToolbar, FormPost, Card },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    productTypeId: '1',
                    branches: [{}],
                    images: [],
                },
                master: {},
                allAttribute: [],
                formKey: 1,
                init: 0
            };
        },
        apollo: {
            data: function() {
                return {
                    query: PRODUCT_DETAIL,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data && data.data ) {
                            if ( ! data.data ) {
                                return;
                            }
                            this.reloadForm().then(() => {
                                this.form = this.formatFormInput(data.data);
                                this.master = data.data;
                            });
                        }
                    }
                };
            },
            productAllAttribute: function() {
                return {
                    query: ALL_ATTRIBUTE,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        this.allAttribute = _.cloneDeep(data.productAllAttribute);
                    }
                }
            }
        },
        methods: {
            reloadForm(fn) {
                if ( this.init === 1 ) {
                    this.formKey = this.formKey + 1;
                }
                this.init = 1;

                return new Promise(resolve => {
                    this.$nextTick(() => {
                        fn && fn();
                        resolve();
                    });
                })
            },
            formatForm() {
                let _form = _.cloneDeep(this.form);

                let meta = deMeta(_form);

                let tags = [];
                if ( Array.isArray(_form.tags) ) {
                    tags = _form.tags.map(i => (i.text));
                }

                if ( ! _form && _form.branches && _form.branches.length > 0 ) {
                    console.log('Product Error');
                }

                const hasAttribute = _form.branches.length && _form.branches[0].attributes && _form.branches[0].attributes.length;

                if ( ! hasAttribute ) {
                    formatValues(_form, [
                        'price',
                        'priceSale',
                        'inventory.quantity',
                        'weight',
                        'length',
                        'width',
                        'height'
                    ], convertStringToNumber);
                    _form.branches = [
                        {
                            ..._.pick(_form, [
                                'code',
                                'sku',
                                'price',
                                'priceSale',
                                'weight',
                                'length',
                                'width',
                                'height',
                                'requiresShipping',
                            ]),
                            id: _.head(this.master.branches).id,
                            inventory: _.pick(_form.inventory, ['quantity']),
                            images: !Array.isArray(_form.images) ? [] : _form.images.map(image => _.pick(image, ['thumbnailId', 'image'])),
                        }
                    ];
                } else {
                    let images = _form.images;
                    _form.branches = _form.branches.map(branch => {
                        formatValues(branch, [
                            'price',
                            'priceSale',
                            'inventory',
                            'weight',
                            'length',
                            'width',
                            'height'
                        ], convertStringToNumber);
                        branch = _.pick(branch, [
                            'id',
                            'code',
                            'sku',
                            'price',
                            'priceSale',
                            'inventory',
                            'weight',
                            'length',
                            'width',
                            'height',
                            'attributes',
                            'requiresShipping',
                        ]);
                        branch.inventory = _.pick(branch.inventory, ['quantity']);

                        if ( _form.imageType ) {
                            let attr = _.find(branch.attributes, ['groupName', _form.imageType]);
                            if ( attr && Array.isArray(images[attr.name]) ) {
                                branch.images = images[attr.name].map(image => _.pick(image, ['thumbnailId', 'image'])) || [];
                            } else {
                                branch.images = [];
                            }
                        } else {
                            if ( Array.isArray(images) ) {
                                branch.images = images.map(image => _.pick(image, ['thumbnailId', 'image']));
                            } else {
                                branch.images = [];
                            }
                        }

                        return _.omit(branch, ['active']);
                    });
                    if ( this.master.branches.length === 1 ) {
                        _form.branches[0].id = this.master.branches[0].id;
                    }
                }

                if (hasAttribute) {
                    _form.kind = 'branch';
                }

                return {
                    ..._form,
                    meta,
                    tags
                };
            },
            formatFormInput(data) {
                let _form = _.cloneDeep(data);

                _form.branches = _form.branches.map(x => {
                    if ( ! Array.isArray(x.attributes) ) {
                        return x;
                    }
                    return {
                        ...x,
                        attributes: x.attributes.map(item => {
                            return {
                                groupName: item.group.name,
                                name: item.attribute.name
                            }
                        })
                    };
                });

                if ( _form.branches.length === 1 ) {
                    _form = { ..._form, ..._.omit(_.head(_form.branches), 'id') }
                }

                if ( ! _form.imageType ) {
                    _form.images = _.head(_form.branches).images;
                } else {
                    _form.images = {};
                    for( let x of data.branches ) {
                        let attr = _.find(x.attributes, (x) => {
                            return x.group.name.toUpperCase() === _form.imageType.toUpperCase();
                        })
                        if ( ! attr ) continue;
                        let name = attr.attribute.name;
                        _form.images[name] = x.images;
                    }
                }

                if ( ! Array.isArray(_form.categories) ) {
                    _form.categories = [];
                } else {
                    _form.categories = _form.categories.map(i => (i.id));
                }

                if ( Array.isArray(_form.meta) ) {
                    enMeta(_form, _form.meta);
                }

                return _form;
            },

            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                return this.serviceHttp.updateRefetch({
                    mutation: UPDATE_PRODUCT,
                    variables: variables,
                    refetchQueries: ['product_master', 'product_all_attribute']
                }, callback);
            },
            saveToDraft() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.productStatus !== 'private' ) {
                        this.form = { ...this.form, productStatus: 'draft' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            // path: '/product/form/edit/' + data.productCreate.id
                            path: '/product/list'
                        });
                    });
                }
            },
            publish() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.productStatus !== 'private' ) {
                        this.form = { ...this.form, productStatus: 'publish' };
                    }

                    this.handleSave((data) => {
                        this.form = this.formatFormInput(data.productUpdate);
                        this.master = data.productUpdate;

                        /*this.$router.push({
                            // path: '/product/form/edit/' + data.productCreate.id
                            path: '/product/list'
                        });*/
                    });
                }
            },
            update() {
                if ( this.validateOnFocusForm() ) {
                    this.handleSave();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .toolbar-form-product {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>
