<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container
        fluid
        grid-list-lg>
        <Table
            :delete-mutation="deleteMutation"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('All products')"
            delete-refetch-queries="product_branches"
        >
            <template v-slot:toolbar-right="{ apollo }">
                <v-spacer/>
                <v-btn
                    depressed
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only Post, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">
                    <v-avatar color="teal">
                        <img
                            v-if="item.images && item.images[0]"
                            :src="item.images[0].image"
                            alt="Avatar"
                        > <span
                            v-else
                            class="white--text headline">C</span>
                    </v-avatar>
                </td>
                <td class="text-sm-left">
                    <nuxt-link
                        v-if="!item.attributes || !item.attributes.length"
                        :to="`/product/form/edit/${item.master.id}`">
                        <div>{{ item.master.name }}</div>
                    </nuxt-link>
                    <nuxt-link
                        v-else
                        :to="`/product/form/${item.master.id}/variants/${item.id}`">
                        <div>{{ item.master.name }}</div>
                        <div>{{ getStringAttribute(item.attributes) }}</div>
                    </nuxt-link>

                </td>
                <td class="text-sm-left">
                    {{ item.sku || $t('No SKU') }}
                </td>
                <td class="text-sm-left">
                    true
                </td>
                <td class="text-sm-left">
                    <div>
                        <span style="display: flex; align-items: center;">
                            {{ item.inventory && item.inventory.quantity }}
                            <template v-if="item.inventory && item.inventory.quantity !== item.inventory.adjust">
                                <v-icon>keyboard_arrow_right</v-icon>
                                <span
                                    class="v-badge">
                                    <span
                                        class="v-badge__badge orange"
                                        style="position: static; width: auto; padding: 0 3px;border-radius: 3px;">
                                        {{ item.inventory && item.inventory.adjust }}
                                    </span>
                                </span>
                            </template>
                        </span>
                    </div>
                </td>
                <td class="text-sm-center">
                    <AdjustQuantity
                        :item="item.inventory"
                        :key="item.id"
                        :product-branch-id="item.id"
                    />
                </td>

                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="'/product/form/edit/' + item.id"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <!--<ButtonActionTooltip
                        :title="$t('favorite')"
                        icon="favorite"
                        color="pink"
                    />-->
                    <ButtonActionDelete
                        :gql="deleteMutation"
                        :item="item"
                        refetch-queries="product_branches"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import { FETCH_PRODUCT_BRANCH } from '../../../apollo/query/product';
    import Table from '../../../components/table/Table';
    import DateFormat from '../../../components/helper/DateFormat';
    import ChangeOperatorGroup from '../../../components/conditions/ChangeOperatorGroup';
    import Conditions from '../../../components/conditions/Conditions';
    import ButtonActionTooltip from '../../../components/button/ButtonActionTooltip';
    import ButtonActionDelete from '../../../components/button/ButtonActionDelete';
    import AdjustQuantity from '../../../components/views/product/AdjustQuantity';

    export default {
        components: {
            AdjustQuantity,
            ButtonActionDelete,
            ButtonActionTooltip,
            Conditions,
            ChangeOperatorGroup,
            DateFormat,
            Table
        },
        data() {
            return {
                query: FETCH_PRODUCT_BRANCH,
                deleteMutation: {},

                toggleNone: 0,

                selected: [],
                headers: [
                    {
                        text: this.$t('Avatar'),
                        align: 'left',
                        sortable: false,
                        value: 'avatar',
                        width: '40px'
                    },
                    {
                        text: this.$t('Product'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Sku'),
                        align: 'left',
                        value: 'sku'
                    },
                    {
                        text: this.$t('When sold out'),
                        value: 'categories',
                        sortable: false,
                        width: '200px'
                    },
                    {
                        text: this.$t('Available'),
                        value: 'quantity',
                        width: '150px'
                    },
                    {
                        text: this.$t('Edit quantity available'),
                        value: 'quantity',
                        align: 'center',
                        sortable: false,
                        width: '380px'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '120px',
                        sortable: false
                    }
                ],
                filterField: '',
                filter: [],
                showFilter: false,
                searchText: undefined,
                operatorGroup: 'AND',

                filterStatusSelected: 'all',
                status: {
                    draft: {
                        label: this.$t('Drafts'),
                        color: 'orange'
                    },
                    publish: {
                        label: this.$t('Published'),
                        color: 'primary'
                    },
                    private: {
                        label: this.$t('Private'),
                        color: 'green'
                    },
                    trash: {
                        label: this.$t('Trash'),
                        color: 'red'
                    }
                }
            };
        },
        methods: {
            getStringAttribute(attributes) {
                if ( ! Array.isArray(attributes) ) {
                    return '';
                }

                const a = attributes.map(x => (x.attribute && x.attribute.name)).filter(x => !!x);

                return a.join('-');
            }
        }
    };
</script>
