<template>
    <v-container grid-list-lg>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <v-layout
                row
                wrap>
                <v-flex xs9>
                    <Card
                        :text="$t('Create a brand new role and add them to this site.')"
                        :title="$t('Add role')"
                        color="green">
                        <RoleControl
                            :errors="errors"
                            v-model="form"/>
                    </Card>
                    <Box :title="$t('Permission Flags')">
                        <Permissions v-model="form.permissions"/>
                    </Box>
                </v-flex>
                <v-flex
                    class="pa-2"
                    xs3>
                    <Box :title="$t('Publish')">
                        <v-btn
                            :loading="loading"
                            class="v-btn-facebook"
                            @click="validate">Save
                        </v-btn>
                        <v-btn
                            :loading="loading"
                            color="success"
                            @click="saveAndEdit">Save & Edit
                        </v-btn>
                    </Box>
                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../components/material/Card';
    import Box from '../../components/material/Box';
    import Permissions from '../../components/views/role/Permissions';
    import { CREATE_ROLE } from '../../apollo/mutation/role';
    import RoleControl from '../../components/views/role/RoleControl';
    import { FETCH_ALL_ROLE } from '../../apollo/query/role';

    export default {
        components: { RoleControl, Permissions, Box, Card },
        data() {
            return {
                valid: true,
                loading: false,
                form: {
                    permissions: []
                },
                errors: {}
            };
        },
        methods: {
            validate() {
                if ( this.validateOnFocusForm() ) {
                    this.fetchAPI(() => {
                        this.$router.push({
                            path: '/role'
                        });
                    });
                }
            },
            saveAndEdit() {
                if ( this.validateOnFocusForm() ) {
                    this.fetchAPI((data) => {
                        this.$router.push({
                            path: '/role/edit/' + data.roleCreate.id
                        });
                    });
                }
            },
            fetchAPI(callback) {
                this.serviceHttp.createFetch({
                    mutation: CREATE_ROLE,
                    variables: { ...this.form },
                    refetchQueries: [{ query: FETCH_ALL_ROLE }]
                }, callback);
            }
        }
    };
</script>

<style scoped>

</style>