<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container
        fluid
        grid-list-lg>
        <Table
            :headers="headers"
            :query="query"
            :title="$t('Role')"
            hide-checkbox
        >
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    class="mb-2"
                    color="primary"
                    dark
                    nuxt
                    to="/role/add">{{ $t('Create') }}
                </v-btn>
                <v-spacer/>
                <v-btn
                    depressed
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template v-slot:items="{selected, item}">
                <td class="text-sm-left">
                    <nuxt-link :to="'/role/edit/' + item.id">
                        {{ item.displayName }}
                    </nuxt-link>
                </td>
                <td class="text-sm-left">{{ item.description }}</td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="'/role/edit/' + item.id"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <ButtonActionDelete
                        :gql="deleteGQL"
                        :item="item"
                        :refetch-queries="['roles', {query: selectRole}]"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import { FETCH_ALL_ROLE, FETCH_ROLES } from '../../apollo/query/role';
    import { DELETE_ROLE } from '../../apollo/mutation/role';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';

    export default {
        components: { ButtonActionDelete, DateFormat, ButtonActionTooltip, Table },
        data() {
            return {
                query: FETCH_ROLES,
                selectRole: FETCH_ALL_ROLE,
                deleteGQL: DELETE_ROLE,
                selected: [],
                headers: [
                    {
                        text: this.$t('Name'),
                        align: 'left',
                        value: 'displayName',
                    },
                    {
                        text: this.$t('Description'),
                        value: 'description',

                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '110px',
                        sortable: false
                    }
                ]
            };
        }
    };
</script>
