<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container grid-list-lg>
        <Table
            :delete-mutation="deleteQuery"
            :headers="headers"
            :query="query"
            :title="$t('Comments')"
            delete-refetch-queries="comments"
            hide-toolbar
        >
            <template v-slot:toolbar-right>
                <v-btn
                    class="mb-2"
                    color="primary"
                    dark
                    nuxt
                    to="/post/create">{{ $t('Create') }}
                </v-btn>
            </template>
            <template v-slot:items="{selected, item}">
                <td class="text-sm-left">
                    <a :class="item.id">{{ item.author.name }}</a> <br> <a :href="'mailto:' + item.author.email">{{
                    item.author.email }}</a>
                </td>
                <td class="text-sm-left">{{ item.body }}</td>
                <td class="text-sm-left">
                    <div v-if="!item.responseTo">
                        --
                    </div>
                    <div v-else>
                        <div v-if="item.commentableType === 'post'">
                            <nuxt-link
                                :to="`/post/form/edit/${item.responseTo.id}${item.responseTo.parentId !== '0' ? '?story=' + item.responseTo.parentId : ''}`">
                                <strong>{{ item.responseTo.name }}</strong>
                            </nuxt-link>
                            <br> <a
                                :href="`${siteurl()}/post/${item.responseTo.slug}-p${item.responseTo.id}`"
                                target="_blank">View post</a>
                        </div>
                        <div v-if="item.commentableType === 'product'">
                            <nuxt-link :to="`/product/form/edit/${item.responseTo.id}`">
                                <strong>{{ item.responseTo.name }}</strong>
                            </nuxt-link>
                            <br> <a
                                :href="`${siteurl()}/product/${item.responseTo.slug}-p${item.responseTo.id}`"
                                target="_blank">View product</a>
                        </div>

                    </div>
                </td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-center">
                    <ButtonActionTooltip
                        v-if="item.status === 'pending'"
                        :title="$t('Approve')"
                        color="indigo"
                        icon="done"
                        @click.stop="approve(item)"
                    />
                    <ButtonActionTooltip
                        v-if="item.status === 'approved'"
                        :title="$t('Unapprove')"
                        color="red"
                        icon="highlight_off"
                        @click.stop="unApprove(item)"
                    />
                    <ButtonActionDelete
                        :gql="deleteQuery"
                        :item="item"
                        refetch-queries="comments"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import { FETCH_COMMENTS } from '../../apollo/query/comment';
    import { COMMENT_POST_UPDATE, COMMENT_PRODUCT_UPDATE, DELETE_COMMENT } from '../../apollo/mutation/comment';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';

    export default {
        components: { ButtonActionDelete, DateFormat, ButtonActionTooltip, Table },
        async asyncData(context) {
            let configs = context.app.store.state.optionGeneral;
            let url = (configs.home + '').replace(/\/+$/g, '');
            return {
                url
            }
        },
        data() {
            return {
                query: FETCH_COMMENTS,
                deleteQuery: DELETE_COMMENT,
                selected: [],
                headers: [
                    {
                        text: this.$t('Author'),
                        value: 'author',
                        width: '150px',
                        sortable: false
                    },
                    {
                        text: this.$t('Comments'),
                        value: 'body'
                    },
                    {
                        text: this.$t('In reponse to'),
                        value: 'body',
                        width: '200px'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '110px',
                        sortable: false
                    }
                ]
            };
        },
        methods: {
            siteurl() {
                return (this.url + '').replace(/\/+$/g, '');
                ;
            },
            approve(item) {
                return this.fetch(item.commentableType, item.id, 'approved');
            },
            unApprove(item) {
                return this.fetch(item.commentableType, item.id, 'pending');
            },
            getMutation(type) {
                switch (type) {
                    case 'product':
                        return COMMENT_PRODUCT_UPDATE;
                        break;
                    case 'post':
                        return COMMENT_POST_UPDATE;
                        break;
                    default:
                        return COMMENT_POST_UPDATE;
                }
            },
            fetch(type, id, status) {
                this.serviceHttp.updateFetch(this.getMutation(type), { id, status });
            }
        }
    };
</script>
