<template>
    <v-container
        fluid
        grid-list-lg
        style="background-color: #fff;"
    >
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <div
                class="toolbar-form-post"
            >
                <h3 class="font-weight-regular">{{ $t('Edit post') }}</h3>
                <v-spacer/>
                <v-btn
                    v-if="form.postStatus !== 'draft'"
                    text
                    class="ma-2"
                    @click="switchDraft"
                >
                    {{ $t('Switch to Draft') }}
                </v-btn>
                <v-btn
                    v-else
                    text
                    class="ma-2"
                    @click="saveDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    v-if="['publish', 'private'].indexOf(form.postStatus) !== -1"
                    class="v-btn-facebook ma-2"
                    @click="update">
                    {{ $t('Update') }}
                </v-btn>
                <v-btn
                    v-else
                    class="v-btn-facebook ma-2"
                    @click="savePublish">
                    {{ $t('Publish') }}
                </v-btn>
            </div>
            <FormToolbar>
                <v-spacer/>
                <v-btn
                    v-if="form.postStatus !== 'draft'"
                    text
                    class="ma-2"
                    @click="switchDraft"
                >
                    {{ $t('Switch to Draft') }}
                </v-btn>
                <v-btn
                    v-else
                    text
                    class="ma-2"
                    @click="saveDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    v-if="['publish', 'private'].indexOf(form.postStatus) !== -1"
                    class="v-btn-facebook ma-2"
                    @click="update">
                    {{ $t('Update') }}
                </v-btn>
                <v-btn
                    v-else
                    class="v-btn-facebook ma-2"
                    @click="savePublish">
                    {{ $t('Publish') }}
                </v-btn>
            </FormToolbar>
            <FormPost
                v-model="form"
                hide-category
                hide-format
                hide-tag
            >
                <template slot="submit">
                    <div>&nbsp;</div>
                    <!--<div class="text-sm-center">
                        <a
                            class="v-btn-facebook"
                            @click="submit">
                            {{ $t('Switch to Draft') }}
                        </a>
                    </div>
                    <v-btn
                        class="v-btn-facebook"
                        @click="submit">
                        {{ $t('Save') }}
                    </v-btn>
                    <v-btn
                        class="v-btn-facebook"
                        @click="update">
                        {{ $t('Save & Edit') }}
                    </v-btn>-->
                </template>
            </FormPost>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../components/material/Card';
    import BoxLine from '../../../components/Box/BoxLine';
    import ComboboxTag from '../../../components/combobox/ComboboxTag';
    import Upload from '../../../components/helper/Upload';
    import ComboboxCategory from '../../../components/combobox/ComboboxCategory';
    import { UPDATE_POST } from '../../../apollo/mutation/post';
    import FormPost from '../../../components/views/post/FromPost';
    import FormToolbar from '../../../components/material/FormToolbar';
    import _ from 'lodash';
    import { PAGE_DETAIL } from '../../../apollo/query/page';

    export default {
        components: { FormToolbar, FormPost, ComboboxCategory, Upload, ComboboxTag, BoxLine, Card },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    postPassword: '',
                    categories: [],
                    tags: [],
                    postStatus: 'publish',
                    avatar: undefined
                }
            };
        },
        apollo: {
            page: function() {
                return {
                    query: PAGE_DETAIL,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data && data.page ) {
                            if ( ! data.page ) {
                                return;
                            }

                            this.form = { ...data.page };

                            if ( ! Array.isArray(data.page.categories) ) {
                                this.form.categories = [];
                            } else {
                                this.form.categories = data.page.categories.map(i => (i.id));
                            }

                            if ( Array.isArray(data.page.meta) ) {
                                data.page.meta.forEach(item => {
                                    this.form[`meta_${ item.metaKey }`] = item.metaValue;
                                })
                            }
                        }
                    }
                };
            }
        },
        methods: {
            formatForm() {
                let meta = [];
                for( let i in this.form ) {
                    let split = i.split('_');
                    let isMeta = split.indexOf('meta') === 0 && split.length === 2;

                    if ( isMeta ) {
                        meta.push({
                            metaKey: split[1],
                            metaValue: this.form[i]
                        });
                    }
                }
                let tags = [];

                if ( Array.isArray(this.form.tags) ) {
                    tags = this.form.tags.map(i => (i.text));
                }

                return {
                    ...this.form,
                    meta,
                    tags
                }
            },
            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                this.serviceHttp.updateFetch(UPDATE_POST, variables, callback);
            },
            switchDraft() {
                if ( this.validateOnFocusForm() ) {
                    this.form = { ...this.form, postStatus: 'draft' };

                    this.handleSave();
                }
            },
            saveDraft() {
                if ( this.validateOnFocusForm() ) {
                    this.form = { ...this.form, postStatus: 'draft' };
                    this.handleSave();
                }
            },
            savePublish() {
                if ( this.validateOnFocusForm() ) {
                    this.form = { ...this.form, postStatus: 'publish' }

                    this.handleSave();
                }
            },
            update() {
                if ( this.validateOnFocusForm() ) {
                    this.handleSave();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .form-post {
    }

    .toolbar-form-post {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>
