<template>
    <div>
        <v-skeleton-loader
            v-if="loader"
            :loading="loader"
            class="mx-auto"
            type="table-heading, table-tbody"
        />
        <Card
            v-if="!loader"
            :text="text"
            :title="title"
            color="green"
        >
            <div class="table-toolbar">
                <slot name="menu"/>
                <v-toolbar
                    v-if="!hideToolbar"
                    color="white"
                    flat

                    height="50px"
                >
                    <slot
                        :apollo="$apollo.queries.data"
                        name="toolbar-right">
                        <v-btn
                            class="mb-2"
                            color="primary"
                            dark>New Item
                        </v-btn>
                    </slot>
                </v-toolbar>
                <slot name="filter"/>
            </div>
            <v-alert
                v-if="graphQLError"
                border="left"
                outlined
                type="error"
                elevation="2"
                dismissible
            >
                <div class="title">{{ graphQLError.type }}</div>
                {{ graphQLError.message }}
            </v-alert>
            <v-data-table
                :custom-sort="customSort"
                :headers="headers"
                :items="listData"
                :loading="$apollo.loading"
                :no-data-text="$t('No data available')"
                :no-results-text="$t('No matching records found')"
                :loading-text="$t('Loading... Please wait')"
                :page.sync="page"
                :items-per-page="perPage"
                :sort-by.sync="sortBy"
                :multi-sort="false"
                v-model="selected"
                class="elevation-1"
                hide-default-footer
                show-select
                hide-default-header
                @update:options="pagination = $event"
            >
                <!--<template
                    v-slot:header.data-table-select="{ on, props }"
                >
                    <v-simple-checkbox
                        v-bind="props"
                        color="primary"
                        v-on="on"/>
                </template>-->
                <template v-slot:header="{props, on}">
                    <no-ssr>
                        <v-overlay
                            :value="$apollo.loading"
                            opacity="0.1"
                            absolute
                            style="top:50px;"
                        >
                            <v-progress-circular
                                indeterminate
                                color="primary"
                                size="64"/>
                        </v-overlay>
                    </no-ssr>
                    <thead class="v-data-table-header">
                        <tr
                            class="v-data-table__progress"
                            style="height: 0 !important;">
                            <th
                                v-if="!hideCheckbox"
                                style="width: 1px;"/>
                            <th
                                v-for="header in getHeaders(props.headers)"
                                :key="header.text"
                                :width="header.width"
                            />
                        </tr>
                        <tr>
                            <th
                                v-if="!hideCheckbox"
                                class="text-sm-left"
                                style="width: 1px;"
                            >
                                <v-simple-checkbox
                                    :indeterminate="props.someItems && !props.everyItem"
                                    :value="props.everyItem"
                                    color="primary"
                                    hide-details
                                    @input="toggleAll"
                                />
                            </th>
                            <th
                                v-if="props.someItems"
                                :colspan="countProps(props.headers)"
                                class="text-lg-left"
                            >
                                <v-layout
                                    wrap
                                    pa-2
                                >
                                    <slot name="toolbar-actions">
                                        <ToolbarActions
                                            :delete-mutation="deleteMutation"
                                            :selected="selected"
                                            :delete-refetch-queries="deleteRefetchQueries"
                                        />
                                    </slot>
                                    <v-spacer/>
                                    <span
                                        v-if="selected.length < listData.length"
                                        class="pt-2">
                                        {{ $t('rows on page selected', {count: selected.length}) }}
                                    </span> <span
                                        v-else
                                        class="pt-2">
                                        {{ $t('All rows on page selected', {count: selected.length}) }}
                                    </span>
                                </v-layout>
                            </th>
                            <template v-if="!props.someItems">
                                <th
                                    v-for="header in getHeaders(props.headers)"
                                    :class="[
                                        'column',
                                        'text-sm-' + (header.align || 'left'),
                                        header.sortable !== false ? 'sortable' : '',
                                        pagination.sortDesc[0] ? 'asc' : 'desc',
                                        header.value === pagination.sortBy[0] ? 'active' : ''
                                    ]"
                                    :key="header.text"
                                    :width="header.width"
                                    @click="header.sortable !== false && on.sort(header.value)"
                                >
                                    {{ header.text }}
                                    <v-icon
                                        v-if="header.sortable !== false"
                                        small
                                        class="v-data-table-header__icon"
                                    >
                                        arrow_upward
                                    </v-icon>
                                </th>
                            </template>
                        </tr>
                    </thead>
                </template>
                <template v-slot:item="{isSelected, item, index}">
                    <tr>
                        <td v-if="!hideCheckbox">
                            <v-simple-checkbox
                                :value="isSelected"
                                color="primary"
                                hide-details
                                @input="event => toggleOne(item)"
                            />
                        </td>
                        <slot
                            :item="item"
                            name="items"/>
                    </tr>
                </template>
            </v-data-table>
        </Card>

        <div
            v-if="!loader"
            class="text-sm-center pt-2"
        >
            <v-pagination
                v-if="length > 1"
                :length="length"
                :total-visible="7"
                v-model="page"
                @input="goToPage"
            />
        </div>
    </div>
</template>
<script>
    import Card from '../material/Card';
    import _ from 'lodash';
    import ToolbarActions from './ToolbarActions';

    export default {
        name: 'Table',
        components: { ToolbarActions, Card },
        props: {
            query: {
                type: Object,
                default: null,
                isRequired: true
            },
            deleteMutation: {
                type: [Object],
                default: null
            },
            deleteRefetchQueries: {
                type: [String, Array],
                default() {
                    return [];
                }
            },
            headers: {
                type: Array,
                default: null,
                isRequired: true
            },
            title: {
                type: String,
                default: undefined
            },
            text: {
                type: String,
                default: undefined
            },
            hideCheckbox: {
                type: Boolean,
                default: false
            },
            hideToolbar: {
                type: Boolean,
                default: false
            },
            perPage: {
                type: Number,
                default: 10
            },
            filter: {
                type: Array,
                default() {
                    return [];
                }
            },
            select: {
                type: Array,
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                page: 1,
                pagination: {
                    page: 1
                },
                firstPagination: {},
                selected: [],
                listData: [],
                sortBy: [],
                isLoader: true,
                graphQLError: undefined
            };
        },
        computed: {
            length() {
                const { data } = this;
                return data && data.total ? Math.ceil(data.total / this.perPage) : 1
            },
            loader() {
                if ( ! this.isLoader ) {
                    return false;
                }

                return this.$apollo.loading;
            }
        },
        watch: {
            filter(val, old) {
                this.page = 1;
                this.refetch();
            },
            selected(val, old) {
                this.$emit('update:select', val);
            },
            select(val, old) {
                this.selected = val;
            }
        },
        created() {
            let f = _.findLast(this.headers, { defaultSort: true });

            if ( f ) {
                this.sortBy = [f.value];
            }
        },
        apollo: {
            data() {
                return {
                    query: this.query,
                    variables: {
                        page: 1,
                        perPage: this.perPage,
                        filter: {
                            operator: 'AND',
                            items: this.filter
                        },
                        sort: [{
                            createdAt: 'DESC'
                        }]
                    },
                    result({ data }) {
                        this.listData = _.get(data, 'data.data', []) || [];
                        this.listData = this.listData.map(x => ({
                            loading: false,
                            ...x,
                        }));
                        this.isLoader = false;
                        this.selected = [];
                    },
                    error({graphQLErrors}) {
                        for( let graphQLError of graphQLErrors ) {
                            if ( graphQLError.type === 'AuthException' ) {
                                return this.$router.push({ path: '/login' });
                            } else {
                                // this.
                                return this.graphQLError = graphQLError;
                            }
                        }
                    }
                }
            }
        },
        methods: {
            getHeaders(headers) {
                return headers.filter((value, index) => index !== 0);
            },
            countProps(props) {
                return props.length - 1;
            },
            log(...args) {
                console.log('log', args);
            },
            toggleOne(item) {
                let selectIndex = this.selected.findIndex(x => x.id === item.id);
                if ( selectIndex === -1 ) {
                    this.selected = [...this.selected, item];
                } else {
                    this.selected = this.selected.filter(x => x.id !== item.id);
                }
            },
            toggleAll() {
                if ( this.selected.length ) this.selected = []
                else this.selected = this.data.data.slice()
            },
            changeSort(column) {
                if ( this.pagination.sortBy === column ) {
                    this.pagination.descending = ! this.pagination.descending
                } else {
                    this.pagination.sortBy = column
                    this.pagination.descending = false
                }
            },
            goToPage() {
                if ( Number(this.perPage) !== Number(this.data.perPage) ) {
                    return;
                }

                this.refetch();
            },
            refetch() {
                let sort;
                if ( this.pagination.sortBy[0] ) {
                    sort = [{
                        [this.pagination.sortBy[0]]: this.pagination.sortDesc[0] && 'ASC' || 'DESC'
                    }]
                }

                this.$apollo.queries.data.refetch({
                    page: this.page,
                    filter: {
                        operator: 'AND',
                        items: this.filter
                    },
                    sort
                });
            },
            customSort: function(items, sortBy, descending) {
                let isReload = sortBy[0] !== this.firstPagination.sortBy || descending[0] !== this.firstPagination.descending;

                isReload && this.refetch();

                this.firstPagination = { sortBy: sortBy[0], descending: descending[0] };

                return items;
            }
        }
    };
</script>

<style lang="scss">
    .table-toolbar {
        .v-toolbar__content {
            padding: 0;
        }

        .v-toolbar {
            /*margin-bottom: 0px !important;*/
        }

        margin-bottom: 15px;
    }
</style>