<template>
    <div>
        <ButtonActionTooltip
            :title="$t('Delete')"
            color="#555"
            icon="mdi-delete-forever"
            @click.stop="dialog = true">
            <template v-slot:icon>
                <v-icon style="font-size: 24px;">mdi-delete-forever</v-icon>
            </template>
            <DialogConfirm
                :accept-text="$t('Delete')"
                :cancel-text="$t('Cancel')"
                :loading="loading"
                v-model="dialog"
                @ok="deleteBulk"
            />
        </ButtonActionTooltip>
    </div>
</template>

<script>
    import ButtonActionTooltip from '../button/ButtonActionTooltip';
    import DialogConfirm from '../dialog/DialogConfirm';

    export default {
        name: 'ToolbarActions',
        components: { DialogConfirm, ButtonActionTooltip },
        props: {
            deleteMutation: {
                type: [Object],
                default: null
            },
            deleteRefetchQueries: {
                type: [String, Array],
                default() {
                    return [];
                }
            },
            selected: {
                type: [Object, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                dialog: false,
                loading: false,
            }
        },
        methods: {
            deleteBulk() {
                if ( this.loading ) return;

                this.loading = true;

                let refetchQueries = this.deleteRefetchQueries;
                if ( ! Array.isArray(this.deleteRefetchQueries) ) {
                    refetchQueries = [refetchQueries];
                }

                this.serviceHttp.deleteFetch(this.deleteMutation, this.selected.map(x => (x.id)), refetchQueries).finally(() => {
                    this.dialog = false;
                    this.loading = false;
                });
            }
        }
    };
</script>

<style scoped>

</style>