<template>
    <v-container grid-list-lg>
        <Card
            :title="$t('Edit tag')"
            color="green">
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <FormTag
                    :errors="errors"
                    v-model="form"/>

                <v-btn
                    :loading="loading"
                    color="success"
                    @click="validate"
                >
                    {{ $t('Save') }}
                </v-btn>
            </v-form>
        </Card>
    </v-container>
</template>

<script>
    import FormTag from '../../../../components/views/tag/FormTag';
    import Card from '../../../../components/material/Card';
    import { TAG_DETAIL } from '../../../../apollo/query/tag';
    import { UPDATE_TAG_POST } from '../../../../apollo/mutation/tag';

    export default {
        components: { Card, FormTag },
        data() {
            return {
                valid: true,
                loading: false,
                errors: {},
                form: {
                    name: '',
                    slug: ''
                }
            };
        },
        apollo: {
            data() {
                return {
                    query: TAG_DETAIL,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data.data ) {
                            this.form = data.data;
                        }
                    }
                };
            }
        },
        methods: {
            validate() {
                if ( this.validateOnFocusForm() ) {
                    this.serviceHttp.updateFetch(UPDATE_TAG_POST, { ...this.form }, () => {
                        this.form = {
                            name: '',
                            slug: ''
                        };
                        return this.$router.push({ path: '/post/tags' });
                    });
                }
            }
        }
    };
</script>

<style scoped>

</style>