<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container
        fluid
        grid-list-lg>
        <Table
            :delete-mutation="deleteProduct"
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('All products')"
            delete-refetch-queries="product_master_list"
        >
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    :class="{
                        'blue--text lighten-4': showFilter
                    }"
                    depressed
                    @click="toggleFilter">
                    <v-icon left>mdi-filter</v-icon>
                    {{ $t('Filter') }}
                </v-btn>
                <FormFilter
                    v-model="searchText"
                    class="ma-2"
                />
                <v-spacer/>
                <v-btn
                    depressed
                    nuxt
                    to="/product/form/add"
                    class="ma-2"
                >
                    <v-icon
                        left
                    >add
                    </v-icon>
                    {{ $t('Create') }}
                </v-btn>
                <v-btn
                    depressed
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only Post, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">
                    <v-avatar color="teal">
                        <img
                            v-if="item.avatar"
                            :src="item.avatar"
                            alt="Avatar"
                        > <span
                            v-else
                            class="white--text headline">C</span>
                    </v-avatar>
                </td>
                <td class="text-sm-left">
                    <nuxt-link :to="`/product/form/edit/${item.id}`">
                        {{ item.name }}
                    </nuxt-link>
                </td>
                <td class="text-sm-left">
                    <strong class="blue--text">{{ item.inventory }}</strong> <span v-if="item.kind === 'branch'">
                        {{ `${$t('in stock for')} ${item.branchCount} ${$t('variants')}` }}
                    </span> <span v-else>
                        {{ `${$t('in stock')}` }}
                    </span>
                </td>
                <td class="text-sm-left">{{ item.categories && item.categories.map(x => (x.name)).join(', ') }}</td>
                <td class="text-sm-left">{{ item.vendor && item.vendor.name }}</td>
                <!--<td class="text-sm-left"><DateFormat :value="item.publishedAt"/> </td>-->
                <td class="text-sm-center">
                    <FeaturedProduct
                        :product-id="item.id"
                        v-model="item.isFeatured"/>
                </td>

                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="`/product/form/edit/${item.id}`"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <!--<ButtonActionTooltip
                        :title="$t('favorite')"
                        icon="favorite"
                        color="pink"
                    />-->
                    <ButtonActionDelete
                        :gql="deleteProduct"
                        :item="item"
                        refetch-queries="product_master_list"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import { FETCH_PRODUCT } from '../../../apollo/query/product';
    import Table from '../../../components/table/Table';
    import DateFormat from '../../../components/helper/DateFormat';
    import ChangeOperatorGroup from '../../../components/conditions/ChangeOperatorGroup';
    import Conditions from '../../../components/conditions/Conditions';
    import ButtonActionTooltip from '../../../components/button/ButtonActionTooltip';
    import ButtonActionDelete from '../../../components/button/ButtonActionDelete';
    import FormFilter from '../../../components/material/FormFilter';
    import { FILTER_PRODUCT } from '../../../filters/product';
    import { DELETE_PRODUCT_MASTER } from '../../../apollo/mutation/product';
    import FeaturedProduct from '../../../components/views/product/FeaturedProduct';

    export default {
        components: {
            FeaturedProduct,
            FormFilter,
            ButtonActionDelete,
            ButtonActionTooltip,
            Conditions,
            ChangeOperatorGroup,
            DateFormat,
            Table
        },
        data() {
            return {
                query: FETCH_PRODUCT,
                deleteProduct: DELETE_PRODUCT_MASTER,
                selected: [],
                headers: [
                    {
                        text: this.$t('Avatar'),
                        align: 'left',
                        sortable: false,
                        value: 'avatar',
                        width: '40px'
                    },
                    {
                        text: this.$t('Product'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Inventory'),
                        align: 'left',
                        value: 'inventory'
                    },
                    {
                        text: this.$t('Categories'),
                        value: 'categories',
                        sortable: false,
                        width: '200px'
                    },
                    {
                        text: this.$t('Vendor'),
                        value: 'productVendorId',
                        width: '150px'
                    },
                    {
                        text: this.$t('Featured'),
                        value: 'isFeatured',
                        width: '30px'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '120px',
                        sortable: false
                    }
                ],
                filterField: FILTER_PRODUCT,
                filter: [],
                showFilter: false,
                searchText: undefined,
                operatorGroup: 'AND',

                filterStatusSelected: 'all',
                status: {
                    draft: {
                        label: this.$t('Drafts'),
                        color: 'orange'
                    },
                    publish: {
                        label: this.$t('Published'),
                        color: 'primary'
                    },
                    private: {
                        label: this.$t('Private'),
                        color: 'green'
                    },
                    trash: {
                        label: this.$t('Trash'),
                        color: 'red'
                    }
                }
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [
                        {
                            operator: this.operatorGroup,
                            items: this.filter
                        }
                    ];
                }
                return [
                    {
                        operator: this.operatorGroup,
                        items: this.filter
                    },
                    {
                        field: 'name',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    }
                ];
            }
        },
        methods: {
            toggleFilter() {
                this.showFilter = ! this.showFilter;
                if ( ! this.showFilter && this.filter.length ) {
                    this.filter = [];
                }
            }
        }
    };
</script>
