<template>
    <QueryZoneMethod :id="zoneId">
        <template #content="{data}">
            <v-layout
                column
                mt-0>
                <template v-if="zoneId !== 0">
                    <form ref="f">
                        <v-flex>
                            <v-text-field
                                v-model="data.name"
                                label="Tên vùng"
                                @input="form = data"
                            />
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                v-model="data.country"
                                label="Khu vực"
                                @input="form = data"
                            />
                        </v-flex>
                    </form>
                </template>
                <v-flex>
                    <div class="subheading">Các phương thức giao hàng</div>
                </v-flex>
                <v-flex>
                    <OrderShippingTableMethod :data="data.methods"/>
                </v-flex>
                <v-flex>
                    <v-btn
                        :disabled="disabled"
                        @click="save">
                        {{ $t('Save changes') }}
                    </v-btn>
                </v-flex>
            </v-layout>
        </template>
    </QueryZoneMethod>
</template>

<script>
    import OrderShippingConfigMethod from './OrderShippingConfigMethod';
    import OrderShippingTableMethod from './OrderShippingTableMethod';
    import QueryZoneMethod from './query/QueryZoneMethod';
    import _ from 'lodash';
    import { CREATE_ZONE, UPDATE_ZONE } from '../../../../../apollo/mutation/zone';

    export default {
        name: 'OrderShippingZoneForm',
        components: { QueryZoneMethod, OrderShippingTableMethod, OrderShippingConfigMethod },
        props: {
            data: {
                type: [Object, String],
                default: undefined
            }
        },
        data() {
            return {
                form: {}
            }
        },
        computed: {
            zoneId() {
                let id = Number(this.$route.query.zoneId);

                if ( isNaN(id) ) {
                    return this.$route.query.zoneId;
                }

                return id;
            },
            disabled() {
                return _.isEmpty(this.form);
            }
        },
        methods: {
            save() {
                console.log(this.zoneId, _.isEmpty(this.form), this.form, this.$refs)

                if ( this.zoneId === 'new' ) {
                    this.createZone();
                } else if ( this.zoneId !== 0 ) {
                    this.updateZone();
                }
                ;
            },
            createZone() {
                this.serviceHttp.createFetch({
                    mutation: CREATE_ZONE,
                    variables: this.form,
                    refetchQueries: []
                }, ({ data }) => {
                    this.$router.push({
                        query: { ...this.$route.query, zoneId: data.id }
                    });
                });
            },
            updateZone() {
                this.serviceHttp.updateFetch(UPDATE_ZONE, this.form);
            }
        }
    };
</script>

<style scoped>

</style>