<template>
    <v-data-table
        :headers="headers"
        :items="items"
        :items-per-page="1000"
        class="elevation-1"
        hide-default-footer
        hide-default-header
    >

        <template v-slot:no-data>
            <div
                class="text-sm-center">Bạn có thể thêm nhiều phương thức giao hàng trong một khu vực. Chỉ có các khách hàng trong khu vực có thể thấy chúng.
            </div>
        </template>
        <template v-slot:header="{props: {headers: item}}">
            <th style="width: 1px;">
                &nbsp;
            </th>
            <th class="text-sm-left">
                Tiêu đề
            </th>
            <th class="text-sm-left">
                Được bật
            </th>
            <th class="text-sm-left">
                Mô tả
            </th>
            <th class="text-sm-left">
                &nbsp;
            </th>
        </template>
        <template v-slot:footer>
            <tfoot>
                <tr>
                    <th
                        class="text-sm-left"
                        colspan="5">
                        <OrderShippingAddMethod/>
                    </th>
                </tr>
            </tfoot>
        </template>
        <template v-slot:item="{item}">
            <tr>
                <td>&nbsp;</td>
                <td>
                    <OrderShippingConfigMethod>
                        <template v-slot:activator="{ on }">
                            <a
                                class="font-weight-regular"
                                @click="on(item)"> {{ item.title }} </a>
                        </template>
                    </OrderShippingConfigMethod>
                </td>
                <td>
                    <v-switch
                        :disabled="loading"
                        v-model="item.isEnabled"
                        color="primary"
                        @change="changeEnable(item)"
                    />
                </td>
                <td class="font-weight-regular">
                    <div class="subheading">{{ desc[item.methodType].name }}</div>
                    <div class="">{{ desc[item.methodType].description }}</div>
                </td>
                <td>
                    <ButtonActionDelete
                        :gql="deleteMethodGql"
                        :item="item"
                        :refetch-queries="[refetchQueries]"
                    />
                </td>
            </tr>
        </template>
    </v-data-table>
</template>

<script>
    import OrderShippingConfigMethod from './OrderShippingConfigMethod';
    import OrderShippingAddMethod from './OrderShippingAddMethod';
    import ButtonActionDelete from '../../../../button/ButtonActionDelete';
    import { DELETE_METHOD, UPDATE_METHOD } from '../../../../../apollo/mutation/zone';
    import { FETCH_METHODS, FETCH_ZONE } from '../../../../../apollo/query/zone';

    export default {
        name: 'OrderShippingTableMethod',
        components: { ButtonActionDelete, OrderShippingAddMethod, OrderShippingConfigMethod },
        props: {
            data: {
                type: [Array],
                default() {
                    return []
                }
            }
        },
        data() {
            return {
                deleteMethodGql: DELETE_METHOD,
                loading: false,
                headers: [
                    {
                        text: '&',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { text: 'Tên vùng', value: 'calories' },
                    { text: 'Vùng', value: 'fat' },
                    { text: 'Phương thức giao hàng', value: 'carbs' },
                    { text: 'Phương thức giao hàng', value: 'carbs' }
                ],
                desc: {
                    'flat_rate': {
                        name: 'Đồng giá',
                        description: 'Thanh toán giá cố định cho phí giao hàng.'
                    },
                    'free_shipping': {
                        name: 'Giao hàng miễn phí',
                        description: 'Miễn phí giao hàng là hình thức có thể được kích hoạt với mã ưu đãi và giá trị đơn hàng tối thiểu.'
                    },
                    'local_pickup': {
                        name: 'Giao tại cửa hàng',
                        description: 'Cho phép khách hàng tự đến lấy hàng của họ. Mặc định khi mua tận nơi, thuế cơ sở của cửa hàng sẽ được áp dụng bất kể địa chỉ của khách hàng.'
                    }
                }
            }
        },
        computed: {
            items() {
                return this.data || [];
            },
            zoneId() {
                let id = Number(this.$route.query.zoneId);

                if ( isNaN(id) ) {
                    return this.$route.query.zoneId;
                }

                return id;
            },
            refetchQueries() {
                if ( this.zoneId === 0 ) {
                    return {
                        query: FETCH_METHODS,
                        variables: {
                            id: this.zoneId,
                            sort: [
                                {
                                    methodOrder: 'ASC'
                                }
                            ]
                        }
                    }
                }
                ;

                return {
                    query: FETCH_ZONE,
                    variables: {
                        id: this.zoneId
                    }
                };
            }
        },
        methods: {
            changeEnable(e) {
                console.log('change', e);
                this.serviceHttp.updateFetch(UPDATE_METHOD, {
                    id: e.id,
                    isEnabled: e.isEnabled
                }, (data) => {
                    console.log('update', data);
                });
            }
        }
    };
</script>

<style scoped>

</style>