<template>
    <div>
        <div>
            <span class="headline font-weight-regular">Khu vực giao hàng</span>
            <v-btn
                outlined
                small
                @click="edit({id: 'new'})"
            >Thêm khu vực giao hàng
            </v-btn>
            <p>
                Một vùng giao hàng là một khu vực địa lý nơi có các phương thức giao hàng tương ứng.
                WooCommerce sẽ khớp khách hàng với một vùng sử dụng địa chỉ nhận hàng và giới thiệu phương
                thức giao hàng của vùng này tới khách hàng.
            </p>
        </div>
        <v-data-table
            :headers="headers"
            :items="items"
            :items-per-page="1000"
            class="elevation-1"
            hide-default-footer
            hide-default-header
        >
            <template v-slot:no-data>
                <v-alert
                    :value="true"
                    color="error"
                    icon="warning">
                    Sorry, nothing to display here :(
                </v-alert>
            </template>
            <template v-slot:header="{props: {headers: item}}">
                <thead>
                    <tr>
                        <th>
                            <svg
                                aria-hidden="true"
                                class="help svg-inline--fa fa-question-circle fa-w-16 fa-lg"
                                data-icon="question-circle"
                                data-prefix="far"
                                focusable="false"
                                role="img"
                                style="width: 16px;"
                                viewBox="0 0 512 512"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    class=""
                                    d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"
                                    fill="currentColor"/>
                            </svg>
                        </th>
                        <th>
                            Tên vùng
                        </th>
                        <th>
                            Vùng
                        </th>
                        <th>
                            Phương thức giao hàng
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </template>
            <template v-slot:item="{item}">
                <tr>
                    <td>
                        <svg
                            v-if="isDefault(item)"
                            aria-hidden="true"
                            class="svg-inline--fa fa-globe-americas fa-w-16 fa-lg"
                            data-icon="globe-americas"
                            data-prefix="fas"
                            focusable="false"
                            role="img"
                            style="width: 16px; color: rgba(0, 0, 0, 0.5)"
                            viewBox="0 0 496 512"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                class=""
                                d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm82.29 357.6c-3.9 3.88-7.99 7.95-11.31 11.28-2.99 3-5.1 6.7-6.17 10.71-1.51 5.66-2.73 11.38-4.77 16.87l-17.39 46.85c-13.76 3-28 4.69-42.65 4.69v-27.38c1.69-12.62-7.64-36.26-22.63-51.25-6-6-9.37-14.14-9.37-22.63v-32.01c0-11.64-6.27-22.34-16.46-27.97-14.37-7.95-34.81-19.06-48.81-26.11-11.48-5.78-22.1-13.14-31.65-21.75l-.8-.72a114.792 114.792 0 0 1-18.06-20.74c-9.38-13.77-24.66-36.42-34.59-51.14 20.47-45.5 57.36-82.04 103.2-101.89l24.01 12.01C203.48 89.74 216 82.01 216 70.11v-11.3c7.99-1.29 16.12-2.11 24.39-2.42l28.3 28.3c6.25 6.25 6.25 16.38 0 22.63L264 112l-10.34 10.34c-3.12 3.12-3.12 8.19 0 11.31l4.69 4.69c3.12 3.12 3.12 8.19 0 11.31l-8 8a8.008 8.008 0 0 1-5.66 2.34h-8.99c-2.08 0-4.08.81-5.58 2.27l-9.92 9.65a8.008 8.008 0 0 0-1.58 9.31l15.59 31.19c2.66 5.32-1.21 11.58-7.15 11.58h-5.64c-1.93 0-3.79-.7-5.24-1.96l-9.28-8.06a16.017 16.017 0 0 0-15.55-3.1l-31.17 10.39a11.95 11.95 0 0 0-8.17 11.34c0 4.53 2.56 8.66 6.61 10.69l11.08 5.54c9.41 4.71 19.79 7.16 30.31 7.16s22.59 27.29 32 32h66.75c8.49 0 16.62 3.37 22.63 9.37l13.69 13.69a30.503 30.503 0 0 1 8.93 21.57 46.536 46.536 0 0 1-13.72 32.98zM417 274.25c-5.79-1.45-10.84-5-14.15-9.97l-17.98-26.97a23.97 23.97 0 0 1 0-26.62l19.59-29.38c2.32-3.47 5.5-6.29 9.24-8.15l12.98-6.49C440.2 193.59 448 223.87 448 256c0 8.67-.74 17.16-1.82 25.54L417 274.25z"
                                fill="currentColor"/>
                        </svg>
                    </td>
                    <td>
                        <a @click="edit(item)"> {{ item.name }} </a>
                    </td>
                    <td>
                        <span v-if="isDefault(item)">
                            Vùng này được tuỳ ý sử dụng trong các khu vực không được liệt kê vào bất kì khu vực giao hàng nào khác.
                        </span>
                        <span v-else>
                            {{ item.zone || 'Mọi nơi' }}
                        </span>
                    </td>
                    <td>
                        {{ item.methods.map(x => (x.title)).join(', ') || 'Không có phương thức giao hàng áp dụng cho khu vực này.' }}
                    </td>
                    <td>
                        <ButtonActionDelete
                            v-if="!isDefault(item)"
                            :gql="deleteZoneGql"
                            :item="item"
                            refetch-queries="shipping_zones"
                        />
                    </td>
                </tr>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import { FETCH_ZONES } from '../../../../../apollo/query/zone';
    import ButtonActionDelete from '../../../../button/ButtonActionDelete';
    import { DELETE_ZONE } from '../../../../../apollo/mutation/zone';

    export default {
        name: 'OrderShippingZone',
        components: { ButtonActionDelete },
        data() {
            return {
                deleteZoneGql: DELETE_ZONE,
                headers: [
                    {
                        text: '&',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { text: 'Tên vùng', value: 'calories' },
                    { text: 'Vùng', value: 'fat' },
                    { text: 'Phương thức giao hàng', value: 'carbs' }
                ],
                e1: 2,
                items: []
            }
        },
        apollo: {
            data() {
                return {
                    query: FETCH_ZONES,
                    variables: {
                        sort: [
                            {
                                zoneOrder: 'ASC'
                            }
                        ]
                    },
                    result({ data: { data } }) {
                        if ( data.data ) {
                            this.items = data.data;
                        }
                    }
                }
            }
        },
        methods: {
            isDefault(item) {
                return item.id === '0'
            },
            edit(instance) {
                this.$emit('edit', instance);
            },
            delete() {

            }
        }
    };
</script>

<style scoped>

</style>