<template>
    <v-dialog
        v-model="dialog"
        width="650"
    >
        <template v-slot:activator="{ on }">
            <v-btn
                color="red lighten-2"
                dark
                v-on="on"
            >
                Thêm phương thức giao hàng
            </v-btn>
        </template>

        <v-card>
            <v-card-title
                class="subheading grey lighten-2"
                primary-title
            >
                Thêm phương thức giao hàng
                <v-spacer/>
                <v-icon
                    class="v-chip__close"
                    @click="dialog = false">
                    clear
                </v-icon>
            </v-card-title>

            <v-card-text>
                <p>
                    Chọn một phương thức giao hàng bạn muốn thêm vào. Chỉ có các phương thức giao hàng có hỗ trợ khu vực được hiển thị.
                </p>
                <v-select
                    :hint="selected && selected.description"
                    :items="items"
                    v-model="selected"
                    label="Phương thức giao hàng"
                    persistent-hint
                    return-object
                />
            </v-card-text>

            <v-divider/>

            <v-card-actions>
                <v-spacer/>
                <v-btn
                    color="primary"
                    outlined
                    @click="save"
                >
                    Thêm phương thức giao hàng
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import { CREATE_METHOD, CREATE_ZONE } from '../../../../../apollo/mutation/zone';
    import { FETCH_METHODS, FETCH_ZONE } from '../../../../../apollo/query/zone';

    export default {
        name: 'OrderShippingAddMethod',
        data() {
            return {
                dialog: false,
                loading: false,
                items: [
                    {
                        text: 'Đồng giá',
                        description: 'Thanh toán giá cố định cho phí giao hàng.',
                        value: 'flat_rate'
                    },
                    {
                        text: 'Giao hàng miễn phí',
                        description: 'Miễn phí giao hàng là hình thức có thể được kích hoạt với mã ưu đãi và giá trị đơn hàng tối thiểu.',
                        value: 'free_shipping'
                    },
                    {
                        text: 'Giao tại cửa hàng',
                        description: `Cho phép khách hàng tự đến lấy hàng của họ. Mặc định khi mua tận nơi, thuế cơ sở của cửa hàng sẽ được áp dụng bất kể địa chỉ của khách hàng.`,
                        value: 'local_pickup'
                    }
                ],
                selected: {
                    text: 'Đồng giá',
                    description: 'Thanh toán giá cố định cho phí giao hàng.',
                    value: 'flat_rate'
                },
                id: {}
            }
        },
        computed: {
            zoneId() {
                let id = Number(this.$route.query.zoneId);

                if ( isNaN(id) ) {
                    return this.$route.query.zoneId;
                }

                return id;
            },
            refetchQueries() {
                if ( this.zoneId === 0 ) {
                    return {
                        query: FETCH_METHODS,
                        variables: {
                            id: this.zoneId,
                            sort: [
                                {
                                    methodOrder: 'ASC'
                                }
                            ]
                        }
                    }
                }
                ;

                return {
                    query: FETCH_ZONE,
                    variables: {
                        id: this.zoneId
                    }
                };
            },
            isNew() {
                return this.zoneId === 'new';
            }
        },
        methods: {
            open(id) {
                this.id = id;
            },
            save() {
                this.dialog = false;
                if ( this.isNew ) {
                    return this.createZone(data => {
                        this.loading = false;
                        this.serviceHttp.createFetch({
                            mutation: CREATE_METHOD,
                            variables: {
                                zoneId: data.id,
                                methodType: this.selected.value,
                                title: this.selected.text,
                                taxStatus: 'taxable',
                                isEnabled: true
                            }
                        }, () => {
                            this.$router.push({
                                query: { ...this.$route.query, zoneId: data.id }
                            });
                        });
                    });
                } else {
                    this.serviceHttp.createFetch({
                        mutation: CREATE_METHOD,
                        variables: {
                            zoneId: this.zoneId,
                            methodType: this.selected.value,
                            title: this.selected.text,
                            taxStatus: 'taxable',
                            isEnabled: true
                        },
                        refetchQueries: [this.refetchQueries]
                    });
                }
            },
            createZone(callback) {
                this.serviceHttp.createFetch({
                    mutation: CREATE_ZONE,
                    variables: {
                        name: 'Mọi nơi'
                    },
                    refetchQueries: []
                }, ({ data }) => {
                    callback && callback(data);
                });
            },
        }
    };
</script>

<style scoped>

</style>