<template>
    <v-dialog
        v-model="dialog"
        width="900"
    >
        <template v-slot:activator="{ on }">
            <slot
                :on="open"
                name="activator">
                <v-btn
                    color="red lighten-2"
                    dark
                    @click="open"
                >
                    Click me
                </v-btn>
            </slot>
        </template>

        <v-card>
            <v-card-title
                class="subheading grey lighten-2"
                primary-title
            >
                Cài đặt {{ title }}
                <v-spacer/>
                <v-icon
                    class="v-chip__close"
                    @click="dialog = false">
                    clear
                </v-icon>
            </v-card-title>

            <v-card-text>
                <MethodFlatRate
                    v-if="data.methodType === 'flat_rate'"
                    :form="data"
                />
                <MethodFreeShipping
                    v-else-if="data.methodType === 'free_shipping'"
                    :form="data"
                />
                <MethodLocalPickup
                    v-else-if="data.methodType === 'local_pickup'"
                    :form="data"
                />
                <div v-else>no result</div>
            </v-card-text>

            <v-divider/>

            <v-card-actions>
                <v-spacer/>
                <v-btn
                    color="primary"
                    outlined
                    @click="save"
                >
                    Save changes
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import MethodFlatRate from './method/MethodFlatRate';
    import MethodFreeShipping from './method/MethodFreeShipping';
    import MethodLocalPickup from './method/MethodLocalPickup';
    import { UPDATE_METHOD } from '../../../../../apollo/mutation/zone';

    export default {
        name: 'OrderShippingConfigMethod',
        components: { MethodLocalPickup, MethodFreeShipping, MethodFlatRate },
        data() {
            return {
                dialog: false,
                loading: false,
                data: {},
                desc: {
                    'flat_rate': {
                        name: 'Đồng giá',
                        description: 'Thanh toán giá cố định cho phí giao hàng.'
                    },
                    'free_shipping': {
                        name: 'Giao hàng miễn phí',
                        description: 'Miễn phí giao hàng là hình thức có thể được kích hoạt với mã ưu đãi và giá trị đơn hàng tối thiểu.'
                    },
                    'local_pickup': {
                        name: 'Giao tại cửa hàng',
                        description: 'Cho phép khách hàng tự đến lấy hàng của họ. Mặc định khi mua tận nơi, thuế cơ sở của cửa hàng sẽ được áp dụng bất kể địa chỉ của khách hàng.'
                    }
                }
            }
        },
        computed: {
            title() {
                if ( ! this.data.methodType ) {
                    return '';
                }
                ;
                return this.desc[this.data.methodType].name;
            }
        },
        methods: {
            open(data = {}) {
                this.dialog = true;
                this.data = { ...data };
            },
            variable() {
                let res = { ...this.data };
                if ( res.cost ) {
                    res.cost = String(res.cost);
                }
                return res;
            },
            save() {
                this.serviceHttp.updateFetch(UPDATE_METHOD, this.variable(), () => {
                    this.dialog = false;
                });
            }
        }
    };
</script>

<style scoped>

</style>