<template>
    <div>
        <v-text-field
            :value="value"
            class="ma-2"
            label="Enter text"
            single-line
            @input="$emit('input', $event)"
        />
    </div>
</template>

<script>
    export default {
        name: 'ConditionViewText',
        props: {
            value: {
                type: String,
                default: undefined
            }
        }
    };
</script>

<style scoped>

</style>