<template>
    <div class="w-100">
        <v-text-field
            v-if="data.length > 5"
            autofocus
            class="ma-2"
            label=""
            single-line
        />
        <v-divider/>
        <v-list>
            <v-list-item
                v-for="v in listData"
                :key="v.id"
                @click="changeValue(v)">
                <v-list-item-title>{{ v.text }}</v-list-item-title>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    export default {
        name: 'ConditionViewSelectItem',
        props: {
            data: {
                type: Array,
                default() {
                    return [];
                }
            }
        },
        computed: {
            listData() {
                return this.data.map(x => {
                    if ( typeof x === 'string' ) {
                        return {
                            id: x,
                            value: x,
                            text: x
                        }
                    }
                    return x;
                })
            }
        },
        methods: {
            changeValue(v) {
                this.$emit('onChange', v);
            }
        }
    };
</script>

<style scoped>

</style>