<template>
    <v-text-field
        :value="value"
        class="ma-2"
        label="Enter number"
        single-line
        type="number"
        @input="$emit('input', $event)"
    />
</template>

<script>
    export default {
        name: 'ConditionViewNumber',
        props: {
            value: {
                type: String,
                default: undefined
            }
        }
    };
</script>

<style scoped>

</style>