<template>
    <div class="w-100">
        <v-text-field
            v-if="listData.length > 5"
            ref="searchInput"
            v-model="searchText"
            autofocus
            class="ma-2"
            label=""
            single-line
            @focus="onfocus"
        />
        <v-divider/>
        <v-list
            style="max-height: 280px; overflow: auto;"
        >
            <v-list-item
                v-for="item in listData"
                :key="item.id"
                :input-value="selected === item"
                active-class="blue--text lighten-5 font-weight-medium"
                @click="changeValue(item)">
                <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    export default {
        name: 'ConditionViewSelectQuery',
        props: {
            value: {
                type: String,
                default: undefined
            },
            query: {
                type: Object,
                default() {
                    return {};
                }
            },
            open: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                listData: [],
                searchText: '',
                selected: undefined
            }
        },
        watch: {
            open(val, old) {
                if ( val === true ) {
                    this.focusInput();
                }
            }
        },
        apollo: {
            data() {
                return {
                    query: this.query,
                    variables: {
                        page: 1,
                        perPage: 1000
                    },
                    result({ data }) {
                        this.listData = _.get(data, 'data.data', []);
                    }
                }
            }
        },
        mounted() {
            this.focusInput();
        },
        methods: {
            changeValue(v) {
                this.searchText = v.text;
                this.selected = v;
                this.$emit('onChange', v);
            },
            focusInput() {
                this.$nextTick(() => {
                    setTimeout(() => {
                        this.$refs.searchInput && this.$refs.searchInput.focus();
                    }, 200);
                });
            },
            onfocus(event) {
                event.target.select();
            }
        }
    };
</script>

<style scoped>

</style>