<template>
    <v-menu
        ref="menu"
        :close-on-content-click="false"
        v-model="menu"
        max-width="290"
        offset-y
        transition="scale-transition"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                :value="computedDateFormatted"
                class="ma-2"
                label="DD/MM/YYYY"
                readonly
                single-line
                v-on="on"
            />
        </template>
        <v-date-picker
            v-model="date"
            locale="vi"
            no-title
            scrollable
        />
    </v-menu>
</template>

<script>
    export default {
        name: 'ConditionViewDate',
        props: {
            value: {
                type: String,
                default: undefined
            }
        },
        data: vm => ({
            date: undefined,
            menu: false
        }),
        computed: {
            computedDateFormatted() {
                return this.formatDate(this.date)
            }
        },
        watch: {
            date(val) {
                // this.value = this.formatDate(this.date);
                this.$emit('input', this.parseDate(this.formatDate(this.date)));
            }
        },
        methods: {
            formatDate(date) {
                if ( ! date ) return null

                const [year, month, day] = date.split('-')
                return `${ day }/${ month }/${ year }`
            },
            parseDate(date) {
                if ( ! date ) return null

                const [day, month, year] = date.split('/')
                return `${ year }-${ month.padStart(2, '0') }-${ day.padStart(2, '0') }`
            }
        }
    };
</script>

<style scoped>

</style>