.box-line {
    padding: 10px 15px;
    border: solid 1px #d2d2d2;

    .title {
        border-bottom: solid 1px #d2d2d2;
        font-weight: 700 !important;
    }
}

.box-line-publish {
    .submit {
        text-align: right;
    }

    .content {
        .password {
            padding-top: 0;
            margin-top: 0;
        }
    }
}

.v-label {
    font-size: $font-size-medium;
}

.box-line-category {
    .treeview-no-icon {
        .v-treeview-node--leaf {
            margin-left: 26px;
        }
    }
}

.scroll{
    overflow: auto;
}

.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #888;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}