.mdi-checkbox-blank-outline:before {
    //-webkit-text-stroke: 1px $white;
}

.post-create .sidebar-right {
    .v-input--checkbox {
        margin-top: 0;
    }
}

//.v-simple-checkbox {
//    .theme--light {
//        &.v-icon {
//            color: rgba(0, 0, 0, 0.54);
//        }
//    }
//}