.v-menu__content {
    //border-radius: $border-radius-dropdown;
    box-shadow: $box-shadow-general;

    .sidebar-filter {
        height: 30px;
        line-height: 25px;
        font-size: $font-size-small !important;
        font-weight: $font-weight-bolder + 100;
        color: $black-color;
    }

    .v-responsive {
        max-height: 100px;
        border-radius: $border-radius-dropdown;
        max-width: 50px;
        margin: 0 auto;
    }

    .container.grid-list-xl .layout .flex {
        padding: $padding-small - 5;
    }

    .v-avatar,
    .v-responsive {
        border: 3px solid $white;
        transition: all .34s;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &.image-active,
        &.color-active {
            border-color: $brand-info;
        }
    }

    .v-avatar {
        @include fixed-plugin-colors('primary', $brand-primary);
        @include fixed-plugin-colors('info', $brand-info);
        @include fixed-plugin-colors('danger', $brand-danger);
        @include fixed-plugin-colors('warning', $brand-warning);
        @include fixed-plugin-colors('success', $brand-success);
    }
}
