.theme--light.v-footer {
    border-top: $footer-border-top;
    background: transparent;
    padding: $padding-general $padding-x-footer;
}

.v-footer {
    .footer-links {
        font-weight: $font-weight-bolder;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $font-size-small;
        padding: $padding-general;
        line-height: $line-height-footer-items;

        &:hover,
        &:focus,
        &:active {
            color: $brand-primary !important;
        }
    }

    .copyright {
        color: $black-color;

        a {
            &,
            &:hover,
            &:focus,
            &:active {
                color: $brand-primary;
            }
        }
    }
}

@media all and (max-width: 991px) {
    .v-footer {
        height: auto !important;
        flex-direction: column;
    }

    .footer-items,
    .copyright {
        width: 100%;
    }

    .copyright {
        text-align: right;
    }
}

@media all and (max-width: 550px) {
    .footer-items,
    .copyright {
        width: unset;
        text-align: center;
    }

    .copyright {
        margin-top: $margin-small;
    }
}
