.theme--light.v-text-field .v-input__slot:before {
    border-color: $input-color !important;
}

.input--is-focused .v-input__control .v-input__slot:after {
    border-color: red !important;
}


.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    border: solid 1px #ccc;
    box-shadow: none;
}

.v-text-field.v-text-field--solo.v-input--is-focused:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    border-color: rgb(77, 144, 254);
}

.v-text-field.v-text-field--solo.error--text:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    border-color: $input-error-color;
}

.v-text-field__slot {
    input {
        @include material-placeholder {
            color: $input-color;
        }
    ;
    }

    .v-label {
        //color: $label-color !important;
        font-size: $font-size-default !important;
        font-weight: $font-weight-base;

        &.v-label--active {
            font-size: medium;
        }

        &.error--text {
            color: $input-error-color !important;
            caret-color: $input-error-color !important;
        }
    }
}

.theme--light.v-input:not(.v-input--is-disabled) input,
.v-select__selection,
.theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: $black-color;
    font-size: $font-size-default;
    font-weight: 400;
}

.outline-flat {
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

@include inputs-color($brand-primary, 'purple');
@include inputs-color($brand-warning, 'orange');
@include inputs-color($brand-info, 'info');
@include inputs-color($brand-danger, 'danger');
@include inputs-color($brand-success, 'success');
@include inputs-color($brand-success, 'primary');
