.card-tabs {
    .v-divider {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .flex {
        padding: 0 !important;
    }

    .v-tabs__item {
        border-radius: $border-radius-base;
    }

    .v-tabs__slider-wrapper .white {
        background-color: $tabs-active-line !important;
        border-color: $tabs-active-line !important
    }

    .v-tabs__slider {
        height: 1px;
    }

    .v-list__tile__title {
        font-size: $font-size-default;
        font-weight: $font-weight-lighter;
        padding: 0 $tabs-text-box-padding;
        overflow: visible;
        white-space: inherit;
        height: auto;
    }

    .v-list .v-input, .v-list .v-input__slot {
        justify-content: center;
    }
}
