.theme--light.v-data-table tbody tr:not(:last-child),
.theme--light.v-data-table thead tr:first-child {
    border-bottom: 1px solid $table-border-color !important;
}

//.v-data-table thead tr {
//    height: $table-head-height;
//}

.theme--light.v-data-table tbody tr:hover:not(.v-datatable__expand-row) {
    background: $table-hover-color !important;
}

.v-data-table{
    table {
        position: relative;
    }

    td, th {
        padding: 0 $tabs-text-box-padding;
    }

    tbody td {
        //font-size: $font-size-general;
        font-weight: $font-weight-base;
        padding: $padding-small + 2 $tabs-text-box-padding;

        .v-btn.v-btn--icon {
            margin: -15px 0;
        }
    }
}
.v-data-table tbody td {
    //font-size: $font-size-general;
    font-weight: $font-weight-base;

    .v-btn.v-btn--icon {
        margin: -15px 0;
    }
}

.v-data-table__progress th {
    padding: 0;
}
//.v-datatable__progress {
//  display: none;
//}

//table thead tr th span {
//    font-size: 14px; !important;
//}
