<template>
    <v-container grid-list-lg>
        <v-alert
            :value="true"
            color="info"
            icon="check_circle"
            outlined
        >
            This is a success alert.
        </v-alert>
        <v-tabs
            v-model="active"
            slider-color="green"
        >
            <v-tab
                ripple
                @click="changeTab(0)"
            >
                {{ $t('General') }}
            </v-tab>
            <v-tab
                ripple
                @click="changeTab(1)"
            >
                {{ $t('Product') }}
            </v-tab>
            <v-tab
                ripple
                @click="changeTab(2)"
            >
                {{ $t('Shipping') }}
            </v-tab>

            <v-tab-item
            >
                <OrderSettingGeneral/>
            </v-tab-item>
            <v-tab-item
            >
                <OrderSettingProduct/>
            </v-tab-item>
            <v-tab-item
            >
                <OrderSettingShipping/>
            </v-tab-item>
        </v-tabs>
    </v-container>
</template>

<script>
    import OrderSettingShipping from '../../../components/views/order/settings/OrderSettingShipping';
    import OrderSettingProduct from '../../../components/views/order/settings/OrderSettingProduct';
    import OrderSettingGeneral from '../../../components/views/order/settings/OrderSettingGeneral';

    export default {
        components: { OrderSettingGeneral, OrderSettingProduct, OrderSettingShipping },
        data() {
            return {
                active: Number(this.$route.query.tab) || 0,
            }
        },
        mounted() {
            console.log('this.$route.query.tab', this.$route.query.tab, this.$route.query);
        },
        methods: {
            changeTab(e) {
                console.log('change Tab', e);
                this.$router.push({ query: { tab: e } });
            }
        }
    };
</script>

<style scoped>

</style>