<template>
    <div
        :style="{
            paddingTop: '12px',
            marginTop: '4px',
    }">
        <label
            :class="{
                'error--text': fieldEditor.hasMessages
            }"
            for="">{{ label }}</label>
        <v-text-field
            ref="field"
            :value="value"
            v-bind="$attrs"
            style="display: none;"/>
        <div
            :class="{
                'error--text': fieldEditor.hasMessages
        }">
            <tiny-mce
                ref="tm"
                :init="init"
                :value="value"
                @input="changeInput"
                @onInit="editorInit"
            />
            <!---->
            <!--<ckeditor
                :editor="editor"
                :value="value"
                :config="editorConfig"
                style="padding-bottom: 8px;"
                @input="$emit('input', $event)"
            />-->
        </div>
        <div class="v-text-field__details">
            <div
                v-if="fieldEditor.hasMessages"
                class="v-messages theme--light error--text">
                {{ fieldEditor.validations.join('') }}
            </div>
        </div>
    </div>
</template>

<script>
    /*eslint camelcase: ["error", {allow: ["^(.*)"]}]*/

    export default {
        name: 'CKEditor',
        inheritAttrs: false,
        props: {
            value: {
                type: String,
                default: undefined
            },
            label: {
                type: String,
                default: undefined
            },
            configs: {
                type: [Object],
                default: undefined
            },
            type: {
                type: String,
                default: 'classic'
            },
            disableAutoresize: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                error: false,
                init: {},
                fieldEditor: {},
                defaultConfigs: {
                    menubar: true,
                    branding: false,
                    resize: false,
                    statusbar: false,
                    toolbar1: 'formatselect | bold italic blockquote | bullist numlist alignleft aligncenter alignright alignjustify | link unlink | undo redo | fullscreen',
                    toolbar2: 'fontsizeselect | outdent indent | image media table | charmap emoticons | forecolor backcolor removeformat code help',
                    //
                    // toolbar3: `undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect |
                    // alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist
                    //  | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons
                    // | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment`,
                    'image_advtab': true,
                    'image_caption': true,
                    'imagetools_toolbar': 'rotateleft rotateright | flipv fliph | editimage imageoptions',
                    'images_upload_url': process.env.UPLOAD_URL,
                    /* we override default upload handler to simulate successful upload*/
                    'images_upload_handler': function(blobInfo, success, failure) {
                        const formData = new FormData();
                        formData.append('upload', blobInfo.blob());

                        return fetch(process.env.UPLOAD_URL, {
                            method: 'POST',
                            body: formData
                        }).then(response => response.json()).then(json => {
                            success(json.default);
                        });
                    },


                    // plugins: `print preview fullpage lists help image imagetools link media template codesample table quickbars`,

                    plugins: [`print preview paste importcss searchreplace
	 autolink autosave save directionality code visualblocks visualchars
	  fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor
	 toc insertdatetime advlist lists
	  textpattern noneditable help charmap quickbars emoticons`,
                        // 'wordcount',
                        'stickytoolbar',
                        'imagetools',
                        'SplitBlockquote',
                        'alignment',
                        // "bbcode",
                    ],

                    'toolbar_sticky': false,
                    'autosave_ask_before_unload': true,
                    'autosave_interval': '30s',
                    'autosave_prefix': '{path}{query}-{id}-',
                    'autosave_restore_when_empty': false,
                    'autosave_retention': '2m',

                    height: 400,
                    'noneditable_noneditable_class': 'mceNonEditable',
                    'toolbar_drawer': 'sliding',

                    'quickbars_selection_toolbar': 'bold italic underline strikethrough | quicklink h2 h3 blockquote quickimage',
                    'quickbars_insert_toolbar': false,
                    contextmenu: 'link image imagetools table',
                    end_container_on_empty_block: true,
                    // 'imagetools_proxy': 'https://graph.ccep.vn/img/proxy.php',
                    // 'images_upload_timeout': 3000


                    valid_children: '+body[style|meta],-body[onload],+div[meta],+object[object|param|embed],+a[span|h1|h2|h3|h4|h5|i|div|article|section|p]',
                    allow_html_in_named_anchor: false,
                    allow_conditional_comments: true,
                    schema: 'html5',
                    valid_elements: '*[*]',
                    entity_encoding: 'raw',
                    extended_valid_elements: '#p[*]',
                    convert_urls: false
                },
                autoresize: true
            };
        },
        beforeMount() {
            this.autoresize = ! this.disableAutoresize;
            let configs = {};
            if ( this.type === 'classic' ) {
                configs = {
                    min_height: 200,
                    menubar: false,
                    toolbar1: 'formatselect | bold italic blockquote | bullist numlist outdent indent | alignment forecolor backcolor | link image | undo redo',
                    toolbar2: ''
                }
            }
            ;

            if ( this.type === 'text' ) {
                this.autoresize = false;
                configs = {
                    min_height: 150,
                    height: 180,
                    menubar: false,
                    toolbar1: 'bold italic link image',
                    toolbar2: '',
                    contextmenu: false,
                    'quickbars_selection_toolbar': false,
                    sticky_toolbar: false,
                    autoresize_on_init: false,
                }
            }
            ;
            this.init = _.extend(this.defaultConfigs, configs, this.configs);
            if ( this.autoresize ) {
                this.init.plugins.push('autoresize');
            }
        },
        mounted() {
            if ( typeof window === 'undefined' ) {
                return;
            }
            this.fieldEditor = this.$refs.field;

            tinymce.PluginManager.add('stickytoolbar', function(editor, url) {
                let sticky_toolbar = editor.getParam('sticky_toolbar', true);
                let myFuntion = function() {
                    if ( ! sticky_toolbar ) {
                        return;
                    }
                    ;
                    setSticky();
                };

                editor.on('init', function() {
                    myFuntion();
                });

                window.addEventListener('scroll', myFuntion);

                function setSticky() {
                    if ( ! editor || ! editor.editorContainer ) {
                        window.removeEventListener('scroll', myFuntion);
                        return;
                    }
                    ;
                    const container = editor.editorContainer;
                    const toolbars = container.querySelector('.tox-editor-header');
                    const statusbar = container.querySelector('.tox-statusbar') || { offsetHeight: 0 };

                    if ( isSticky() ) {
                        container.style.paddingTop = toolbars.offsetHeight + 'px'

                        if ( isAtBottom() ) {
                            toolbars.style.top = 'auto';
                            toolbars.style.bottom = statusbar.offsetHeight + 'px';
                            toolbars.style.position = 'absolute';
                            toolbars.style.width = '100%';
                            toolbars.style.borderBottom = 'none';
                        } else {
                            toolbars.style.top = '58px';
                            toolbars.style.bottom = 'auto';
                            toolbars.style.position = 'fixed';
                            toolbars.style.width = container.clientWidth + 'px';
                            toolbars.style.borderBottom = '1px solid rgba(0,0,0,0.2)';
                        }
                    } else {
                        container.style.paddingTop = '0px'

                        toolbars.style.top = '0px';
                        toolbars.style.position = 'relative';
                        toolbars.style.width = 'auto';
                        toolbars.style.borderBottom = 'none';
                    }
                }

                function isSticky() {
                    const container = editor.editorContainer,
                        rect = container.getBoundingClientRect(),
                        editorTop = rect.top;
                    const toolbarHeight = container.querySelector('.tox-editor-header').offsetHeight;

                    if ( editorTop < -(rect.height - toolbarHeight - 58) ) {
                        return false;
                    }
                    ;

                    if ( editorTop < 58 ) {
                        return true;
                    }

                    return false;
                }

                function isAtBottom() {
                    const container = editor.editorContainer,
                        editorTop = container.getBoundingClientRect().top;
                    const statusbar = container.querySelector('.tox-statusbar') || { offsetHeight: 0 };
                    const toolbarHeight = container.querySelector('.tox-editor-header').offsetHeight;
                    const footerHeight = statusbar.offsetHeight || 0;

                    const hiddenHeight = -(container.offsetHeight - toolbarHeight - footerHeight);

                    if ( editorTop < hiddenHeight ) {
                        return true;
                    }

                    return false;
                }
            });

            tinymce.PluginManager.add('SplitBlockquote', function(ed, url) {
                ed.on('click', function(e) {
                    let parts, i, node, bq_node, openTags, closeTags, splitToken;

                    if ( e.keyCode !== 13 ) {
                        return; /* do nothing */
                    }

                    // get the top-most blockquote parent node
                    function getMostTopBlockquote(n, r) {
                        const last_bq = null;
                        while ( n ) {
                            if ( n === r )
                                break;
                            if ( n.nodeName === 'BLOCKQUOTE' )
                                last_bq = n;
                            n = n.parentNode;
                        }
                        return last_bq;
                    };


                    function getClose(n, r) {
                        // get the htnk "close-tag" of a node
                        function getCloseTag(n) {
                            if ( n.nodeName === 'FONT' && ed.settings.convert_fonts_to_spans ) {
                                return '</span>';
                            } else {
                                return '</' + n.nodeName.toLowerCase() + '>';
                            }
                        }

                        let result = '';
                        while ( n ) {
                            if ( n === r )
                                break;
                            result += getCloseTag(n);
                            n = n.parentNode;
                        }
                        return result;
                    }

                    function getOpen(n, r) {
                        // get the html "open-tag" of a node
                        function getOpenTag(n) {
                            let attr, copy;
                            copy = n.cloneNode(false);
                            copy.innerHTML = '';
                            attr = ed.dom.getOuterHTML(copy)
                                .replace(new RegExp('<' + copy.nodeName, 'i'), '')
                                .replace(new RegExp('</' + copy.nodeName + '>', 'i'), '');
                            return '<' + copy.nodeName.toLowerCase() + attr;
                        };

                        let result = '';
                        while ( n ) {
                            if ( n === r )
                                break;
                            result = getOpenTag(n) + result;
                            n = n.parentNode;
                        }
                        return result;
                    }

                    node = ed.selection.getNode();
                    bq_node = getMostTopBlockquote(node, ed.getBody());
                    if ( ! bq_node ) // we aren't in a blockquote
                        return;

                    /* Create an unique splitToken */
                    splitToken = '_$' + (new Date()).getTime() + '$_';
                    ed.selection.setContent(splitToken, { formar: 'raw' });
                    parts = ed.getContent().split(splitToken);

                    /* blockquote can handle DOM tree. So we have to close
                     * and open DOM element correctly, and not wildly split
                     * the editor content. Plus, openTags has to keep all
                     * attributes to keep makeup of DOM elements, we split.
                     */
                    openTags = getOpen(node, bq_node);
                    closeTags = getClose(node, bq_node);

                    if ( ed.settings.convert_fonts_to_spans && openTags !== '' ) {
                        /* juste convert </span> to </font>
                         * if <font> are converted to <span>
                         * as n.nodeName returns "FONT" for <span> node :/
                         * @see tinymce.Editor.-_convertFonts() for more information
                         */
                        (function() {
                            let font_count = (openTags.match(/<font/ig) || []).length;
                            for( i = 0; i < font_count; ++i ) {
                                start_idx = parts[1].indexOf('</span>');
                                if ( start_idx !== -1 ) {
                                    parts[1] = parts[1].substring(0, start_idx)
                                        + '</font>'
                                        + parts[1].substring(start_idx + 7);
                                }
                            }
                        })();
                    }

                    /* Update the editor content :
                     *  - part[0] : content before the selection, before split
                     *  - closeTags : </tag> to close correctly html tags
                     *  - </blockquote> : close the blockquote
                     *  - <br id='__' /> : <br /> are converted to "<p> </p>". The id
                     *                     is used to change the location of the selection (cursor)
                     *  - <blockquote> : open the new blockquote
                     *  - openTags : re-open splited DOM nodes correctly
                     *  - part[1] : content after the selection, before split
                     */
                    ed.setContent(parts[0] + closeTags
                        + '</blockquote><br id="__"><blockquote>'
                        + openTags + parts[1]);

                    /* delete empty <p>aragraphe at the end of the first blockquote
                     * and at the beginnig at the second blockquote.
                     * Delete id attributes to */
                    function clean_node(node) {
                        let node_html;
                        if ( node == null || node.nodeName !== 'P' ) {
                            return;
                        }
                        node_html = node.innerHTML.trim();
                        if ( node_html === '' || node_html === '<br mce_bogus="1">' || node_html === '<br>' ) {
                            ed.dom.remove(node);
                        }
                    }

                    bq_node = ed.getBody().getElementsByTagName('blockquote');
                    for( i = 0; i < bq_node.length; ++i ) {
                        if ( bq_node[i] == null ) {
                            continue;
                        } /* paranoiac mode */
                        clean_node(bq_node[i].firstChild);
                        clean_node(bq_node[i].lastChild);
                        if ( bq_node[i].innerHTML.trim() === '' ) {
                            ed.dom.remove(bq_node[i]);
                        }
                    }

                    /* get the <br id="__"> element and put cursor on it */
                    node = ed.dom.get('__');
                    node.removeAttribute('id');
                    ed.selection.select(node);
                    ed.selection.collapse(true);

                    /* Don't interpret <ENTER> again, to prevent a new "<p> </p>" to be added */
                    return tinymce.dom.Event.cancel(e);
                });
            });

            tinymce.PluginManager.add('alignment', function(editor, url) {
                editor.ui.registry.addMenuButton('alignment', {
                    tooltip: 'Alignment',
                    icon: 'align-left',
                    fetch: function(callback) {
                        const items = [
                            {
                                text: 'Left align',
                                icon: 'align-left',
                                format: 'alignleft',
                                type: 'menuitem',
                                onAction: function() {
                                    editor.formatter.apply('alignleft');
                                }
                            },
                            {
                                text: 'Center align',
                                icon: 'align-center',
                                format: 'aligncenter',
                                type: 'menuitem',
                                onAction: function() {
                                    editor.formatter.apply('aligncenter');
                                }
                            },
                            {
                                text: 'Right align',
                                icon: 'align-right',
                                format: 'alignright',
                                type: 'menuitem',
                                onAction: function() {
                                    editor.formatter.apply('alignright');
                                }
                            },
                            {
                                text: 'Justify align',
                                icon: 'align-justify',
                                format: 'alignjustify',
                                type: 'menuitem',
                                onAction: function() {
                                    editor.formatter.apply('alignjustify');
                                }
                            }
                        ];
                        callback(items);
                    }
                });
            });
        },
        methods: {
            onChange: function(e) {
                this.$emit('change', e);
            },
            editorInit(e) {
            },
            changeInput(value) {
                this.$emit('input', value);
            }
        }
    };
</script>

<style>
    /*.tox .tox-editor-header {
        !*z-index: 1000 !important;*!
    }*/
</style>