<template>
    <span :title="dateTime">
        {{ date }}
    </span>
</template>

<script>
    import moment from 'moment';

    moment.locale('vi');

    export default {
        name: 'DateFormat',
        props: {
            value: {
                type: String,
                default: undefined,
                isRequired: true
            },
            format: {
                type: String,
                default: 'DD/MM/YYYY'
            }
        },
        computed: {
            date() {
                return moment(this.value).format(this.format);
            },
            dateTime() {
                return moment(this.value).format('DD/MM/YYYY hh:mm');
            }
        }
    };
</script>

<style scoped>

</style>