<template>
    <textarea
        id="nguyen"
        ref="editor"
        :value="value"
        @keyup="onKeyup"/>
</template>

<script>
    export default {
        name: 'GutenbergEditor',
        props: {
            value: {
                type: String,
                default: undefined
            }
        },
        mounted() {
            if ( typeof window !== 'undefined' ) {
                // console.log(this.$refs.editor);
                setTimeout(_ => {
                    Laraberg.init('nguyen', { prefix: '/laraberg' })
                });
            }
        },
        head() {
            return {
                link: [
                    {
                        rel: 'stylesheet',
                        href: 'http://demo.laraberg.io/vendor/laraberg/css/laraberg.css'
                    }
                ],
                script: [
                    { src: 'https://unpkg.com/react@16.6.3/umd/react.production.min.js' },
                    { src: 'https://unpkg.com/react-dom@16.6.3/umd/react-dom.production.min.js' },
                    { src: 'https://unpkg.com/moment@2.22.1/min/moment.min.js' },
                    { src: 'https://code.jquery.com/jquery-1.12.4.min.js' },
                    { src: 'http://demo.laraberg.io/vendor/laraberg/js/laraberg.js' },
                ]
            }
        },
        methods: {
            onKeyup() {
                console.log(this.content);
            }
        }
    };
</script>

<style scoped>

</style>