<template>
    <v-avatar
        :size="size"
        :tile="true"
        color="grey lighten-4 pointer"
        @click="choosenFile"
    >
        <input
            ref="inputFile"
            style="display: none"
            type="file"
            @change="onChangeAvatar">

        <v-icon v-if="!avatarURL">add_a_photo</v-icon>
        <template v-else>
            <v-tooltip
                v-if="error"
                top
            >
                <template v-slot:activator="{ on }">
                    <v-icon
                        style="border: solid 1px red;"
                        v-on="on">
                        photo
                    </v-icon>
                </template>
                <span>Upload error</span>
            </v-tooltip>
            <template v-else>
                <v-overlay
                    v-if="loading"
                    absolute
                >
                    <div class="d-flex flex-column align-center">
                        <v-progress-circular
                            indeterminate
                            color="primary"
                        />
                        <span class="mt-2">Upload</span>
                    </div>
                </v-overlay>
                <img
                    :src="avatarURL"
                    alt="avatar"
                >
            </template>
        </template>
    </v-avatar>
</template>

<script>
    export default {
        name: 'Upload',
        props: {
            value: {
                type: String,
                default: undefined
            },
            size: {
                type: [String, Number],
                default: 150
            },
            thumbnailId: {
                type: [String, Number],
                default: undefined
            },
            thumbnail: {
                type: Object,
                default: undefined
            },
        },
        data() {
            return {
                error: false,
                loading: false
            }
        },
        computed: {
            avatarURL: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val.value);
                    this.$emit('update:thumbnailId', val.thumbnailId);
                }
            },
        },
        methods: {
            onChangeAvatar(event) {
                const { files } = this.$refs.inputFile;

                if ( ! files.length ) {
                    return;
                }
                this.loading = true;

                var reader = new FileReader();

                reader.onload = (e) => {
                    this.avatarURL = {
                        value: e.target.result,
                        thumbnailId: null
                    };
                }

                reader.readAsDataURL(files[0]);

                this.postFileUpload(files[0]).then(data => {
                    this.avatarURL = {
                        value: data.path,
                        thumbnailId: data.thumbnailId
                    };
                    this.error = false;
                }).finally(() => {
                    this.loading = false;

                    this.$refs.inputFile.value = '';
                })
            },
            choosenFile() {
                this.$refs.inputFile.click();
            },
            postFileUpload(file) {
                const formData = new FormData();
                formData.append('foo', file);

                return fetch(process.env.UPLOAD_URL, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        try {
                            return response.json();
                        } catch (e) {
                            this.error = true;
                        }
                    })
                    .catch(e => {
                        this.error = true;
                        console.log(e);
                    });
            }
        }
    };
</script>

<style scoped>

</style>