<template>
    <v-layout
        row
        wrap>
        <v-flex
            v-for="(item, index) in imagesURL"
            :key="index"
            d-flex
            md2
            xs3
        >
            <v-card
                class="d-flex"
                flat
                tile>
                <v-hover>
                    <v-img
                        slot-scope="{ hover }"
                        :lazy-src="item.image"
                        :src="item.image"
                        aspect-ratio="1"
                        class="grey lighten-2"
                        min-width="150px"
                        max-height="150px"
                    >
                        <v-tooltip
                            v-if="index === 0"
                            top>
                            <template v-slot:activator="{ on }">

                                <span v-on="on"><v-icon
                                    class="pa-1 image-avatar"
                                    color="white">spellcheck</v-icon></span>
                            </template>
                            <span>{{ $t('Avatar') }}</span>
                        </v-tooltip>


                        <template v-slot:placeholder>
                            <v-layout
                                align-center
                                fill-height
                                justify-center
                                ma-0
                            >
                                <v-progress-circular
                                    color="grey lighten-5"
                                    indeterminate/>
                            </v-layout>
                        </template>
                        <v-expand-transition>
                            <div
                                v-if="hover"
                                class="backg-hover d-flex transition-fast-in-fast-out v-card--reveal white--text text justify-end align-end"
                                style="height: 100%;"
                            >
                                <div class="pa-2 align-center justify-center">
                                    <span class="font-weight-bold">ALT</span>
                                    <ButtonActionTooltip
                                        :title="$t('Delete')"
                                        color="white"
                                        icon="delete"
                                        @click="deleteImage(item.image)"/>

                                </div>
                            </div>
                        </v-expand-transition>
                    </v-img>
                </v-hover>

            </v-card>
        </v-flex>
        <v-flex
            d-flex
            md2
            xs3>
            <v-avatar
                :size="imagesURL && imagesURL.length ? '100%' : '150'"
                :tile="true"
                color="grey lighten-4 pointer"
                @click="choosenFile"
            >
                <input
                    ref="inputFile"
                    multiple
                    style="display: none"
                    type="file"
                    @change="change">
                <v-icon>add_a_photo</v-icon>
            </v-avatar>
        </v-flex>
    </v-layout>
</template>

<script>
    import ButtonActionTooltip from '../button/ButtonActionTooltip';

    export default {
        name: 'Uploads',
        components: { ButtonActionTooltip },
        props: {
            value: {
                type: Array,
                default() {
                    return []
                }
            }
        },
        data() {
            return {
                imagesURL: []
            }
        },
        computed: {
            // imagesURL: {
            //     get() {
            //         return this.value || [];
            //     },
            //     set(val) {
            //         // this.$emit('input', val);
            //     }
            // },
        },
        watch: {
            imagesURL(val, old) {
                this.$emit('input', val);
            },
            value(val, old) {
                if ( val !== old && Array.isArray(val)) {
                    this.imagesURL = val;
                }
            }
        },
        mounted() {
            if (Array.isArray(this.value)) {
                this.imagesURL = this.value || [];
            }
        },
        methods: {
            change(event) {
                const { files } = this.$refs.inputFile;

                if ( ! files.length ) {
                    return;
                }

                for( let file of files ) {
                    this.postFileUpload(file).then(data => {
                        this.imagesURL.push({
                            image: data.path,
                            thumbnailId: data.thumbnailId
                        });
                    });
                }
            },

            choosenFile() {
                this.$refs.inputFile.click();
            },

            postFileUpload(file) {
                const formData = new FormData();
                formData.append('foo', file);

                return fetch(process.env.UPLOAD_URL, {
                    method: 'POST',
                    body: formData
                }).then(response => response.json());
            },

            deleteImage(e) {
                if ( e && this.imagesURL ) {
                    this.imagesURL = this.imagesURL.filter(x => x.image !== e);
                }
            }

        }
    };
</script>

<style lang="scss" scoped>
    .backg-hover {
        background-color: #383838a8 !important;
        border-color: #383838a8 !important;
    }

    .image-avatar {
        background: rgb(68, 151, 67);
        top: 15px;
        position: absolute;
        cursor: help;
        @media (max-width: 550px) {
            top: 3px;
            font-size: 16px;
        }
    }
</style>