<template>
    <v-container
        fill-height
        fluid
        grid-list-md
    >
        <v-layout wrap>
            <v-flex
                lg4
                md12
                sm12
            >
                <ChartCard
                    :data="dailySalesChart.data"
                    :options="dailySalesChart.options"
                    color="info"
                    type="Line"
                >
                    <h4 class="title font-weight-light">Daily Sales</h4>
                    <p class="category d-inline-flex font-weight-light">
                        <v-icon
                            color="green"
                            small
                        >
                            arrow_upward
                        </v-icon>
                        <span class="green--text">55%</span>&nbsp;
                        increase in today's sales
                    </p>

                    <template slot="actions">
                        <v-icon
                            class="mr-2"
                            small
                        >
                            schedule
                        </v-icon>
                        <span class="caption grey--text font-weight-light">updated 4 minutes ago</span>
                    </template>
                </ChartCard>
            </v-flex>
            <v-flex
                lg4
                md12
                sm12
            >
                <ChartCard
                    :data="emailsSubscriptionChart.data"
                    :options="emailsSubscriptionChart.options"
                    :responsive-options="emailsSubscriptionChart.responsiveOptions"
                    color="red"
                    type="Bar"
                >
                    <h4 class="title font-weight-light">Email Subscription</h4>
                    <p class="category d-inline-flex font-weight-light">Last Campaign Performance</p>

                    <template slot="actions">
                        <v-icon
                            class="mr-2"
                            small
                        >
                            schedule
                        </v-icon>
                        <span class="caption grey--text font-weight-light">updated 10 minutes ago</span>
                    </template>
                </ChartCard>
            </v-flex>
            <v-flex
                lg4
                md12
                sm12
            >
                <ChartCard
                    :data="dataCompletedTasksChart.data"
                    :options="dataCompletedTasksChart.options"
                    color="green"
                    type="Line"
                >
                    <h3 class="title font-weight-light">Completed Tasks</h3>
                    <p class="category d-inline-flex font-weight-light">Last Last Campaign Performance</p>

                    <template slot="actions">
                        <v-icon
                            class="mr-2"
                            small
                        >
                            schedule
                        </v-icon>
                        <span class="caption grey--text font-weight-light">campaign sent 26 minutes ago</span>
                    </template>
                </ChartCard>
            </v-flex>
            <v-flex
                lg3
                md6
                sm6
                xs12
            >
                <StatsCard
                    color="green"
                    icon="store"
                    sub-icon="calendar_today"
                    sub-text="Last 24 Hours"
                    title="Revenue"
                    value="$34,245"
                />
            </v-flex>
            <v-flex
                lg3
                md6
                sm6
                xs12
            >
                <StatsCard
                    color="orange"
                    icon="file_copy"
                    small-value="GB"
                    sub-icon="warning"
                    sub-icon-color="error"
                    sub-text="Get More Space..."
                    sub-text-color="text-primary"
                    title="Used Space"
                    value="49/50"
                />
            </v-flex>
            <v-flex
                lg3
                md6
                sm6
                xs12
            >
                <StatsCard
                    color="red"
                    icon="error_outline"
                    sub-icon="label"
                    sub-text="Tracked from Github"
                    title="Fixed Issues"
                    value="75"
                />
            </v-flex>
            <v-flex
                lg3
                md6
                sm6
                xs12
            >
                <StatsCard
                    color="info"
                    icon="public"
                    sub-icon="update"
                    sub-text="Just Updated"
                    title="Followers"
                    value="+245"
                />
            </v-flex>
            <v-flex
                lg6
                md12
            >
                <Card
                    color="orange"
                    text="New employees on 15th September, 2016"
                    title="Employee Stats"
                >
                    <v-data-table
                        :headers="headers"
                        :items="items"
                        hide-default-footer
                    >
                        <template
                            slot="headerCell"
                            slot-scope="{ header }"
                        >
                            <span
                                class="font-weight-light text-warning text--darken-3"
                                v-text="header.text"
                            />
                        </template>
                        <template
                            slot="items"
                            slot-scope="{ index, item }"
                        >
                            <td>{{ index + 1 }}</td>
                            <td>{{ item.name }}</td>
                            <td class="text-sm-right">{{ item.salary }}</td>
                            <td class="text-sm-right">{{ item.country }}</td>
                            <td class="text-sm-right">{{ item.city }}</td>
                        </template>
                    </v-data-table>
                </Card>
            </v-flex>
            <v-flex
                lg6
                md12
            >
                <Card
                    class="card-tabs"
                    color="green">
                    <v-flex
                        slot="header"
                    >
                        <v-tabs
                            v-model="tabs"
                            color="transparent"
                            slider-color="white"
                        >
                            <span
                                class="subheading font-weight-light mr-3"
                                style="align-self: center"
                            >Tasks:</span>
                            <v-tab class="mr-3">
                                <v-icon class="mr-2">bug_report</v-icon>
                                Bugs
                            </v-tab>
                            <v-tab class="mr-3">
                                <v-icon class="mr-2">code</v-icon>
                                Website
                            </v-tab>
                            <v-tab>
                                <v-icon class="mr-2">cloud</v-icon>
                                Server
                            </v-tab>
                        </v-tabs>
                    </v-flex>

                    <v-tabs-items v-model="tabs">
                        <v-tab-item
                            v-for="n in 3"
                            :key="n"
                        >
                            <v-list three-line>
                                <v-list-item @click="complete(0)">
                                    <v-list-item-action>
                                        <v-checkbox
                                            :value="list[0]"
                                            color="green"
                                        />
                                    </v-list-item-action>
                                    <v-list-item-title>
                                        Sign contract for "What are conference organized afraid of?"
                                    </v-list-item-title>
                                    <div class="d-flex">
                                        <v-tooltip
                                            content-class="top"
                                            top>
                                            <template v-slot:activator="{ on }">
                                                <v-btn
                                                    class="v-btn--simple"
                                                    color="success"
                                                    icon
                                                    v-on="on"
                                                >
                                                    <v-icon color="primary">create</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Edit</span>
                                        </v-tooltip>
                                        <v-tooltip
                                            content-class="top"
                                            top>
                                            <template v-slot:activator="{ on }">
                                                <v-btn
                                                    class="v-btn--simple"
                                                    color="danger"
                                                    icon
                                                    v-on="on"
                                                >
                                                    <v-icon color="error">clear</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Close</span>
                                        </v-tooltip>

                                    </div>
                                </v-list-item>
                                <v-divider/>
                                <v-list-item @click="complete(1)">
                                    <v-list-item-action>
                                        <v-checkbox
                                            :value="list[1]"
                                            color="success"
                                        />
                                    </v-list-item-action>
                                    <v-list-item-title>
                                        Lines From Great Russian Literature? Or E-mails From My Boss?
                                    </v-list-item-title>
                                    <div class="d-flex">
                                        <v-tooltip
                                            content-class="top"
                                            top>
                                            <template v-slot:activator="{ on }">
                                                <v-btn
                                                    class="v-btn--simple"
                                                    color="success"
                                                    icon
                                                    v-on="on"
                                                >
                                                    <v-icon color="primary">create</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Edit</span>
                                        </v-tooltip>

                                        <v-tooltip
                                            content-class="top"
                                            top>
                                            <template v-slot:activator="{ on }">
                                                <v-btn
                                                    class="v-btn--simple"
                                                    color="danger"
                                                    icon
                                                    v-on="on"
                                                >
                                                    <v-icon color="error">clear</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Close</span>
                                        </v-tooltip>
                                    </div>
                                </v-list-item>
                                <v-divider/>
                                <v-list-item @click="complete(2)">
                                    <v-list-item-action>
                                        <v-checkbox
                                            :value="list[2]"
                                            color="success"
                                        />
                                    </v-list-item-action>
                                    <v-list-item-title>
                                        Flooded: One year later, assessing what was lost and what was found when a
                                        ravaging rain swept through metro Detroit
                                    </v-list-item-title>
                                    <div class="d-flex">
                                        <v-tooltip
                                            content-class="top"
                                            top>
                                            <template v-slot:activator="{ on }">
                                                <v-btn
                                                    class="v-btn--simple"
                                                    color="success"
                                                    icon
                                                    v-on="on"
                                                >
                                                    <v-icon color="primary">create</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Edit</span>
                                        </v-tooltip>
                                        <v-tooltip
                                            content-class="top"
                                            top>
                                            <template v-slot:activator="{ on }">
                                                <v-btn
                                                    class="v-btn--simple"
                                                    color="danger"
                                                    icon
                                                    v-on="on"
                                                >
                                                    <v-icon color="error">clear</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Close</span>
                                        </v-tooltip>

                                    </div>
                                </v-list-item>
                            </v-list>
                        </v-tab-item>
                    </v-tabs-items>
                </Card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import ChartCard from './material/ChartCard';
    import StatsCard from './material/StatsCard';
    import Card from './material/Card';

    export default {
        name: 'Dd',
        components: { Card, StatsCard, ChartCard },
        data() {
            return {
                dailySalesChart: {
                    data: {
                        labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
                        series: [
                            [12, 17, 7, 17, 23, 18, 38]
                        ]
                    },
                    options: {
                        lineSmooth: this.$chartist.Interpolation.cardinal({
                            tension: 0
                        }),
                        low: 0,
                        high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                        chartPadding: {
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        }
                    }
                },
                dataCompletedTasksChart: {
                    data: {
                        labels: ['12am', '3pm', '6pm', '9pm', '12pm', '3am', '6am', '9am'],
                        series: [
                            [230, 750, 450, 300, 280, 240, 200, 190]
                        ]
                    },
                    options: {
                        lineSmooth: this.$chartist.Interpolation.cardinal({
                            tension: 0
                        }),
                        low: 0,
                        high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                        chartPadding: {
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        }
                    }
                },
                emailsSubscriptionChart: {
                    data: {
                        labels: ['Ja', 'Fe', 'Ma', 'Ap', 'Mai', 'Ju', 'Jul', 'Au', 'Se', 'Oc', 'No', 'De'],
                        series: [
                            [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895]

                        ]
                    },
                    options: {
                        axisX: {
                            showGrid: false
                        },
                        low: 0,
                        high: 1000,
                        chartPadding: {
                            top: 0,
                            right: 5,
                            bottom: 0,
                            left: 0
                        }
                    },
                    responsiveOptions: [
                        [
                            'screen and (max-width: 640px)', {
                            seriesBarDistance: 5,
                            axisX: {
                                labelInterpolationFnc: function(value) {
                                    return value[0];
                                }
                            }
                        }]
                    ]
                },
                headers: [
                    {
                        sortable: false,
                        text: 'ID',
                        value: 'id'
                    },
                    {
                        sortable: false,
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        sortable: false,
                        text: 'Salary',
                        value: 'salary',
                        align: 'right'
                    },
                    {
                        sortable: false,
                        text: 'Country',
                        value: 'country',
                        align: 'right'
                    },
                    {
                        sortable: false,
                        text: 'City',
                        value: 'city',
                        align: 'right'
                    }
                ],
                items: [
                    {
                        name: 'Dakota Rice',
                        country: 'Niger',
                        city: 'Oud-Tunrhout',
                        salary: '$35,738'
                    },
                    {
                        name: 'Minerva Hooper',
                        country: 'Curaçao',
                        city: 'Sinaai-Waas',
                        salary: '$23,738'
                    }, {
                        name: 'Sage Rodriguez',
                        country: 'Netherlands',
                        city: 'Overland Park',
                        salary: '$56,142'
                    }, {
                        name: 'Philip Chanley',
                        country: 'Korea, South',
                        city: 'Gloucester',
                        salary: '$38,735'
                    }, {
                        name: 'Doris Greene',
                        country: 'Malawi',
                        city: 'Feldkirchen in Kārnten',
                        salary: '$63,542'
                    }
                ],
                tabs: 0,
                list: {
                    0: false,
                    1: false,
                    2: false
                }
            };
        },
        methods: {
            complete(index) {
                this.list[index] = ! this.list[index];
            }
        }
    };
</script>

<style scoped>

</style>
