<template>
    <div class="box-line mb-4">
        <h5
            v-if="title"
            class="title">{{ title }}</h5>
        <slot/>
    </div>
</template>
<script>
    export default {
        name: 'BoxLine',
        props: {
            title: {
                type: String,
                default: ''
            }
        }
    }
</script>