<template>
    <Box :title="$t('Custom field')">
        <div slot="content">
            <v-card-text>
                <v-layout>
                    <v-flex>
                        <v-text-field
                            filled
                            label="Tên"
                        />
                        <v-btn>Xóa</v-btn>
                        <v-btn>Cập nhật</v-btn>
                    </v-flex>
                    <v-flex>
                        <v-textarea
                            filled
                            label="Giá trị"
                        />
                    </v-flex>
                </v-layout>
            </v-card-text>

            <v-divider/>
            <v-card-text>
                <v-label>{{ $t('Add new custom field') }}</v-label>
                <v-layout>
                    <v-flex>
                        <v-text-field
                            filled
                            label="Tên"
                        />
                        <v-btn>{{ $t('Add custom field') }}</v-btn>
                    </v-flex>
                    <v-flex>
                        <v-textarea
                            filled
                            label="Giá trị"
                        />
                    </v-flex>
                </v-layout>
            </v-card-text>
        </div>
    </Box>
</template>

<script>
    import Box from '../material/Box';

    export default {
        name: 'CustomFieldBox',
        components: { Box }
    };
</script>

<style scoped>

</style>