<template>
    <BoxPanel
        :extra="extra"
        :title="$t('Search Engine Optimize')"
    >
        <TextField
            :label="$t('SEO Title')"
            :placeholder="$t('SEO Title')"
            v-model="form.meta__seo_title"
            count
        />
        <TextField
            :label="$t('SEO description')"
            :placeholder="$t('SEO description')"
            v-model="form.meta__seo_description"
        />
        <TextField
            :label="$t('SEO keyword')"
            :placeholder="$t('SEO keyword')"
            v-model="form.meta__seo_keyword"
        />
    </BoxPanel>
</template>

<script>
    import BoxPanel from '../material/BoxPanel';
    import TextField from '../views/theme/TextField';

    export default {
        name: 'SeoBox',
        components: { TextField, BoxPanel },
        props: {
            form: {
                type: Object,
                default: undefined
            }
        },
        data() {
            return {
                extra: false
            }
        },
        watch: {
            form(val) {
                if ( val.meta__seo_title || val.meta__seo_description ) {
                    this.extra = true;
                }
                ;
            }
        }
    };
</script>

<style scoped>

</style>