<template>
    <v-container grid-list-lg>
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >
            <div
                class="toolbar-form-post"
            >
                <h3 class="font-weight-regular">{{ $t('Create orders') }}</h3>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Cancel') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Save') }}
                </v-btn>
            </div>
            <FormToolbar container>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Cancel') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Save') }}
                </v-btn>
            </FormToolbar>
            <FormOrder
                v-model="form"
                @save="publish"
            >
                <template slot="submit">
                    <div/>
                </template>
                <template slot="customField">
                    <div/>
                </template>
            </FormOrder>
        </v-form>
        <v-overlay :value="loading">
            <v-progress-circular
                :size="50"
                indeterminate
                color="primary"
            />
        </v-overlay>
    </v-container>
</template>

<script>
    import Card from '../../../../components/material/Card';
    import FormPost from '../../../../components/views/post/FromPost';
    import FormToolbar from '../../../../components/material/FormToolbar';
    import Toolbar from '../../../../components/core/Toolbar';
    import FormOrder from '../../../../components/views/order/FormOrder';
    import { CREATE_ORDER } from '../../../../apollo/mutation/order';
    import _ from 'lodash';

    export default {
        components: { FormOrder, Toolbar, FormToolbar, FormPost, Card },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    tags: [],
                    items: [],
                    orderStatusId: 1
                }
            };
        },
        methods: {
            formatForm() {
                let meta = [];
                for( let i in this.form ) {
                    let split = i.split('_');
                    let isMeta = split.indexOf('meta') === 0;

                    if ( isMeta ) {
                        meta.push({
                            metaKey: split[1],
                            metaValue: this.form[i]
                        });
                    }
                }
                let tags = [];

                if ( Array.isArray(this.form.tags) ) {
                    tags = this.form.tags.map(i => (i.text));
                }

                let items = this.form.items.map(x => {
                    x.name = x.getName();
                    x.image = x.getImage();
                    return _.pick(x, [
                        // 'id',
                        'orderId',
                        'productBranchId',
                        'sku',
                        'code',
                        'name',
                        'image',
                        'price',
                        'quantity',
                        'discount',
                        'discountType',
                        'tax',
                        'reward',
                        'type',
                        'items',
                        'methodId',
                        'instanceId'
                    ]);
                });

                return {
                    ...this.form,
                    meta,
                    tags,
                    items,
                    customerId: this.form.user ? this.form.user.id : null,
                    taxValue: this.form.taxes ? this.form.taxValue : 0
                }
            },
            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                // console.log('variables', variables);

                return this.serviceHttp.createFetch({
                    mutation: CREATE_ORDER,
                    variables: variables,
                    refetchQueries: 'post'
                }, callback);
            },
            saveToDraft() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = {
                            tags: [],
                            items: [],
                            orderStatusId: 1,
                            postStatus: 'draft'
                        };
                    }

                    /*this.handleSave((data) => {
                        this.$router.push({
                            path: '/order/form/edit/' + data.orderCreate.id
                        });
                    });*/
                }
            },
            publish() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = { ...this.form, postStatus: 'publish' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            path: '/order/form/edit/' + data.orderCreate.id
                        });
                    });
                }
            }
        }
    };
</script>

<style scoped>
    .form-post {
    }

    .toolbar-form-post {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>