<template>
    <Box>
        <v-card flat>
            <v-card-text class="font-weight-regular">
                <div>
                    <a @click="changeStep">Khu vực giao hàng</a> | <a href="#">Tùy chọn giao hàng</a> | <a
                        href="#">Loại hình giao hàng</a>
                </div>
                <v-stepper
                    v-model="e1"
                    class="elevation-0"
                >
                    <v-stepper-header style="display: none;">
                        <v-stepper-step step="1">Name of step 3</v-stepper-step>
                        <v-stepper-step step="2">Name of step 3</v-stepper-step>
                    </v-stepper-header>
                    <v-stepper-items>
                        <v-stepper-content
                            class="pa-0"
                            step="1">
                            <OrderShippingZone @edit="edit"/>
                        </v-stepper-content>
                        <v-stepper-content
                            class="pa-0"
                            step="2">
                            <OrderShippingZoneForm
                                v-if="e1 === 2"
                                :key="$route.query.zoneId"
                            />
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
            </v-card-text>
        </v-card>
    </Box>
</template>

<script>
    import Box from '../../../material/Box';
    import OrderShippingZone from './shipping/OrderShippingZone';
    import OrderShippingZoneForm from './shipping/OrderShippingZoneForm';

    export default {
        name: 'OrderSettingShipping',
        components: { OrderShippingZoneForm, OrderShippingZone, Box },
        data() {
            return {
                e1: 1,
                selected: undefined
            }
        },
        methods: {
            edit(item) {
                this.e1 = 2;
                this.selected = item;
                this.$router.push({
                    query: { ...this.$route.query, zoneId: item.id }
                });
            },
            changeStep() {
                this.e1 = 1;
                this.$router.push({
                    query: { tab: this.$route.query.tab }
                });
            }
        }
    };
</script>

<style scoped>

</style>