<template>
    <Box>
        <v-layout>
            <v-flex>
                <div class="headline">Địa chỉ cửa hàng</div>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Địa chỉ (dòng 1)</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Địa chỉ (dòng 2)</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Thành phố</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Quốc gia</v-subheader>
            </v-flex>
            <v-flex xs8>
                <SelectCountry/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Mã bưu điện</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>

        <v-layout>
            <v-flex>
                <div class="headline">Tùy chọn chung</div>
            </v-flex>
        </v-layout>

        <v-layout row>
            <v-flex xs2>
                <v-subheader>Kích hoạt thuế</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-checkbox label="Bật thuế và tính thuê"/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Bật mã ưu đãi</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-checkbox label="Cho phép sử dụng mã ưu đãi"/>
            </v-flex>
        </v-layout>


        <v-layout>
            <v-flex>
                <div class="headline">Tùy tiền tệ</div>
            </v-flex>
        </v-layout>

        <v-layout row>
            <v-flex xs2>
                <v-subheader>Tiền tệ</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Vị trí tiền tệ</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Ký tự ngăn cách phần ngàn</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Đấu cách phần thập phân</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Số chữ số thập phân</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>

    </Box>
</template>

<script>
    import Box from '../../../material/Box';
    import SelectCountry from '../../../select/SelectCountry';

    export default {
        name: 'OrderSettingGeneral',
        components: { SelectCountry, Box }
    };
</script>

<style scoped>

</style>