<template>
    <Box>
        <v-layout>
            <v-flex>
                <div class="headline">Trang cửa hàng</div>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Ảnh thay thế</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field/>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Thêm vào giỏ hàng</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-checkbox label="Chuyển đến trang giỏ hàng sau khi bổ sung thành công"/>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex>
                <div class="headline">Đánh giá</div>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs2>
                <v-subheader>Cho phép đánh giá</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-checkbox label="Cho phép đánh giá sản phẩm"/>
            </v-flex>
        </v-layout>
    </Box>
</template>

<script>
    import Box from '../../../material/Box';

    export default {
        name: 'OrderSettingProduct',
        components: { Box }
    };
</script>

<style scoped>

</style>