<template>
    <v-container>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <v-layout>
                <v-flex
                    xs9
                >
                    <Card
                        :text="$t('Create a brand new user and add them to this site.')"
                        :title="$t('Add user')"
                        color="green">
                        <v-text-field
                            :error="!!errors.name"
                            :error-messages="errors.name"
                            :label="$t('Full Name')"
                            :rules="[v => !!v || $t('Fullname is required')]"
                            v-model="form.name"
                        />
                        <v-text-field
                            :error="!!errors.email"
                            :error-messages="errors.email"
                            :label="$t('Email')"
                            :rules="[v => !!v || $t('Email is required')]"
                            v-model="form.email"
                        />
                        <v-text-field
                            :error="!!errors.phone"
                            :error-messages="errors.phone"
                            :label="$t('Phone')"
                            :rules="[v => !!v || $t('Phone is required')]"
                            v-model="form.phone"
                        />
                        <v-text-field
                            :append-icon="e1 ? 'visibility' : 'visibility_off'"
                            :error="!!errors.password"
                            :error-messages="errors.password"
                            :label="$t('Password')"
                            :rules="[v => !!v || $t('Password is required')]"
                            :type="e1 ? 'text' : 'password'"
                            v-model="form.password"
                            @click:append="() => (e1 = !e1)"
                        />
                        <SelectRole
                            :error="!!errors.roles"
                            :error-messages="errors.roles"
                            :label="$t('Role')"
                            :rules="[v => !!v || $t('Role is required')]"
                            v-model="form.roles"
                        />
                    </Card>
                </v-flex>
                <v-flex
                    class="pa-2"
                    xs3>
                    <Box :title="$t('Publish')">
                        <v-btn
                            class="v-btn-facebook"
                            @click="validate">Save
                        </v-btn>
                    </Box>
                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../components/material/Card';
    import Box from '../../components/material/Box';
    import { CREATE_USER } from '../../apollo/mutation/user';
    import SelectRole from '../../components/select/SelectRole';

    export default {
        components: { SelectRole, Box, Card },
        data() {
            return {
                e1: false,
                valid: true,
                loading: false,
                form: {
                    permissions: []
                },
                errors: {}
            }
        },
        methods: {
            validate() {
                if ( this.validateOnFocusForm() ) {
                    this.fetchAPI(() => {
                        this.$router.push({
                            path: '/user'
                        });
                    });
                }
            },
            saveAndEdit() {
                if ( this.validateOnFocusForm() ) {
                    this.fetchAPI((data) => {
                        this.$router.push({
                            path: '/user/profile/' + data.roleCreate.id
                        });
                    });
                }
            },
            fetchAPI(callback) {
                this.serviceHttp.createFetch({
                    mutation: CREATE_USER,
                    variables: { ...this.form },
                    refetchQueries: ['users']
                }, callback);
            }
        }
    };
</script>

<style scoped>

</style>