<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container
        fluid>
        <Table
            :delete-mutation="deleteMutation"
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('User')"
            delete-refetch-queries="users"
        >
            <template v-slot:toolbar-actions>
                <ToolbarActionsUser
                    :delete-mutation="deleteMutation"
                    :selected.sync="selected"
                    delete-refetch-queries="users"
                />
            </template>
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    :class="{
                        'blue--text lighten-4': showFilter
                    }"
                    depressed
                    @click="toggleFilter">{{ $t('Filter') }}
                </v-btn>
                <FormFilter
                    v-model="searchText"
                    class="ma-2"
                />
                <v-spacer/>
                <v-btn
                    class="ma-2"
                    color="primary"
                    dark
                    nuxt
                    to="/user/add">{{ $t('Create') }}
                </v-btn>
                <v-btn
                    depressed
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only User, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">
                    <nuxt-link :to="'user/profile/' + item.id">
                        {{ item.email }}
                    </nuxt-link>
                </td>
                <td class="text-sm-left">{{ item.name }}</td>
                <td class="text-sm-left">{{ item.phone }}</td>
                <td class="text-sm-left">
                    <Popover
                        left
                        offset-x
                        @open="popoverOpen = $event">
                        <template v-slot:activator="{on}">
                            <a
                                class="tooltip-target b3"
                                v-on="on"> {{ item.roles.map(x => (x.displayName)).join(', ') || 'No role assigned'
                                }} </a>
                        </template>
                        <template v-slot:popover="{popover}">
                            <Box
                                :title="$t('Assigned Role')"
                                class="elevation-3"
                                color="grey lighten-3"
                                offset="0">
                                <ChangeRole
                                    :open="popoverOpen"
                                    :users="[item]"
                                    @onClose="popover.close()"
                                />
                            </Box>
                        </template>
                    </Popover>
                </td>
                <!--<td class="text-sm-left">{{ item.id }}</td>-->
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="'user/profile/' + item.id"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <ButtonActionDelete
                        :gql="deleteMutation"
                        :item="item"
                        refetch-queries="users"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import { FETCH_USERS } from '../../apollo/query/user';
    import Box from '../../components/material/Box';
    import ChangeRole from '../../components/views/user/ChangeRole';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';
    import { DELETE_USER } from '../../apollo/mutation/user';
    import Popover from '../../components/popover/Popover';
    import FormFilter from '../../components/material/FormFilter';
    import ChangeOperatorGroup from '../../components/conditions/ChangeOperatorGroup';
    import Conditions from '../../components/conditions/Conditions';
    import { FILTER_USER } from '../../filters/user';
    import ToolbarActionsUser from '../../components/views/user/ToolbarActionsUser';

    export default {
        components: {
            ToolbarActionsUser,
            Conditions,
            ChangeOperatorGroup,
            FormFilter,
            Popover,
            ButtonActionDelete,
            ChangeRole,
            Box,
            DateFormat,
            ButtonActionTooltip,
            Table
        },
        data() {
            return {
                query: FETCH_USERS,
                deleteMutation: DELETE_USER,
                selected: [],
                searchText: '',
                filter: [],
                filterField: FILTER_USER,
                showFilter: false,
                operatorGroup: 'AND',

                popoverOpen: false,
                headers: [
                    {
                        text: this.$t('Email'),
                        align: 'left',
                        value: 'email',
                    },
                    {
                        text: this.$t('Name'),
                        align: 'left',
                        value: 'name',
                    },
                    {
                        text: this.$t('Phone'),
                        value: 'phone',

                    },
                    {
                        text: this.$t('Role'),
                        value: 'description',
                        sortable: false
                    },
                    /*{
                        text: this.$t('Status'),
                        value: 'description',

                    },*/
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '110px',
                        sortable: false
                    }
                ]
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [
                        {
                            operator: this.operatorGroup,
                            items: this.filter
                        }
                    ];
                }
                ;
                return [
                    {
                        operator: 'OR',
                        items: [
                            {
                                field: 'name',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            },
                            {
                                field: 'email',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            },
                            {
                                field: 'phone',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            }
                        ]
                    },
                    {
                        operator: this.operatorGroup,
                        items: this.filter
                    },
                ];
            }
        },
        methods: {
            toggleFilter() {
                this.showFilter = ! this.showFilter;
                if ( ! this.showFilter && this.filter.length ) {
                    this.filter = [];
                }
            },
        }
    };
</script>

<style>
    .tooltip-target {
        border-bottom: dashed 1px #2196F3;
    }
</style>
