<template>
    <v-layout
        row
        wrap
    >
        <template v-for="item in themes">
            <v-flex
                :key="item.id"
                xs12>
                <template v-if="item.type === 'categoryPost'">
                    <SelectCategoryPost
                        :label="item.label"
                        v-model="form[item.name]"
                    />
                </template>
                <template v-if="item.type === 'categoryProduct'">
                    <SelectCategoryProduct
                        :label="item.label"
                        v-model="form[item.name]"
                    />
                </template>
                <template v-if="item.type === 'image'">
                    <div>
                        <v-subheader
                            v-if="item.label"
                            class="pl-0">
                            {{ item.label }}
                        </v-subheader>
                        <div
                            v-if="item.description"
                            class="caption">
                            {{ item.description }}
                        </div>
                    </div>
                    <ImagePicker v-model="form[item.name]"/>
                </template>
                <template v-if="item.type === 'TextField'">
                    <TextField
                        :label="item.label"
                        v-bind="item.attrs"
                        v-model="form[item.name]"
                    />
                </template>
                <template v-if="item.type === 'checkbox'">
                    <v-checkbox
                        :label="item.label"
                        v-model="form[item.name]"
                        color="primary"
                        hide-details
                    />
                </template>
                <template v-if="item.type === 'slider'">
                    <v-subheader class="pl-0">
                        {{ item.header }}
                    </v-subheader>
                    <v-slider
                        :label="labelSlider(item, form[item.name])"
                        v-bind="item.attrs"
                        v-model="form[item.name]"
                        class="mt-0"
                        hide-details
                        inverse-label
                    />
                </template>
                <template v-if="item.type === 'select'">
                    <v-select
                        :items="item.options"
                        :label="item.label"
                        v-model="form[item.name]"
                    />
                </template>
                <template v-if="item.type === 'text'">
                    <no-ssr>
                        <c-k-editor
                            :label="item.label"
                            v-model="form[item.name]"
                            class="content"
                            type="text"
                        />
                    </no-ssr>
                </template>
                <template v-if="item.type === 'color'">
                    <div class="title">
                        {{ item.label }}
                    </div>
                    <div
                        v-for="color in item.items"
                        :key="color.id">
                        <ColorPicker v-model="form[color.name]">{{ color.label }}</ColorPicker>
                        <br>
                    </div>
                </template>
                <template v-if="item.type === 'listItem'">
                    <div class="title">
                        {{ item.label }}
                    </div>
                    <SectionListItem
                        :form="form"
                        :name="item.name"
                        :themes="item"/>
                </template>
            </v-flex>
        </template>
        <v-flex xs12>
            <v-btn
                color="red"
                depressed
                outlined
                @click="$emit('remove', true)">
                <v-icon left>mdi-trash-can-outline</v-icon>
                Remove section
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    import TextField from '../TextField';
    import ImagePicker from '../ImagePicker';
    import ColorPicker from '../ColorPicker';
    import SelectCategoryProduct from '../../../select/SelectCategoryProduct';
    import SelectCategoryPost from '../../../select/SelectCategoryPost';
    import SectionListItem from './SectionListItem';

    const uuid = require('uuid');

    export default {
        name: 'SectionCustom',
        components: { SectionListItem, SelectCategoryPost, SelectCategoryProduct, ColorPicker, ImagePicker, TextField },
        props: {
            themes: {
                type: [Object, Array],
                default() {
                    return [];
                }
            },
            value: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                form: {},
                defaultType: {
                    TextField: '',
                    image: {},
                    checkbox: undefined,
                    select: undefined,
                    slider: 0,
                    color: '#fff',
                    listItem: [],
                    categoryPost: '0',
                    categoryProduct: '0',
                    menu: undefined,
                    text: '',
                }
            }
        },
        watch: {
            form: {
                handler(val, old) {
                    console.log('form', val);
                    this.$emit('input', val);
                },
                deep: true
            },
            value(val, old) {
                console.log(val);
                if ( JSON.stringify(old), JSON.stringify(val) !== JSON.stringify(old) ) {
                    this.form = {
                        ..._.defaultsDeep(val, this.defaults)
                    }
                }
            }
        },
        created() {
            // this.form = {
            //     ..._.defaultsDeep(this.form, this.fn(this.themes))
            // };
            this.form = {
                ..._.defaultsDeep(this.value, this.defaults, this.fn(this.themes))
            }
        },
        mounted() {
            // console.log(this.value, this.defaults, this.fn(this.themes));
            // this.form = {
            //     ..._.defaultsDeep(this.value, this.defaults, this.fn(this.themes))
            // }
        },
        methods: {
            labelSlider(item, count) {
                return item.label.replace(/\{counter\}/g, count);
            },
            fn(items) {
                let res = {};
                for( let item of items ) {
                    if ( item.type === 'listItem' ) {
                        res[item.name] = this.fn(item.items);
                    }
                    ;
                    res[item.name] = this.defaultType[item.type];
                }
                return res;
            }
        }
    };
</script>

<style scoped>

</style>