<template>
    <v-expansion-panels v-model="panel">
        <div
            v-sortable="sortable"
            style="display: contents;">
            <v-expansion-panel
                v-for="(item,i) in form[name]"
                :key="i">
                <v-expansion-panel-header>
                    <v-list-item
                        style="margin: -16px -16px -16px -24px;"
                    >
                        <v-list-item-action
                            class="ml-0"
                            style="min-width: 30px; cursor: grab; margin-right: 0;">
                            <v-icon
                                color="#222"
                            >
                                mdi-drag
                            </v-icon>
                        </v-list-item-action>
                        <v-list-item-avatar>
                            <div
                                v-if="themes.svg"
                                class="next-icon"
                                v-html="themes.svg"
                            />
                            <v-icon
                                v-else
                                color="#666">{{ themes.icon }}
                            </v-icon>
                        </v-list-item-avatar>
                        <v-list-item-title>{{ getTitle(themes.title, item) }}</v-list-item-title>
                    </v-list-item>
                </v-expansion-panel-header>
                <v-divider/>
                <v-expansion-panel-content>
                    <br>
                    <v-card>
                        <v-card-text>
                            <div
                                v-for="theme in themes.items"
                                :key="theme.id">
                                <template v-if="theme.type === 'categoryPost'">
                                    <SelectCategoryPost
                                        :label="theme.label"
                                        v-model="item[theme.name]"
                                    />
                                </template>
                                <template v-if="theme.type === 'categoryProduct'">
                                    <SelectCategoryProduct
                                        :label="theme.label"
                                        v-model="item[theme.name]"
                                    />
                                </template>
                                <template v-if="theme.type === 'image'">
                                    <div>
                                        <v-subheader
                                            v-if="theme.label"
                                            class="pl-0">
                                            {{ theme.label }}
                                        </v-subheader>
                                        <div
                                            v-if="theme.description"
                                            class="caption">
                                            {{ theme.description }}
                                        </div>
                                    </div>
                                    <ImagePicker v-model="item[theme.name]"/>
                                </template>
                                <template v-if="theme.type === 'TextField'">
                                    <TextField
                                        :label="theme.label"
                                        v-model="item[theme.name]"
                                    />
                                </template>
                                <template v-if="theme.type === 'checkbox'">
                                    <v-checkbox
                                        :label="theme.label"
                                        v-model="item[theme.name]"
                                        color="primary"
                                        hide-details
                                    />
                                </template>
                                <template v-if="theme.type === 'slider'">
                                    <v-subheader class="pl-0">
                                        {{ theme.header }}
                                    </v-subheader>
                                    <v-slider
                                        :label="labelSlider(theme, item[theme.name])"
                                        v-bind="theme.attrs"
                                        v-model="item[theme.name]"
                                        class="mt-0"
                                        hide-details
                                        inverse-label
                                    />
                                </template>
                                <template v-if="theme.type === 'select'">
                                    <v-select
                                        :label="theme.label"
                                        :items="theme.options"
                                        v-model="item[theme.name]"
                                    />
                                </template>
                                <template v-if="theme.type === 'text'">
                                    <no-ssr>
                                        <c-k-editor
                                            :label="theme.label"
                                            v-model="item[theme.name]"
                                            class="content"
                                            type="text"
                                        />
                                    </no-ssr>
                                </template>
                                <template v-if="theme.type === 'color'">
                                    <div class="title">
                                        {{ theme.label }}
                                    </div>
                                    <div
                                        v-for="color in theme.items"
                                        :key="color.id">
                                        <ColorPicker v-model="item[color.name]">{{ color.label }}</ColorPicker>
                                        <br>
                                    </div>
                                </template>
                                <template v-if="theme.type === 'listItem'">
                                    <div class="title">
                                        {{ theme.label }}
                                    </div>
                                    <SectionListItem
                                        :form="item"
                                        :name="theme.name"
                                        :themes="themes"/>
                                </template>
                            </div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                color="red"
                                outlined
                                @click="removeContent(item)">
                                Remove
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </div>
        <v-expansion-panel
            readonly
        >
            <v-expansion-panel-header
                expand-icon=""
                @click="addContent">
                <v-list-item style="margin: -16px; color:rgba(10, 69, 122, 0.8);">
                    <v-list-item-avatar>
                        <v-icon color="rgba(10, 69, 122, 0.8)">mdi-plus-box-outline</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-title>Add content</v-list-item-title>
                </v-list-item>
            </v-expansion-panel-header>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script>
    import TextField from '../TextField';
    import ImagePicker from '../ImagePicker';
    import ColorPicker from '../ColorPicker';
    import SelectCategoryProduct from '../../../select/SelectCategoryProduct';
    import SelectCategoryPost from '../../../select/SelectCategoryPost';

    const uuid = require('uuid');

    export default {
        name: 'SectionListItem',
        components: { ColorPicker, ImagePicker, TextField, SelectCategoryPost, SelectCategoryProduct },
        props: {
            form: {
                type: Object,
                default() {
                    return {};
                }
            },
            name: {
                type: String,
                default: 'contents'
            },
            themes: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                sortable: {
                    group: 'shared',
                    animation: 300,
                    filter: '.disabled,.ck-editor',
                    handle: '.v-expansion-panel',
                    ghostClass: 'blue-background-class',
                    onUpdate: this.work
                },
                panel: null,
                defaultType: {
                    TextField: '',
                    image: {},
                    checkbox: undefined,
                    select: undefined,
                    slider: 0,
                    color: '#fff'
                }
            }
        },
        watch: {
            value(val, old) {
                if ( JSON.stringify(old), JSON.stringify(val) !== JSON.stringify(old) ) {
                    this.form = {
                        ..._.defaultsDeep(val, this.defaults)
                    }
                }
            }
        },
        beforeMount() {
        },
        mounted() {

        },
        methods: {
            getTitle(text, item) {
                if ( typeof text !== 'string' ) {
                    return text;
                }
                ;
                for( let i in item ) {
                    let rg = new RegExp(`(\{${ i }\})`, 'ig');

                    text = text.replace(rg, item[i]);
                }

                return text;
            },
            labelSlider(item, count) {
                return item.label.replace(/\{counter\}/g, count);
            },
            fn(items) {
                let res = {};
                for( let item of items ) {
                    if ( item.type === 'listItem' ) {
                        res[item.name] = this.fn(item.items);
                    }
                    ;
                    res[item.name] = this.defaultType[item.type];
                }
                return res;
            },
            addContent(item) {
                this.form[this.name].push({
                    id: uuid.v4(),
                    ...this.themes.data
                });

                this.panel = this.form[this.name].length;
            },
            removeContent(item) {
                this.form[this.name] = this.form[this.name].filter(x => x !== item);
                this.panel = undefined;
            }
        }
    };
</script>

<style scoped>

</style>