<template>
    <v-menu
        :close-on-content-click="false"
        :nudge-width="nudgeWidth"
        v-bind="$attrs"
        v-model="menu"
    >
        <template v-slot:activator="{ on }">
            <slot
                :on="{click: open}"
                name="activator">
                <a
                    v-on="on"
                > 234 </a>
            </slot>
        </template>

        <slot
            :popover="{close: close, menu}"
            name="popover">
            <div>&nbsp;</div>
        </slot>
    </v-menu>
</template>

<script>
    export default {
        name: 'Popover',
        props: {
            nudgeWidth: {
                type: [Number, String],
                default: 200
            }
        },
        data: () => ({
            menu: false,
        }),
        watch: {
            menu: function(newVal, oldVal) {
                this.$emit('open', newVal);
            }
        },
        methods: {
            open() {
                this.menu = true;
            },
            close() {
                this.menu = false;
            }
        }
    };
</script>

<style scoped>

</style>