<template>
    <v-layout
        class="from-refund"
        row
    >
        <v-flex
            class="sidebar-left"
            grow
        >
            <Box :title="$t('Unfulfilled')">
                <v-data-table
                    :headers="headers"
                    :items="selected.items"
                    :items-per-page="1000"
                    class="elevation-0 order-list"
                    hide-default-footer
                    hide-default-header
                >
                    <template v-slot:item="{item, index}">
                        <tr>
                            <td style="width: 1px;">
                                <v-avatar
                                    color="grey lighten-4"
                                    tile
                                >
                                    <v-icon v-if="!item.getImage()">photo</v-icon>
                                    <img
                                        v-else
                                        :src="item.getImage()"
                                        alt="avatar">
                                </v-avatar>
                            </td>
                            <td>
                                <div class="body-1 font-weight-medium">
                                    {{ item.getName() }}
                                </div>
                                <div class="caption">
                                    {{ item.getName() }}
                                </div>
                                <div class="caption">
                                    {{ item.getName() }}
                                </div>
                            </td>
                            <td
                                class="text-sm-right"
                                style="width: 120px;">
                                <div>
                                    {{ item.getPrice() | toCurrentcy }}
                                </div>
                            </td>
                            <td
                                class="text-sm-right"
                                style="width: 27px;">
                                <v-icon class="caption">clear</v-icon>
                            </td>
                            <td
                                :style="{
                                    width: '120px'
                                }"
                                class="text-sm-right"
                            >
                                <NumberFormat
                                    :value="item.quantity"
                                    class="qty"
                                    currency-symbol=""
                                    single-line
                                    @input="item.setQuantity($event)"
                                />
                            </td>
                            <td
                                class="text-sm-right"
                                style="width: 120px;">
                                {{ item.getTotal() | toCurrentcy }}
                            </td>
                        </tr>
                    </template>
                </v-data-table>
            </Box>
            <Box>
                <TextField
                    :label="$t('Reason for refund')"
                    :hint="$t('Only you and other staff can see this reason.')"
                    persistent-hint
                />
            </Box>
        </v-flex>
        <v-flex
            class="sidebar-right"
            shrink
            style="width: 350px;"
        >
            <Box :title="$t('Summary')">
                <v-layout
                    rows
                    wrap
                >
                    <v-flex xs6>
                        {{ $t('Items subtotal') }}
                        <p class="caption">1 item</p>
                    </v-flex>
                    <v-flex 
                        xs6 
                        class="text-sm-right"
                    >
                        {{ 12124 | toCurrentcy }}
                    </v-flex>
                    <v-flex xs6>
                        {{ $t('Discount') }}
                        <p class="caption">Tên chiết khấu</p>
                    </v-flex>
                    <v-flex
                        xs6
                        class="text-sm-right"
                    >
                        {{ 12342| toCurrentcy }}
                    </v-flex>
                    <v-flex xs6>
                        {{ $t('Tax') }}
                    </v-flex>
                    <v-flex
                        xs6
                        class="text-sm-right"
                    >
                        {{ 4234 | toCurrentcy }}
                    </v-flex>
                    <v-flex xs6>
                        {{ $t('Shipping') }}
                        <p class="caption">Tên vận chuyển</p>
                    </v-flex>
                    <v-flex
                        xs6
                        class="text-sm-right"
                    >
                        {{ 1242| toCurrentcy }}
                    </v-flex>
                    <v-flex xs6>
                        <strong>{{ $t('Refund total') }}</strong>
                    </v-flex>
                    <v-flex
                        xs6
                        class="text-sm-right"
                    >
                        <strong>{{ 123 | toCurrentcy }}</strong>
                    </v-flex>

                </v-layout>
                <br>
                <v-divider/>
                <h3>{{ $t('Refund amount') }}</h3>
                <TextField
                    :label="$t('Manual')"
                />
                <v-divider/>
                <v-btn class="w-100">
                    <strong>
                        {{ $t('Refund') }}
                        {{ 124124 | toCurrentcy }}
                    </strong>
                </v-btn>
                <p class="caption">{{ $t('Refunded items will no longer be fulfillable.') }}</p>
            </Box>
        </v-flex>
    </v-layout>
</template>

<script>
    import Box from '../../../material/Box';
    import { Cart } from '../../../utils/utils';
    import NumberFormat from '../../../material/NumberFormat';
    import TextField from '../../theme/TextField';
    import _ from 'lodash';

    export default {
        name: 'FormRefund',
        components: { TextField, NumberFormat, Box },
        props: {
            value: {
                type: [Object, String],
                default: undefined
            }
        },
        data() {
            return {

                headers: [
                    { text: 'Calories', value: 'calories' },
                    {
                        text: 'Dessert (100g serving)',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { text: 'Calories', value: 'calories' },
                    { text: 'Fat (g)', value: 'fat' },
                    { text: 'Carbs (g)', value: 'carbs' },
                    { text: 'Protein (g)', value: 'protein' },
                    { text: 'Iron (%)', value: 'iron' }
                ],
                selected: new Cart([]),
            }
        },
        watch: {
            selected: {
                handler(val, old) {
                    // this.form = { ...this.form, ...val };
                    // console.log('handler update', val);

                    this.$emit('input', val);
                },
                deep: true
            },
            value(data, old) {
                if ( data === old ) {
                    return;
                }
                if ( ! (data instanceof Cart) ) {
                    this.mapData(data);
                } else {
                    this.selected = data;
                    return;
                }
            }
        },
        mounted() {
            this.mapData(this.value);
        },
        methods: {
            mapData(data) {
                if ( ! data || ! data.items ) {
                    return this.selected = new Cart([]);;
                }
                let cart = new Cart(data.items);
                let n = _.pick(data, [
                    'discount',
                    'discountType',
                    'id',
                    'customerId',
                    'meta',
                    'tags',
                    'user',
                    'orderStatusId',
                    'note',
                    'billingAddress',
                    'shippingAddress'
                ]);

                for( let i in n ) {
                    cart[i] = data[i];
                }
                if ( ! data.taxValue ) {
                    cart.taxes = false;
                }
                if ( data.shipping ) {
                    cart.shipping = data.shipping;
                }

                this.selected = new Cart(cart);
            },
        }
    }
</script>

<style scoped>

</style>