<template>
    <v-container
        fluid
        grid-list-lg>
        <Card :title="$t('Theme options')">
            <TextField
                v-model="url"
                label="Link website"/>
            <v-btn @click="refesh">Reload</v-btn>
            <br>
            <br>
            <v-tabs>
                <v-tab>Home page</v-tab>
                <v-tab>Settings</v-tab>
                <v-tab-item>
                    <div>
                        <br>
                        <v-layout
                            justify-start
                            row>
                            <v-flex
                                xs3
                            >
                                <div style="margin-top: -14px;">
                                    <ThemeActionList>
                                        <v-list-item
                                            title="Header"
                                            @click="click('header')">
                                            <v-list-item-avatar>
                                                <svg
                                                    class="next-icon"
                                                    viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg"><title>header</title>
                                                    <path
                                                        d="M19 0c.552 0 1 .448 1 1v7c0 .552-.448 1-1 1H1c-.552 0-1-.448-1-1V1c0-.552.448-1 1-1h18zM2 7h16V2H2v5zm6 11c.552 0 1 .448 1 1s-.448 1-1 1H6c-.552 0-1-.448-1-1s.448-1 1-1h2zm6 0h-2c-.552 0-1 .448-1 1s.448 1 1 1h2c.552 0 1-.448 1-1s-.448-1-1-1zm5-1c-.552 0-1 .448-1 1-.552 0-1 .448-1 1s.448 1 1 1h1c.552 0 1-.448 1-1v-1c0-.552-.448-1-1-1zM2 18c0-.552-.448-1-1-1s-1 .448-1 1v1c0 .552.448 1 1 1h1c.552 0 1-.448 1-1s-.448-1-1-1zm-1-3c.552 0 1-.448 1-1v-2c0-.552-.448-1-1-1s-1 .448-1 1v2c0 .552.448 1 1 1zm18-4c-.552 0-1 .448-1 1v2c0 .552.448 1 1 1s1-.448 1-1v-2c0-.552-.448-1-1-1z"/>
                                                </svg>
                                            </v-list-item-avatar>
                                            <v-list-item-title>
                                                Header
                                            </v-list-item-title>
                                        </v-list-item>
                                    </ThemeActionList>

                                    <SelectionList
                                        :data="form.sections"
                                        :selected="selected"
                                        :themes="sectionConfigs"
                                        @change="changeSelection"
                                    />

                                    <ThemeActionList>
                                        <v-list-item
                                            title="Footer"
                                            @click="click('footer')">
                                            <v-list-item-avatar>
                                                <svg class="next-icon">
                                                    <svg id="footer">
                                                        <svg
                                                            viewBox="0 0 20 20"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <title>footer</title>
                                                            <path
                                                                d="M19 11c.552 0 1 .448 1 1v7c0 .552-.448 1-1 1H1c-.552 0-1-.448-1-1v-7c0-.552.448-1 1-1h18zM2 18h16v-5H2v5zM6 2c-.552 0-1-.448-1-1s.448-1 1-1h2c.552 0 1 .448 1 1s-.448 1-1 1H6zm6 0h2c.552 0 1-.448 1-1s-.448-1-1-1h-2c-.552 0-1 .448-1 1s.448 1 1 1zm7-2h-1c-.552 0-1 .448-1 1s.448 1 1 1c0 .552.448 1 1 1s1-.448 1-1V1c0-.552-.448-1-1-1zM1 3c.552 0 1-.448 1-1 .552 0 1-.448 1-1s-.448-1-1-1H1C.448 0 0 .448 0 1v1c0 .552.448 1 1 1zm0 6c.552 0 1-.448 1-1V6c0-.552-.448-1-1-1s-1 .448-1 1v2c0 .552.448 1 1 1zm18-4c-.552 0-1 .448-1 1v2c0 .552.448 1 1 1s1-.448 1-1V6c0-.552-.448-1-1-1z"/>
                                                        </svg>
                                                    </svg>
                                                </svg>
                                            </v-list-item-avatar>
                                            <v-list-item-title>
                                                Footer
                                            </v-list-item-title>
                                        </v-list-item>
                                    </ThemeActionList>
                                </div>
                            </v-flex>
                            <v-flex
                                xs9
                            >
                                <Box
                                    elevation="1">
                                    <HeaderThemeHomePage
                                        v-if="action === 'header'"
                                        v-model="form.header"
                                    />
                                    <FooterThemeHomePage
                                        v-if="action === 'footer'"
                                        :settings="form.settings"
                                        v-model="form.footer"
                                    />
                                    <div v-if="selected">
                                        <SectionCustom
                                            :key="selected.id"
                                            :themes="themes(selected.type)"
                                            v-model="selected.configs"
                                            @remove="removeSection"
                                        />
                                    </div>
                                </Box>
                            </v-flex>
                        </v-layout>
                    </div>
                </v-tab-item>
                <v-tab-item>
                    <div>
                        <br>
                        <v-layout
                            row
                            justify-start
                        >
                            <v-flex
                                xs3
                            >
                                <div style="margin-top: -14px;">
                                    <ThemeActionList>
                                        <v-list-item
                                            title="General"
                                            @click="changesSettings('general')">
                                            <v-list-item-avatar>
                                                <v-icon
                                                    color="#666">
                                                    home
                                                </v-icon>
                                            </v-list-item-avatar>
                                            <v-list-item-title>
                                                General
                                            </v-list-item-title>
                                        </v-list-item>
                                        <v-divider/>
                                        <v-list-item
                                            title="Social"
                                            @click="changesSettings('social')">
                                            <v-list-item-avatar>
                                                <v-icon
                                                    color="#666">
                                                    mdi-share-variant
                                                </v-icon>
                                            </v-list-item-avatar>
                                            <v-list-item-title>
                                                Social
                                            </v-list-item-title>
                                        </v-list-item>
                                    </ThemeActionList>
                                </div>
                            </v-flex>
                            <v-flex
                                xs9
                            >
                                <SettingGeneral
                                    v-if="settingSelected === 'general'"
                                    :form="themeConfigs"
                                />
                                <SettingSocial
                                    v-if="settingSelected === 'social'"
                                    :settings="themeConfigs.themeSocials"
                                />
                            </v-flex>
                        </v-layout>
                    </div>
                </v-tab-item>
            </v-tabs>
            <br>
            <v-layout>
                <v-spacer/>
                <v-btn
                    color="primary"
                    @click="save"
                >
                    {{ $t('Save changes') }}
                </v-btn>
            </v-layout>
        </Card>
    </v-container>
</template>

<script>
    import Card from '../../components/material/Card';
    import Box from '../../components/material/Box';
    import ThemeActionList from '../../components/views/theme/ThemeActionList';
    import Upload from '../../components/helper/Upload';
    import HeaderThemeHomePage from '../../components/views/theme/homepage/HeaderThemeHomePage';
    import FooterThemeHomePage from '../../components/views/theme/homepage/FooterThemeHomePage';
    import TextField from '../../components/views/theme/TextField';
    import SelectionList from '../../components/views/theme/SelectionList';
    import _ from 'lodash';
    import SectionCustom from '../../components/views/theme/sections/SectionCustom';
    import { LIST_SECTION } from '../../components/views/theme/themes';
    import { OPTION_META } from '../../apollo/query/options';
    import { UPDATE_META } from '../../apollo/mutation/options';
    import SettingSocial from "../../components/views/theme/settings/SettingSocial";
    import SettingGeneral from "../../components/views/theme/settings/SettingGeneral";

    export default {
        components: {
            SettingGeneral,
            SettingSocial,
            SectionCustom,
            SelectionList,
            TextField,
            FooterThemeHomePage,
            HeaderThemeHomePage,
            Upload,
            ThemeActionList,
            Box,
            Card
        },
        data() {
            return {
                selected: null,
                form: {
                    header: {
                        data: {
                            width: 120,
                        }
                    },
                    settings: {}
                },
                defaults: {
                    header: {
                        width: 120,
                    },
                    sections: {
                        items: []
                    },
                    settings: {},
                    footer: {}
                },
                loading: false,
                configs: this.$store.state.optionGeneral,
                settingSelected: 'general',
                themeConfigs: {
                    themeSocials: {}
                }
                // url: 'http://localhost:3202/'
            }
        },
        async asyncData(context) {
            let configs = context.app.store.state.optionGeneral;
            let url = (configs.home + '').replace(/\/+$/g, '');

            try {
                return await fetch(url + '/section-configs')
                    .then(res => res.json())
                    .then(res => {
                        return {
                            configs,
                            url,
                            sectionConfigs: _.cloneDeep(res)
                        }
                    })
            } catch (e) {
                return {
                    configs,
                    url,
                    sectionConfigs: LIST_SECTION
                }
            }
        },
        computed: {
            action() {
                return this.$route.query.actions || 'homepage';
            },
            id() {
                return this.$route.query.id || 'homepage';
            }
        },
        mounted() {
            this.getData('homepage').then(data => {
                this.form = _.defaultsDeep(data, this.defaults);
            }).then(() => {
                return this.fetchMeta();
            })
        },
        methods: {
            fetchMeta() {
                return this.$apollo.query({
                    query: OPTION_META
                }).then(({data}) => {
                    if ( data && data.data ) {
                        this.themeConfigs = _.defaultsDeep(data.data, {themeSocials: {}});
                    }
                });
            },
            async refesh() {
                await fetch(this.siteurl() + '/section-configs').then(res => res.json()).then(res => {
                    this.sectionConfigs = res;
                });
                await this.getData('homepage').then(data => {
                    this.form = data;

                    if ( this.selected ) {
                        this.selected = _.find(this.form.sections.items, { id: this.selected.id });
                    }
                });

                return this.fetchMeta();
            },
            themes(type) {
                for( let item of this.sectionConfigs ) {
                    for( let section of item.children ) {
                        if ( section.type === type ) {
                            return section.themes;
                        }
                    }
                }
            },
            click(name) {
                this.$router.push({
                    query: {
                        ...this.$route.query,
                        actions: name
                    }
                });
                this.selected = null;
            },
            changeSelection(item) {
                this.selected = item;
            },
            removeSection() {
                if ( ! this.selected ) {
                    return;
                }
                ;

                this.form.sections.items = this.form.sections.items.filter(x => x.id !== this.selected.id);
                this.selected = null;
            },
            siteurl() {
                return (this.url + '').replace(/\/+$/g, '');
            },
            save() {
                if ( this.loading ) {
                    return;
                }

                this.loading = true;

                let siteurl = this.siteurl();

                this.postData(siteurl + '/themeOption', {
                    data: { ...this.form },
                    name: 'homepage'
                })
                    .then((data) => {
                        if ( ! data.errors ) {
                            this.$notify({
                                group: 'app',
                                type: 'success',
                                title: 'Success',
                                text: 'Thao tác thành công.',
                                duration: 2000
                            });
                            return this.cleanCache();
                        }
                    })
                    .then(async (data) => {
                        await this.$apollo.mutate({
                            mutation: UPDATE_META,
                            variables: {
                                ...this.themeConfigs,
                                themeSocials: JSON.stringify(this.themeConfigs.themeSocials)
                            }
                        }).then((data) => {
                            if ( data && data.data && data.data.optionThemeUpdate ) {
                                this.themeConfigs = data.data.optionThemeUpdate;
                                // this.form.header.head = data.data.optionThemeUpdate.MetaHeadHTML;
                            }
                        });

                        return data;
                    })
                    .then(() => {
                        // return this.refesh();
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            postData(url = '', data = {}) {
                // Default options are marked with *
                const response = fetch(url, {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    mode: 'cors', // no-cors, *cors, same-origin
                    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: 'same-origin', // include, *same-origin, omit
                    headers: {
                        'Content-Type': 'application/json'
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    redirect: 'follow', // manual, *follow, error
                    referrer: 'no-referrer', // no-referrer, *client
                    body: JSON.stringify(data) // body data type must match "Content-Type" header
                });
                return response; // parses JSON response into native JavaScript objects
            },
            getData(action) {
                let siteurl = this.siteurl();
                return fetch(siteurl + `/themeOption?action=${ action }`).then(res => {
                    return res.json();
                });
            },
            cleanCache() {
                let siteurl = this.siteurl();
                return fetch(siteurl + `/clean-cache`);
            },
            changesSettings(key) {
                this.settingSelected = key;
            }
        }
    };
</script>

<style>
    .next-icon {
        width: 20px;
        fill: #666;
        margin: auto;
    }
</style>