
// material-dashboard
@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "material-dashboard/typography";
@import "material-dashboard/sidebar";
@import "material-dashboard/toolbar";
@import "material-dashboard/misc";
@import "material-dashboard/inputs";
@import "material-dashboard/footer";
@import "material-dashboard/cards";
@import "material-dashboard/tables";
@import "material-dashboard/tabs";
@import "material-dashboard/checkboxes";
//@import "material-dashboard/tooltips";
@import "material-dashboard/buttons";
@import "material-dashboard/alerts";
@import "material-dashboard/fixed-plugin";
@import "material-dashboard/dropdown";
@import "material-dashboard/boxline";
@import "material-dashboard/code";
@import "material-dashboard/expansion-panel";
@import "material-dashboard/list";


// module
@import "nestable-css";

.text-underline{
    text-decoration: underline
}

.pointer {
    cursor: pointer;
}

.components-panel__body-title {
    font-size: 13px !important;
    line-height: 19.5px !important;
}

.from-post {
    .description, .content {
        font-weight: 400;
        color: #999;
    }
}

.w- {
    &100 {
        width: 100% !important;
    }

    &75 {
        width: 75% !important;
    }

    &50 {
        width: 50% !important;
    }

    &25 {
        width: 25% !important;
    }

    &0 {
        width: 0% !important;
    }
}

.v-dialog {
    .v-chip__close {
        margin-top: -10px;
    }
}

.help {
    cursor: help;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1904px) {
    .container {
         max-width: 1185px;
    }
}
