/*
* Style for nestable
*/
.nestable {
    position: relative;
}

.nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 40px;
    list-style-type: none;
}

.nestable > .nestable-list {
    padding: 0;
}

.nestable-item,
.nestable-item-copy {
    margin: 10px 0 0;
}

.nestable-item:first-child,
.nestable-item-copy:first-child {
    margin-top: 0;
}

.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
    margin-top: 10px;
}

.nestable-item {
    position: relative;

    $height: 40px;

    &-content {
        //border: dashed 1px #cccccc;
        //padding: 7px;
        max-width: 400px;
        position: relative;
        .v-expansion-panel{
            //height: 48px;
        }
        .nestable-handle{
            height: $height;
            display: inline-block
        }
        .v-expansion-panel-header {
            position: absolute;
            top: 0;
            right: 0;
            background: #ccc;
            width: 75px;
            min-height: $height;
            height: $height;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .v-expansion-panel-content {
            border-top: solid 1px #cccccc;
        }
    }
}

.nestable-item.is-dragging .nestable-list {
    pointer-events: none;
}

.nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
}

.nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(106, 127, 233, 0.274);
    border: 1px dashed rgb(73, 100, 241);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none
}

.nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(106, 127, 233, 0.274);
}

.nestable [draggable="true"] {
    cursor: move;
}

.nestable-handle {
    display: inline;
    height: 40px;
    text-align: left;
    width: 100%;
    padding: 10px;
}
