<template>
    <div>
        <Popover
            :nudge-width="50"
            offset-y
        >
            <template v-slot:activator="{on}">
                <span
                    :style="{background: color}"
                    class="change-color"
                    v-on="on">&nbsp;</span>
                <slot/>
            </template>
            <template v-slot:popover="{popover}">
                <no-ssr>
                    <sketch-picker v-model="color"/>
                </no-ssr>
            </template>
        </Popover>

    </div>
</template>

<script>
    import Popover from '../../popover/Popover';

    export default {
        name: 'ColorPicker',
        components: { Popover },
        props: {
            value: {
                type: [String, Object],
                default: '#194d33'
            }
        },
        data() {
            return {
                color: '#194d33'
            }
        },
        watch: {
            color(val) {
                if ( typeof val === 'object' ) {
                    this.$emit('input', this.toRbga(val.rgba));
                } else {
                    this.$emit('input', val);
                }
            },
            value(val) {
                this.color = val;
            }
        },
        mounted() {
            this.color = this.value;
        },
        methods: {
            toRbga(val) {
                if ( val.a === 1 ) {
                    return `rgb(${ val.r }, ${ val.g }, ${ val.b })`;
                }
                ;
                return `rgba(${ val.r }, ${ val.g }, ${ val.b }, ${ val.a })`;
            }
        }
    };
</script>

<style scoped>
    .change-color {
        width: 50px;
        cursor: pointer;
        display: inline-block;
        border: solid 1px #cccccc;
        border-radius: 3px;
    }
</style>