<template>
    <div
        :style="{width:size}"
        class="image-picker"
    >
        <div>
            <Upload
                ref="upload"
                :size="size - 2"
                v-model="form.url"/>
        </div>
        <v-layout
            v-if="form.url"
            align-start
            fill-height
            justify-start
            ma-0
            row
        >
            <v-btn
                class="ma-0"
                text
                outlined
                small
                @click="change"
            >
                {{ $t('Change') }}
            </v-btn>
            <v-btn
                class="ma-0"
                text
                outlined
                small
                @click="edit"
            >
                {{ $t('Edit') }}
            </v-btn>
            <v-btn
                class="ma-0"
                text
                outlined
                small
                @click="remove"
            >
                {{ $t('Delete') }}
            </v-btn>
        </v-layout>
    </div>
</template>

<script>
    import Upload from '../../helper/Upload';

    export default {
        name: 'ImagePicker',
        components: { Upload },
        props: {
            value: {
                type: [String, Object],
                default() {
                    return {
                        url: undefined
                    };
                }
            }
        },
        data() {
            return {
                text: 'left',
                size: 244,
                form: {}
            };
        },
        watch: {
            form: {
                handler(val, old) {
                    this.$emit('input', val);
                },
                deep: true
            },
            value(val, old) {
                if ( JSON.stringify(old), JSON.stringify(val) !== JSON.stringify(old) ) {
                    this.form = {
                        ...val
                    }
                }
            }
        },
        mounted() {
            this.form = { ...this.value };
        },
        methods: {
            edit() {

            },
            remove() {
                this.$emit('input', {
                    url: undefined
                });
            },
            change() {
                this.$refs.upload.choosenFile();
            }
        }
    };
</script>

<style lang="scss">

    .image-picker {
        border: solid 1px #ccc;
        /*width: 230px;*/
        display: inline-block;

        .layout {
            .v-btn {
                min-width: 0 !important;
                text-transform: capitalize;
                border: none;
                border-radius: 0;
                border-top: solid 1px #cccccc;

                &:not(:last-child) {
                    border-right: solid 1px #cccccc;
                }
            }
        }

    }
</style>