<template>
    <div>
        <slot
            :on="open"
            name="activator">
            <v-btn
                color="red lighten-2"
                dark
                @click="open"
            >
                Click Me
            </v-btn>
        </slot>
        <v-dialog
            v-model="dialog"
            scrollable
            width="500"
        >
            <v-card>
                <v-card-title
                    class="headline grey lighten-2 px-3 py-2"
                    primary-title
                >
                    Add selection
                </v-card-title>
                <v-divider/>
                <v-card-text class="pa-0 grey lighten-4">
                    <div
                        v-for="item in items"
                        :key="item.id">
                        <div
                            class="body-2 py-2 px-3 my-1 text-uppercase"
                            v-text="item.name"/>
                        <template v-if="item.children">
                            <ThemeActionList offset="2">
                                <div
                                    v-for="selection in item.children"
                                    :key="selection.id">
                                    <v-list-item
                                        @click="click"
                                    >
                                        <v-list-item-title v-text="selection.name"/>
                                        <v-list-item-action>
                                            <v-btn
                                                class="text-capitalize ma-0"
                                                color="v-btn-facebook"
                                                depressed
                                                small
                                                style="border-radius: 5px;width: 60px;"
                                                @click="change(selection)"
                                            >add
                                            </v-btn>
                                        </v-list-item-action>
                                    </v-list-item>
                                    <v-divider/>
                                </div>
                            </ThemeActionList>
                        </template>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import ThemeActionList from './ThemeActionList';
    import _ from 'lodash';

    const uuid = require('uuid');

    export default {
        name: 'SelectionTypeList',
        components: { ThemeActionList },
        props: {
            items: {
                type: [Object, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                dialog: false,
                dialogm1: 0,
                // items: LIST_SECTION
            }
        },
        methods: {
            open() {
                this.dialog = true;
            },
            click() {
            },
            change(item) {
                let data = {
                    name: 'Slideshow',
                    type: 'slideshow',
                    configs: {},
                    ..._.cloneDeep(item),
                    id: uuid.v4(),
                    themes: []
                }
                this.$emit('change', data);
                this.dialog = false;
            }
        }
    };
</script>

<style scoped>

</style>