<template>
    <ThemeActionList class="section-list">
        <div
            v-sortable="sortable"
            ref="contents">
            <div
                v-for="selection in data.items"
                :class="{
                    'item': true,
                    'active': selected && selection.id === selected.id
                }"
                :key="selection.id"
            >
                <v-list-item
                    @click="click(selection)"
                >
                    <v-list-item-avatar>
                        <div
                            v-if="selection.svg"
                            class="next-icon"
                            v-html="selection.svg"
                        />
                        <v-icon
                            v-else
                            color="#666">{{ selection.icon }}
                        </v-icon>
                    </v-list-item-avatar>
                    <v-list-item-title>
                        {{ selection.name }}
                    </v-list-item-title>
                    <v-list-item-action
                        class="ml-0"
                        style="min-width: 30px; cursor: grab">
                        <v-icon
                            color="#222"
                        >
                            mdi-drag
                        </v-icon>
                    </v-list-item-action>
                </v-list-item>
                <v-divider/>
            </div>
        </div>
        <SelectionTypeList
            :items="themes"
            class="disabled"
            @change="addSelection">
            <template v-slot:activator="{ on }">
                <v-list-item
                    style="color:rgba(10, 69, 122, 0.8);"
                    @click="on"
                >
                    <v-list-item-avatar>
                        <v-icon color="rgba(10, 69, 122, 0.8)">mdi-plus-box-outline</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-title>Add section</v-list-item-title>
                </v-list-item>
            </template>
        </SelectionTypeList>
    </ThemeActionList>
</template>

<script>
    import ThemeActionList from './ThemeActionList';
    import SelectionTypeList from './SelectionTypeList';
    import { arrayMove } from '../../utils/utils';

    const uuid = require('uuid');

    export default {
        name: 'SelectionList',
        components: { SelectionTypeList, ThemeActionList },
        props: {
            data: {
                type: [Object, Array],
                default() {
                    return {}
                }
            },
            selected: {
                type: [Object],
                default: undefined
            },
            themes: {
                type: [Object, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                sortable: {
                    filter: '.disabled,.ck-editor',
                    handle: '.item',
                    onUpdate: this.work
                },
            }
        },
        methods: {
            work(e) {
                this.data.items = arrayMove(this.data.items, e.oldIndex, e.newIndex).map((x, i) => {
                    return {
                        ...x,
                        order: i
                    }
                });
            },
            click(item) {
                this.$router.push({
                    query: {
                        ...this.$route.query,
                        actions: 'selection',
                        id: item.id
                    }
                });

                this.$emit('change', item);
            },
            addSelection(item) {
                this.data.items = [...this.data.items, item];
                this.$emit('change', item);
            }
        }
    };
</script>

<style>
    .section-list .item {
        border-right: solid 3px transparent;
    }

    .section-list .item.active, .section-list .item:hover {
        border-right: solid 3px #0d47a1;
    }
</style>