<template>
    <v-input
        :value="dulieu"
        v-bind="$attrs"
        class="text-field"
        @update:error="updateError"
    >
        <div class="w-100">
            <v-label
                :focused="error"
                color="error"
                value
            >
                {{ label }}
            </v-label>
            <input
                v-bind="$attrs"
                v-model="dulieu"
                type="text"
                @input="input"
            >
        </div>
    </v-input>
</template>

<script>
    export default {
        name: 'TextField',
        props: {
            value: {
                type: [String, Number, Boolean],
                default: undefined
            },
            label: {
                type: [String, Number],
                default: undefined
            }
        },
        data() {
            return {
                error: false,
                dulieu: ''
            }
        },
        watch: {
            value(val, old) {
                this.dulieu = val;
            }
        },
        created() {
            this.dulieu = this.value;
        },
        methods: {
            updateError(val) {
                this.error = val;
            },
            input($event) {
                this.$emit('input', $event.target.value)
            }
        }
    };
</script>

<style lang="scss">
    .text-field {
        .v-label {
            font-size: 14px;
            font-weight: 400;
            color: #222;
        }

        input {
            border: solid 1px #cccccc;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            line-height: 20px;
            padding: 8px 0 8px;
            max-width: 100%;
            min-width: 0px;
            width: 100%;
            padding: 7px;
            min-height: 40px;

            &:focus {
                border-color: #3988b7;
            }
        }

        &.error--text {
            input {
                &:focus {
                    border-color: red;
                }
            }
        }
    }
</style>