<template>
    <Box
        v-bind="$attrs"
        style="border-radius: 0;"
        text="??"
    >
        <v-list
            class="pa-0"
            style="margin: -16px;">
            <slot/>
        </v-list>
    </Box>
</template>

<script>
    import Box from '../../material/Box';

    export default {
        name: 'ThemeActionList',
        components: { Box }
    };
</script>

<style scoped>

</style>