<template>
    <div v-if="type === 'menu'">
        <v-text-field
            v-model="form.heading"
            label="Heading"
        />
        <SelectMenu
            v-model="form.text"
            label="Menu"
        />
    </div>
    <div v-else/>
</template>

<script>
    import SelectMenu from '../../../../select/SelectMenu';

    export default {
        name: 'MenuAction',
        components: { SelectMenu },
        props: {
            form: {
                type: [Object],
                default() {
                    return {};
                }
            },
            type: {
                type: [String, Number],
                default: undefined
            }
        }
    };
</script>

<style scoped>

</style>