<template>
    <div v-if="type === 'newsletter'">
        <v-text-field
            v-model="form.heading"
            label="Heading"
        />
        <p>
            Subscribers will be added to your “accepts marketing” customer list.
        </p>
    </div>
    <div v-else/>
</template>

<script>
    export default {
        name: 'NewsletterAction',
        props: {
            form: {
                type: [Object],
                default() {
                    return {};
                }
            },
            type: {
                type: [String, Number],
                default: undefined
            }
        }
    };
</script>

<style scoped>

</style>