<template>
    <div v-if="type === 'text'">
        <v-text-field
            v-model="form.heading"
            label="Heading"
        />
        <no-ssr>
            <c-k-editor
                :label="$t('Text')"
                v-model="form.text"
                class="content"
                type="text"
            />
        </no-ssr>
    </div>
    <div v-else/>
</template>

<script>
    export default {
        name: 'TextAction',
        props: {
            form: {
                type: [Object],
                default() {
                    return {};
                }
            },
            type: {
                type: [String, Number],
                default: undefined
            }
        }
    };
</script>

<style scoped>

</style>