<template>
    <v-layout row>
        <v-flex
            xs4>
            <v-treeview
                :items="listItem"
                :value="value"
                item-key="name"
                item-text="displayName"
                multiple-active
                open-all
                selectable
                selected-color="indigo"
                @input="$emit('input', $event)"/>
        </v-flex>
    </v-layout>
</template>

<script>
    import { FETCH_PERMISSIONS } from '../../../apollo/query/role';

    export default {
        name: 'Permissions',
        props: {
            value: {
                type: Array,
                default: undefined
            }
        },
        data() {
            return {}
        },
        apollo: {
            permissions: {
                query: FETCH_PERMISSIONS
            }
        },
        computed: {
            listItem() {
                if ( ! this.permissions ) {
                    return [];
                }

                let data = {};
                let result = [];

                for( let item of this.permissions ) {
                    let key = item.name.split('-')[0];
                    if ( ! data[key] ) {
                        data[key] = [];
                        result.push({
                            id: key,
                            name: key.toUpperCase(),
                            displayName: key.toUpperCase(),
                            children: data[key]
                        });
                    }
                    data[key].push(item);
                }

                return [
                    {
                        id: 0,
                        name: 'All permissions',
                        displayName: 'All permissions',
                        children: result
                    }
                ];
            }
        }
    };
</script>

<style scoped>

</style>