<template>
    <div>
        <v-text-field
            v-if="!value.id"
            :error="!!errors.name"
            :error-messages="errors.name"
            :label="$t('Name')"
            :rules="[v => !!v || $t('Name is required')]"
            :value="value.name"
            @input="onChange('name', $event)"
        />
        <v-text-field
            :error="!!errors.displayName"
            :error-messages="errors.displayName"
            :label="$t('Display Name(Name show user)')"
            :rules="[v => !!v || $t('Display Name is required')]"
            :value="value.displayName"
            @input="onChange('displayName', $event)"
        />
        <v-text-field
            :error="!!errors.description"
            :error-messages="errors.description"
            :label="$t('Description')"
            :rules="[v => !!v || $t('Description is required')]"
            :value="value.description"
            @input="onChange('description', $event)"
        />
        <v-checkbox
            :false-value="false"
            :label="$t('Is default?')"
            :true-value="true"
            :value="value.isDefault"
            color="indigo"
            @change="onChange('isDefault', $event)"
        />
    </div>
</template>

<script>
    export default {
        name: 'RoleControl',
        props: {
            value: {
                type: Object,
                default() {
                    return {
                        permissions: []
                    }
                }
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        methods: {
            onChange(name, $event) {
                const { ...newValue } = this.value;
                newValue[name] = $event;
                this.$emit('input', newValue);
            }
        }
    };
</script>

<style scoped>

</style>