<template>
    <div>
        <LinkForMenuCustom v-model="form"/>
        <br>
        <v-btn
            class="v-btn-facebook"
            @click="addToMenu">
            <v-icon>add</v-icon>
            {{ $t('Add to menu') }}
        </v-btn>
    </div>
</template>

<script>
    import LinkForMenuCustom from './link/LinkForMenuCustom';
    import { Str } from '../../utils/str';

    export default {
        name: 'BoxLinkForMenuCustom',
        components: { LinkForMenuCustom },
        data() {
            return {
                form: {}
            };
        },
        methods: {
            addToMenu() {
                let item = this.form;

                this.$emit('add-to-menu', [
                    {
                        id: Str.uuid(),
                        title: item.name,
                        link: item.link,
                        objectId: item.id,
                        target: 'self',
                        objectType: 'customLink',
                        icon: item.icon,
                        className: item.className,
                        sort: 0,
                        parentId: '0',
                        children: []
                    }
                ]);

                this.selected = [];
            }
        }
    };
</script>

<style scoped>

</style>