<template>
    <div>
        <LinkForMenuCategoryProduct v-model="selected"/>
        <br>
        <v-btn
            class="v-btn-facebook"
            @click="addToMenu">
            <v-icon>add</v-icon>
            {{ $t('Add to menu') }}
        </v-btn>
    </div>
</template>

<script>
    import LinkForMenuCategoryProduct from './link/LinkForMenuCategoryProduct';
    import { Str } from '../../utils/str';

    export default {
        name: 'BoxLinkForMenuCategoryProduct',
        components: { LinkForMenuCategoryProduct },
        data() {
            return {
                selected: []
            };
        },
        methods: {
            addToMenu() {
                this.$emit('add-to-menu', this.selected.map(item => {
                    const data = {
                        id: Str.uuid(),
                        title: item.name,
                        link: undefined,
                        objectId: item.id,
                        target: 'self',
                        objectType: 'productType',
                        icon: undefined,
                        className: undefined,
                        sort: 0,
                        parentId: '0',
                        children: []
                    };
                    return data;
                }));
                this.selected = [];
            }
        }
    };
</script>

<style scoped>

</style>