<template>
    <div>
        <v-menu
            offset-y
        >
            <template v-slot:activator="{ on }">
                <v-btn
                    depressed
                    v-on="on"
                >
                    {{ $t('Bulk Actions') }}
                </v-btn>
            </template>
            <v-list>
                <v-list-item @click="changeDelete">
                    <v-list-item-title>
                        {{ $t('Delete') }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        <DialogConfirm
            v-model="dialog"
            @ok="deleteBulk"/>
        <v-snackbar
            :timeout="3000"
            v-model="snackbar"
            top
        >
            {{ text }}
        </v-snackbar>
    </div>
</template>

<script>
    import DialogConfirm from '../../dialog/DialogConfirm';
    import { DELETE_MENU } from '../../../apollo/mutation/menu';

    export default {
        name: 'BulkActionsMenu',
        components: { DialogConfirm },
        props: {
            value: {
                type: [Object, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                dialog: false,
                snackbar: false,
                text: this.$t('Please choose before you act'),
                loading: false,
            }
        },
        methods: {
            click() {

            },
            resetSelected() {
                this.$emit('input', []);
            },
            changeDelete() {
                if ( this.value.length ) {
                    return this.dialog = true;
                }
                this.snackbar = true;
            },
            deleteBulk() {
                if ( this.loading ) return;

                this.loading = true;

                this.serviceHttp.deleteFetch(DELETE_MENU, this.value.map(x => (x.id)), [
                    'menus'
                ]).finally(() => {
                    this.dialog = false;
                    this.loading = false;
                    this.resetSelected();
                });
            }
        }
    };
</script>

<style scoped>

</style>