<template>
    <v-select
        :items="items"
        :value="value"
        v-bind="$attrs"
        item-text="label"
        item-value="value"
        @input="$emit('input', $event)"
    />
</template>

<script>
    export default {
        name: 'MenuSelectStatus',
        props: {
            value: {
                type: [Object, Array, String],
                default: 'self',
                isRequired: true
            }
        },
        data() {
            return {
                items: [
                    {
                        value: 'publish',
                        label: this.$t('Publish')
                    },
                    {
                        value: 'draft',
                        label: this.$t('Draft')
                    },
                    {
                        value: 'pending',
                        label: this.$t('Pending')
                    }
                ]
            }
        }
    };
</script>

<style scoped>

</style>