<template>
    <v-chip
        color="light-blue darken-2"
        label
        text-color="white"
    >
        {{ statusEnum[status] }}
    </v-chip>
</template>

<script>
    export default {
        name: 'MenuChipStatus',
        props: {
            status: {
                type: String,
                default: 'publish',
                isRequired: true
            }
        },
        data() {
            return {
                statusEnum: {
                    publish: this.$t('Publish'),
                    draft: this.$t('Draft'),
                    pending: this.$t('Pending'),
                }
            }
        }
    };
</script>

<style scoped>

</style>