<template>
    <div>
        <v-text-field
            :label="$t('Title')"
            v-model="form.title"
        />
        <v-text-field
            v-if="form.objectType === 'customLink'"
            :label="$t('URL')"
            v-model="form.link"
        />
        <v-text-field
            :label="$t('Icon')"
            v-model="form.icon"
        />
        <v-text-field
            :label="$t('CSS class')"
            :placeholder="$t('fa fa-home')"
            v-model="form.className"
        />
        <SelectTarget
            :label="$t('Target')"
            v-model="form.target"/>
    </div>
</template>

<script>
    import SelectTarget from './SelectTarget';

    export default {
        name: 'MenuItemDetail',
        components: { SelectTarget },
        props: {
            value: {
                type: [Object, Array, String],
                default() {
                    return {}
                }
            }
        },
        data() {
            return {
                form: {}
            }
        },
        watch: {
            value(val, oldVal) {
                this.form = val;
            },
            form(val, oldVal) {
                this.$emit('input', val);
            }
        },
        mounted() {
            this.form = this.value;
        }
    };
</script>

<style scoped>

</style>