<template>
    <v-select
        :items="items"
        :value="value"
        v-bind="$attrs"
        item-text="label"
        item-value="value"
        @input="$emit('input', $event)"
    />
</template>

<script>
    export default {
        name: 'SelectTarget',
        props: {
            value: {
                type: [Object, Array, String],
                default: 'self',
                isRequired: true
            }
        },
        data() {
            return {
                items: [
                    {
                        value: 'self',
                        label: this.$t('Open link directly')
                    },
                    {
                        value: 'blank',
                        label: this.$t('Open link in new tab')
                    },
                    /*{
                        value: 'parent',
                        label: this.$t('Opens link in the parent frame')
                    },
                    {
                        value: 'top',
                        label: this.$t('Opens the linked document in the full body of the window')
                    }*/
                ]
            }
        }
    };
</script>

<style scoped>

</style>