<template>
    <v-combobox
        :filter="filter"
        :hide-no-data="!search"
        :items="listData"
        :label="$t('Search or Create')"
        :search-input.sync="search"
        :value="value"
        v-bind="$attrs"
        hide-selected
        multiple
        small-chips
        @input="emitInput"
    >
        <template v-slot:no-data>
            <v-list-item>
                <span class="subheading">{{ $t('Create') }}</span>
                <v-chip
                    :color="`lighten-3`"
                    label
                    small
                >
                    {{ search }}
                </v-chip>
            </v-list-item>
        </template>
        <template v-slot:selection="{ item, parent, selected }">
            <v-chip
                v-if="item === Object(item)"
                :color="`lighten-3`"
                :input-value="selected"
                label
                small
            >
                <span class="pr-2">
                    {{ item.name }}
                </span>
                <v-icon
                    small
                    @click="parent.selectItem(item)"
                >close
                </v-icon>
            </v-chip>
        </template>
        <template v-slot:item="{ index, item }">
            <v-list-item-content>
                <v-text-field
                    v-if="editing === item"
                    v-model="editing.name"
                    autofocus
                    background-color="transparent"
                    flat
                    hide-details
                    solo
                    @keyup.enter="edit(index, item)"
                />
                <v-chip
                    v-else
                    :color="`lighten-3`"
                    dark
                    label
                    small
                >
                    {{ item.name }}
                </v-chip>
            </v-list-item-content>
            <v-spacer/>
            <v-list-item-action @click.stop>
                <v-btn
                    icon
                    @click.stop.prevent="edit(index, item)"
                >
                    <v-icon>{{ editing !== item ? 'edit' : 'check' }}</v-icon>
                </v-btn>
            </v-list-item-action>
        </template>
    </v-combobox>
</template>
<script>

    export default {
        name: 'ComboboxVariants',
        props: {
            value: {
                type: [Array, String, Object],
                default() {
                    return null
                }
            }
        },
        data() {
            return {
                editing: null,
                index: -1,
                search: null,
                nonce: 1,
                listData: []
            }
        },
        /*computed: {
            listData() {
                return this.data && this.data.data || [];
            }
        },*/
        // apollo: {
        //     data: function() {
        //         return {
        //             query: FETCH_TAGS,
        //         }
        //     }
        // },
        methods: {
            emitInput(val) {
                let prev = this.value;

                if ( val.length === prev.length ) return;

                let n = val.map(v => {
                    if ( typeof v === 'string' ) {
                        v = {
                            name: v,
                            text: v,
                        };

                        this.listData.push(v);

                        this.nonce++;
                    }

                    return v;
                });

                this.$emit('input', n);
            },
            edit(index, item) {
                if ( ! this.editing ) {
                    this.editing = item
                    this.index = index
                } else {
                    this.editing = null
                    this.index = -1
                }
            },
            filter(item, queryText, itemText) {
                if ( item.header ) return false

                const hasValue = val => val != null ? val : ''

                const text = hasValue(itemText)
                const query = hasValue(queryText)

                return text.toString()
                    .toLowerCase()
                    .indexOf(query.toString().toLowerCase()) > -1
            }
        }
    }
</script>
