<template>
    <v-combobox
        :filter="filter"
        :hide-no-data="!search"
        :items="listData"
        :label="$t('Search or Create')"
        :search-input.sync="search"
        :value="value"
        v-bind="$attrs"
        hide-selected
        multiple
        small-chips
        @input="$emit('input', $event)"
    >
        <template v-slot:no-data>
            <v-list-item>
                <span class="subheading">{{ $t('Create') }}</span>
                <v-chip
                    :color="`lighten-3`"
                    label
                    small
                >
                    {{ search }}
                </v-chip>
            </v-list-item>
        </template>
        <template v-slot:selection="{ item, parent, selected }">
            <v-chip
                v-if="item === Object(item)"
                :color="`lighten-3`"
                :input-value="selected"
                label
                small
            >
                <span class="pr-2">
                    {{ item.text }}
                </span>
                <v-icon
                    small
                    @click="parent.selectItem(item)"
                >close
                </v-icon>
            </v-chip>
        </template>
        <template v-slot:item="{ index, item }">
            <v-text-field
                v-if="editing === item"
                v-model="editing.text"
                autofocus
                flat
                background-color="transparent"
                hide-details
                solo
                @keyup.enter="edit(index, item)"
            />
            <v-chip
                v-else
                :color="`${item.color} lighten-3`"
                dark
                label
                small
            >
                {{ item.text }}
            </v-chip>
            <v-spacer/>
            <v-list-item-action
                class="ma-0"
                @click.stop>
                <v-btn
                    icon
                    @click.stop.prevent="edit(index, item)"
                >
                    <v-icon>{{ editing !== item ? 'mdi-pencil' : 'mdi-check' }}</v-icon>
                </v-btn>
            </v-list-item-action>
        </template>
    </v-combobox>
</template>
<script>
    import { FETCH_TAGS } from '../../apollo/query/tag';

    export default {
        name: 'ComboboxTag',
        props: {
            value: {
                type: [Array, String],
                default() {
                    return null
                }
            }
        },
        data() {
            return {
                editing: null,
                index: -1,
                search: null,
            }
        },
        computed: {
            listData() {
                return this.data && this.data.data || [];
            }
        },
        apollo: {
            data: function() {
                return {
                    query: FETCH_TAGS,
                }
            }
        },
        methods: {
            edit(index, item) {
                if ( ! this.editing ) {
                    this.editing = item
                    this.index = index
                } else {
                    this.editing = null
                    this.index = -1
                }
            },
            filter(item, queryText, itemText) {
                if ( item.header ) return false

                const hasValue = val => val != null ? val : ''

                const text = hasValue(itemText)
                const query = hasValue(queryText)

                return text.toString()
                    .toLowerCase()
                    .indexOf(query.toString().toLowerCase()) > -1
            }
        }
    }
</script>
