<template>
    <div>
        <v-text-field
            ref="field"
            :value="inputValue"
            v-bind="$attrs"
            class="hidden-field"
            full-width
            style="height: 0;padding:0;margin:0;display: none;"
        />
        <v-treeview
            :items="listData"
            v-model="model"
            class="scroll"
            selectable
            selection-type="independent"
            open-all
            style="max-height: 320px; overflow: auto"
        />
        <div class="v-text-field__details">
            <div
                v-if="fieldEditor.hasMessages"
                class="v-messages theme--light error--text">
                {{ fieldEditor.validations.join('') }}
            </div>
        </div>
    </div>
</template>
<script>
    import { FETCH_CATEGORIES_POST } from '../../apollo/query/category';

    export default {
        name: 'ComboboxCategory',
        inheritAttrs: false,
        props: {
            value: {
                type: Array,
                default() {
                    return []
                }
            },
            query: {
                type: Object,
                default() {
                    return FETCH_CATEGORIES_POST
                }
            }
        },
        data() {
            return {
                model: [],
                fieldEditor: {}
            }
        },
        apollo: {
            data: function() {
                return {
                    query: this.query,
                }
            },
        },
        computed: {
            listData() {
                let categories = [];
                if ( this.data ) categories = this.categoriesRecursive(this.data.data || []);

                return categories;
            },
            inputValue() {
                return this.value && this.value.toString();
            }
        },
        watch: {
            model(val, prev) {
                this.$emit('input', val);
            },
            value(val) {
                this.model = val;
            }
        },
        mounted() {
            this.model = this.value || [];
            this.fieldEditor = this.$refs.field;
        },
        methods: {
            categoriesRecursive(data, parentKey = 'parentId', idKey = 'id', childrenKey = 'children') {
                let n = {};
                for( let item of data ) {
                    if ( ! n[`${ item[parentKey] || 0 }-key`] ) n[`${ item[parentKey] || 0 }-key`] = [];
                    n[`${ item[parentKey] || 0 }-key`].push(item);
                }
                for( let item of data ) {
                    if ( n[item[idKey] + '-key'] ) {
                        item[childrenKey] = n[item[idKey] + '-key'];
                    }
                }
                return n['0-key'] || [];
            }
        }
    }
</script>

<style lang="scss">

</style>