<template>
    <v-container grid-list-md>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <v-layout
                row
                wrap>
                <v-flex
                    xs9>
                    <v-flex
                        xs12>
                        <Box :title="$t('Menu name')">
                            <v-text-field
                                :error="!!errors.name"
                                :error-messages="errors.name"
                                :placeholder="$t('Name')"
                                :rules="[v => !!v || $t('Name is required')]"
                                v-model="form.name"
                                solo
                            />
                        </Box>
                    </v-flex>
                    <v-flex>
                        <v-layout>
                            <v-flex
                                class="mr-1"
                                xs5>
                                <v-expansion-panels class="mt-3">
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>
                                            <div class="font-weight-regular">{{ $t('Pages') }}</div>
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <BoxLinkForMenuPage @add-to-menu="addToMenu"/>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>

                                <v-expansion-panels class="mt-3">
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>
                                            <div class="font-weight-regular">{{ $t('Categories') }}</div>
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <BoxLinkForMenuCategory @add-to-menu="addToMenu"/>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                                <v-expansion-panels class="mt-3">
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>
                                            <div class="font-weight-regular">{{ $t('Category product') }}</div>
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <BoxLinkForMenuCategoryProduct @add-to-menu="addToMenu"/>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>


                                <v-expansion-panels class="mt-3">
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>
                                            <div class="font-weight-regular">{{ $t('Tags') }}</div>
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <BoxLinkForMenuTag @add-to-menu="addToMenu"/>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>

                                <v-expansion-panels class="mt-3">
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>
                                            <div class="font-weight-regular">{{ $t('Custom links') }}</div>
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <BoxLinkForMenuCustom @add-to-menu="addToMenu"/>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>


                            </v-flex>
                            <v-flex xs7>
                                <Box title="Menu structure">
                                    <p v-if="nestableItems.length">
                                        {{ $t('Drag each item into the order you prefer. Click the arrow on the right of the item to reveal additional configuration options.') }}
                                    </p>
                                    <vue-nestable
                                        v-model="nestableItems"
                                        @change="change">
                                        <template v-slot:placeholder>
                                            {{ $t('Add menu items from the column on the left.') }}
                                        </template>

                                        <template slot-scope="{ item, index }">
                                            <v-expansion-panels
                                                :multiple="false"
                                                v-model="panel[item.id]"
                                            >
                                                <v-expansion-panel>
                                                    <VueNestableHandle
                                                        :item="item"
                                                    >
                                                        <span class="font-weight-regular">{{ item.title }}</span>
                                                        <span
                                                            class="float-right font-weight-regular"
                                                            style="margin-right: 72px;">
                                                            {{ type[item.objectType] }}
                                                        </span>
                                                    </VueNestableHandle>
                                                    <v-expansion-panel-header>
                                                        &nbsp;
                                                    </v-expansion-panel-header>
                                                    <v-expansion-panel-content>
                                                        <br>
                                                        <div>
                                                            <MenuItemDetail v-model="item"/>
                                                            <div class="right">
                                                                <v-btn
                                                                    class="danger white--text"
                                                                    @click="removeItem(item)">{{ $t('Remove') }}
                                                                </v-btn>
                                                                <v-btn
                                                                    class="v-btn-facebook"
                                                                    @click="closeExpansin(item)">{{ $t('Cancel') }}
                                                                </v-btn>
                                                            </div>
                                                        </div>
                                                    </v-expansion-panel-content>
                                                </v-expansion-panel>
                                            </v-expansion-panels>
                                        </template>
                                    </vue-nestable>
                                    <v-divider class="my-3"/>
                                    <h4 class="subheading font-weight-regular">{{ $t('Menu Settings') }}</h4>
                                    <v-layout
                                        class="mb-2"
                                        row>
                                        <v-flex xs4>
                                            <em class="caption">{{ $t('Auto Add pages') }}</em>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox
                                                :error="!!errors.automanticallyMenu"
                                                :error-messages="errors.automanticallyMenu"
                                                :false-value="false"
                                                :label="$t('Automatically add new top-level pages to this menu')"
                                                :true-value="true"
                                                v-model="form.automanticallyMenu"
                                                class="mt-0"
                                                hide-details/>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row>
                                        <v-flex xs4>
                                            <em class="caption">{{ $t('Display location') }}</em>
                                        </v-flex>
                                        <v-flex>
                                            <v-checkbox
                                                :error="!!errors.headerNavigation"
                                                :error-messages="errors.headerNavigation"
                                                :false-value="null"
                                                :true-value="form.id"
                                                v-model="form.headerNavigation"
                                                class="mt-0"
                                                hide-details>
                                                <template v-slot:label>
                                                    {{ $t('Header Navigation') }} <i
                                                        v-if="settings.headerNavigation && settings.headerNavigation.id !== form.id"
                                                        class="caption"> &nbsp;({{ $t('Currently set to') }}: {{ settings.headerNavigation.name }}) </i>
                                                </template>
                                            </v-checkbox>
                                            <v-checkbox
                                                :error="!!errors.mainNavigation"
                                                :error-messages="errors.mainNavigation"
                                                :false-value="null"
                                                :true-value="form.id"
                                                v-model="form.mainNavigation"
                                                class="mt-0"
                                                hide-details>
                                                <template v-slot:label>
                                                    {{ $t('Main Navigation') }} <i
                                                        v-if="settings.mainNavigation && settings.mainNavigation.id !== form.id"
                                                        class="caption"> &nbsp;({{ $t('Currently set to') }}: {{ settings.mainNavigation.name }}) </i>
                                                </template>
                                            </v-checkbox>
                                            <v-checkbox
                                                :error="!!errors.footerNavigation"
                                                :error-messages="errors.footerNavigation"
                                                :false-value="null"
                                                :true-value="form.id"
                                                v-model="form.footerNavigation"
                                                class="mt-0"
                                                hide-details>
                                                <template v-slot:label>
                                                    {{ $t('Footer Navigation') }} <i
                                                        v-if="settings.footerNavigation && settings.footerNavigation.id !== form.id"
                                                        class="caption"> &nbsp;({{ $t('Currently set to') }}: {{ settings.footerNavigation.name }}) </i>
                                                </template>
                                            </v-checkbox>
                                        </v-flex>
                                    </v-layout>
                                </Box>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-flex>
                <v-flex
                    xs3>
                    <v-flex>
                        <Box title="Publish">
                            <v-btn
                                class="v-btn-facebook"
                                @click="saveChanges">Save
                            </v-btn>
                            <v-btn
                                color="success"
                                @click="saveAndEdit">Save & Edit
                            </v-btn>
                        </Box>
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../components/material/Card';
    import Box from '../../../components/material/Box';
    import BoxLinkForMenuCategory from '../../../components/views/menu/BoxLinkForMenuCategory';
    import BoxLinkForMenuPage from '../../../components/views/menu/BoxLinkForMenuPage';
    import BoxLinkForMenuTag from '../../../components/views/menu/BoxLinkForMenuTag';
    import BoxLinkForMenuCustom from '../../../components/views/menu/BoxLinkForMenuCustom';
    import MenuItemDetail from '../../../components/views/menu/MenuItemDetail';
    import { UPDATE_MENU } from '../../../apollo/mutation/menu';
    import { FETCH_MENU } from '../../../apollo/query/menu';
    import _ from 'lodash';
    import BoxLinkForMenuCategoryProduct from '../../../components/views/menu/BoxLinkForMenuCategoryProduct';

    const uuid = require('uuid');

    export default {
        components: {
            BoxLinkForMenuCategoryProduct,
            MenuItemDetail,
            BoxLinkForMenuCustom,
            BoxLinkForMenuTag,
            BoxLinkForMenuPage,
            BoxLinkForMenuCategory,
            Box,
            Card
        },
        data() {
            return {
                drawer: false,
                nestableItems: [],
                valid: true,
                loading: false,
                form: {},
                menuView: [],
                errors: {},
                type: {
                    post: this.$t('Post'),
                    page: this.$t('Page'),
                    category: this.$t('Category'),
                    productType: this.$t('Product/Categories'),
                    customLink: this.$t('Custom Link'),
                    tag: this.$t('Tag'),
                },
                panel: {},
                settings: {}
            }
        },
        apollo: {
            menu() {
                return {
                    query: FETCH_MENU,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data, loading, networkStatus }) {
                        if ( ! data.menu ) {
                            return;
                        }

                        this.form = { ...data.menu };

                        this.form.headerNavigation = _.get(data, 'menu.headerNavigation.id')
                        this.form.mainNavigation = _.get(data, 'menu.mainNavigation.id')
                        this.form.footerNavigation = _.get(data, 'menu.footerNavigation.id')

                        this.settings = { ...data.menu };
                        let menuItems = _.orderBy(data.menu.menuItems, ['sort'], ['asc']);

                        this.nestableItems = this.recursive(menuItems);
                    }
                }
            }
        },
        methods: {
            recursive(data, parentKey = 'parentId', idKey = 'id', childrenKey = 'children') {
                let n = {};
                for( let item of data ) {
                    item.children = [];
                    if ( ! n[`${ item[parentKey] || 0 }-key`] ) n[`${ item[parentKey] || 0 }-key`] = [];
                    n[`${ item[parentKey] || 0 }-key`].push(item);
                }
                for( let item of data ) {
                    if ( n[item[idKey] + '-key'] ) {
                        item[childrenKey] = n[item[idKey] + '-key'];
                    }
                }
                return n['0-key'] || [];
            },
            change() {
                console.log(this.nestableItems);
            },
            saveChanges() {
                if ( this.validateOnFocusForm() ) {
                    this.createMenu(() => {
                        this.$router.push({
                            path: '/menu'
                        });
                    });
                }
            },
            saveAndEdit() {
                if ( this.validateOnFocusForm() ) {
                    this.createMenu();
                }
            },
            createMenu(callback) {
                let menuItems = this.converMenuItem(this.nestableItems).map((item, index) => {
                    const {
                        children,
                        id,
                        title,
                        link,
                        icon,
                        className,
                        target,
                        objectType,
                        objectId,
                        parentId,
                    } = item;
                    return {
                        id,
                        title,
                        link,
                        icon,
                        className,
                        target,
                        objectType,
                        objectId,
                        parentId,
                        sort: index
                    };
                });

                return this.serviceHttp.updateFetch(UPDATE_MENU, {
                    id: this.form.id,
                    name: this.form.name,
                    status: 'publish',
                    headerNavigation: this.form.headerNavigation,
                    mainNavigation: this.form.mainNavigation,
                    footerNavigation: this.form.footerNavigation,
                    automanticallyMenu: this.form.automanticallyMenu,
                    menuItems
                }, callback);
            },
            converMenuItem(data, parentId = '0') {
                let menuItems = [];
                for( let item of data ) {
                    menuItems.push({ ...item, parentId });
                    if ( item.children.length ) {
                        menuItems.push.apply(menuItems, this.converMenuItem(item.children, item.id));
                    }
                }
                return menuItems;
            },
            addToMenu(items) {
                items.forEach(item => {
                    this.nestableItems.push(item);
                });
            },
            removeItem(item) {
                this.nestableItems = this.handleRemoveItem(this.nestableItems, item);
            },
            handleRemoveItem(list, item) {
                return list.filter(x => {
                    if ( x.children.length ) {
                        x.children = this.handleRemoveItem(x.children, item);
                    }
                    return x !== item;
                });
            },
            closeExpansin(item) {
                this.panel[item.id] = null;
            }
        }
    };
</script>

<style scoped>

</style>