<template>
    <v-app>
        <Drawer/>
        <Toolbar/>
        <v-content>
            <nuxt/>
        </v-content>
        <Footer/>
        <notifications
            :style="{
                position:'fixed',
                zIndex: 9999,
                top: $store.state.formToolbarActive ? '64px' : '10px'
            }"
            group="app"
            position="top right"/>
    </v-app>
</template>

<script>
    import Footer from '../components/core/Footer';
    import Toolbar from '../components/core/Toolbar';
    import Drawer from '../components/core/Drawer';

    export default {
        components: { Drawer, Toolbar, Footer },
        middleware: 'authenticated',
        data() {
            return {
                theme: {
                    isDark: false
                }
            };
        },
        mounted() {
            console.log(this.$metaInfo);
        }
    };
</script>
<style lang="scss">
    html {
        @import '../assets/style/index.scss';

        .vue-notification {
            padding: 10px;
            margin: 0 5px 5px;

            .notification-title {
                font-size: 16px;
                font-weight: 700;
            }

            .notification-content {
                font-size: 14px;
            }

            color: #ffffff !important;
            background: #44A4FC !important;
            border-left: 5px solid #187FE7 !important;

            &.warn {
                background: #ffb648 !important;
                border-left-color: #f48a06 !important;
            }

            &.error {
                background: #E54D42 !important;
                border-left-color: #B82E24 !important;
            }

            &.success {
                background: #68CD86 !important;
                border-left-color: #42A85F !important;
            }
        }
    }
</style>
