<template>
    <v-app id="inspire">
        <nuxt/>
        <Footer/>
    </v-app>
</template>

<script>
    import Footer from '../components/core/Footer';

    export default {
        components: { Footer },
        data() {
            return {
                clipped: false,
                drawer: false,
                fixed: false,
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'Vuetify.js'
            }
        }
    }
</script>
