<template>
    <v-container fluid>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <v-layout
                row
                wrap>
                <v-flex
                    class="pa-1"
                    xs9>
                    <v-flex
                        xs12>
                        <Box :title="$t('Menu name')">
                            <v-text-field
                                :error="!!errors.name"
                                :error-messages="errors.name"
                                :placeholder="$t('Name')"
                                :rules="[v => !!v || $t('Name is required')]"
                                v-model="form.name"
                                counter="120"
                                maxlength="120"
                                solo
                            />
                        </Box>
                    </v-flex>
                </v-flex>
                <v-flex
                    class="pa-1"
                    xs3>
                    <Box title="Publish">
                        <v-btn
                            :loading="loading"
                            class="v-btn-facebook"
                            @click="saveAndEdit">{{ $t('Save') }}
                        </v-btn>
                    </Box>
                    <Box title="Status">
                        <MenuSelectStatus v-model="form.status"/>
                    </Box>

                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../components/material/Card';
    import Box from '../../components/material/Box';
    import { CREATE_MENU } from '../../apollo/mutation/menu';
    import MenuSelectStatus from '../../components/views/menu/MenuSelectStatus';
    import { FETCH_MENUS } from '../../apollo/query/menu';

    export default {
        components: { MenuSelectStatus, Box, Card },
        data() {
            return {
                valid: true,
                loading: false,
                form: {
                    status: 'publish'
                },
                errors: {},
            }
        },
        methods: {
            saveChanges() {
                if ( this.validateOnFocusForm() ) {
                    this.createMenu(() => {
                        this.$router.push({
                            path: '/menu'
                        });
                    });
                }
            },
            saveAndEdit() {
                if ( this.validateOnFocusForm() ) {
                    this.createMenu((menu) => {
                        this.$router.push({
                            path: '/menu/edit/' + menu.menuCreate.id
                        });
                    });
                }
            },
            createMenu(callback) {
                return this.serviceHttp.createFetch({
                    mutation: CREATE_MENU,
                    variables: {
                        name: this.form.name,
                        status: 'publish'
                    },
                    refetchQueries: [{
                        query: FETCH_MENUS
                    }]
                }, callback);
            },
        }
    };
</script>

<style scoped>

</style>