<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container grid-list-lg>
        <Table
            :delete-mutation="deleteMutation"
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('Menus')"
            delete-refetch-queries="menus"
        >
            <template v-slot:toolbar-right="{apollo}">
                <FormFilter v-model="searchText"/>
                <v-spacer/>
                <v-btn
                    class="ma-2"
                    color="primary"
                    dark
                    nuxt
                    to="/menu/add">{{ $t('Create') }}
                </v-btn>
                <v-btn
                    depressed
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">
                    <nuxt-link :to="`menu/edit/${item.id}`">
                        {{ item.name }}
                    </nuxt-link>
                </td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-center">
                    <MenuChipStatus :status="item.status"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="`menu/edit/${item.id}`"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <ButtonActionDelete
                        :gql="deleteMutation"
                        :item="item"
                        refetch-queries="menus"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import { FETCH_MENUS } from '../../apollo/query/menu';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';
    import { DELETE_MENU } from '../../apollo/mutation/menu';
    import MenuChipStatus from '../../components/views/menu/MenuChipStatus';
    import FormFilter from '../../components/material/FormFilter';

    export default {
        components: { FormFilter, MenuChipStatus, ButtonActionDelete, DateFormat, ButtonActionTooltip, Table },
        data() {
            return {
                query: FETCH_MENUS,
                deleteMutation: DELETE_MENU,
                selected: [],
                searchText: '',
                headers: [
                    {
                        text: this.$t('Name'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Status'),
                        value: 'status',
                        width: '150px',
                        align: 'center'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '110px',
                        sortable: false
                    }
                ]
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [];
                }
                ;
                return [
                    {
                        field: 'name',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    }
                ];
            }
        }
    };
</script>
