<template>
    <v-container grid-list-lg>
        <Card
            :title="$t('Clear cache commands')"
            color="green">
            <v-layout>
                <v-flex>
                    <v-card
                        flat
                        tile
                    >
                        <v-card-text>
                            {{ $t('Clear caching: database caching, static blocks... Run this command when you don\'t see the changes after updating data.') }}
                        </v-card-text>
                    </v-card>

                </v-flex>
                <v-flex>
                    <v-btn
                        color="red"
                        text
                        outlined
                        @click="cleanCache"
                    >{{ $t('Clear all cache') }}
                    </v-btn>
                </v-flex>
            </v-layout>
        </Card>
    </v-container>
</template>

<script>
    import Card from '../components/material/Card';

    export default {
        components: { Card },
        methods: {
            siteurl() {
                try {
                    return (this.$store.state.optionGeneral.home + '').replace(/\/+$/g, '');
                } catch (e) {
                    return '';
                }
            },
            cleanCache() {
                let siteurl = this.siteurl();
                fetch(siteurl + `/clean-cache`);
            }
        }
    };
</script>

<style scoped>

</style>