<template>
    <v-container grid-list-lg>
        <Table
            :headers="headers"
            :query="query"
            title="Danh sách thành viên">
            <template v-slot:items="{selected, item}">
                <td>
                    <v-avatar color="teal">
                        <span class="white--text headline">C</span>
                    </v-avatar>
                </td>
                <td class="text-sm-right">{{ item.phone }}</td>
                <td class="text-sm-right">{{ item.phone }}</td>
                <td class="text-sm-right">{{ item.phone }}</td>
                <td class="text-sm-right">{{ item.phone }}</td>
                <td class="text-sm-right">{{ item.phone }}</td>
            </template>
        </Table>
    </v-container>
</template>
<script>
    import { FETCH_USERS } from '../apollo/query/user';
    import Table from '../components/table/Table';

    export default {
        components: { Table },
        data() {
            return {
                query: FETCH_USERS,
                headers: [
                    {
                        text: 'Dessert (100g serving)',
                        align: 'left',
                        sortable: false,
                        value: 'id'
                    },
                    { text: 'Calories', value: 'phone' },
                    { text: 'Fat (g)', value: 'dob' },
                    { text: 'Carbs (g)', value: 'carbs' },
                    { text: 'Protein (g)', value: 'protein' },
                    { text: 'Iron (%)', value: 'iron' }
                ]
            };
        }
    };
</script>