<template>
    <no-ssr>
        <v-container
            class="loginOverlay"
            fill-height
            fluid>
            <v-layout
                align-center
                flex
                justify-center>
                <v-flex
                    sm4
                    xs12
                >
                    <!--<v-toolbar class="pt-5 blue darken-4">
                        <v-toolbar-title class="white&#45;&#45;text"><h4>Welcome Back</h4></v-toolbar-title>
                    </v-toolbar>-->
                    <v-card elevation-12>
                        <v-toolbar
                            color="primary"
                            dark

                        >
                            <v-toolbar-title class="white--text">Login form</v-toolbar-title>
                            <v-spacer/>
                        </v-toolbar>
                        <v-card-text class="pt-4">
                            <!--<v-progress-circular
                                v-slot:default
                                indeterminate
                                color="primary"
                            />-->
                            <div>
                                <v-form
                                    ref="form"
                                    v-model="valid">
                                    <v-text-field
                                        :error="!!errors.email || !!messageError"
                                        :error-messages="errors.email || messageError"
                                        :rules="emailRules"
                                        v-model="email"
                                        label="Email"
                                        prepend-icon="person"
                                        required
                                    />
                                    <v-text-field
                                        :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                        :error="!!errors.password"
                                        :error-messages="errors.password"
                                        :rules="passwordRules"
                                        :type="e1 ? 'text' : 'password'"
                                        v-model="password"
                                        counter
                                        label="Mật khẩu"
                                        min="8"
                                        prepend-icon="lock"
                                        required
                                        @click:append="() => (e1 = !e1)"
                                    />
                                    <v-layout justify-space-between>
                                        <v-btn
                                            :disabled="loading"
                                            :loading="loading"
                                            class="blue darken-4 white--text"
                                            @click="submit">Đăng nhập
                                        </v-btn>
                                        <a href="">Quên mật khẩu?</a>
                                    </v-layout>
                                </v-form>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </no-ssr>
</template>

<script>
    import { LOGIN } from '../apollo/mutation/auth';

    export default {
        name: 'Login',
        layout: 'extra',
        data() {
            return {
                loading: false,
                valid: false,
                e1: false,
                errors: {},
                form: {},
                password: '',
                passwordRules: [
                    (v) => !! v || 'Mật khẩu là bắt buộc.'
                ],
                email: '',
                emailRules: [
                    (v) => !! v || 'E-mail là bắt buộc.',
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail không đúng định dạng.'
                ],
                messageError: ''
            };
        },
        methods: {
            submit() {
                if ( this.validateOnFocusForm() ) {
                    const { password, email } = this;

                    this.serviceHttp.updateFetch(LOGIN, { password, email }, (data) => {
                        if ( data.auth ) {
                            this.$apolloHelpers.onLogin(data.auth.token).finally(() => {
                                const auth = data.auth;
                                this.$store.commit('setAuth', auth); // mutating to store for client rendering

                                return this.$router.push({ path: '/' });
                            });
                        }
                    });
                }
            },
            clear() {
                this.$refs.form.reset();
            }
        }
    };
</script>