<template>
    <v-container fluid>
        <Card :title="$t('Widgets')">
            ???
        </Card>
    </v-container>
</template>

<script>
    import Card from '../../components/material/Card';

    export default {
        components: { Card }
    };
</script>

<style scoped>

</style>