<template>
    <v-container grid-list-lg>
        <Card
            :title="$t('Category')"
            color="green">
            <v-layout
                row
                wrap>
                <v-flex
                    xs4>
                    <h3 class="headline font-weight-regular">{{ $t('Add new category') }}</h3>
                    <FormCategoryCreate
                        :query="query"
                        :mutation="mutationCreate"
                        :refetch-queries="refetchQueries"
                    />
                </v-flex>
                <v-flex
                    xs8>
                    <Table
                        :delete-mutation="deleteCategory"
                        :filter="listFilter"
                        :headers="headers"
                        :per-page="1000"
                        :query="query"
                        :select.sync="selected"
                        :delete-refetch-queries="refetchQueries"
                    >
                        <template v-slot:toolbar-right="{ apollo }">
                            <FormFilter v-model="searchText"/>
                            <v-spacer/>
                            <v-btn
                                depressed
                                @click="apollo.refetch()">
                                <v-icon
                                    left
                                >refresh
                                </v-icon>
                                {{ $t('Refresh') }}
                            </v-btn>
                        </template>
                        <template v-slot:items="{selected, item}">
                            <!--<td class="text-sm-left">
                                <v-avatar color="teal">
                                    <span class="white&#45;&#45;text headline">C</span>
                                </v-avatar>
                            </td>-->
                            <td class="text-sm-left">
                                <nuxt-link :to="`/product/category/edit/${item.id}`">
                                    {{ item.name }}
                                </nuxt-link>
                            </td>
                            <td class="text-sm-left">{{ item.description }}</td>
                            <td class="text-sm-left">
                                <DateFormat :value="item.createdAt"/>
                            </td>
                            <td class="text-sm-right">
                                <ButtonActionTooltip
                                    :title="$t('Edit')"
                                    :to="`/product/category/edit/${item.id}`"
                                    color="indigo"
                                    icon="edit"
                                    nuxt/>
                                <ButtonActionDelete
                                    :gql="deleteCategory"
                                    :item="item"
                                    :refetch-queries="refetchQueries"/>
                            </td>
                        </template>
                    </Table>
                </v-flex>
            </v-layout>
        </Card>
    </v-container>
</template>

<script>
    import Table from '../../../components/table/Table';
    import FormTag from '../../../components/views/tag/FormTag';
    import Card from '../../../components/material/Card';
    import ButtonActionTooltip from '../../../components/button/ButtonActionTooltip';
    import FormCategoryCreate from '../../../components/views/category/FormCategoryCreate';
    import ButtonActionDelete from '../../../components/button/ButtonActionDelete';
    import FormFilter from '../../../components/material/FormFilter';
    import DateFormat from '../../../components/helper/DateFormat';
    import { FETCH_PRODUCT_TYPES } from '../../../apollo/query/product-type';
    import { CREATE_PRODUCT_TYPE, DELETE_PRODUCT_TYPE } from '../../../apollo/mutation/product-type';

    export default {
        components: {
            DateFormat,
            FormFilter,
            ButtonActionDelete,
            FormCategoryCreate,
            ButtonActionTooltip,
            Card,
            FormTag,
            Table
        },
        data() {
            return {
                query: FETCH_PRODUCT_TYPES,
                deleteCategory: DELETE_PRODUCT_TYPE,
                mutationCreate: CREATE_PRODUCT_TYPE,
                refetchQueries: ['productTypes'],

                selected: [],
                searchText: '',
                headers: [
                    // {
                    //     text: this.$t('Avatar'),
                    //     align: 'left',
                    //     sortable: false,
                    //     value: 'id'
                    // },
                    {
                        text: this.$t('Category name'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Description'),
                        value: 'description'
                    },
                    // {text: this.$t('Content'), value: 'content'},
                    // {text: this.$t('Published at'), value: 'publishedAt'},
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        width: '110px',
                        sortable: false,
                        align: 'center'
                    }
                ]
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [];
                }
                ;
                return [
                    {
                        field: 'name',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    }
                ];
            }
        }
    };
</script>
