<template>
    <v-container grid-list-lg>
        <Card
            :title="$t('Discussion Settings')"
            color="green">
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
                <v-layout
                    row
                    wrap>
                    <v-flex xs12>
                        <v-switch
                            :error="!!errors.defaultCommentStatus"
                            :error-messages="errors.defaultCommentStatus"
                            :label="$t('Allow people to post comments on new articles ?.')"
                            v-model="form.defaultCommentStatus"
                            color="indigo"
                            hide-details
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-layout
                            align-center
                            justify-center
                            row>
                            <v-flex>
                                {{ $t('Comments should be displayed with the') }}
                            </v-flex>
                            <v-flex xs8>
                                <v-select
                                    :error="!!errors.commentOrder"
                                    :error-messages="errors.commentOrder"
                                    :items="[{
                                        value: 'DESC',
                                        name: 'newer',
                                    }, {
                                        value: 'ASC',
                                        name: 'older'
                                    }]"
                                    :rules="[v => !!v || $t('Site title is required')]"
                                    v-model="form.commentOrder"
                                    item-text="name"
                                    item-value="value"
                                />
                            </v-flex>

                        </v-layout>
                    </v-flex>
                    <v-flex xs12>
                        <v-switch
                            :error="!!errors.commentModeration"
                            :error-messages="errors.commentModeration"
                            :label="$t('Comment must be manually approved')"
                            v-model="form.commentModeration"
                            color="indigo"
                            hide-details
                        />
                    </v-flex>
                    <!--<v-flex xs12>
                        <v-text-field
                            :label="$t('Comment Moderation')"
                            v-model="form.commentModeration"
                            :rules="[v => !!v || $t('Site title is required')]"
                            :error="!!errors.commentModeration"
                            :error-messages="errors.commentModeration"
                        />
                    </v-flex>-->
                    <v-flex 12>
                        <v-text-field
                            :error="!!errors.commentMaxLinks"
                            :error-messages="errors.commentMaxLinks"
                            :hint="$t('Hold a comment in the queue if it contains')"
                            :label="$t('Max links')"
                            :rules="[v => !!v || $t('Site title is required')]"
                            v-model="form.commentMaxLinks"
                            persistent-hint
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-textarea
                            :error="!!errors.commentModerationKeys"
                            :error-messages="errors.commentModerationKeys"
                            :hint="$t('When a comment contains any of these words in its content, name, URL, email, or IP address, it will be held in the moderation queue. One word or IP address per line.')"
                            :label="$t('Comment Moderation')"
                            v-model="form.commentModerationKeys"
                            name="input-7-1"
                            persistent-hint
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-textarea
                            :error="!!errors.commentBlacklistKeys"
                            :error-messages="errors.commentBlacklistKeys"
                            :hint="$t('When a comment contains any of these words in its content, name, URL, email, or IP address, it will be put in the trash. One word or IP address per line.')"
                            :label="$t('Comment Blacklist')"
                            v-model="form.commentBlacklistKeys"
                            name="input-7-1"
                            persistent-hint
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-btn
                            :loading="loading"
                            class="v-btn-facebook"
                            @click="saveChanges">{{ $t('Save Changes') }}
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-form>
        </Card>
    </v-container>
</template>

<script>
    import Card from '../../components/material/Card';
    import { OPTION_DISCUSSION } from '../../apollo/query/options';
    import { OPTION_DISCUSSION_UPDATE } from '../../apollo/mutation/options';

    export default {
        components: { Card },
        data() {
            return {
                loading: false,
                valid: true,
                form: {},
                errors: {}
            }
        },
        apollo: {
            data: function() {
                return {
                    query: OPTION_DISCUSSION,
                    fetchPolicy: 'network-only',
                    result({ data, loading, networkStatus }) {
                        if ( data && data.data ) {
                            this.form = data.data || {};
                        }
                    }
                };
            }
        },
        methods: {
            saveChanges() {
                if ( this.validateOnFocusForm() ) {
                    this.serviceHttp.updateFetch(OPTION_DISCUSSION_UPDATE, { ...this.form });
                }
            }
        }
    };
</script>

<style scoped>

</style>