<template>
    <v-container grid-list-lg>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <!--<v-layout row>
                <v-flex xs4>
                    <v-subheader
                        class="px-0"
                        v-text="$t('Social Login settings')"/>
                    <p>
                        {{ $t('Configure social login options') }}
                    </p>
                </v-flex>
                <v-flex xs8>
                    <Box :elevation="0">
                        <v-switch
                            v-model="form.socialLogin"
                            :label="$t('Enable?')"
                            :error="!!errors.socialLogin"
                            :error-messages="errors.socialLogin"
                            color="blue"
                        />
                    </Box>
                </v-flex>
            </v-layout>
            <br>
            <br>-->
            <v-layout row>
                <v-flex xs4>
                    <v-subheader
                        class="px-0"
                        v-text="$t('Facebook login settings')"/>
                    <p>
                        {{ $t('Enable/disable & configure app credentials for Facebook login') }}
                    </p>
                </v-flex>
                <v-flex xs8>
                    <Box
                        :elevation="0"
                    >
                        <v-switch
                            :error="!!errors.facebookLoginEnable"
                            :error-messages="errors.facebookLoginEnable"
                            :label="$t('Enable?')"
                            v-model="form.facebookLoginEnable"
                            color="blue"
                        />
                        <div v-if="form.facebookLoginEnable">
                            <TextField
                                :error="!!errors.facebookClientId"
                                :error-messages="errors.facebookClientId"
                                :label="$t('Client ID')"
                                v-model="form.facebookClientId"
                            />
                            <TextField
                                :error="!!errors.facebookClientSecret"
                                :error-messages="errors.facebookClientSecret"
                                :label="$t('Client Secret')"
                                v-model="form.facebookClientSecret"
                            />
                            <!--<TextField :label="$t('Scope')"/>-->

                            <v-alert
                                :value="true"
                                class="pa-2"
                                color="blue accent-2"
                                icon="mdi-information-outline"
                                outlined
                            >
                                <div style="color: rgba(0,0,0,0.87);">
                                    Please go to https://developers.facebook.com to create new app update App ID, App Secret. Callback URL is
                                    <code>{{ home }}/auth/callback/facebook</code>
                                </div>
                            </v-alert>
                        </div>
                    </Box>
                </v-flex>
            </v-layout>
            <br> <br>
            <v-layout row>
                <v-flex xs4>
                    <v-subheader
                        class="px-0"
                        v-text="$t('Google login settings')"/>
                    <p>
                        {{ $t('Enable/disable & configure app credentials for Google login') }}
                    </p>
                </v-flex>
                <v-flex xs8>
                    <Box
                        :elevation="0"
                    >
                        <v-switch
                            :error="!!errors.googleLoginEnable"
                            :error-messages="errors.googleLoginEnable"
                            :label="$t('Enable?')"
                            v-model="form.googleLoginEnable"
                            color="blue"
                        />
                        <div v-if="form.googleLoginEnable">
                            <TextField
                                :error="!!errors.googleClientId"
                                :error-messages="errors.googleClientId"
                                :label="$t('Client ID')"
                                v-model="form.googleClientId"
                            />

                            <v-alert
                                :value="true"
                                class="pa-2"
                                color="blue accent-2"
                                icon="mdi-information-outline"
                                outlined
                            >
                                <div style="color: rgba(0,0,0,0.87);">
                                    Please go to https://console.developers.google.com/apis/dashboard to create new app update App ID, App Secret. Callback URL is
                                    <code>{{ home }}/auth/callback/google</code>
                                </div>
                            </v-alert>
                        </div>
                    </Box>
                </v-flex>
            </v-layout>
            <!--<Box
                :elevation="0"
                class="mt-3">
                <v-layout row>
                    <v-flex xs4>
                        <v-subheader v-text="$t('Github login settings')"/>
                    </v-flex>
                    <v-flex xs4>
                        <v-switch
                            v-model="switch1"
                            :label="$t('Enable?')"
                            color="blue"
                        />
                        <v-text-field :label="$t('App ID')"/>
                    </v-flex>
                    <v-flex xs4>
                        {{ $t('Enable/disable & configure app credentials for Github login') }}
                    </v-flex>
                </v-layout>
            </Box>-->
            <br> <br>
            <v-layout row>
                <v-flex xs4>
                    <v-subheader
                        class="px-0"
                        v-text="$t('Registration Options')"/>
                    <p>
                        {{ $t('If Auto-register users is disable, users will not be able to register using Social Login. The users who already have an account will be able to login. This setting stands true only when users are registering using Social Login. This will not interfere with normal users registration.') }}
                    </p>
                </v-flex>
                <v-flex xs8>
                    <Box
                        :elevation="0"
                    >
                        <v-switch
                            :error="!!errors.autoRegister"
                            :error-messages="errors.autoRegister"
                            :label="$t('Auto-register users?')"
                            v-model="form.autoRegister"
                            color="blue"
                        />
                        <TextField
                            :error="!!errors.autoRegisterDisabledMessage"
                            :error-messages="errors.autoRegisterDisabledMessage"
                            :label="$t('Registration disabled message')"
                            v-model="form.autoRegisterDisabledMessage"
                        />
                    </Box>
                </v-flex>
            </v-layout>
            <br> <br>
            <v-layout row>
                <v-flex xs4>
                    <v-subheader
                        class="px-0"
                        v-text="$t('Role Mapping')"/>
                    <p>
                        {{ $t('Use Role Mapping to assign this universal role to the all users registering through Social Login.') }}
                    </p>
                </v-flex>
                <v-flex xs8>
                    <Box
                        :elevation="0"
                    >
                        <SelectRole
                            :error="!!errors.socialRegisterRole"
                            :error-messages="errors.socialRegisterRole"
                            :label="$t('Universal Role')"
                            v-model="form.socialRegisterRole"
                        />
                    </Box>
                </v-flex>
            </v-layout>
            <br>
            <v-layout row>
                <v-flex
                    offset-xs4
                    xs4>
                    <v-btn
                        :loading="loading"
                        class=" text-capitalize"
                        color="success"
                        depressed
                        @click="save"
                    >Save settings
                    </v-btn>
                </v-flex>
            </v-layout>
            <br> <br> <br> <br>
        </v-form>

    </v-container>
</template>

<script>
    import Box from '../../components/material/Box';
    import TextField from '../../components/views/theme/TextField';
    import SelectRole from '../../components/select/SelectRole';
    import { OPTION_SOCIAL_UPDATE } from '../../apollo/mutation/options';
    import { OPTION_SOCIAL } from '../../apollo/query/options';

    export default {
        components: { SelectRole, TextField, Box },
        data() {
            return {
                valid: true,
                loading: false,
                errors: {},
                form: {
                    socialRegisterRole: '3',
                    autoRegister: true,
                    autoRegisterDisabledMessage: 'Registration is disabled for this website. Please contact the administrator for any queries.'
                },
                configs: this.$store.state.optionGeneral
            }
        },
        computed: {
            home() {
                return (this.configs.home + '').replace(/\/+$/g, '')
            }
        },
        apollo: {
            data: function() {
                return {
                    query: OPTION_SOCIAL,
                    fetchPolicy: 'network-only',
                    result({ data, loading, networkStatus }) {
                        if ( data && data.data ) {
                            this.form = data.data || {};
                        }
                    }
                };
            }
        },
        methods: {
            save() {
                if ( this.validateOnFocusForm() ) {
                    this.serviceHttp.updateFetch(OPTION_SOCIAL_UPDATE, { ...this.form });
                }
            }
        }
    };
</script>

<style scoped>

</style>