<template>
    <Box
        :elevation="0"
        :title="$t('Test Email')">
        <v-alert
            :value="true"
            color="error"
            outlined
        >
            <strong>{{ $t('Note') }}:</strong> {{ $t('You have unsaved settings. In order to send a test email, you need to go back to previous tab and click \'Save Changes\' button first.') }}
        </v-alert>
        <p>
            {{ $t('You can use this section to send an email from your server using the above configured SMTP details to see if the email gets delivered.') }}
        </p>

        <p>
            <strong>{{ $t('Note') }}:</strong> {{ $t('debug log for this test email will be automatically displayed right after you send it. Test email also ignores \'Enable Domain Check\' option.') }}
        </p>
        <v-layout column>
            <v-flex>
                <v-layout row>
                    <v-flex xs4>
                        <v-subheader v-text="$t('To:')"/>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                            :label="$t('Enter the recipient\'s email address')"
                            v-model="form.to"
                            persistent-hint
                            single-line
                        />
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex>
                <v-layout row>
                    <v-flex xs4>
                        <v-subheader v-text="$t('Subject:')"/>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                            :label="$t('Enter a subject for your message')"
                            v-model="form.from"
                            persistent-hint
                            single-line
                        />
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex>
                <v-layout row>
                    <v-flex xs4>
                        <v-subheader v-text="$t('Message:')"/>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                            :label="$t('Write your email message')"
                            v-model="form.message"
                            persistent-hint
                            single-line
                        />
                    </v-flex>
                </v-layout>
            </v-flex>

        </v-layout>
        <v-btn
            :loading="loading"
            class="v-btn-facebook"
            @click="sendTest">
            {{ $t('Send test email') }}
        </v-btn>
    </Box>
</template>

<script>
    import Box from '../../material/Box';
    import { TEST_EMAIL } from '../../../apollo/mutation/email';

    export default {
        name: 'TestEmail',
        components: { Box },
        data() {
            return {
                form: {},
                errors: {},
                loading: false,
            }
        },
        methods: {
            sendTest() {
                this.serviceHttp.updateFetch(TEST_EMAIL, { ...this.form }, () => {
                    this.form = {};
                });
            }
        }
    };
</script>

<style scoped>

</style>