<template>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation>
        <CKEditor v-model="form.message"/>
        <v-btn
            :loading="loading"
            class="v-btn-facebook"
            @click="send"
        >Send
        </v-btn>
    </v-form>
</template>

<script>
    import { CREATE_CONTACT_REPLY } from '../../../apollo/mutation/contact';

    export default {
        name: 'ReplyForm',
        data() {
            return {
                form: {},
                valid: true,
                loading: false,
                errors: {}
            }
        },
        methods: {
            send() {
                if ( this.validateOnFocusForm() ) {
                    this.serviceHttp.createFetch({
                        mutation: CREATE_CONTACT_REPLY,
                        variables: {
                            message: this.form.message,
                            contactId: this.$route.params.id
                        },
                        refetchQueries: ['contactReplies', 'contact']
                    }, () => {
                        this.form = {
                            message: ''
                        };
                        this.showReply = false;
                    });
                }
            }
        }
    };
</script>

<style scoped>

</style>