<template>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
    >
        <FormCategory
            :errors="errors"
            :query="query"
            v-model="form"/>
        <v-btn
            :loading="loading"
            color="success"
            @click="validate"
        >
            {{ $t('Add new category') }}
        </v-btn>
    </v-form>
</template>

<script>
    import FormCategory from './FormCategory';
    import {deMeta} from "../../utils/utils";

    export default {
        name: 'FormCategoryCreate',
        components: { FormCategory },
        props: {
            mutation: {
                type: Object,
                default: undefined
            },
            query: {
                type: Object,
                default: undefined
            },
            refetchQueries: {
                type: [Array, String],
                default: undefined
            }
        },
        data() {
            return {
                valid: true,
                loading: false,
                errors: {},
                form: {
                    name: '',
                    parentId: '0',
                    description: '',
                    'meta_avatar': {},
                    'meta_banner': {},
                },
            }
        },
        methods: {
            validate() {
                if ( this.validateOnFocusForm() ) {
                    const meta = deMeta(this.form);

                    this.serviceHttp.createFetch({
                        mutation: this.mutation,
                        variables: { ...this.form, meta },
                        refetchQueries: this.refetchQueries
                    }, () => {
                        this.form = {
                            name: '',
                            parentId: '0',
                            description: '',
                            'meta_avatar': {},
                            'meta_banner': {},
                        };

                        this.$refs.form.resetValidation();
                    });
                }
            }
        }
    };
</script>

<style scoped>

</style>