<template>
    <v-layout column>
        <v-flex>
            <v-text-field
                :error="!!errors.name"
                :error-messages="errors.name"
                :hint="$t('The name is how it appears on your site.')"
                :label="$t('Name')"
                :rules="[v => !!v || $t('Item is required')]"
                v-model="form.name"
                persistent-hint
                required
                filled
            />
        </v-flex>

        <v-flex>
            <v-text-field
                :error="!!errors.slug"
                :error-messages="errors.slug"
                :hint="$t('The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.')"
                :label="$t('Slug')"
                v-model="form.slug"
                persistent-hint
                required
                filled
            />
        </v-flex>
        <v-flex>
            <SelectCategory
                :query="query"
                :disable-item="form.id"
                :disable-item-tree="form.disableId"
                :error="!!errors.parentId"
                :error-messages="errors.parentId"
                :hint="$t('Categories, unlike tags, can have a hierarchy. You might have a Jazz category, and under that have children categories for Bebop and Big Band. Totally optional.')"
                :label="$t('Parent category')"
                v-model="form.parentId"
                item-value="id"
                persistent-hint
                filled
            />
        </v-flex>
        <v-flex>
            <v-label left="15">{{ $t('Avatar') }}</v-label>
            <div class="text-sm-center">
                <Upload
                    :thumbnail-id.sync="form.meta_avatar.thumbnailId"
                    v-model="form.meta_avatar.guid"
                />
            </div>
        </v-flex>
        <v-flex>
            <v-label left="15">{{ $t('Banner') }}</v-label>
            <div class="text-sm-center">
                <Upload
                    :thumbnail-id.sync="form.meta_banner.thumbnailId"
                    v-model="form.meta_banner.guid"
                />
            </div>
        </v-flex>

        <v-flex>
            <v-textarea
                :error="!!errors.description"
                :error-messages="errors.description"
                :hint="$t('The description is not prominent by default; however, some themes may show it.')"
                :label="$t('Description')"
                v-model="form.description"
                auto-grow
                filled
                name="input-7-1"
                persistent-hint
            />
        </v-flex>
    </v-layout>
</template>

<script>
    import SelectCategory from '../../select/SelectCategory';
    import Upload from "../../helper/Upload";

    export default {
        name: 'FormCategory',
        components: {Upload, SelectCategory },
        props: {
            value: {
                type: [Object, Array, String],
                default() {
                    return {}
                },
                isRequired: true
            },
            query: {
                type: Object,
                default: undefined
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        data: () => ({
            form: {
                name: '',
                slug: '',
                parentId: '0',
                description: '',
                'meta_avatar': {},
                'meta_banner': {},
            }
        }),
        watch: {
            value(val, oldVal) {
                this.form = val
            },
            form(val, oldVal) {
                const data = val;
                data['meta_avatar'] = {
                    thumbnailId: val['meta_avatar'].thumbnailId,
                    guid: val['meta_avatar'].guid
                }
                data['meta_banner'] = {
                    thumbnailId: val['meta_banner'].thumbnailId,
                    guid: val['meta_banner'].guid
                }
                this.$emit('input', data);
            }
        },
        mounted() {
            this.form = this.value
        }
    };
</script>

<style scoped>

</style>