<template>
    <v-layout column>
        <v-flex>
            <v-text-field
                v-model="form.title"
                label="Tên phương thức"
            >
                <template v-slot:append>
                    <v-tooltip
                        bottom
                    >
                        <template v-slot:activator="{ on }">
                            <v-icon
                                class="help"
                                v-on="on">help
                            </v-icon>
                        </template>
                        Điều chỉnh tựa đề mà khách hàng thấy trong quá trình thanh toán.
                    </v-tooltip>
                </template>
            </v-text-field>
            <v-select
                :items="items"
                v-model="form.requires"
                label="Điều kiện miễn phí giao hàng..."

            />
            <v-text-field
                v-if="minAmount"
                v-model="form.cost"
                label="Số tiền đặt hàng tối thiểu"
            >
                <template v-slot:append>
                    <v-tooltip
                        bottom
                    >
                        <template v-slot:activator="{ on }">
                            <v-icon
                                class="help"
                                v-on="on">help
                            </v-icon>
                        </template>
                        Giá trị đơn hàng tối thiểu khách hàng cần phải mua để được vận chuyển miễn phí (nếu đã bật ở trên).
                    </v-tooltip>
                </template>
            </v-text-field>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: 'MethodFreeShipping',
        props: {
            form: {
                type: [Object],
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                items: [
                    {
                        text: 'N/A',
                        value: ''
                    },
                    {
                        text: 'Một ưu đãi miễn phí giao nhận còn hiệu lực',
                        value: 'coupon'
                    },
                    {
                        text: 'Số lượng đặt hàng tối thiểu',
                        value: 'min_amount'
                    },
                    {
                        text: 'Giá trị đơn hàng tối thiểu hoặc một phiếu ưu đãi',
                        value: 'either'
                    },
                    {
                        text: 'Giá trị đơn hàng tối thiểu và một phiếu ưu đãi',
                        value: 'both'
                    }
                ]
            };
        },
        computed: {
            minAmount() {
                let ar = ['min_amount', 'either', 'both'];
                return ar.indexOf(this.form.requires) !== -1;
            }
        },
        methods: {}
    };
</script>

<style scoped>

</style>