<template>
    <v-layout>
        <v-flex>
            <v-text-field
                v-model="form.title"
                label="Tên phương thức"
            >
                <template v-slot:append>
                    <v-tooltip
                        bottom
                    >
                        <template v-slot:activator="{ on }">
                            <v-icon
                                class="help"
                                v-on="on">help
                            </v-icon>
                        </template>
                        Điều chỉnh tựa đề mà khách hàng thấy trong quá trình thanh toán.
                    </v-tooltip>
                </template>
            </v-text-field>
            <v-select
                :items="items"
                v-model="form.taxStatus"
                label="Trạng thái thuế"
            />
            <v-text-field
                v-model="form.cost"
                label="Chi phí"
            >
                <template v-slot:append>
                    <v-tooltip
                        bottom
                        max-width="350"
                    >
                        <template v-slot:activator="{ on }">
                            <v-icon
                                class="help"
                                v-on="on">help
                            </v-icon>
                        </template>
                        <div>
                            Nhập giá (chưa bao gồm thuế) hoặc tổng, ví dụ. 10.00 * [qty]. <br>
                            <br> Sử dụng [qty] cho số lượng sản phẩm,
                            <br> [cost] cho tổng giá thành sản phẩm, và [fee percent="10" min_fee="20" max_fee=""] cho phần trăm dựa trên phí.
                        </div>
                    </v-tooltip>
                </template>
            </v-text-field>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: 'MethodFlatRate',
        props: {
            form: {
                type: [Object],
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                items: [
                    {
                        text: 'Thuế',
                        value: 'taxable'
                    },
                    {
                        text: 'Trống',
                        value: 'none'
                    }
                ]
            };
        },
        methods: {}
    };
</script>

<style scoped>

</style>