<template>
    <v-layout>
        <v-flex>
            <v-text-field
                v-model="form.title"
                label="Tên phương thức"
            >
                <template v-slot:append>
                    <v-tooltip
                        bottom
                    >
                        <template v-slot:activator="{ on }">
                            <v-icon
                                class="help"
                                v-on="on">help
                            </v-icon>
                        </template>
                        Điều chỉnh tựa đề mà khách hàng thấy trong quá trình thanh toán.
                    </v-tooltip>
                </template>
            </v-text-field>
            <v-select
                :items="items"
                v-model="form.taxStatus"
                label="Trạng thái thuế"
            />
            <v-text-field
                v-model="form.cost"
                label="Chi phí"
            >
                <template v-slot:append>
                    <v-tooltip
                        bottom
                    >
                        <template v-slot:activator="{ on }">
                            <v-icon
                                class="help"
                                v-on="on">help
                            </v-icon>
                        </template>
                        Phí tùy chọn cho mua hàng tận nơi.
                    </v-tooltip>
                </template>
            </v-text-field>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: 'MethodLocalPickup',
        props: {
            form: {
                type: [Object],
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                items: [
                    {
                        text: 'Thuế',
                        value: 'taxable'
                    },
                    {
                        text: 'Trống',
                        value: 'none'
                    }
                ]
            };
        }
    };
</script>

<style scoped>

</style>