<template>
    <div class="d-flex adjust-quantity">
        <ItemGroup
            v-model="toggleExclusive"
            class="elevation-0 border"
            mandatory
            @input="change"
        >
            <v-btn
                :value="1"
                depressed
                class="text-capitalize ma-0"
                style="width:50px;height: 36px;">
                <span>Add</span>
            </v-btn>

            <v-btn
                :value="2"
                depressed
                class="text-capitalize ma-0"
                style="width:50px;height: 36px;">
                <span>Set</span>
            </v-btn>
            <NumberFormat
                ref="qty"
                v-model="quantity"
                class="pa-0"
                currency-symbol=""
                hide-details
                label="0"
                single-line
                type="number"
                @focus="$event.target.select()"
            />
        </ItemGroup>
        <v-btn
            :disabled="disabledSave"
            :loading="loading"
            depressed
            class="v-btn-facebook ma-0 pa-0 text-capitalize"
            style="height: 38px;"
            @click="save"
        >
            <strong>Save</strong>
        </v-btn>
    </div>
</template>

<script>
    import NumberFormat from '../../material/NumberFormat';
    import { INVENTORY_ADJUST_QUANTITY } from '../../../apollo/mutation/product';
    import ItemGroup from '../../material/ItemGroup';

    export default {
        name: 'AdjustQuantity',
        components: { ItemGroup, NumberFormat },
        props: {
            item: {
                type: Object,
                default() {
                    return {};
                }
            },
            productBranchId: {
                type: [Number, String],
                default: undefined
            }
        },
        data() {
            return {
                toggleExclusive: 1,
                quantity: 0,
                loading: false,
                overdelay: false,
                qty: undefined
            }
        },
        computed: {
            disabledSave() {
                if ( this.toggleExclusive === 2 ) {
                    return this.qty === undefined || this.qty === '';
                }
                return ! this.quantity;
            },
            adjust() {
                let qty = Number(this.quantity);
                let prev = Number(this.item.quantity);

                if ( this.toggleExclusive === 2 ) {
                    return qty - prev;
                }
                return qty;
            },
            adjust2() {
                let qty = Number(this.quantity);
                let prev = Number(this.item.quantity);
                if ( this.disabledSave ) {
                    return prev;
                }
                ;

                if ( this.toggleExclusive === 2 ) {
                    return qty;
                }

                return prev + qty;
            },

        },
        watch: {
            quantity(val) {
                this.qty = this.$refs.qty.$el.querySelector('input').value;

                this.item.adjust = this.adjust2;
            }
        },
        methods: {
            change() {
                this.qty = this.$refs.qty.$el.querySelector('input').value;

                this.item.adjust = this.adjust2;
            },
            save() {
                this.$emit('update:quantity', this.adjust);

                this.updateQuantity(this.adjust);

                this.quantity = 0;
            },
            updateQuantity(qty, fn) {
                if ( ! this.productBranchId ) {
                    return;
                }
                ;

                this.overdelay = true;
                this.serviceHttp.updateFetch(INVENTORY_ADJUST_QUANTITY, {
                    productBranchId: this.productBranchId,
                    quantity: qty
                }).finally(() => {
                    setTimeout(_ => {
                        this.overdelay = false;
                        fn && fn();
                    }, 1500);
                });
            }
        }
    };
</script>

<style lang="scss">
    .adjust-quantity {
        &.border {
            border: solid 1px #ccc;
        }

        .v-text-field.v-text-field--solo .v-input__control {
            min-height: 40px;
        }

        .v-item-group:first-child {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
            /*background-color: #8a9ec7 !important;*/
        }

        .v-btn {
            box-shadow: none !important;

            &:last-child {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
        input {
            padding-left: 7px;
        }

    }
</style>