<template>
    <Box
        :title="$t('Inventory')"
        class="box-line-category sidebar-right-category">
        <div class="inventory-settings">
            <v-layout>
                <v-flex
                    class="py-0"
                    md6
                    xs12
                >
                    <v-text-field
                        :label="$t('Product code (SKU)')"
                        v-model="form.sku"
                        outlined
                        dense
                        placeholder="SP00001"
                    />

                </v-flex>
                <v-flex
                    class="py-0"
                    md6
                    xs12
                >
                    <v-text-field
                        ref="code"
                        :label="$t('Barcode (ISBN, UPC, GTIN, etc.)')"
                        v-model="form.code"
                        placeholder="2938498839274"
                        outlined
                        dense
                    />
                </v-flex>
            </v-layout>

            <!--<v-select
                :items="preOrder"
                :value="preOrder[0]"
                :label="$t('Allow pre-order?')"
            />-->
            <v-checkbox
                :label="$t('Continue selling when out of stock')"
                v-model="checkbox"
                color="primary"
            />

        </div>
        <div>
            <div style="margin: 0 -15px">
                <v-divider/>
            </div>
            <h3 class="subheading font-weight-regular">{{ $t('Quantity') }}</h3>
            <NumberFormat
                ref="quantity"
                :label="$t('Quantity')"
                v-model="quantity"
                currency-symbol=""
                name="quantity"
                type="number"
                solo
            />
        </div>
    </Box>
</template>
<script>
    import Box from '../../material/Box';
    import { convertStringToNumber } from '../../utils/utils';
    import NumberFormat from '../../material/NumberFormat';

    export default {
        name: 'BoxInventory',
        components: { NumberFormat, Box },
        props: {
            form: {
                type: Object,
                default() {
                    return {}
                }
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        data() {
            return {
                preOrder: ['Cho phép', 'Cho phép, nhưng phải thông báo tới khách hàng', 'Không cho phép'],
                quantity: 0,
                checkbox: true
            }
        },
        watch: {
            quantity(val, old) {
                if ( ! _.isObject(this.form.inventory) ) {
                    this.form.inventory = {};
                }
                ;
                this.form.inventory.quantity = convertStringToNumber(val);
            },
            form(val, old) {
                this.quantity = this.form.inventory && this.form.inventory.quantity;
            }
        },
        mounted() {
            this.quantity = this.form.inventory && this.form.inventory.quantity;
        }
    };
</script>
