<template>
    <Box>
        <v-text-field
            ref="name"
            :counter="200"
            :error="!!errors.name"
            :error-messages="errors.name"
            :label="$t('Name of the product')"
            :rules="nameRules"
            v-model="form.name"
            name="name"
            required
            solo
        />
        <no-ssr>
            <CKEditor
                :configs="{
                    toolbar1: 'bold italic underline',
                    min_height: 150
                }"
                :label="$t('Description of the product')"
                v-model="form.description"
                class="description"
                type="text"
            />
        </no-ssr>
        <no-ssr>
            <CKEditor
                :configs="{
                    min_height: 300,
                    menubar: false,
                }"
                :error="!!errors.content"
                :error-messages="errors.content"
                :label="$t('Content of the product')"
                :rules="[v => !!v || this.$t('Content is required')]"
                v-model="form.content"
                class="content"
                type="full"
            />
        </no-ssr>
    </Box>
</template>
<script>
    import Box from '../../material/Box';

    export default {
        name: 'BoxProductable',
        components: { Box },
        props: {
            errors: {
                type: Object,
                default() {
                    return {};
                }
            },
            form: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                nameRules: [
                    v => !! v || this.$t('Name is required'),
                    v => (v && v.length <= 250) || this.$t('Name must be less than 250 characters')
                ],
            }
        }
    };
</script>
