<template>
    <Box
        :title="$t('Product images')">
        <div
            v-if="attrAllItems.length"
            class="select-variant-main image-variant">
            <v-switch
                :label="$t('This image for option, like different color')"
                v-model="switch1"
                color="primary"
            />
            <v-select
                v-if="switch1"
                :items="attrAllItems"
                :label="'Thuộc tính chính'"
                v-model="form.imageType"
                item-text="name"
                item-value="name"
                solo
                @change="change"
            />
        </div>
        <div>
            <template v-if="switch1 && attrAllItems.length">
                <v-expansion-panels
                    v-model="panelVariantsItems"
                    multiple
                >
                    <v-expansion-panel
                        v-for="(item,i) in attributesItems"
                        :key="i">
                        <v-expansion-panel-header>
                            {{ item.name }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-card class="thumbnail-variants-item">
                                <v-container
                                    fluid
                                    grid-list-lg
                                >
                                    <Uploads
                                        :key="item.name"
                                        v-model="imageData[item.name]"/>
                                </v-container>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </template>
            <template v-else>
                <Uploads v-model="images"/>
            </template>
        </div>
    </Box>
</template>
<script>
    import Box from '../../material/Box';
    import Uploads from '../../helper/Uploads';
    import _ from 'lodash';

    export default {
        name: 'BoxUploads',
        components: { Uploads, Box },
        props: {
            value: {
                type: [Array, Object],
                default() {
                    return [];
                }
            },
            form: {
                type: [Array, Object],
                default() {
                    return [];
                }
            },
            data: {
                type: Array,
                default() {
                    return [];
                }
            },
            defaultSelect: {
                type: String,
                default: undefined
            }
        },

        data() {
            return {
                allAttribute: [],
                selected: null,
                panelVariantsItems: [],
                imageData: {},
                images: [],
                switch1: false,
            }
        },

        computed: {
            attributesItems() {
                let selected = _.head(this.attrAllItems.filter(x => x.name === this.form.imageType));

                return selected ? selected.attributes : [];
            },
            attrAllItems() {
                let data = this.data.filter(i => (i.attributes.length));
                return data;
            },
            selectedChange() {
                return this.form.imageType;
            }
        },

        watch: {
            data(val, old) {
                this.allAttribute = val;
            },
            attributesItems(val, old) {
                let data = {};
                for( let item of val ) {
                    if ( this.imageData[item.name] ) {
                        data[item.name] = this.imageData[item.name];
                    }
                }


                if ( ! _.isEmpty(this.imageData) && ! _.isEmpty(data) ) {
                    this.imageData = data;
                }
            },
            switch1(val, old) {
                if ( val === true ) {
                    this.form.images = this.imageData;
                } else {
                    this.form.imageType = null;
                    this.form.images = this.images;
                }
            },
            form(val, old) {
                if ( val.imageType ) {
                    this.switch1 = true;
                    this.imageData = this.form.images;
                } else {
                    this.switch1 = false;
                    this.images = this.form.images;
                }
            },
            imageData(val, old) {
                if ( val !== old ) {
                    if ( this.switch1 === true ) {
                        this.form.images = this.imageData;
                    } else {
                        this.form.images = this.images;
                    }
                }
            },
            images(val, old) {
                if ( val !== old ) {
                    if ( this.switch1 === true ) {
                        this.form.images = this.imageData;
                    } else {
                        this.form.images = this.images;
                    }
                }
            },
            selectedChange(val, old) {
                if ( val && this.attributesItems && this.attributesItems.length) {
                    this.panelVariantsItems = this.attributesItems.map((val, index) => (index));
                }
            }
        },
        mounted() {
            this.allAttribute = this.data || [];
            if ( this.form.imageType ) {
                this.switch1 = true;
                this.imageData = this.form.images;
            } else {
                this.images = this.form.images;
            }
        },
        methods: {
            change() {
            },
            changeItem(item) {
                return item.name;
            },
            select(item) {
                this.selected = item;
            },
            input(data) {
                this.$emit('input', data);
            }
        }
    }
</script>
