<template>
    <Box
        :title="$t('Variant')"
        class="box-line-category sidebar-right-category">
        <template
            slot="actions">
            <span class="subheading font-weight-regular mr-1">{{ $t('Variant') }}</span>
            <v-spacer/>
            <nuxt-link :to="`/product/form/${form.id}/variants/new`">{{ $t('Add Variant') }}</nuxt-link>
        </template>
        <div
            class="variants-settings">
            <div
                class="ppt modify-variants">
                <v-data-table
                    :headers="headersTableVariants"
                    :items="form.branches"
                    :items-per-page="1000"
                    class="elevation-1"
                >
                    <template v-slot:item="{item}">
                        <tr>
                            <!--<td>
                            <v-checkbox
                                v-model="item.active"
                                color="blue"
                                hide-details
                            />
                        </td>-->
                            <td>
                                <span v-html="mapName(item.attributes)"/>
                            </td>
                            <td>
                                <NumberFormat
                                    v-model="item.price"
                                    prefix="đ"/>
                            </td>
                            <td>
                                <NumberFormat
                                    v-model="item.priceSale"
                                    prefix="đ"/>
                            </td>
                            <td>
                                <v-text-field
                                    v-model="item.code"
                                    hide-details
                                />
                            </td>
                            <td>
                                <v-text-field
                                    v-model="item.sku"
                                    hide-details
                                />
                            </td>
                            <td>
                                <NumberFormat
                                    v-if="item.inventory"
                                    v-model="item.inventory.quantity"
                                    currency-symbol=""
                                />
                            </td>
                            <td>
                                <ButtonActionTooltip
                                    :title="$t('Edit')"
                                    :to="`/product/form/${form.id}/variants/${item.id}`"
                                    color="indigo"
                                    icon="edit"
                                    nuxt
                                    tabindex="-1"
                                />
                                <ButtonActionDelete
                                    :gql="deleteProductBranch"
                                    :item="item"
                                    :message="$t('Are you sure you want to delete the variant? This action cannot be reversed.', {title: mapName(item.attributes, 'font-weight-medium title')})"
                                    :title="$t('Delete2', {title: mapName(item.attributes)})"
                                    :refetch-queries="['product_master', 'product_all_attribute']"
                                    max-width="600"
                                    tabindex="-1"
                                />
                            </td>
                        </tr>
                    </template>
                </v-data-table>
            </div>
        </div>
    </Box>
</template>
<script>
    import Box from '../../material/Box';
    import VariantProduct from './VariantProduct';
    import ButtonActionTooltip from '../../button/ButtonActionTooltip';
    import ButtonActionDelete from '../../button/ButtonActionDelete';
    import { DELETE_PRODUCT_BRANCH } from '../../../apollo/mutation/product';
    import NumberFormat from '../../material/NumberFormat';

    export default {
        name: 'BoxUpdateVariants',
        components: { NumberFormat, ButtonActionDelete, ButtonActionTooltip, VariantProduct, Box },
        props: {
            value: {
                type: Array,
                default() {
                    return [];
                }
            },
            data: {
                type: Array,
                default() {
                    return [];
                }
            },
            form: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        data() {
            return {
                name: {
                    count: 123,
                    title: '1232'
                },
                deleteProductBranch: DELETE_PRODUCT_BRANCH,
                allAttribute: [],
                prevAllAttribute: [],
                headersTableVariants: [
                    // { text: '', sortable: false, value: 'Active' },
                    { text: this.$t('Name Variant'), sortable: false, value: 'variant' },
                    { text: this.$t('Price'), sortable: false, value: 'price' },
                    { text: this.$t('Compare at price'), sortable: false, value: 'priceSale' },
                    { text: this.$t('Product code'), sortable: false, value: 'sku' },
                    { text: 'Sku', sortable: false, value: 'sku' },
                    { text: this.$t('Quantity in stock'), sortable: false, value: 'inventory' },
                    { text: ` `, width: '85px', sortable: false, value: 'inventory' },
                ],
                branches: [{}]
            }
        },
        computed: {
            attrAllItems() {
                const _attr = this.allAttribute.map(i => {
                    return i.attributes.map(x => {
                        return {
                            groupName: i.name,
                            name: x.name
                        }
                    });
                });
                const attr = _attr.filter(x => x.length > 0);
                if ( ! attr.length ) return [];
                let rs = this.attrRecursive(...attr);
                return rs.map(x => ({ attributes: x, active: true }));
            },
        },

        watch: {
            allAttribute(val, old) {
                if ( old !== val ) {
                    this.branches = this.attrAllItems;
                    // this.$emit('input', this.branches);
                    this.$emit('update:data', val);
                }
            },
            data(val, old) {
                this.allAttribute = val;
                // this.branches = this.attrAllItems;
            },
            branches(val, old) {
                this.$emit('input', val);
            }
        },
        mounted() {
            // this.allAttribute = this.data || [];
            // this.branches = this.value;
        },

        methods: {
            mapName(attributes, className) {
                if ( ! Array.isArray(attributes) ) {
                    return '';
                }
                return attributes.map(x => {
                    return `<span class='${ className }'>${ x.name }</span>`;
                }).join(' / ');
            },
            attrRecursive(...args) {
                let d = args;
                let g = d.map(x => (0));

                const reducer = (accumulator, currentValue) => {
                    return accumulator * currentValue.length;
                };

                let length = d.reduce(reducer, 1) + 1;

                let res = [];
                for( let i = 1; i < length; i++ ) {
                    res.push(d.map((value, index) => {
                        return d[index][g[index]];
                    }));

                    g[0]++;
                    plus(0);
                }

                function plus(index) {
                    if ( ! d[index] ) {
                        return;
                    }
                    if ( g[index] === d[index].length ) {
                        g[index] = 0;
                        g[index + 1]++;
                        plus(index + 1);
                    }
                }

                return res;
            },
        },
    }
</script>
