<template>
    <Box
        :hide-body="!allAttribute || !allAttribute.length"
        :title="$t('Variant')"
        class="box-line-category sidebar-right-category">
        <template
            slot="actions">
            <div>
                <span class="subheading font-weight-regular mr-1">{{ $t('Variant') }}</span>
                <v-checkbox
                    :label="$t('This product has multiple options, like different sizes or colors')"
                    v-model="checkbox"
                    color="primary"
                    @change="toggleOption"
                />
            </div>
        </template>
        <div
            v-if="allAttribute.length"
            class="variants-settings">
            <div
                class="options-variants">
                <VariantProduct
                    v-model="allAttribute"
                />
            </div>
            <div
                v-if="attrAllItems.length"
                class="ppt modify-variants">
                <div
                    class="my-3"
                    style="margin: 0 -16px;">
                    <v-divider/>
                </div>
                <v-subheader
                    class="pa-0"
                    v-text="$t('Modify the variants to be created') + ':'"/>
                <v-data-table
                    :headers="headersTableVariants"
                    :items="branches"
                    :items-per-page="1000"
                    class="elevation-1"
                >
                    <template v-slot:item="{item}">
                        <tr>
                            <td>
                                <span
                                    v-for="(i, index) in item.attributes"
                                    :key="index">
                                    {{ i.name }} <span v-if="item.attributes.length > index + 1">/</span>
                                </span>
                            </td>
                            <template v-if="item.active">
                                <td>
                                    <NumberFormat
                                        v-model="item.price"
                                        placeholder="0"
                                        hide-details
                                        prefix="đ"
                                        type="number"
                                    />
                                </td>
                                <td>
                                    <v-text-field
                                        v-model="item.code"
                                        hide-details
                                    />
                                </td>
                                <td>
                                    <v-text-field
                                        v-model="item.sku"
                                        hide-details
                                    />
                                </td>
                                <td>
                                    <NumberFormat
                                        v-if="item.inventory"
                                        v-model="item.inventory.quantity"
                                        currency-symbol=""
                                        hide-details
                                        type="number"
                                    />
                                </td>
                                <td>
                                    <v-tooltip left>
                                        <template v-slot:activator="{ on }">
                                            <v-icon
                                                class="pointer"
                                                @click="toggleVariant(item)"
                                                v-on="on"
                                            >delete
                                            </v-icon>
                                        </template>
                                        <span>
                                            {{ $t('Delete variant') }}
                                        </span>
                                    </v-tooltip>
                                </td>
                            </template>
                            <template v-else>
                                <td
                                    class="text-sm-right"
                                    colspan="5">
                                    {{ $t('This variant will not be created') }}
                                    <a @click="toggleVariant(item)"> {{ $t('Undo') }} </a>
                                </td>
                            </template>
                        </tr>
                    </template>
                </v-data-table>
            </div>
        </div>
    </Box>
</template>
<script>
    import Box from '../../material/Box';
    import VariantProduct from './VariantProduct';
    import _ from 'lodash';
    import NumberFormat from '../../material/NumberFormat';

    export default {
        name: 'BoxVariants',
        components: { NumberFormat, VariantProduct, Box },
        props: {
            value: {
                type: Array,
                default() {
                    return [];
                }
            },
            form: {
                type: Object,
                default() {
                    return {};
                }
            },
            data: {
                type: Array,
                default() {
                    return [];
                }
            },
        },
        data() {
            return {
                allAttribute: [],
                prevAllAttribute: [],
                headersTableVariants: [
                    // { text: '', sortable: false, value: 'Active' },
                    { text: this.$t('Name Variant'), sortable: false, value: 'variant' },
                    { text: this.$t('Price'), sortable: false, value: 'price' },
                    // { text: this.$t('Price sale'), sortable: false, value: 'priceSale' },
                    { text: this.$t('Product code'), sortable: false, value: 'sku' },
                    { text: 'Sku', sortable: false, value: 'sku' },
                    { text: this.$t('Quantity in stock'), sortable: false, value: 'inventory' },
                    { text: '', sortable: false, value: 'action' },
                ],
                branches: [{}],
                checkbox: false
            }
        },
        computed: {
            attrAllItems() {
                if ( ! this.allAttribute ) {
                    return [];
                }
                const _attr = this.allAttribute.map(i => {
                    return i.attributes.map(x => {
                        return {
                            groupName: i.name,
                            name: x.name
                        }
                    });
                });
                const attr = _attr.filter(x => x.length > 0);
                if ( ! attr.length ) return [];
                let rs = this.attrRecursive(...attr);
                return rs.map(x => ({ attributes: x, active: true }));
            },
        },

        watch: {
            allAttribute(val, old) {
                if ( old !== val ) {
                    this.branches = this.attrAllItems;
                    this.$emit('input', this.branches);
                    this.$emit('update:data', val);
                }
            },
            data(val, old) {
                this.allAttribute = val || [];
                this.branches = this.attrAllItems.map((x, i) => {
                    let sku;
                    if ( this.form.sku ) {
                        sku = `${ this.form.sku }-${ i + 1 }`
                    }
                    return {
                        ...x,
                        price: this.form.price,
                        code: i === 0 ? this.form.code : '',
                        sku: sku,
                        inventory: {
                            quantity: 0
                        },
                    };
                });
            },
            branches(val, old) {
                this.$emit('input', val);
            }
        },
        mounted() {
            this.allAttribute = this.data || [];
            this.branches = this.attrAllItems;
        },

        methods: {
            toggleVariant(item) {
                item.active = ! item.active;
            },
            toggleOption() {
                if ( this.checkbox ) {
                    this.addOption();
                } else {
                    this.removeOption();
                }
            },
            removeOption() {
                this.prevAllAttribute = _.cloneDeep(this.allAttribute);
                this.allAttribute = [];
            },
            addOption() {
                /*if (this.prevAllAttribute.length) {
                    return this.allAttribute = _.cloneDeep(this.prevAllAttribute);
                }*/
                this.allAttribute.push({
                    name: 'Size',
                    attributes: []
                });
            },
            attrRecursive(...args) {
                let d = args;
                let g = d.map(x => (0));

                const reducer = (accumulator, currentValue) => {
                    return accumulator * currentValue.length;
                };

                let length = d.reduce(reducer, 1) + 1;

                let res = [];
                for( let i = 1; i < length; i++ ) {
                    res.push(d.map((value, index) => {
                        return d[index][g[index]];
                    }));

                    g[0]++;
                    plus(0);
                }

                function plus(index) {
                    if ( ! d[index] ) {
                        return;
                    }
                    if ( g[index] === d[index].length ) {
                        g[index] = 0;
                        g[index + 1]++;
                        plus(index + 1);
                    }
                }

                return res;
            },
        },
    }
</script>
