<template>
    <Box
        :title="$t('Link')"
    >
        <v-checkbox
            slot="actions"
            :label="$t('External product / link')"
            v-model="form.meta__external"
            class="ma-0"
            color="primary"
            hide-details
        />
        <div v-if="form.meta__external">
            <div
                v-for="(item, index) in productLink"
                :key="index">
                <div v-if="item.name">
                    <v-label
                        color="grey"
                        class="v-divider">{{ $t(item.name) }}</v-label>
                    <v-divider/>
                    <br>
                </div>
                <v-label>{{ $t('URL product') }}</v-label>
                <v-text-field
                    :rules="rules"
                    :label="$t('URL product')"
                    v-model="item._product_link"
                    placeholder="https://example.com/san-pham/ao-da-hoi.html"
                    solo
                    dense
                >
                    <template v-slot:append>
                        <v-tooltip
                            bottom
                        >
                            <template v-slot:activator="{ on }">
                                <v-icon
                                    class="help"
                                    v-on="on">help
                                </v-icon>
                            </template>
                            {{ $t('Press product link. Example: https://example.com/san-pham/ao-da-hoi.html') }}
                        </v-tooltip>
                    </template>
                </v-text-field>
                <v-label>{{ $t('Button text') }}</v-label>
                <v-text-field
                    v-model="item._product_link_text"
                    :label="$t('Button text')"
                    placeholder="Mua"
                    solo
                    dense
                >
                    <template v-slot:append>
                        <v-tooltip
                            bottom
                        >
                            <template v-slot:activator="{ on }">
                                <v-icon
                                    class="help"
                                    v-on="on">help
                                </v-icon>
                            </template>
                            {{ $t('This content will be displayed on buttons associated with the product.') }}
                        </v-tooltip>
                    </template>
                </v-text-field>
            </div>
        </div>
    </Box>
</template>

<script>
    import Box from '../../material/Box';

    function formats() {
        const list = process.env.PRODUCT_LINK;

        if (!list) {
            return [{}]
        }

        return list.split('||').map(item => {
            return {
                name: item
            };
        });
    }

    export default {
        name: 'ExternalProductLink',
        components: { Box },
        props: {
            form: {
                type: [Object],
                default() {
                    return {};
                }
            },
        },
        data() {
            return {
                rules: [this.regexUrl],
                asyncProductLink: formats()
            }
        },
        computed: {
            productLink() {
                if (!Array.isArray(this.form['meta__product_link'])) {
                    return this.asyncProductLink;
                }
                return this.form['meta__product_link'];
            }
        },
        watch: {
            asyncProductLink(val, oldVal) {
                if (!val) {
                    this.form['meta__product_link'] = formats();
                } else {
                    this.form['meta__product_link'] = val;
                }
            },
            productLink(val, oldVal) {
                if (!val) {
                    this.form['meta__product_link'] = formats();
                } else {
                    this.form['meta__product_link'] = val;
                }
            }
        },
        methods: {
            regexUrl(v) {
                if ( ! v ) {
                    return true;
                }

                const expression = /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/gi;
                const regex = new RegExp(expression);

                if ( ! v.match(/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/gi) ) {
                    return this.$t('URL must be a valid URL. Example: https://example.com/san-pham/ao-da-hoi.html');
                }

                return true;
            }
        }
    };
</script>

<style scoped>

</style>