<template>
    <Box :title="$t('Extra')">
        <div>
            <v-checkbox
                v-model="form.meta__extra"
                color="primary"
                label="Custom extra"
            />
            <div v-if="form.meta__extra">
                <v-switch
                    v-model="form.meta__bubble_new"
                    filled
                    color="primary"
                    label="Custom Bubble"
                >
                    <template v-slot:append>
                        <v-tooltip
                            bottom
                        >
                            <template v-slot:activator="{ on }">
                                <v-icon
                                    class="help"
                                    v-on="on">help
                                </v-icon>
                            </template>
                            Enable a custom bubble on this product.
                        </v-tooltip>
                    </template>
                </v-switch>
                <v-text-field
                    v-model="form.meta__bubble_text"
                    filled
                    label="Custom Bubble Title"
                    placeholder="NEW"
                >
                    <template v-slot:append>
                        <v-tooltip
                            bottom
                        >
                            <template v-slot:activator="{ on }">
                                <v-icon
                                    class="help"
                                    v-on="on">help
                                </v-icon>
                            </template>
                            Field description.
                        </v-tooltip>
                    </template>
                </v-text-field>
                <v-text-field
                    v-model="form.meta_custom_tab_title"
                    filled
                    label="Custom Tab Title">
                    <template v-slot:append>
                        <v-tooltip
                            bottom
                        >
                            <template v-slot:activator="{ on }">
                                <v-icon
                                    class="help"
                                    v-on="on">help
                                </v-icon>
                            </template>
                            Field description.
                        </v-tooltip>
                    </template>
                </v-text-field>
                <v-textarea
                    v-model="form.meta__custom_tab"
                    filled
                    hint="Enter content for custom product tab here. Shortcodes are allowed"
                    label="Custom Tab Content"
                    persistent-hint
                />
                <v-text-field
                    v-model="form.meta__product_video"
                    filled
                    hint="Enter a Youtube or Vimeo Url of the product video here. We recommend uploading your video to Youtube."
                    label="Product Video"
                    persistent-hint
                    placeholder="https://www.youtube.com/watch?v=Ra_iiSIn4OI"
                />
                <v-text-field
                    v-model="form.meta__product_video_size"
                    filled
                    label="Product Video Size"
                    placeholder="900x900"
                >
                    <template v-slot:append>
                        <v-tooltip
                            bottom
                        >
                            <template v-slot:activator="{ on }">
                                <v-icon
                                    class="help"
                                    v-on="on">help
                                </v-icon>
                            </template>
                            Set Product Video Size.. Default is 900x900. (Width X Height)
                        </v-tooltip>
                    </template>
                </v-text-field>
                <v-select
                    :items="[
                        {
                            text: 'Lightbox (Default)',
                            value: ''
                        },
                        {
                            text: 'New Tab',
                            value: 'tab'
                        }
                    ]"
                    :value="''"
                    v-model="form.meta__product_video_placement"
                    filled
                    label="Product Video Placement">
                    <template v-slot:append>
                        <v-tooltip
                            bottom
                        >
                            <template v-slot:activator="{ on }">
                                <v-icon
                                    class="help"
                                    v-on="on">help
                                </v-icon>
                            </template>
                            Select where you want to display product video.
                        </v-tooltip>
                    </template>
                </v-select>
                <v-textarea
                    v-model="form.meta__top_content"
                    filled
                    hint="Enter content that will show after the header and before the product. Shortcodes are allowed"
                    label="Top Content"
                    persistent-hint
                />
                <v-textarea
                    v-model="form.meta__bottom_content"
                    filled
                    hint="Enter content that will show after the product info. Shortcodes are allowed"
                    label="Bottom Content"
                    persistent-hint
                />
            </div>
        </div>
    </Box>
</template>

<script>
    import Box from '../../material/Box';

    export default {
        name: 'ExtraProductBox',
        components: { Box },
        props: {
            form: {
                type: [Array, Object],
                default() {
                    return [];
                }
            },
        }
    };
</script>

<style scoped>

</style>