<template>
    <v-layout
        class="from-post"
        row
        wrap>
        <v-flex
            class="sidebar-left"
            md9
            xs12>

            <div class="layout-item product-form">
                <BoxProductable
                    :errors="errors"
                    :form="form"/>
            </div>
            <div class="layout-item product-outer-variants">
                <ExternalProductLink :form="form"/>
                <PreviewProductLink :form="form"/>
                <Pricing
                    v-if="!form.id || !branched"
                    :form="form"/>

                <BoxInventory
                    v-if="!form.id || !branched"
                    :form="form"
                />

                <Shipping
                    v-if="!form.id || !branched"
                    :form="form"/>

                <BoxVariants
                    v-if="!form.id || !branched"
                    :data.sync="allAttribute"
                    :form="form"
                    v-model="form.branches"/>

                <BoxUpdateVariants
                    v-else
                    :form="form"/>

                <BoxUploads
                    :data="allAttribute"
                    :default-select="form.imageType"
                    :form="form"/>

                <ExtraProductBox :form="form"/>

                <!--<CustomFieldBox/>-->
            </div>
            <slot name="customField"/>

        </v-flex>
        <v-flex
            class="sidebar-right"
            md3
            xs12>
            <Box
                v-if="!hidePublish"
                :title="$t('Publish')"
                class="box-line-publish sidebar-right-publish"
                offset="0">
                <div class="content">
                    <v-radio-group
                        v-model="visibility"
                        column>
                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <v-radio
                                    color="primary"
                                    value="public">
                                    <template v-slot:label>
                                        <div v-on="on">{{ $t('Public') }}</div>
                                    </template>
                                </v-radio>
                            </template>
                            <span>{{ $t('Visible to everyone.') }}</span>
                        </v-tooltip>

                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <v-radio
                                    color="primary"
                                    value="private">
                                    <template v-slot:label>
                                        <div v-on="on">{{ $t('Private') }}</div>
                                    </template>
                                </v-radio>
                            </template>
                            <span>{{ $t('Only visible to site admins and editors.') }}</span>
                        </v-tooltip>

                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <v-radio
                                    color="primary"
                                    value="protected">
                                    <template v-slot:label>
                                        <div v-on="on">{{ $t('Password Protected') }}</div>
                                    </template>
                                </v-radio>
                            </template>
                            <span>{{ $t('Password Protected with a password you choose. Only those with the password can view this post.') }}</span>
                        </v-tooltip>
                    </v-radio-group>
                    <v-text-field
                        v-if="visibility === 'protected'"
                        :append-icon="show1 ? 'visibility' : 'visibility_off'"
                        :hint="$t('At least 8 characters')"
                        :label="$t('Password')"
                        :rules="passwordRules"
                        :type="show1 ? 'text' : 'password'"
                        v-model="form.postPassword"
                        class="password"
                        counter
                        name="input-10-1"
                        @click:append="show1 = !show1"
                    />
                </div>
                <div class="submit">
                    <slot name="submit">
                        <v-btn
                            color="success"
                            @click="submit"
                        >
                            {{ $t('Submit') }}
                        </v-btn>
                    </slot>
                </div>
            </Box>

            <Box
                :title="$t('Vendor')"
            >
                <SelectProductVendor
                    v-model="form.productVendorId"
                    item-value="id"/>
            </Box>
            <Box
                v-if="!hideCategory"
                :title="$t('Categories')"
                class="box-line-category sidebar-right-category">
                <ComboboxCategory
                    :error="!!errors.content"
                    :error-messages="errors.content"
                    :query="queryCategory"
                    :rules="[v => !!v || this.$t('Category is required')]"
                    v-model="form.categories"
                />
            </Box>
            <Box
                v-if="!hideTag"
                :title="$t('Tags')"
                class="box-line-tag sidebar-right-tag">
                <ComboboxTag
                    v-model="form.tags"
                    item-value="text"/>
            </Box>
        </v-flex>
    </v-layout>
</template>

<script>
    import Box from '../../material/Box';
    import BoxVariants from './BoxVariants';
    import BoxInventory from './BoxInventory';
    import BoxUploads from './BoxUploads';
    import Shipping from './Shipping';
    import Pricing from './Pricing';
    import BoxUpdateVariants from './BoxUpdateVariants';
    import BoxProductable from './BoxProductable';
    import ComboboxCategory from '../../combobox/ComboboxCategory';
    import ComboboxTag from '../../combobox/ComboboxTag';
    import SelectCategory from '../../select/SelectCategory';
    import SelectProductVendor from '../../select/SelectProductVendor';
    import ExtraProductBox from './ExtraProductBox';
    import ExternalProductLink from './ExternalProductLink';
    import CustomFieldBox from '../../Box/CustomFieldBox';
    import { FETCH_PRODUCT_TYPES } from '../../../apollo/query/product-type';
    import _ from 'lodash';
    import PreviewProductLink from './PreviewProductLink';

    export default {
        name: 'FormProduct',
        components: {
            PreviewProductLink,
            CustomFieldBox,
            ExternalProductLink,
            ExtraProductBox,
            SelectProductVendor,
            SelectCategory,
            ComboboxTag,
            ComboboxCategory,
            BoxProductable,
            BoxUpdateVariants,
            Pricing,
            Shipping,
            BoxInventory,
            BoxUploads,
            BoxVariants,
            Box
        },

        props: {
            value: {
                type: [Object, Array, String],
                default() {
                    return {}
                }
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            },
            hidePublish: {
                type: Boolean,
                default: false
            },
            hideAvatar: {
                type: Boolean,
                default: false
            },
            hideCategory: {
                type: Boolean,
                default: false
            },
            hideTag: {
                type: Boolean,
                default: false
            },
            hideDiscussion: {
                type: Boolean,
                default: false
            },
            productAllAttribute: {
                type: [Array, Object, String],
                default() {
                    return {}
                }
            }
        },

        data() {
            return {
                queryCategory: FETCH_PRODUCT_TYPES,
                valid: true,
                show1: false,
                VariantsStatus: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    productTypeId: '1',
                    branches: [{
                        id: 1,
                        name: '???',
                        attributes: [{ name: 'nguyen' }]
                    }],
                    images: [],
                },
                allAttribute: [],
                passwordRules: [
                    v => !! v || this.$t('Password is required'),
                    v => (v && v.length >= 8) || this.$t('At least 8 characters')
                ],
                rulesCategory: [
                    v => {
                        return false;
                    }
                ],
                visibility: 'public'
            };
        },

        computed: {
            branched() {
                if ( ! this.productAllAttribute ) {
                    return 0;
                }
                return this.productAllAttribute.length;
                // return this.form.branches.filter(x => (x.id)).length > 1
            }
        },

        watch: {
            value(val, oldVal) {
                if ( JSON.stringify(val) === JSON.stringify(oldVal) ) {
                    return;
                }
                this.form = val;

                if ( this.form.productStatus === 'private' ) {
                    this.visibility = 'private';
                } else if ( this.form.postPassword ) {
                    this.visibility = 'protected';
                } else {
                    this.visibility = 'public';
                }
            },
            form(val, oldVal) {
                // console.log('output');
                // this.$emit('input', val);
            },
            visibility(val, oldVal) {
                if ( val !== 'protected' ) {
                    this.form.postPassword = '';
                }
                if ( val === 'private' ) {
                    this.form.productStatus = 'private';
                } else {
                    this.form.productStatus = 'publish';
                }
            },
            productAllAttribute(val, old) {
                this.allAttribute = _.cloneDeep(val);
            }
        },

        mounted() {
            if ( this.productAllAttribute && this.productAllAttribute.length ) {
                this.allAttribute = _.cloneDeep(this.productAllAttribute);
            }
            if ( this.value ) {
                this.form = this.value;
                if ( this.form.productStatus === 'private' ) {
                    this.visibility = 'private';
                } else if ( this.form.postPassword ) {
                    this.visibility = 'protected';
                } else {
                    this.visibility = 'public';
                }
            }
        },

        methods: {
            submit() {
                const { ...form } = this.form;

                if ( Array.isArray(form.tags) ) {
                    form.tags = form.tags.map(i => (i.text));
                }
                this.$emit('submitForm', form);
            },
            addAttribute() {
                this.allAttribute.push({
                    id: Date.now().toString(),
                    name: '',
                    attributes: []
                });

            },

        }
    }
</script>

<style>
    .content .ck-content.ck-editor__editable {
        min-height: 250px;
    }
</style>