<template>
    <v-layout
        class="from-post"
        row
        wrap>
        <v-flex
            class="sidebar-left"
            md3
            xs12>
            <Box>
                <v-layout align-center>
                    <v-flex xs5>
                        <img
                            contain
                            height="125px"
                            src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
                            alt="avatar"
                        >
                        <!--<v-icon>picture</v-icon>-->
                    </v-flex>
                    <v-flex
                        xs7
                    >
                        <div class="font-weight-medium">{{ master.name }}</div>
                        <div>{{ master.branchCount }} variants</div>
                        <nuxt-link :to="`/product/form/edit/${master.id}`">Back to product</nuxt-link>
                    </v-flex>
                </v-layout>
            </Box>
            <Box title="Variants">
                <v-list
                    style="margin: -16px;"
                    two-line>
                    <v-list-item
                        v-for="item in master.branches"
                        :key="item.id"
                        :to="`/product/form/${master.id}/variants/${item.id}`"
                        nuxt
                        @click="click"
                    >
                        <v-list-item-avatar tile>
                            <img
                                src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
                                alt="avatar">
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.attributes && item.attributes.map(x => (x.attribute.name)).join(' / ') }}
                            </v-list-item-title>
                            <!--<v-list-item-sub-title>456</v-list-item-sub-title>-->
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </Box>
        </v-flex>
        <v-flex
            class="sidebar-right"
            md9
            xs12>
            <div class="layout-item product-outer-variants">
                <Box
                    :offset="1"
                    title="Options">
                    <div
                        v-for="item in form.attributes"
                        :key="item.id">
                        <v-text-field
                            ref="name"
                            :counter="200"
                            :error="!!errors.name"
                            :error-messages="errors.name"
                            :label="$t(item.group.name)"
                            v-model="item.attribute.name"
                            required
                        />
                    </div>
                </Box>
                <Pricing
                    :checkbox-charge="checkboxCharge"
                    :form="form"/>
                <BoxInventory
                    :form="form"
                />
                <Shipping
                    :form="form"/>
                    <!--<BoxUploads
            :data="allAttribute"
            v-model="form.images"
            :default-select="form.imageType"/>-->
            </div>
            <slot name="customField"/>

        </v-flex>
    </v-layout>
</template>

<script>
    import Box from '../../material/Box';
    import BoxVariants from './BoxVariants';
    import BoxInventory from './BoxInventory';
    import BoxUploads from './BoxUploads';
    import Shipping from './Shipping';
    import Pricing from './Pricing';
    import BoxUpdateVariants from './BoxUpdateVariants';
    import BoxProductable from './BoxProductable';

    export default {
        name: 'FormProductBranch',
        components: {
            BoxProductable,
            BoxUpdateVariants,
            Pricing,
            Shipping,
            BoxInventory,
            BoxUploads,
            BoxVariants,
            Box
        },

        props: {
            value: {
                type: [Object, Array, String],
                default() {
                    return {}
                }
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            },
            hidePublish: {
                type: Boolean,
                default: false
            },
            hideAvatar: {
                type: Boolean,
                default: false
            },
            hideCategory: {
                type: Boolean,
                default: false
            },
            hideTag: {
                type: Boolean,
                default: false
            },
            hideDiscussion: {
                type: Boolean,
                default: false
            },
            productAllAttribute: {
                type: [Array, Object, String],
                default() {
                    return {}
                }
            }
        },

        data() {
            return {
                valid: true,
                show1: false,
                checkboxCharge: false,
                VariantsStatus: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    productTypeId: '1',
                    branches: [{
                        id: 1,
                        name: '???',
                        attributes: [{ name: 'nguyen' }]
                    }],
                    images: [],
                },
                allAttribute: [],
                passwordRules: [
                    v => !! v || this.$t('Password is required'),
                    v => (v && v.length >= 8) || this.$t('At least 8 characters')
                ],
                rulesCategory: [
                    v => {
                        return false;
                    }
                ],
                visibility: 'public'
            };
        },

        computed: {
            master: {
                get() {
                    return this.$store.state.product.master;
                }
            }
        },

        watch: {
            value(val, oldVal) {
                this.form = val;

                if ( this.form.productStatus === 'private' ) {
                    this.visibility = 'private';
                } else if ( this.form.postPassword ) {
                    this.visibility = 'protected';
                } else {
                    this.visibility = 'public';
                }
            },
            form(val, oldVal) {
                this.$emit('input', val);
            },
            visibility(val, oldVal) {
                if ( val !== 'protected' ) {
                    this.form.postPassword = '';
                }
                if ( val === 'private' ) {
                    this.form.productStatus = 'private';
                } else {
                    this.form.productStatus = 'publish';
                }
            },
            productAllAttribute(val, old) {
                this.allAttribute = val;
            }
        },

        mounted() {
            if ( this.productAllAttribute && this.productAllAttribute.length ) {
                this.allAttribute = this.productAllAttribute;
            }
            if ( this.value ) {
                this.form = this.value;
                if ( this.form.productStatus === 'private' ) {
                    this.visibility = 'private';
                } else if ( this.form.postPassword ) {
                    this.visibility = 'protected';
                } else {
                    this.visibility = 'public';
                }
            }
        },

        methods: {
            submit() {
                const { ...form } = this.form;

                if ( Array.isArray(form.tags) ) {
                    form.tags = form.tags.map(i => (i.text));
                }
                this.$emit('submitForm', form);
            },
            addAttribute() {
                this.allAttribute.push({
                    id: Date.now().toString(),
                    name: '',
                    attributes: []
                });

            },
            click() {

            }
        }
    }
</script>

<style>
    .content .ck-content.ck-editor__editable {
        min-height: 250px;
    }
</style>