<template>
    <Box
        :title="$t('Link')"
    >
        <v-checkbox
            slot="actions"
            :label="$t('Preview product / link')"
            v-model="form.meta__preview"
            class="ma-0"
            color="primary"
            hide-details
        />
        <div v-if="form.meta__preview">
            <v-text-field
                :rules="rules"
                :label="$t('URL')"
                v-model="form.meta__preview_link"
                placeholder="https://sevenweb.vn/"
                solo
                dense
            >
                <template v-slot:append>
                    <v-tooltip
                        bottom
                    >
                        <template v-slot:activator="{ on }">
                            <v-icon
                                class="help"
                                v-on="on">help
                            </v-icon>
                        </template>
                        {{ $t('Press link preview. Example: https://sevenweb.vn/') }}
                    </v-tooltip>
                </template>
            </v-text-field>
        </div>
    </Box>
</template>

<script>
    import Box from '../../material/Box';

    export default {
        name: 'PreviewProductLink',
        components: { Box },
        props: {
            form: {
                type: [Array, Object],
                default() {
                    return [];
                }
            },
        },
        data() {
            return {
                rules: [this.regexUrl]
            }
        },
        methods: {
            regexUrl(v) {
                if ( ! v ) {
                    return true;
                }

                const expression = /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/gi;
                const regex = new RegExp(expression);

                if ( ! v.match(/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/gi) ) {
                    return this.$t('URL must be a valid URL. Example: https://sevenweb.vn/');
                }

                return true;
            }
        }
    };
</script>

<style scoped>

</style>