<template>
    <Box
        :title="$t('Pricing')"
        class="box-line-category sidebar-right-category">
        <div class="pricing-settings">
            <NumberFormat
                :label="$t('Price')"
                :hide-details="false"
                v-model="price"
                prefix="đ"
                outlined
                dense
            />
            <NumberFormat
                :label="$t('Compare at price')"
                :hide-details="false"
                v-model="priceSale"
                prefix="đ"
                outlined
                dense
            />
            <v-checkbox
                :label="$t('Charge taxes on this product')"
                v-model="checkboxCharge"
                hide-details
            />
        </div>
    </Box>
</template>
<script>
    import Box from '../../material/Box';
    import { convertStringToNumber } from '../../utils/utils';
    import NumberFormat from '../../material/NumberFormat';

    export default {
        name: 'Pricing',
        components: { NumberFormat, Box },
        props: {
            form: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        data() {
            return {
                price: 0,
                priceSale: 0,
                checkboxCharge: false
            }
        },
        watch: {
            form(val, old) {
                this.price = val.price;
                this.priceSale = val.priceSale;
            },
            price(val, old) {
                this.form.price = convertStringToNumber(val);
            },
            priceSale(val, old) {
                this.form.priceSale = convertStringToNumber(val);
            }
        },
        mounted() {
            this.price = this.form.price;
            this.priceSale = this.form.priceSale;
        }
    };
</script>
