<template>
    <Box
        :title="$t('Shipping')"
        class="box-line-category sidebar-right-category">
        <template
            slot="actions">
            <div>
                <div class="subheading font-weight-regular mr-1">{{ $t('Shipping') }}</div>
                <div>
                    <v-checkbox
                        :label="$t('This is a physical product')"
                        v-model="form.requiresShipping"
                        color="primary"
                        hide-details
                    />
                </div>
            </div>
        </template>
        <div v-if="!form.requiresShipping">
            {{ $t('Customers won’t enter their shipping address or choose a shipping method when buying this product.') }}
        </div>
        <div
            v-else
            class="shipping-settings">
            <v-layout
                row
                wrap>
                <v-flex
                    class="py-0"
                    md12
                    xs12
                >
                    <NumberFormat
                        ref="weight"
                        :label="$t('Weight') + ' (kg)'"
                        v-model="weight"
                        currency-symbol=""
                        name="weight"
                        type="number"
                        outlined
                        dense
                    />
                </v-flex>
                <v-flex
                    class="py-0"
                    md3
                    xs12
                >
                    <NumberFormat
                        ref="length"
                        :label="$t('Length') + ' (cm)'"
                        v-model="length"
                        currency-symbol=""
                        name="length"
                        type="number"
                        outlined
                        dense
                    />
                </v-flex>
                <v-flex
                    class="py-0"
                    md3
                    xs12
                >
                    <NumberFormat
                        ref="width"
                        :label="$t('Width') + ' (cm)'"
                        v-model="width"
                        currency-symbol=""
                        name="width"
                        type="number"
                        outlined
                        dense
                    />
                </v-flex>
                <v-flex
                    class="py-0"
                    md3
                    xs12
                >
                    <NumberFormat
                        ref="height"
                        :label="$t('Height') + ' (cm)'"
                        v-model="height"
                        currency-symbol=""
                        name="height"
                        type="number"
                        outlined
                        dense
                    />
                </v-flex>

            </v-layout>

            <v-text-field
                ref="paymentNotes"
                :label="$t('Payment notes')"
                v-model="paymentNotes"
                name="paymentNotes"
                outlined
                dense
            />

        </div>
    </Box>
</template>
<script>
    import Box from '../../material/Box';
    import { convertStringToNumber } from '../../utils/utils';
    import NumberFormat from '../../material/NumberFormat';

    export default {
        name: 'Shipping',
        components: { NumberFormat, Box },
        props: {
            form: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                weight: 0,
                length: 0,
                width: 0,
                height: 0,
                paymentNotes: ''
            };
        },
        watch: {
            form(val, old) {
                this.setState(val);
            },
            weight(val, old) {
                this.form.weight = convertStringToNumber(val);
            },
            length(val, old) {
                this.form.length = convertStringToNumber(val);
            },
            width(val, old) {
                this.form.width = convertStringToNumber(val);
            },
            height(val, old) {
                this.form.height = convertStringToNumber(val);
            },
            paymentNotes(val, old) {
                this.form.paymentNotes = val;
            }

        },
        mounted() {
            this.setState(this.form);
        },
        methods: {
            setState({ weight, length, width, height, paymentNotes }) {
                let data = { weight, length, width, height, paymentNotes }
                for( let i in data ) {
                    this[i] = data[i];
                }
            }
        }
    };
</script>
