<template>
    <div>
        <v-layout
            v-for="item in allAttribute"
            :key="item.id"
            align-center
            row
            wrap>
            <v-flex
                class="text-sm-center"
                md1
                pb-0
                xs2
            >
                <v-btn
                    v-if="allAttribute.length > 1"
                    color="red"
                    text
                    icon
                    @click="remove(item)">
                    <v-icon>delete</v-icon>
                </v-btn>
            </v-flex>
            <v-flex
                md3
                pb-0
                xs10
            >
                <v-text-field
                    ref="height"
                    v-model="item.name"
                    autofocus
                    label="Tên tùy chọn"
                    name="height"
                />
            </v-flex>
            <v-flex
                md8
                pb-0
                xs12
            >
                <ComboboxVariants
                    :value="item.attributes"
                    @input="updateAttr(item, $event)"/>
            </v-flex>
        </v-layout>
        <v-btn
            v-if="allAttribute.length < maxLength"
            color="info"
            @click="add()">
            Thêm tùy chọn
        </v-btn>
    </div>
</template>

<script>
    import ComboboxVariants from '../../combobox/ComboboxVariants';

    const uuid = require('uuid');

    export default {
        name: 'VariantProduct',
        components: { ComboboxVariants },
        props: {
            value: {
                type: Array,
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                allAttribute: [],
                maxLength: 3,
                nameDefault: [
                    'Size',
                    'Color',
                    'Material'
                ]
            };
        },
        watch: {
            allAttribute(val, old) {
                if ( old !== val ) {
                    this.$emit('input', val);
                }
            },
            value(val, old) {
                this.allAttribute = val;
            }
        },
        mounted() {
            this.allAttribute = this.value || [];
        },
        methods: {
            add() {
                if ( this.allAttribute.length >= this.maxLength ) {
                    return;
                }

                this.allAttribute.push({
                    name: this.nameDefault[this.allAttribute.length],
                    attributes: []
                });
            },
            remove(item) {
                this.allAttribute = this.allAttribute.filter(x => x !== item);
            },
            updateAttr(item, attr) {
                item.attributes = attr;
                this.allAttribute = [...this.allAttribute];
            }
        }
    };
</script>

<style scoped>

</style>