<template>
    <v-container grid-list-lg>
        <Table
            :delete-mutation="deleteMutation"
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('Order')"
            delete-refetch-queries="orders"
        >
            <template v-slot:menu>
                <div>
                    <a
                        :class="{
                            'mx-1': true,
                            'font-weight-regular': true,
                            'black--text': filterStatusSelected === 'all'
                        }"
                        @click="changeStatus(['publish','private','draft'], 'all')"> {{ $t('All') }} </a> <a
                            :class="{
                                'mx-1': true,
                                'font-weight-regular': true,
                                'black--text': filterStatusSelected === 'publish'
                            }"
                            @click="changeStatus('publish')"> {{ $t('Draft Orders') }} </a> <a
                                :class="{
                                    'mx-1': true,
                                    'font-weight-regular': true,
                                    'black--text': filterStatusSelected === 'draft'
                                }"
                                @click="changeStatus('draft')"> {{ $t('Open') }} </a> <a
                                    :class="{
                                        'mx-1': true,
                                        'font-weight-regular': true,
                                        'black--text': filterStatusSelected === 'private'
                                    }"
                                    @click="changeStatus('private')"> {{ $t('Invoice sent') }} </a> <a
                                        :class="{
                                            'mx-1': true,
                                            'font-weight-regular': true,
                                            'black--text': filterStatusSelected === 'private'
                                        }"
                                        @click="changeStatus('private')"> {{ $t('Completed') }} </a>

                                        <!--<a
                        :class="{
                            'mx-1': true,
                            'black&#45;&#45;text': filterStatusSelected === 'trash'
                        }"
                        @click="changeStatus('trash')">
                        {{ $t('Trash') }}
                    </a>-->
                </div>
            </template>
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    :class="{
                        'blue--text lighten-4': showFilter,
                    }"
                    class="ma-2"
                    depressed
                    @click="toggleFilter">
                    {{ $t('Filter') }}
                </v-btn>
                <FormFilter
                    v-model="searchText"
                    class="ma-2"
                />
                <v-spacer/>
                <v-btn
                    depressed
                    nuxt
                    class="ma-2"
                    to="/order/form/add"
                >
                    <v-icon
                        left
                    >add
                    </v-icon>
                    {{ $t('Create') }}
                </v-btn>
                <v-btn
                    depressed
                    class="ma-2"
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only Post, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">
                    <nuxt-link :to="`/order/form/edit/${item.id}`">
                        {{ item.code }}
                    </nuxt-link>
                </td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-left">
                    <span>
                        {{ item.customer ? item.customer.name : '--' }}
                    </span>
                </td>
                <!--<td class="text-sm-left"><DateFormat :value="item.publishedAt"/> </td>-->
                <td class="text-sm-left">
                    <v-chip
                        v-if="item.status"
                        :color="item.status.color"
                        depressed
                        label
                        small
                        text-color="white"
                    >{{ item.status.name }}
                    </v-chip>
                </td>
                <td class="text-sm-right">
                    <strong>{{ item.total | toCurrentcy }}</strong>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../../components/table/Table';
    import ButtonActionTooltip from '../../../components/button/ButtonActionTooltip';
    import DateFormat from '../../../components/helper/DateFormat';
    import ButtonActionDelete from '../../../components/button/ButtonActionDelete';
    import FormFilter from '../../../components/material/FormFilter';
    import Conditions from '../../../components/conditions/Conditions';
    import ChangeOperatorGroup from '../../../components/conditions/ChangeOperatorGroup';
    import { FILTER_POST } from '../../../filters/post';
    import _ from 'lodash';
    import BulkActionsOrder from '../../../components/views/order/BulkActionsOrder';
    import { FETCH_ORDERS } from '../../../apollo/query/order';


    export default {
        components: {
            BulkActionsOrder,
            ChangeOperatorGroup,
            Conditions,
            FormFilter,
            ButtonActionDelete,
            DateFormat,
            ButtonActionTooltip,
            Table
        },
        data() {
            return {
                query: FETCH_ORDERS,
                // deletePost: DELETE_POST,
                deleteMutation: {},
                selected: [],
                headers: [
                    {
                        text: this.$t('Order'),
                        align: 'left',
                        // sortable: false,
                        value: 'code',
                        width: '40px'
                    },
                    {
                        text: this.$t('Date'),
                        align: 'left',
                        defaultSort: true,
                        value: 'createdAt'
                    },
                    {
                        text: this.$t('Customer'),
                        value: 'customer',
                        width: '200px'
                    },
                    /*{
                        text: this.$t('Status'),
                        value: 'description',
                        width: '150px'
                    },*/

                    // {
                    //     text: this.$t('Content'),
                    //     value: 'content',
                    //     width: '200px'
                    // },
                    // {
                    //     text: this.$t('Published at'),
                    //     value: 'publishedAt'
                    // },
                    {
                        text: this.$t('Status'),
                        value: 'postStatus',
                        align: 'center',
                        // defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Total'),
                        value: 'total',
                        width: '80px'
                    },
                    /*{
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '120px',
                        sortable: false
                    }*/
                ],
                filterField: FILTER_POST,
                filter: [],
                showFilter: false,
                searchText: undefined,
                operatorGroup: 'AND',
                filterStatus: {
                    field: 'postStatus',
                    operator: 'in',
                    value: [
                        'publish',
                        'private',
                        'draft'
                    ]
                },
                filterStatusSelected: 'all',
                status: {
                    draft: {
                        label: this.$t('Drafts'),
                        color: 'orange'
                    },
                    publish: {
                        label: this.$t('Published'),
                        color: 'primary'
                    },
                    private: {
                        label: this.$t('Private'),
                        color: 'green'
                    },
                    trash: {
                        label: this.$t('Trash'),
                        color: 'red'
                    }
                }
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [
                        {
                            operator: this.operatorGroup,
                            items: this.filter
                        }
                    ];
                }
                return [
                    {
                        operator: this.operatorGroup,
                        items: this.filter
                    },
                    {
                        field: 'code',
                        value: `%${ this.searchText }%`,
                        operator: 'like'
                    }
                ];
            }
        },
        methods: {
            isEqual(a, b) {
                return _.isEqual(a, b);
            },
            click() {

            },
            toggleFilter() {
                this.showFilter = ! this.showFilter;
                if ( ! this.showFilter && this.filter.length ) {
                    this.filter = [];
                }
            },
            changeStatus(value, name) {
                this.filterStatus = {
                    field: 'postStatus',
                    operator: 'in',
                    value: value
                };
                this.filterStatusSelected = name ? name : value;
            }
        }
    };
</script>

<style scoped>

</style>