<template>
    <v-container
        grid-list-lg
    >
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >
            <div
                class="toolbar-form-post"
            >
                <h3 class="font-weight-regular">{{ $t('Create post') }}</h3>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </div>
            <FormToolbar container>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </FormToolbar>
            <FormPost
                v-model="form">
                <template slot="submit">
                    <div/>
                </template>
                <template slot="customField">
                    <BoxPanel
                        title="Video"
                    >
                        <TextField
                            :rules="[v => (!v || (v + '').indexOf('https://www.youtube.com/watch?v') !== -1) || $t('link must youtube link, example: https://www.youtube.com/watch?v=Ra_iiSIn4OI')]"
                            v-model="form.meta__video_src"
                            label="Link video"
                            placeholder="https://www.youtube.com/watch?v=Ra_iiSIn4OI"
                        />
                    </BoxPanel>
                    <SeoBox :form="form"/>
                </template>
            </FormPost>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../../components/material/Card';
    import { CREATE_POST } from '../../../../apollo/mutation/post';
    import FormPost from '../../../../components/views/post/FromPost';
    import FormToolbar from '../../../../components/material/FormToolbar';
    import Toolbar from '../../../../components/core/Toolbar';
    import BoxPanel from '../../../../components/material/BoxPanel';
    import TextField from '../../../../components/views/theme/TextField';
    import { deMeta } from '../../../../components/utils/utils';
    import SeoBox from '../../../../components/Box/SeoBox';

    export default {
        components: { SeoBox, TextField, BoxPanel, Toolbar, FormToolbar, FormPost, Card },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    postPassword: '',
                    categories: [],
                    tags: [],
                    postStatus: 'publish',
                    avatar: undefined,
                    commentStatus: 'open',
                    format: 1
                }
            };
        },
        methods: {
            formatForm() {
                let meta = deMeta(this.form);

                let tags = [];

                if ( Array.isArray(this.form.tags) ) {
                    tags = this.form.tags.map(i => (i.text));
                }

                return {
                    ...this.form,
                    meta,
                    tags
                }
            },
            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                return this.serviceHttp.createFetch({
                    mutation: CREATE_POST,
                    variables: variables,
                    refetchQueries: 'post'
                }, callback);
            },
            saveToDraft() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = { ...this.form, postStatus: 'draft' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            path: '/post/form/edit/' + data.postCreate.id
                        });
                    });
                }
            },
            publish() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.postStatus !== 'private' ) {
                        this.form = { ...this.form, postStatus: 'publish' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            path: '/post/form/edit/' + data.postCreate.id
                        });
                    });
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .form-post {
    }

    .toolbar-form-post {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>
