<template>
    <v-container grid-list-lg>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <Card
                :title="$t('General Settings')"
                :text="$t('Config general for website')"
                color="green">
                <v-layout
                    row
                    wrap>
                    <v-flex 12>
                        <v-text-field
                            :error="!!errors.blogname"
                            :error-messages="errors.blogname"
                            :label="$t('Site title')"
                            :rules="[v => !!v || $t('Site title is required')]"
                            v-model="form.blogname"
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.blogdescription"
                            :error-messages="errors.blogdescription"
                            :hint="$t('In a few words, explain what this site is about.')"
                            :label="$t('Tagline')"
                            :rules="[v => !!v || $t('Site title is required')]"
                            v-model="form.blogdescription"
                            counter
                            maxlength="200"
                            persistent-hint
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.siteurl"
                            :error-messages="errors.siteurl"
                            :label="$t('Admin Address(URL)')"
                            :rules="[v => !!v || $t('Site title is required')]"
                            v-model="form.siteurl"
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.home"
                            :error-messages="errors.home"
                            :hint="$t('Enter the address here if you')"
                            :label="$t('Site Address(URL)')"
                            :rules="[v => !!v || $t('Site title is required')]"
                            v-model="form.home"
                            persistent-hint
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.adminEmail"
                            :error-messages="errors.adminEmail"
                            :hint="$t('This address is used for admin purposes.')"
                            :label="$t('Email Address')"
                            :rules="[v => !!v || $t('Site title is required')]"
                            v-model="form.adminEmail"
                            counter
                            maxlength="500"
                            persistent-hint
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.address"
                            :error-messages="errors.address"
                            :hint="$t('Company address.')"
                            :label="$t('Company address.')"
                            v-model="form.address"
                            counter
                            maxlength="500"
                            persistent-hint
                        />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.addressCity"
                            :error-messages="errors.addressCity"
                            :hint="$t('City.')"
                            :label="$t('City.')"
                            v-model="form.addressCity"
                            counter
                            maxlength="500"
                            persistent-hint
                        />
                    </v-flex>

                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.zipcode"
                            :error-messages="errors.zipcode"
                            :hint="$t('Zip postal code.')"
                            :label="$t('Zip code')"
                            v-model="form.zipcode"
                            counter
                            maxlength="500"
                            persistent-hint
                        />
                    </v-flex>

                    <v-flex xs12>
                        <v-text-field
                            :error="!!errors.youtubeLink"
                            :error-messages="errors.youtubeLink"
                            :hint="$t('Link youtube')"
                            :label="$t('Link youtube')"
                            v-model="form.youtubeLink"
                            counter
                            maxlength="500"
                            persistent-hint
                        />
                    </v-flex>

                    <v-flex xs12>
                        <v-switch
                            :error="!!errors.usersCanRegister"
                            :error-messages="errors.usersCanRegister"
                            :label="$t('Anyone can register')"
                            v-model="form.usersCanRegister"
                            color="indigo"
                            hide-details
                        />
                    </v-flex>
                    <v-flex xs12>
                        <SelectRole
                            :error="!!errors.defaultRole"
                            :error-messages="errors.defaultRole"
                            :label="$t('New user default role')"
                            :rules="[v => !!v || $t('Site title is required')]"
                            v-model="form.defaultRole"
                            counter
                            item-value="name"
                            maxlength="500"
                        />
                    </v-flex>
                    <v-flex xs12>
                        <h3 class="title">Logo</h3>
                        <Upload v-model="form.logo"/>
                    </v-flex>
                    <v-flex xs12>
                        <h3 class="title">Favicon</h3>
                        <Upload v-model="form.favicon"/>
                    </v-flex>
                </v-layout>
            </Card>
            <Card
                :title="$t('Google Analytics')"
                :text="$t('Config Credentials for Google Analytics')"
                color="green"
                offset="24"
            >
                <v-layout
                    row
                    wrap
                >
                    <v-flex xs12>
                        <v-text-field
                            v-model="form.analyticsTrackingCode"
                            :label="$t('Tracking Code')"
                        />
                        <v-text-field
                            v-model="form.analyticsViewId"
                            :label="$t('View ID')"
                        />
                    </v-flex>
                </v-layout>
            </Card>
            <v-btn
                :loading="loading"
                class="v-btn-facebook"
                @click="saveChanges">{{ $t('Save Changes') }}
            </v-btn>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../components/material/Card';
    import { OPTION_GENERAL } from '../../../apollo/query/options';
    import SelectRole from '../../../components/select/SelectRole';
    import { OPTION_GENERAL_UPDATE } from '../../../apollo/mutation/options';
    import Upload from '../../../components/helper/Upload';

    export default {
        components: { Upload, SelectRole, Card },
        data() {
            return {
                items: [
                    'Item 1',
                    'Item 2',
                    'Item 3',
                    'Item 4'
                ],
                valid: true,
                loading: false,
                form: {},
                errors: {}
            }
        },
        apollo: {
            data() {
                return {
                    query: OPTION_GENERAL,
                    fetchPolicy: 'network-only',
                    result({ data, loading, networkStatus }) {
                        if ( data && data.data ) {
                            this.form = data.data || {};
                        }
                        ;
                    },
                }
            }
        },
        methods: {
            saveChanges() {
                if ( this.validateOnFocusForm() ) {
                    this.serviceHttp.updateRefetch({
                        mutation: OPTION_GENERAL_UPDATE,
                        variables: { ...this.form },
                        refetchQueries: [
                            {
                                query: OPTION_GENERAL
                            }
                        ]
                    });
                }
            }
        }
    };
</script>

<style scoped>

</style>
