<template>
    <v-navigation-drawer
        :right="right"
        v-model="inputRightDrawer"
        fixed
        temporary
    >
        <v-list>
            <v-list-item @click.native="right = !right">
                <v-list-item-action>
                    <v-icon light>
                        compare_arrows
                    </v-icon>
                </v-list-item-action>
                <v-list-item-title>Switch drawer (click me)</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: 'DrawerRight',
        data() {
            return {
                right: true
            };
        },
        computed: {
            inputRightDrawer: {
                get() {
                    return this.$store.state.rightDrawer;

                },
                set(val) {
                    this.$store.commit('SET_RIGHT_DRAWER', val);
                }
            }

        }
    };
</script>

<style scoped>

</style>