<template>
    <v-navigation-drawer
        :clipped="inputClippedValue"
        :mini-variant="inputMiniVariantValue"
        v-model="inputValue"
        absolute
        app
        width="300px"
        height="100%"
    >
        <v-list class="v-list-drawer">
            <div
                v-for="(item, i) in items"
                :key="i"
            >
                <v-list-item
                    v-if="!item.children"
                    :to="item.to"
                    exact
                    router
                >
                    <v-list-item-action>
                        <v-icon
                            v-if="item.icon"
                            :style="{color: item.color}"
                        >{{ item.icon }}
                        </v-icon>
                        <img
                            v-if="item.img"
                            :src="item.img"
                            style="width: 24px;height: 24px"
                            alt="avatar">
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.title"/>
                    </v-list-item-content>
                </v-list-item>
                <v-list-group
                    v-if="item.children"
                    class="v-list-drawer-children"
                    no-action
                >
                    <template v-slot:activator>
                        <div class="v-list-item__icon v-list-group__header__prepend-icon">
                            <v-icon
                                v-if="item.icon"
                                :style="{color: item.color}">{{ item.icon }}
                            </v-icon>
                            <img
                                v-if="item.img"
                                :src="item.img"
                                style="width: 24px;height: 24px"
                                alt="avatar">
                        </div>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.title"/>
                        </v-list-item-content>
                    </template>
                    <template v-for="(crud) in item.children">
                        <v-list-item
                            v-if="!crud.children"
                            :key="crud.title"
                            :to="crud.to"
                            class="sub-item"
                        >
                            <v-list-item-content>
                                <v-list-item-title v-text="crud.title"/>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-group
                            v-else
                            :key="crud.title"
                            no-action
                            sub-group
                        >
                            <template v-slot:activator>
                                <v-list-item>
                                    <v-list-item-title v-text="crud.title"/>
                                </v-list-item>
                            </template>
                            <v-list-item
                                v-for="(crud) in crud.children"
                                :key="crud.title"
                                :to="crud.to"
                            >
                                <v-list-item-title v-text="crud.title"/>
                            </v-list-item>
                        </v-list-group>
                    </template>
                </v-list-group>
            </div>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    /**
     * @link https://material.io/tools/icons/?style=baseline
     */
    export default {
        name: 'Drawer',
        data() {
            return {
                clipped: false,
                items: [
                    {
                        // icon: 'dashboard',
                        img: './images/1881513.svg',
                        svg: '',
                        title: 'Dashboard',
                        to: '/'
                    },
                    {
                        // icon: 'store',
                        img: './images/679946.svg',
                        title: this.$t('Product'),
                        to: '/product/list',
                        children: [
                            /*{
                                title: this.$t('Stores'),
                                to: '/product/store',
                            },*/
                            {
                                title: this.$t('All product'),
                                to: '/product/list',
                            },
                            {
                                title: this.$t('Category product'),
                                to: '/product/category',
                            },
                            // {
                            //     title: this.$t('Transfers'),
                            //     to: '/product/transgers',
                            // },
                            {
                                title: this.$t('Inventory'),
                                to: '/product/inventory',
                            },
                            /*{
                                title: this.$t('Attributes'),
                                to: '/product/attribute',
                                children: [
                                    {
                                        title: this.$t('Attribues'),
                                        to: '/product/attribute/all',
                                    },
                                    {
                                        title: this.$t('Attribute groups'),
                                        to: '/product/attribute/all',
                                    }
                                ]
                            },*/
                            // {
                            //     title: this.$t('Reviews'),
                            //     to: '/product/review',
                            //     icon: 'add_shopping_cart'
                            // },
                            // {
                            //     title: this.$t('Custom field'),
                            //     to: '/product/customfield',
                            //     icon: 'add_shopping_cart'
                            // }
                        ]
                    },
                    {
                        icon: 'shopping_cart',
                        color: '#4c99e6',
                        title: this.$t('Sales'),
                        to: '/order/list',
                        children: [
                            {
                                title: this.$t('All order'),
                                to: '/order/list',
                            },
                            {
                                title: this.$t('Report'),
                                to: '/order/report',
                            },
                            {
                                title: this.$t('Settings'),
                                to: '/order/settings',
                            },
                            /*{
                                title: this.$t('Returns'),
                                to: '/order/create',
                                icon: 'add_shopping_cart'
                            },
                            {
                                title: this.$t('Gift Vouchers'),
                                to: '/order/create',
                                icon: 'add_shopping_cart'
                            },*/
                        ]
                    },
                    {
                        icon: 'import_contacts',
                        color: '#3ed243',
                        title: this.$t('Post'),
                        to: '/post/list',
                        children: [
                            {
                                title: this.$t('List post'),
                                to: '/post/list',
                            },
                            {
                                title: this.$t('Create post'),
                                to: '/post/form/add',
                            },
                            {
                                title: this.$t('Categories'),
                                to: '/post/category',
                            },
                            {
                                title: this.$t('Tags'),
                                to: '/post/tags',
                            },
                        ]
                    },
                    {
                        icon: 'web',
                        color: '#fb0e66',
                        title: this.$t('Page'),
                        children: [
                            {
                                title: this.$t('All page'),
                                to: '/page/list',
                            },
                            {
                                title: this.$t('Add new'),
                                to: '/page/add',
                            }
                        ]
                    },
                    {
                        // icon: 'mdi-comment-multiple-outline',
                        img: './images/1218115.svg',
                        title: this.$t('Comments'),
                        to: '/comments'
                    },
                    {
                        icon: 'mdi-email-multiple-outline',
                        color: '#1976d2',
                        title: this.$t('Contact'),
                        to: '/contacts'
                    },
                    {
                        icon: 'color_lens',
                        color: '#df7fe0',
                        title: this.$t('Appearance'),
                        children: [
                            {
                                title: this.$t('Menu'),
                                to: '/menu',
                            },
                            {
                                title: this.$t('Theme options'),
                                to: '/theme/options',
                            },
                            // {
                            //     title: this.$t('Meta'),
                            //     to: '/theme/meta',
                            // },
                            /*{
                                title: this.$t('Widgets'),
                                to: '/widget',
                            },*/
                            {
                                title: this.$t('Custom CSS'),
                                to: '/custom-css',
                            }
                        ]
                    },
                    {
                        icon: 'settings_input_component',
                        color: '#3a45cc',
                        title: this.$t('Settings'),
                        to: '/settings/general',
                        children: [
                            {
                                title: this.$t('General'),
                                to: '/settings/general',
                            },
                            {
                                title: this.$t('Discussion'),
                                to: '/settings/discussion',
                            },
                            {
                                title: this.$t('SMTP Settings'),
                                to: '/settings/email',
                            },
                            {
                                title: this.$t('Social Login'),
                                to: '/settings/social',
                            },

                        ]
                    },
                    {
                        // icon: 'mdi-shield-check-outline',
                        img: './images/shield.svg',
                        title: this.$t('Flatform Administration'),
                        to: '/',
                        children: [
                            {
                                title: this.$t('Role'),
                                to: '/role'
                            },
                            {
                                title: this.$t('User'),
                                to: '/user'
                            },
                            {
                                title: this.$t('Language'),
                                to: '/language'
                            },
                            {
                                title: this.$t('Cache manager'),
                                to: '/cache-manager'
                            },
                            {
                                title: this.$t('Backups'),
                                to: '/backups'
                            },

                        ]
                    },
                    // {
                    //     icon: 'supervisor_account',
                    //     title: 'Login',
                    //     to: '/login'
                    // },
                ],
                miniVariant: false,
            };
        },
        computed: {
            inputValue: {
                get() {
                    return this.$store.state.drawer;

                },
                set(val) {
                    this.$store.commit('SET_DRAWER', val);
                }
            },
            inputMiniVariantValue: {
                get() {
                    return this.$store.state.miniVariant;

                },
                set(val) {
                    this.$store.commit('SET_MINI_VARIANT', val);
                }
            },
            inputClippedValue: {
                get() {
                    return this.$store.state.clipped;
                },
                set(val) {
                    this.$store.commit('SET_CLIPPED', val);
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
</style>
