<template>
    <v-footer
        dark
        padless
        height="auto"
        color="indigo"
    >
        <v-card
            class="text-center w-100"
            flat
            tile
        >
            <v-card-text>
                <a
                    class="white--text"
                    href="https://phantrungnguyen.com"
                    target="_blank">&copy;2019 — <strong>SevenWeb</strong></a>
            </v-card-text>
        </v-card>
    </v-footer>
</template>

<script>
    export default {
        name: 'Footer'
    };
</script>

<style scoped>

</style>