<template>
    <v-app-bar
        :clipped-left="$store.state.clipped"
        absolute
        app
        scroll-off-screen
        color="rgba(67,97,167,.87843)"
        dark
        style="z-index: 5;"
    >
        <v-app-bar-nav-icon
            @click="$store.commit('SET_DRAWER',!$store.state.drawer)"/>
        <v-btn
            text
            icon
            @click.stop="$store.commit('SET_MINI_VARIANT',!$store.state.miniVariant)"
        >
            <v-icon>{{ `chevron_${$store.state.miniVariant ? 'right' : 'left'}` }}</v-icon>
        </v-btn>
        <v-btn
            text
            icon
            @click.stop="$store.commit('SET_CLIPPED',!$store.state.clipped)"
        >
            <v-icon>web</v-icon>
        </v-btn>
        <v-toolbar-title v-text="title"/>
        <v-spacer/>
        <v-btn
            :href="$router.options.base"
            text
            icon
            title="Làm mới"
        >
            <v-icon>refresh</v-icon>
        </v-btn>
        <v-toolbar-items class="hidden-sm-and-down">
            <!--<v-btn icon>
                <v-icon>search</v-icon>
            </v-btn>-->

            <!--<v-btn
                icon 
                text>
                <v-icon>apps</v-icon>
            </v-btn>-->


            <v-layout
                align-center
                justify-space-around
                wrap
            >
                <v-menu
                    bottom
                    offset-y
                    origin="center center"
                    transition="scale-transition"
                >
                    <template v-slot:activator="{ on }">
                        <div
                            class="pointer d-flex align-center justify-center"
                            v-on="on">
                            <v-avatar

                                size="36px"
                            >
                                <img
                                    :src="$store.state.auth.avatar"
                                    alt="John"
                                >
                            </v-avatar>
                            <div class="white--text text-no-wrap">&nbsp;{{ $store.state.auth.name }}</div>
                            <v-icon class="white--text">keyboard_arrow_down</v-icon>
                        </div>
                    </template>
                    <v-list>
                        <v-list-item @click="$router.push('/user/profile/' + $store.state.auth.id)">
                            <v-list-item-title>{{ $t('Profile') }}</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="logout">
                            <v-list-item-title>{{ $t('Logout') }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-layout>

        </v-toolbar-items>
    </v-app-bar>
</template>

<script>
    export default {
        name: 'Toolbar',
        data() {
            return {
                title: 'Seven Admin',
                items: [
                    { title: 'Click Me' },
                    { title: 'Click Me' },
                    { title: 'Click Me' },
                    { title: 'Click Me 2' }
                ]
            }
        },
        methods: {
            logout() {
                this.$apolloHelpers.onLogout().then(() => {
                    this.$router.push('/login');
                    this.$store.commit('setAuth', {});
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    nav.v-toolbar.theme--light {
        background-color: #4361a7e0;
        box-shadow: none;

        .v-btn {
            color: #fff !important;
        }
    }
</style>