<template>
    <v-container>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <v-layout
                grid-list-lg
                row
                wrap>
                <v-flex xs9>
                    <Card
                        :title="$t('Update role')"
                        color="green">
                        <RoleControl
                            :errors="errors"
                            v-model="form"
                        />
                    </Card>
                    <Box :title="$t('Permission Flags')">
                        <Permissions v-model="form.permissions"/>
                    </Box>
                </v-flex>
                <v-flex
                    class="pa-2"
                    xs3>
                    <Box :title="$t('Publish')">
                        <v-btn
                            :loading="loading"
                            class="v-btn-facebook"
                            @click="validate">Save
                        </v-btn>
                        <v-btn
                            :loading="loading"
                            color="success"
                            @click="saveAndEdit">Save & Edit
                        </v-btn>
                    </Box>
                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../components/material/Card';
    import Box from '../../../components/material/Box';
    import Permissions from '../../../components/views/role/Permissions';
    import { UPDATE_ROLE } from '../../../apollo/mutation/role';
    import { ROLE_DETAIL } from '../../../apollo/query/role';
    import RoleControl from '../../../components/views/role/RoleControl';

    export default {
        components: { RoleControl, Permissions, Box, Card },
        data() {
            return {
                valid: true,
                loading: false,
                selectedItems: [],
                form: {
                    permissions: []
                },
                errors: {}
            };
        },
        apollo: {
            role() {
                return {
                    query: ROLE_DETAIL,
                    variables: { id: this.$route.params.id },
                    fetchPolicy: 'network-only',
                    result({ data, loading, networkStatus }) {
                        const { permissions = [], ...form } = data.role
                        this.form = { ...form, permissions: (permissions || []).map(x => (x.name)) };
                    },
                }
            }
        },
        methods: {
            validate() {
                if ( this.validateOnFocusForm() ) {
                    this.fetchAPI(() => {
                        this.$router.push({
                            path: '/role'
                        });
                    });
                }
            },
            saveAndEdit() {
                if ( this.validateOnFocusForm() ) {
                    this.fetchAPI();
                }
            },
            fetchAPI(callback) {
                return this.serviceHttp.updateFetch(UPDATE_ROLE, { ...this.form }, callback);
            }
        }
    };
</script>

<style scoped>

</style>