<template>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
    >
        <FormTag
            :errors="errors"
            v-model="form"/>
        <v-btn
            color="success"
            class="my-2"
            @click="validate"
        >
            {{ $t('Add new') }}
        </v-btn>
    </v-form>
</template>

<script>
    import { CREATE_TAG_POST } from '../../../apollo/mutation/tag';
    import FormTag from './FormTag';

    export default {
        name: 'FormTagCreate',
        components: { FormTag },
        data: () => ({
            valid: true,
            loading: false,
            errors: {},
            form: {
                name: '',
            }
        }),
        methods: {
            validate() {
                if ( this.validateOnFocusForm() ) {
                    this.snackbar = true
                    this.serviceHttp.createFetch({
                        mutation: CREATE_TAG_POST,
                        variables: { ...this.form },
                        refetchQueries: ['tags']
                    }, () => {
                        this.$refs.form.resetValidation();

                        this.form = {
                            name: '',
                        };
                    });
                }
            },
        }
    };
</script>

<style scoped>

</style>