<template>
    <v-container grid-list-lg>
        <v-text-field
            :error="!!errors.name"
            :error-messages="errors.name"
            :hint="$t('The name is how it appears on your site.')"
            :label="$t('Name')"
            :rules="[v => !!v || $t('Name is required')]"
            v-model="form.name"
            persistent-hint
            required
            outlined
            single-line
        />
        <br>
        <v-text-field
            :error="!!errors.slug"
            :error-messages="errors.slug"
            :hint="$t('The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.')"
            :label="$t('Slug')"
            v-model="form.slug"
            persistent-hint
            outlined
            single-line
        />
    </v-container>
</template>

<script>

    export default {
        name: 'FormTag',
        props: {
            value: {
                type: [Object, Array, String],
                default() {
                    return {}
                }
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        data: () => ({
            form: {
                name: '',
                slug: ''
            }
        }),
        watch: {
            value(val, oldVal) {
                this.form = val
            },
            form(val, oldVal) {
                this.$emit('input', val)
            }
        },
        mounted() {
            this.form = this.value
        }
    };
</script>

<style scoped>

</style>