<template>
    <div>
        <v-text-field
            :error="!!errors.name"
            :error-messages="errors.name"
            :hint="$t('The name is how it is displayed on your site (for example: English).')"
            :label="$t('Full name')"
            :rules="[v => !!v || $t('Name is required')]"
            v-model="form.name"
            counter
            maxlength="500"
            persistent-hint
            validate-on-blur
        />
        <v-text-field
            :error="!!errors.locale"
            :error-messages="errors.locale"
            :label="$t('Locale')"
            :rules="[v => !!v || $t('Locale is required')]"
            v-model="form.locale"
            counter
            maxlength="20"
            validate-on-blur
        />
        <v-text-field
            :error="!!errors.code"
            :error-messages="errors.code"
            :hint="$t('Language code - preferably 2-letters ISO 639-1 (for example: en).')"
            :label="$t('Language code')"
            :rules="[v => !!v || $t('Code is required')]"
            v-model="form.code"
            counter
            maxlength="20"
            persistent-hint
            validate-on-blur
        />
        <div style="margin-top: 16px;">
            <v-label>{{ $t('Text direction') }}</v-label>
            <v-radio-group
                :error="!!errors.direction"
                :error-messages="errors.direction"
                :hint="$t('Choose the text direction for the language.')"
                :rules="[v => !!v || $t('Direction is required')]"
                v-model="form.direction"
                persistent-hint
                row
                style="margin-top:0;"
                validate-on-blur>
                <v-radio
                    :label="$t('Left to right')"
                    :value="1"/>
                <v-radio
                    :label="$t('Right to left')"
                    :value="2"/>
            </v-radio-group>
        </div>

        <SelectFlag
            :error="!!errors.flag"
            :error-messages="errors.flag"
            :hint="$t('Choose a flag for the language.')"
            :label="$t('Flag')"
            :rules="[v => !!v || $t('Flag is required')]"
            v-model="form.flag"
            persistent-hint
            validate-on-blur
        />
    </div>
</template>

<script>
    import Box from '../../material/Box';
    import SelectFlag from '../../select/SelectFlag';

    export default {
        name: 'FormLanguage',
        components: { SelectFlag, Box },
        props: {
            value: {
                type: Object,
                default() {
                    return {}
                }
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            }
        },
        data() {
            return {
                form: {}
            }
        },
        watch: {
            value(val, oldVal) {
                this.form = val;
            },
            form(val, oldVal) {
                this.$emit('input', val);
            }
        },
        mounted() {
            this.form = this.value;
        }
    };
</script>

<style scoped>

</style>