<template>
    <Box>
        <v-layout column>
            <v-flex>
                <v-switch
                    :label="$t(`Hide default language from URL?`)"
                    v-model="form.hideDefaultLanguage"
                    color="blue"
                />
            </v-flex>
            <v-flex>
                <v-select
                    :items="items"
                    :label="$t('Language display')"
                    :menu-props="{ maxHeight: '400' }"
                    v-model="form.displayLanguage"
                    item-text="label"
                    item-value="value"
                />
            </v-flex>
            <v-flex>
                <v-label>
                    {{ $t('Hide languages') }}
                </v-label>
                <p class="caption">
                    {{ $t('You can completely hide content in specific languages from visitors and search engines, but still view it yourself. This allows reviewing translations that are in progress.') }}
                </p>
                <div>
                    <v-checkbox
                        v-for="item in listConfigHideLanguage"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                        v-model="form.hideLanguage"
                        class="mt-0"
                        color="indigo"
                        hide-details
                    />
                </div>
            </v-flex>
            <v-flex>
                <v-switch
                    :label="$t(`Show item in default language if it is not existed in current language`)"
                    v-model="form.showItemDefaultLanguage"
                    color="blue"
                />
            </v-flex>
        </v-layout>
        <v-btn
            class="v-btn-facebook"
            @click.stop="save">
            {{ $t('Save') }}
        </v-btn>
    </Box>
</template>

<script>
    import Box from '../../material/Box';
    import { FETCH_LANGUAGES, OPTION_LANGUAGE } from '../../../apollo/query/language';
    import { LANGUAGE_CONFIG_UPDATE } from '../../../apollo/mutation/language';
    import _ from 'lodash';

    export default {
        name: 'SettingLanguage',
        components: { Box },
        data() {
            return {
                form: {},
                errors: {},
                loading: false,
                items: [
                    {
                        value: 1,
                        label: this.$t('Display all flag and name')
                    },
                    {
                        value: 2,
                        label: this.$t('Name only')
                    },
                    {
                        value: 3,
                        label: this.$t('Flag only')
                    }
                ]
            }
        },
        apollo: {
            data() {
                return {
                    query: FETCH_LANGUAGES
                }
            },
            optionLanguage() {
                return {
                    query: OPTION_LANGUAGE,
                    result({ data, loading, networkStatus }) {
                        if ( data.optionLanguage ) this.form = data.optionLanguage;
                    }
                }
            }
        },
        computed: {
            listConfigHideLanguage() {
                return (this.data && this.data.data || []).filter(x => x.default !== true);
            }
        },
        methods: {
            save() {
                let old = _.castArray(this.form.hideLanguage);

                let difference = _.differenceBy(old, this.listConfigHideLanguage.map(x => (x.id)), Number);

                let hideLanguage = _.remove(old, (x) => difference.indexOf(x) !== -1);

                this.serviceHttp.updateRefetch({
                    mutation: LANGUAGE_CONFIG_UPDATE,
                    variables: { ...this.form, hideLanguage },
                    refetchQueries: ['languages']
                });
            }
        }
    };
</script>

<style scoped>

</style>