<template>
    <ButtonActionTooltip
        :title="$t('Restore')"
        color="indigo"
        icon="present_to_all"
        @click.stop="dialog = true">
        <DialogConfirm
            :accept-text="$t('Restore')"
            :cancel-text="$t('Cancel')"
            :loading="loading"
            :max-width="maxWidth"
            :message="message"
            :title="title"
            v-model="dialog"
            @ok="restore"
        />
    </ButtonActionTooltip>
</template>

<script>
    import { DELETE_RESTORE } from '../../../apollo/mutation/backup';
    import ButtonActionTooltip from '../../button/ButtonActionTooltip';
    import DialogConfirm from '../../dialog/DialogConfirm';

    export default {
        name: 'ButtonActionRestore',
        components: { DialogConfirm, ButtonActionTooltip },
        props: {
            item: {
                type: [String, Object],
                default: null,
                isRequired: true
            },
            message: {
                type: String,
                default() {
                    return this.$t('<p>Do you really want to restore this backup?</p><span>To be safe, you should backup your data before recovery.</span>')
                }
            },
            title: {
                type: String,
                default() {
                    return this.$t('Restore')
                }
            },
            refetchQueries: {
                type: [String, Array],
                default() {
                    return []
                }
            },
            maxWidth: {
                type: [Number, String],
                default: 490
            }
        },
        data() {
            return {
                dialog: false,
                loading: false,
            }
        },
        methods: {
            restore(item) {
                if ( this.loading ) return;

                this.loading = true;

                this.serviceHttp.createFetch({
                    mutation: DELETE_RESTORE,
                    variables: {
                        id: item.id
                    },
                    options: item
                }, () => {
                    this.dialog = false;
                }).finally(() => {
                    this.loading = false;
                })
            }
        }
    };
</script>

<style scoped>

</style>
