<template>
    <v-dialog
        v-model="dialog"
        persistent
        scrollable
        width="640"
    >
        <template v-slot:activator="{ on }">
            <slot
                :on="open"
                name="activator">
                <v-btn
                    @click="open"
                >
                    Add custom item
                </v-btn>
            </slot>
        </template>
        <Box
            :title="$t('Create backup')"
            offset="0">
            <template v-slot:actions="{title}">
                <span class="headline font-weight-regular py-1">{{ title }}</span>
                <v-spacer/>
                <v-icon
                    class="v-chip__close"
                    @click="close">
                    clear
                </v-icon>
            </template>
            <template v-slot:footer>
                <v-divider/>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn
                        class="white--text"
                        color="orange"
                        depressed
                        @click="close"
                    >
                        {{ $t('Close') }}
                    </v-btn>
                    <v-btn
                        :loading="loading"
                        color="success"
                        depressed
                        @click="accept"
                    >{{ $t('Create') }}
                    </v-btn>
                </v-card-actions>
            </template>
            <v-container
                fluid
                grid-list-md
            >
                <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
                    <v-layout column>
                        <v-flex>
                            <TextField
                                :error="!!errors.name"
                                :error-messages="errors.name"
                                :label="$t('Name')"
                                :rules="[v => !!v || $t('Name is required')]"
                                v-model="form.name"
                            />
                        </v-flex>
                        <v-flex>
                            <TextField
                                :error="!!errors.description"
                                :error-messages="errors.description"
                                :label="$t('Description')"
                                :rules="[v => !!v || $t('Description is required')]"
                                v-model="form.description"
                            />
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </Box>
    </v-dialog>
</template>

<script>
    import Box from '../../material/Box';
    import TextField from '../theme/TextField';
    import { CREATE_BACKUP } from '../../../apollo/mutation/backup';

    export default {
        name: 'GenerateBackup',
        components: { TextField, Box },
        data() {
            return {
                valid: true,
                loading: false,
                dialog: false,
                form: {},
                errors: {}
            }
        },
        methods: {
            open() {
                this.dialog = true;
            },
            closeDialog() {
                this.dialog = false;
                this.$refs.form.resetValidation();
            },
            close() {
                this.closeDialog();
            },
            accept() {
                if ( this.validateOnFocusForm() ) {
                    this.save();
                }
            },
            save() {
                return this.serviceHttp.createFetch({
                    mutation: CREATE_BACKUP,
                    variables: {
                        name: this.form.name,
                        description: this.form.description
                    },
                    refetchQueries: ['backups']
                }, () => {
                    this.closeDialog();
                    this.form = {};
                });
            }
        }
    };
</script>

<style scoped>

</style>
