<template>
    <div>
        <slot
            :data="obj"
            name="default"/>
    </div>
</template>

<script>
    import { FETCH_ZONE } from '../../../../../../apollo/query/zone';

    export default {
        name: 'QueryZone',
        props: {
            id: {
                type: [String, Number],
                default: undefined
            }
        },
        data() {
            return {
                obj: {}
            }
        },
        apollo: {
            data() {
                return {
                    query: FETCH_ZONE,
                    variables: {
                        id: this.id
                    },
                    result: ({ data: { data } }) => {
                        if ( data ) {
                            this.obj = data;
                        }
                        ;
                    }
                }
            }
        },
    };
</script>

<style scoped>

</style>