<template>
    <div>
        <slot
            :data="{methods: items}"
            name="default"/>
    </div>
</template>

<script>
    import { FETCH_METHODS } from '../../../../../../apollo/query/zone';

    export default {
        name: 'QueryMethod',
        props: {
            id: {
                type: [String, Number],
                default: undefined
            }
        },
        data() {
            return {
                items: []
            }
        },
        apollo: {
            methods() {
                return {
                    query: FETCH_METHODS,
                    variables: {
                        id: this.id,
                        sort: [
                            {
                                methodOrder: 'ASC'
                            }
                        ]
                    },
                    result: ({ data: { methods: data } }) => {
                        if ( data.data ) {
                            this.items = data.data;
                        }
                        ;
                    }
                }
            }
        },
    };
</script>

<style scoped>

</style>