<template>
    <div>
        <QueryZone
            v-if="isZone"
            :id="id">
            <template v-slot:default="{data}">
                <slot
                    :data="data"
                    name="content"/>
            </template>
        </QueryZone>
        <template
            v-else-if="isNew">
            <slot
                :data="{}"
                name="content"/>
        </template>
        <QueryMethod
            v-else
            :id="id">
            <template v-slot:default="{data}">
                <slot
                    :data="data"
                    name="content"/>
            </template>
        </QueryMethod>
    </div>
</template>

<script>
    import QueryZone from './QueryZone';
    import QueryMethod from './QueryMethod';

    export default {
        name: 'QueryZoneMethod',
        components: { QueryMethod, QueryZone },
        props: {
            id: {
                type: [String, Number],
                default: undefined
            }
        },
        computed: {
            isZone() {
                return Number(this.id) !== 0 && this.id !== 'new';
            },
            isNew() {
                return this.id === 'new';
            }
        }
    };
</script>

<style scoped>

</style>