<template>
    <v-card
        :class="`elevation-${elevation}`"
        :style="styles"
        v-bind="$attrs"
        v-on="$listeners">
        <v-card-actions
            v-if="title"
            :class="[
                color,
                'box-title',
                'px-3'
        ]">
            <slot
                :title="title"
                name="actions">
                <span class="subheading font-weight-regular">{{ title }}</span>
            </slot>
        </v-card-actions>
        <v-divider
            v-if="!hideBody"
            style="margin: 0 !important;"/>
        <slot name="content">
            <v-card-text v-if="!hideBody">
                <slot/>
            </v-card-text>
        </slot>
        <slot name="footer"/>
    </v-card>
</template>

<script>
    export default {
        props: {
            color: {
                type: String,
                default: 'white'
            },
            elevation: {
                type: [Number, String],
                default: 1
            },
            inline: {
                type: Boolean,
                default: false
            },
            fullWidth: {
                type: Boolean,
                default: false
            },
            offset: {
                type: [Number, String],
                default: 7
            },
            title: {
                type: String,
                default: undefined
            },
            text: {
                type: String,
                default: undefined
            },
            hideBody: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            hasOffset() {
                return this.$slots.header ||
                    this.$slots.offset ||
                    this.title ||
                    this.text;
            },
            styles() {
                if ( ! this.hasOffset ) return null;

                return {
                    marginBottom: `${ this.offset }px`,
                    marginTop: `${ this.offset * 2 }px`
                };
            }
        }
    };
</script>

<style scoped>
    .box-title {
        margin: 0 !important;
        padding: 10px 20px !important;
    }
</style>