<template>
    <v-expansion-panels
        :class="`elevation-${elevation}`"
        :style="styles"
        v-bind="$attrs"
        v-model="panel"
        v-on="$listeners"
    >
        <v-expansion-panel>
            <v-expansion-panel-header>
                <span class="subheading font-weight-regular">{{ title }}</span>
            </v-expansion-panel-header>
            <v-divider/>
            <v-expansion-panel-content>
                <br>
                <slot/>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script>
    export default {
        name: 'BoxPanel',
        props: {
            color: {
                type: String,
                default: 'white'
            },
            elevation: {
                type: [Number, String],
                default: 1
            },
            inline: {
                type: Boolean,
                default: false
            },
            fullWidth: {
                type: Boolean,
                default: false
            },
            offset: {
                type: [Number, String],
                default: 7
            },
            title: {
                type: String,
                default: undefined
            },
            text: {
                type: String,
                default: undefined
            },
            hideBody: {
                type: Boolean,
                default: false
            },
            extra: {
                type: Boolean,
                default: true
            }
        },

        data() {
            return {
                panel: null
            }
        },
        computed: {
            hasOffset() {
                return this.$slots.header ||
                    this.$slots.offset ||
                    this.title ||
                    this.text;
            },
            styles() {
                if ( ! this.hasOffset ) return null;

                return {
                    marginBottom: `${ this.offset }px`,
                    marginTop: `${ this.offset * 2 }px`
                };
            }
        },
        watch: {
            extra(val) {
                if ( val ) {
                    this.panel = 0;
                } else {
                    this.panel = null;
                }
            }
        },
        mounted() {
            if ( this.extra ) {
                this.panel = 0;
            }
            ;
        }
    };
</script>

<style scoped>

</style>