<template>
    <v-menu
        ref="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        v-model="menu"
        min-width="290px"
        offset-y
        transition="scale-transition"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                :label="$t('Birthday date')"
                :value="computedDateFormatted"
                prepend-icon="event"
                readonly
                @input="$emit('input', $event)"
                v-on="on"
            />
        </template>
        <v-date-picker
            ref="picker"
            :max="new Date().toISOString().substr(0, 10)"
            :value="value"
            v-bind="$attrs"
            locale="vi"
            min="1950-01-01"
            no-title
            @change="save"
            @input="$emit('input', $event)"
        />
    </v-menu>
</template>

<script>
    import moment from 'moment';

    export default {
        name: 'DateOfBirth',
        props: {
            value: {
                type: [Object, String, Array],
                default: null
            }
        },
        data: () => ({
            menu: false
        }),
        computed: {
            computedDateFormatted() {
                return this.formatDate(this.value)
            }
        },
        watch: {
            menu(val) {
                val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'));
            }
        },
        methods: {
            save(date) {
                this.$refs.menu.save(date);
            },
            formatDate(date) {
                if ( ! date ) {
                    return;
                }
                ;
                return moment(date).format('DD/MM/YYYY');
            }
        }
    };
</script>

<style scoped>

</style>