<template>
    <v-app-bar
        ref="name"
        :style="{
            paddingLeft: $vuetify.application.left + 'px'
        }"
        class="form-toolbar"
        fixed
        inverted-scroll
        prominent
        height="60px"
        color="#f5f5f5"
        style="z-index: 3;"
    >
        <v-layout v-if="container">
            <v-container>
                <v-layout>
                    <slot/>
                </v-layout>
            </v-container>
        </v-layout>
        <slot v-else/>
    </v-app-bar>
</template>

<script>
    export default {
        name: 'FormToolbar',
        props: {
            container: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                active: false
            };
        },
        mounted() {
            this.$watch(
                () => {
                    return this.$refs.name.isActive;
                },
                (val) => {
                    this.$store.commit('setActiveFormToolbar', val);
                    this.active = val;
                }
            );
        }
    };
</script>

<style>
    .form-toolbar {
        /*transform: translateY(0px) !important;*/
    }
</style>