<template>
    <div>
        <div
            v-if="!showFilter && !value.length"
            class="pointer font-weight-regular"
            @click="showSearch"
        >
            <v-icon style="vertical-align: middle;">search</v-icon>
            {{ $t('Search') }}
        </div>
        <v-text-field
            v-if="showFilter || value.length"
            ref="inputSearch"
            :label="label"
            :value="value"
            append-icon="search"
            dense
            hide-details
            clearable
            single-line
            @blur="blur"
            @click:clear="clear"
            @focus="focus"
            @keydown.enter.stop="input"
        />
    </div>
</template>

<script>
    export default {
        name: 'FormFilter',
        props: {
            value: {
                type: String,
                default: ''
            },
            label: {
                type: [String, Array, Object],
                default() {
                    return this.$t('Filter by name..')
                }
            }
        },
        data() {
            return {
                showFilter: false,
                filterText: ''
            }
        },
        methods: {
            showSearch() {
                this.showFilter = true;

                this.$nextTick(function() {
                    this.$refs.inputSearch && this.$refs.inputSearch.focus();
                });
            },
            focus() {
                this.showFilter = true;
            },
            blur(event) {
                this.showFilter = false;
                this.input(event);
            },
            input(event) {
                if ( event.target.value !== this.value ) {
                    this.$emit('input', event.target.value);
                }
            },
            clear(event) {
                this.showFilter = true;
                this.input(event);
            }
        }
    };
</script>

<style scoped>

</style>