<template>
    <v-radio-group
        :mandatory="false"
        :value="value"
        v-bind="$attrs"
        @change="$emit('input', $event)">
        <template v-slot:label>
            <div>{{ $t('Gender') }}</div>
        </template>
        <v-radio
            :label="$t('Male')"
            value="male"/>
        <v-radio
            :label="$t('Female')"
            value="female"/>
    </v-radio-group>
</template>

<script>
    export default {
        name: 'Gender',
        props: {
            value: {
                type: String,
                default: null
            }
        }
    };
</script>

<style scoped>

</style>