<template>
    <v-btn-toggle
        :value="value"
        v-bind="$attrs"
        class="g-item-group"
        @change="$emit('input', $event)"
    >
        <slot/>
    </v-btn-toggle>
</template>

<script>
    export default {
        name: 'ItemGroup',
        props: {
            value: {
                type: [Number, String, Object],
                default: undefined
            }
        }
    };
</script>

<style lang="scss">
    .g-item-group {
        &.border {
            border: solid 1px #ccc;
        }

        .v-text-field.v-text-field--solo .v-input__control {
            min-height: 40px;
        }

        .v-btn:not(:last-child) {
            border-right: 1px solid #00000052;
        }

        .v-btn.v-btn--active:not(:last-child) {
            border-right-color: rgba(0, 0, 0, 0.17);
        }
    }
</style>