<template>
    <v-text-field
        v-price-number="val"
        v-bind="$attrs"
        v-model="val"
        class="number-format"
        v-on="$listeners"
    >
        <slot/>
        <template v-slot:append>
            <slot name="append"/>
        </template>
        <template v-slot:append-outer>
            <slot name="append-outer"/>
        </template>
        <template v-slot:label>
            <slot name="label"/>
        </template>
        <template v-slot:prepend>
            <slot name="prepend"/>
        </template>
        <template v-slot:prepend-inner>
            <slot name="prepend-inner"/>
        </template>
    </v-text-field>
</template>

<script>
    import { convertStringToNumber } from '../utils/utils';

    export default {
        name: 'NumberFormat',
        props: {
            value: {
                type: [String, Number],
                default: undefined
            },
            currencySymbol: {
                type: String,
                default: '₫'
            },
            currencySymbolPlacement: {
                type: String,
                default: 's'
            },
            minimumValue: {
                type: [Number, String],
                default: 0
            },
            maximumValue: {
                type: [Number, String],
                default: 1000000000
            },
            decimalPlaces: {
                type: [Number, String],
                default: 2
            }
        },
        data() {
            return {
                val: 0,
                options: {
                    minimumValue: Number(this.minimumValue),
                    maximumValue: Number(this.maximumValue),
                    decimalPlaces: Number(this.decimalPlaces),
                    currencySymbol: this.currencySymbol,
                    currencySymbolPlacement: this.currencySymbolPlacement, // s Phải, p trái
                    styleRules: {
                        'ranges': [
                            { 'min': 0, 'max': 0.01, 'class': 'error--text' }
                        ]
                    }
                }
            }
        },
        watch: {
            value(val, old) {
                this.val = val;
                this.$el.querySelector('input').setAttribute('value', val);
            },
            val(val, old) {
                this.$emit('input', convertStringToNumber(val));
            }
        },
        mounted() {
            this.val = this.value;
        }
    };
</script>

<style scoped>

</style>