<template>
    <div
        class="treeview-no-icon scroll scroll-y"
        style="max-height: 320px">
        <v-checkbox
            v-for="(item, index) in listItems"
            :key="index"
            :label="item.name"
            :value="item"
            v-model="selected"
            color="primary"
            hide-details
            style="margin-top: 0"/>
    </div>
</template>

<script>
    import { FETCH_PAGE } from '../../../../apollo/query/page';

    export default {
        name: 'LinkForMenuPage',
        props: {
            value: {
                type: Array,
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                selected: []
            }
        },
        computed: {
            listItems() {
                return this.data && this.data.data || [];
            }
        },
        watch: {
            value(val, prev) {
                this.selected = val;
            },
            selected(val, prev) {
                this.$emit('input', this.selected);
            }
        },
        mounted() {
            this.selected = this.value;
        },
        apollo: {
            data() {
                return {
                    query: FETCH_PAGE
                }
            }
        }
    };
</script>

<style scoped>

</style>