<template>
    <div>
        <v-treeview
            :items="listData"
            class="treeview-no-icon scroll scroll-y"
            expand-icon
            item-text
            open-all
            style="max-height: 320px"
        >
            <template v-slot:prepend="{ item }">
                <v-checkbox
                    :key="item.id"
                    :label="item.name"
                    :value="item"
                    v-model="model"
                    color="primary"
                    hide-details
                    style="margin-top: 0"/>
            </template>
        </v-treeview>

    </div>
</template>

<script>
    import { FETCH_PRODUCT_TYPES } from '../../../../apollo/query/product-type';

    export default {
        name: 'LinkForMenuCategoryProduct',
        props: {
            value: {
                type: Array,
                default() {
                    return null
                }
            }
        },
        data() {
            return {
                model: this.value ? this.value : []
            }
        },
        apollo: {
            data: function() {
                return {
                    query: FETCH_PRODUCT_TYPES,
                }
            },
        },
        computed: {
            listData() {
                let categories = [];
                if ( this.data ) categories = this.categoriesRecursive(this.data.data);
                return categories;
            }
        },
        watch: {
            value(val) {
                this.model = this.value ? this.value : []
            },
            model(val, prev) {
                if ( val.length === prev.length ) return

                this.model = val.map(v => {
                    this.value.push(v);
                    return v
                })

                this.$emit('input', this.model);
                this.$emit('input', this.model);
            }
        },

        methods: {
            categoriesRecursive(data, parentKey = 'parentId', idKey = 'id', childrenKey = 'children') {
                let n = {};
                for( let item of data ) {
                    if ( ! n[`${ item[parentKey] || 0 }-key`] ) n[`${ item[parentKey] || 0 }-key`] = [];
                    n[`${ item[parentKey] || 0 }-key`].push(item);
                }
                for( let item of data ) {
                    if ( n[item[idKey] + '-key'] ) {
                        item[childrenKey] = n[item[idKey] + '-key'];
                    }
                }
                return n['0-key'] || [];
            }
        }
    };
</script>

<style scoped>

</style>