<!-- eslint-disable-next-line vue/valid-v-model -->
<template>
    <v-container
        fluid
        grid-list-lg>
        <Table
            :delete-mutation="deleteMutation"
            :filter="listFilter"
            :headers="headers"
            :query="query"
            :select.sync="selected"
            :title="$t('Contacts')"
            delete-refetch-queries="contacts"
        >
            <template v-slot:toolbar-right="{ apollo }">
                <v-btn
                    :class="{
                        'blue--text lighten-4': showFilter
                    }"
                    depressed
                    @click="toggleFilter">
                    {{ $t('Filter') }}
                </v-btn>
                <FormFilter
                    v-model="searchText"
                    class="ma-2"
                />
                <v-spacer/>
                <v-btn
                    depressed
                    @click="apollo.refetch()">
                    <v-icon
                        left
                    >refresh
                    </v-icon>
                    {{ $t('Refresh') }}
                </v-btn>
            </template>
            <template
                v-slot:filter
                v-if="showFilter">
                <ChangeOperatorGroup
                    v-if="filter.length"
                    :title="$t('Only Post, that match')"
                    v-model="operatorGroup"
                />
                <Conditions
                    :data="filterField"
                    @onChange="filter = $event"/>
            </template>
            <template v-slot:items="{item}">
                <td class="text-sm-left">
                    <v-avatar color="teal">
                        <img
                            v-if="item.avatar"
                            :src="item.avatar"
                            alt="Avatar"
                        > <span
                            v-else
                            class="white--text headline">C</span>
                    </v-avatar>
                </td>
                <td class="text-sm-left">
                    <nuxt-link :to="'/contacts/form/edit/' + item.id">
                        {{ item.name }}
                    </nuxt-link>
                </td>
                <td class="text-sm-left">{{ item.email }}</td>
                <td class="text-sm-left">{{ item.phone }}</td>
                <td class="text-sm-left">
                    <v-chip
                        :color="(item.status === 'read' ? 'light-blue' : 'orange')"
                        label
                        x-small
                        outlined>
                        {{ item.status }}
                    </v-chip>
                </td>
                <td class="text-sm-left">
                    <DateFormat :value="item.createdAt"/>
                </td>
                <td class="text-sm-right">
                    <ButtonActionTooltip
                        :title="$t('Edit')"
                        :to="'/contacts/form/edit/' + item.id"
                        color="indigo"
                        icon="edit"
                        nuxt/>
                    <ButtonActionDelete
                        :gql="deleteMutation"
                        :item="item"
                        :message="$t('Do you really want to delete this record? This action is not reversible.')"
                        refetch-queries="contacts"/>
                </td>
            </template>
        </Table>
    </v-container>
</template>

<script>
    import Table from '../../components/table/Table';
    import ButtonActionTooltip from '../../components/button/ButtonActionTooltip';
    import DateFormat from '../../components/helper/DateFormat';
    import ButtonActionDelete from '../../components/button/ButtonActionDelete';
    import FormFilter from '../../components/material/FormFilter';
    import Conditions from '../../components/conditions/Conditions';
    import ChangeOperatorGroup from '../../components/conditions/ChangeOperatorGroup';
    import _ from 'lodash';
    import FeaturedPost from '../../components/views/post/FeaturedPost';
    import { FETCH_CONTACTS } from '../../apollo/query/contact';
    import { DELETE_CONTACT } from '../../apollo/mutation/contact';
    import { FILTER_CONTACT } from '../../filters/contact';

    export default {
        components: {
            FeaturedPost,
            ChangeOperatorGroup,
            Conditions,
            FormFilter,
            ButtonActionDelete,
            DateFormat,
            ButtonActionTooltip,
            Table
        },
        data() {
            return {
                query: FETCH_CONTACTS,
                deleteMutation: DELETE_CONTACT,
                selected: [],
                headers: [
                    {
                        text: this.$t('Avatar'),
                        align: 'left',
                        sortable: false,
                        value: 'avatar',
                        width: '40px'
                    },
                    {
                        text: this.$t('Name'),
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: this.$t('Email'),
                        value: 'email',
                        width: '200px'
                    },
                    {
                        text: this.$t('Phone'),
                        value: 'phone',
                        width: '150px'
                    },
                    {
                        text: this.$t('Status'),
                        value: 'postStatus',
                        align: 'center',
                        // defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Created at'),
                        value: 'createdAt',
                        defaultSort: true,
                        width: '80px'
                    },
                    {
                        text: this.$t('Actions'),
                        value: 'id',
                        align: 'center',
                        width: '120px',
                        sortable: false
                    }
                ],
                filterField: FILTER_CONTACT,
                filter: [],
                showFilter: false,
                searchText: undefined,
                operatorGroup: 'AND',
                filterStatus: {
                    field: 'postStatus',
                    operator: 'in',
                    value: [
                        'publish',
                        'private',
                        'draft'
                    ]
                },
                filterStatusSelected: 'all',
                status: {
                    draft: {
                        label: this.$t('Drafts'),
                        color: 'orange'
                    },
                    publish: {
                        label: this.$t('Published'),
                        color: 'primary'
                    },
                    private: {
                        label: this.$t('Private'),
                        color: 'green'
                    },
                    trash: {
                        label: this.$t('Trash'),
                        color: 'red'
                    }
                }
            };
        },
        computed: {
            listFilter() {
                if ( ! this.searchText ) {
                    return [
                        {
                            operator: this.operatorGroup,
                            items: this.filter
                        }
                    ];
                }
                return [
                    {
                        operator: this.operatorGroup,
                        items: this.filter
                    },
                    {
                        operator: 'OR',
                        items: [
                            {
                                field: 'name',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            },
                            {
                                field: 'phone',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            },
                            {
                                field: 'email',
                                value: `%${ this.searchText }%`,
                                operator: 'like'
                            }
                        ]
                    }
                ];
            }
        },
        methods: {
            isEqual(a, b) {
                return _.isEqual(a, b);
            },
            click() {

            },
            toggleFilter() {
                this.showFilter = ! this.showFilter;
                if ( ! this.showFilter && this.filter.length ) {
                    this.filter = [];
                }
            },
            changeStatus(value, name) {
                this.filterStatus = {
                    field: 'postStatus',
                    operator: 'in',
                    value: value
                };
                this.filterStatusSelected = name ? name : value;
            }
        }
    };
</script>
