<template>
    <v-container
        grid-list-lg
    >
        <v-form
            ref="form"
            v-model="valid"
            class="form-post"
            lazy-validation
        >
            <div class="toolbar-form-product">
                <h3 class="font-weight-regular">{{ $t('Create product variant') }}</h3>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </div>
            <FormToolbar container>
                <v-spacer/>
                <v-btn
                    text
                    class="ma-2"
                    @click="saveToDraft"
                >
                    {{ $t('Save to Draft') }}
                </v-btn>
                <v-btn
                    class="v-btn-facebook ma-2"
                    @click="publish">
                    {{ $t('Publish') }}
                </v-btn>
            </FormToolbar>

            <FormProductBranch
                v-model="form"
            >
                <template slot="submit">
                    <div/>
                </template>
                <template slot="customField">
                    <div/>
                </template>
            </FormProductBranch>
        </v-form>
    </v-container>
</template>

<script>
    import Card from '../../../../../components/material/Card';
    import FormPost from '../../../../../components/views/post/FromPost';
    import FormToolbar from '../../../../../components/material/FormToolbar';
    import Toolbar from '../../../../../components/core/Toolbar';
    import { UPDATE_PRODUCT } from '../../../../../apollo/mutation/product';
    import _ from 'lodash';
    import FormProductBranch from '../../../../../components/views/product/FromProductBranch';
    import { PRODUCT_DETAIL } from '../../../../../apollo/query/product';
    import { deMeta } from '../../../../../components/utils/utils';

    export default {
        components: { FormProductBranch, Toolbar, FormToolbar, FormPost, Card },
        data() {
            return {
                valid: true,
                errors: {},
                loading: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    productTypeId: '1',
                    branches: [{}],
                    images: [],
                    requiresShipping: true
                }
            };
        },
        apollo: {
            data: function() {
                return {
                    query: PRODUCT_DETAIL,
                    variables: {
                        id: this.$route.params.id
                    },
                    fetchPolicy: 'network-only',
                    result({ data }) {
                        if ( data && data.data ) {
                            if ( ! data.data ) {
                                return;
                            }
                            this.form = {
                                ...data.data,
                                attributes: _.head(data.data.branches).attributes.map(x => {
                                    return {
                                        ...x,
                                        attribute: {
                                            name: ''
                                        }
                                    }
                                })
                            };

                            this.$store.commit('product/master', data.data);
                        }
                    }
                };
            }
        },
        methods: {
            formatForm() {
                let _form = _.cloneDeep(this.form);
                let res = {
                    id: this.form.id
                };

                let meta = deMeta(_form);

                let tags = [];
                if ( Array.isArray(_form.tags) ) {
                    tags = _form.tags.map(i => (i.text));
                }
                let images = [];
                if ( _form.branches && _form.branches.length ) {
                    let name = _.find(_form.attributes, ['group.name', _form.imageType]);

                    let branch = _.find(_form.branches, (branch) => {
                        let old = _.find(branch.attributes, ['group.name', _form.imageType]);
                        // let val = old.attribute.name === name.attribute.name;
                        return old && old.attribute.name === name.attribute.name;
                    });

                    if ( branch && name ) {
                        images = branch.images.map(image => _.pick(image, ['thumbnailId', 'image']));
                    }
                }

                res.branches = [
                    {
                        ..._.pick(_form, [
                            'code',
                            'sku',
                            'price',
                            'priceSale',
                            'weight',
                            'length',
                            'width',
                            'height',
                            'attributes',
                            'requiresShipping',
                        ]),
                        inventory: _.pick(_form.inventory, ['quantity']),
                        images,
                        attributes: _form.attributes.map(attr => {
                            return {
                                groupName: attr.group.name,
                                name: attr.attribute.name
                            }
                        }),
                    }
                ]

                console.log('form', res, meta);

                return {
                    ...res,
                    meta,
                    tags
                }
            },
            formatFormInput(data) {
                let _form = _.cloneDeep(data);
                console.log('_form', _form);


                /*if (_form.branches && _form.branches.length === 1){
                    _form.price = _form.branches[0].price;
                    _form.priceSale = _form.branches[0].priceSale;
                    _form.inventory = _form.branches[0].inventory && _form.branches[0].inventory.quantity;
                    _form.weight = _form.branches[0].weight;
                    _form.length = _form.branches[0].length;
                    _form.width = _form.branches[0].width;
                    _form.height = _form.branches[0].height;
                    _form.code = _form.branches[0].code;
                    // _form.images = _form.branches[0].images;

                } else {
                    // Là sản phẩm có atribute

                }
    */
                _form.branches = _form.branches.map(x => {
                    return {
                        ...x,
                        images: {
                            data: x.images,
                            select: !! _form.imageType,
                            selected: _form.imageType
                        },
                        inventory: x.inventory && x.inventory.quantity,
                        attributes: x.attributes.map(item => {
                            return {
                                name: item.attribute.name
                            }
                        })
                    }
                });

                if ( ! _form.imageType ) {
                    _form.images = _.head(_form.branches).images
                } else {
                    _form.images = _.head(_form.branches).images;
                    _form.images.data = {};
                    for( let x of data.branches ) {
                        let name = _.head(x.attributes.filter(x => x.group.name === _form.imageType)).attribute.name;
                        _form.images.data[name] = x.images;
                    }
                }

                return {
                    ..._form,
                }
            },

            handleSave(values, callback) {
                let { ...variables } = this.formatForm();

                if ( typeof values === 'function' ) {
                    callback = values;
                }
                if ( typeof values === 'object' ) {
                    variables = { ...variables, ...values };
                }

                return this.serviceHttp.updateFetch(UPDATE_PRODUCT, variables, callback);
            },
            saveToDraft() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.productStatus !== 'private' ) {
                        this.form = { ...this.form, productStatus: 'draft' };
                    }

                    this.handleSave((data) => {
                        this.$router.push({
                            // path: '/product/form/edit/' + data.productCreate.id
                            path: '/product/list'
                        });
                    });
                }
            },
            publish() {
                if ( this.validateOnFocusForm() ) {
                    if ( this.form.productStatus !== 'private' ) {
                        this.form = { ...this.form, productStatus: 'publish' };
                    }

                    this.handleSave((data) => {
                        try {
                            let p = _.head(data.productUpdate.branches.slice(-1));

                            this.$router.push({
                                // path: '/product/form/edit/' + data.productCreate.id
                                path: `/product/form/${ this.$route.params.id }/variants/${ p.id }`
                            });
                        } catch (e) {
                        }
                    });
                }
            },
            update() {
                if ( this.validateOnFocusForm() ) {
                    this.handleSave();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .toolbar-form-product {
        display: flex;
        border-bottom: 1px #ccc solid;
        margin-top: -10px;
    }
</style>
