<template>
    <div>
        <ButtonActionTooltip
            :title="$t('Delete')"
            color="#555"
            icon="mdi-delete-forever"
            @click.stop="dialog = true">
            <template v-slot:icon>
                <v-icon style="font-size: 24px;">mdi-delete-forever</v-icon>
            </template>
            <DialogConfirm
                :accept-text="$t('Delete')"
                :cancel-text="$t('Cancel')"
                :loading="loading"
                v-model="dialog"
                @ok="deleteBulk"
            />
        </ButtonActionTooltip>
        <v-menu
            offset-y
        >
            <template v-slot:activator="{ on }">
                <ButtonActionTooltip
                    :title="$t('Move to')"
                    color="#555"
                    v-on="on">
                    <template v-slot:icon>
                        <v-icon style="font-size: 24px;">mdi-folder-move</v-icon>
                    </template>
                </ButtonActionTooltip>
            </template>
            <v-list>
                <v-list-item @click="moveToStatus('draft')">
                    <v-list-item-title>
                        {{ $t('Move to draft') }}
                    </v-list-item-title>
                </v-list-item>
                <v-list-item @click="moveToStatus('publish')">
                    <v-list-item-title>
                        {{ $t('Move to publish') }}
                    </v-list-item-title>
                </v-list-item>
                <v-list-item @click="moveToStatus('private')">
                    <v-list-item-title>
                        {{ $t('Move to private') }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script>
    import DialogConfirm from '../../dialog/DialogConfirm';
    import ButtonActionTooltip from '../../button/ButtonActionTooltip';
    import { UPDATE_PAGE } from '../../../apollo/mutation/page';

    export default {
        name: 'ToolbarActionsPage',
        components: { ButtonActionTooltip, DialogConfirm },
        props: {
            deleteMutation: {
                type: [Object],
                default: null
            },
            deleteRefetchQueries: {
                type: [String, Array],
                default() {
                    return [];
                }
            },
            selected: {
                type: [Object, Array],
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                dialog: false,
                loading: false
            }
        },
        computed: {
            refetchQueries() {
                let refetchQueries = this.deleteRefetchQueries;
                if ( ! Array.isArray(this.deleteRefetchQueries) ) {
                    refetchQueries = [refetchQueries];
                }
                return refetchQueries;
            }
        },
        methods: {
            resetSelected() {
                // this.$emit('update:selected', []);
            },
            deleteBulk() {
                if ( this.loading ) return;

                this.loading = true;

                this.serviceHttp.deleteFetch(this.deleteMutation, this.selected.map(x => (x.id)), this.refetchQueries).finally(() => {
                    this.dialog = false;
                    this.loading = false;
                });
            },
            changeStatus(status) {
                if ( ! this.selected.length ) {
                    return;
                }
                let notifi = true;
                for( let item of this.selected ) {
                    this.$apollo.mutate({
                        mutation: UPDATE_PAGE,
                        variables: {
                            id: item.id,
                            postStatus: status
                        },
                        refetchQueries: this.refetchQueries
                    }).finally(() => {
                        if ( notifi ) {
                            notifi = false;
                            this.$notify({
                                group: 'app',
                                type: 'success',
                                title: 'Success',
                                text: 'Thao tác thành công.',
                                duration: 2000,
                            });
                            this.resetSelected();
                        }
                    });
                }
            },
            moveToStatus(status) {
                return this.changeStatus(status);
            },
            moveToDraft() {
                this.changeStatus('draft');
            }
        }
    };
</script>

<style scoped>

</style>