<template>
    <v-tooltip bottom>
        <template v-slot:activator="{ on }">
            <div v-on="on">
                <v-rating
                    v-model="isFeatured"
                    background-color="indigo lighten-3"
                    clearable
                    color="indigo"
                    length="1"
                    @input="changeFeature"
                />
            </div>
        </template>
        <span>
            {{ isFeatured === 1 ? 'Có' : 'Không' }}
        </span>
    </v-tooltip>

</template>

<script>
    import { CHANGE_FEATURED_POST } from '../../../apollo/mutation/post';

    export default {
        name: 'FeaturedPost',
        props: {
            value: {
                type: [Boolean, Number, String],
                default: false
            },
            productId: {
                type: [Number, String],
                default: undefined
            },

        },
        data() {
            return {
                isFeatured: 0
            }
        },
        watch: {
            value(val) {
                this.isFeatured = Number(val);
            },
            isFeatured(val) {
                this.$emit('input', Boolean(val));
            }
        },
        mounted() {
            this.isFeatured = Number(this.value);
        },
        methods: {
            changeFeature() {
                this.serviceHttp.updateFetch(CHANGE_FEATURED_POST, {
                    id: this.productId,
                    isFeatured: Boolean(this.isFeatured)
                });
            }
        }
    };
</script>

<style scoped>

</style>