<template>
    <v-layout
        class="from-post"
        row
        wrap>
        <v-flex
            class="sidebar-left"
            md9
            xs12>

            <div
                class="box-line-avata sidebar-right-avata">
                <Box>
                    <v-text-field
                        ref="name"
                        :counter="200"
                        :error="!!errors.name"
                        :error-messages="errors.name"
                        :label="$t('Title')"
                        :rules="nameRules"
                        v-model="form.name"
                        class="elevation-0"
                        name="name"
                        required
                        solo
                        value=""
                    />
                    <no-ssr v-if="!hideDescription">
                        <CKEditor
                            :configs="{
                                toolbar1: 'bold italic underline',
                                min_height: 150
                            }"
                            :label="$t('Description of the article')"
                            v-model="form.description"
                            class="description"
                            type="text"
                        />
                    </no-ssr>
                    <no-ssr>
                        <CKEditor
                            :configs="{
                                min_height: 400
                            }"
                            :error="!!errors.content"
                            :error-messages="errors.content"
                            :label="$t('Content of the article')"
                            :rules="[v => !!v || this.$t('Content is required'), v => (v && v.length >= 200) || this.$t('Content must have at least 200 characters.')]"
                            v-model="form.content"
                            class="content"
                            type="full"
                        />
                    </no-ssr>
                </Box>
                <slot name="customField"/>
            </div>
        </v-flex>
        <v-flex
            class="sidebar-right"
            md3
            xs12>
            <Box
                v-if="!hidePublish"
                :title="$t('Publish')"
                class="box-line-publish sidebar-right-publish"
                offset="0">
                <div class="content">
                    <v-radio-group
                        v-model="visibility"
                        column>
                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <v-radio
                                    color="primary"
                                    value="public">
                                    <template v-slot:label>
                                        <div v-on="on">{{ $t('Public') }}</div>
                                    </template>
                                </v-radio>
                            </template>
                            <span>{{ $t('Visible to everyone.') }}</span>
                        </v-tooltip>

                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <v-radio
                                    color="primary"
                                    value="private">
                                    <template v-slot:label>
                                        <div v-on="on">{{ $t('Private') }}</div>
                                    </template>
                                </v-radio>
                            </template>
                            <span>{{ $t('Only visible to site admins and editors.') }}</span>
                        </v-tooltip>

                        <v-tooltip left>
                            <template v-slot:activator="{ on }">
                                <v-radio
                                    color="primary"
                                    value="protected">
                                    <template v-slot:label>
                                        <div v-on="on">{{ $t('Password Protected') }}</div>
                                    </template>
                                </v-radio>
                            </template>
                            <span>{{ $t('Password Protected with a password you choose. Only those with the password can view this post.') }}</span>
                        </v-tooltip>
                    </v-radio-group>
                    <v-text-field
                        v-if="visibility === 'protected'"
                        :append-icon="show1 ? 'visibility' : 'visibility_off'"
                        :hint="$t('At least 8 characters')"
                        :label="$t('Password')"
                        :rules="passwordRules"
                        :type="show1 ? 'text' : 'password'"
                        v-model="form.postPassword"
                        class="password"
                        counter
                        name="input-10-1"
                        @click:append="show1 = !show1"
                    />
                </div>
                <div class="submit">
                    <slot name="submit">
                        <v-btn
                            color="success"
                            @click="submit"
                        >
                            {{ $t('Submit') }}
                        </v-btn>
                    </slot>
                </div>
            </Box>
            <Box
                v-if="!hideFormat"
                :title="$t('Format')"
            >
                <v-radio-group
                    v-model="form.format"
                >
                    <v-radio
                        :label="$t('Default')"
                        :value="1"
                        color="primary"
                    />
                    <template v-for="item of formats">
                        <v-radio
                            :key="item.id"
                            :label="$t(item.value)"
                            :value="item.id"
                            color="primary"
                        />
                    </template>
                </v-radio-group>
            </Box>
            <Box
                v-if="!hideAvatar"
                :title="$t('Avatar')"
                class="box-line-avata sidebar-right-avata">
                <div class="text-sm-center">
                    <Upload
                        :thumbnail-id.sync="form.thumbnailId"
                        v-model="form.avatar"
                    />
                </div>
            </Box>
            <Box
                v-if="!hideCategory"
                :title="$t('Categories')"
                class="box-line-category sidebar-right-category">
                <ComboboxCategory
                    :error="!!errors.content"
                    :error-messages="errors.content"
                    :rules="[v => !!v || this.$t('Category is required')]"
                    v-model="form.categories"
                />
            </Box>
            <Box
                v-if="!hideTag"
                :title="$t('Tags')"
                class="box-line-tag sidebar-right-tag">
                <ComboboxTag
                    v-model="form.tags"
                    item-value="text"/>
            </Box>
            <Box
                v-if="!hideDiscussion"
                :title="$t('Discussion')"
                class="box-line-tag sidebar-right-tag">
                <v-switch
                    :label="$t('Allow Comments')"
                    v-model="form.commentStatus"
                    color="blue"
                    false-value="closed"
                    true-value="open"
                />
            </Box>
        </v-flex>
    </v-layout>
</template>

<script>
    import Box from '../../material/Box';
    import FormToolbar from '../../material/FormToolbar';
    import ComboboxCategory from '../../combobox/ComboboxCategory';
    import ComboboxTag from '../../combobox/ComboboxTag';
    import Upload from '../../helper/Upload';
    import BoxLine from '../../Box/BoxLine';
    import Card from '../../material/Card';

    export default {
        name: 'FormPost',
        components: { Card, BoxLine, Upload, ComboboxTag, ComboboxCategory, FormToolbar, Box },
        props: {
            value: {
                type: [Object, Array, String],
                default() {
                    return {}
                }
            },
            errors: {
                type: Object,
                default() {
                    return {}
                }
            },
            hidePublish: {
                type: Boolean,
                default: false
            },
            hideAvatar: {
                type: Boolean,
                default: false
            },
            hideCategory: {
                type: Boolean,
                default: false
            },
            hideTag: {
                type: Boolean,
                default: false
            },
            hideDiscussion: {
                type: Boolean,
                default: false
            },
            hideFormat: {
                type: Boolean,
                default: false
            },
            hideDescription: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                valid: true,
                show1: false,
                form: {
                    name: '',
                    description: '',
                    content: '',
                    postPassword: '',
                    categories: [],
                    tags: [],
                    postStatus: 'publish',
                    avatar: undefined,
                    format: 1
                },
                nameRules: [
                    v => !! v || this.$t('Name is required'),
                    v => (v && v.length <= 250) || this.$t('Name must be less than 250 characters')
                ],
                contentRules: [
                    v => !! v || this.$t('Content is required'),
                    v => (v && v.length >= 200) || this.$t('Content must have at least 200 characters.')
                ],
                passwordRules: [
                    v => !! v || this.$t('Password is required'),
                    v => (v && v.length >= 8) || this.$t('At least 8 characters')
                ],
                rulesCategory: [
                    v => {
                        console.log(v);
                        return false;
                    }
                ],
                visibility: 'public'
            };
        },
        computed: {
            formats() {
                const list = process.env.LIST_FORMAT;

                if (!list) {
                    return [
                        {
                            id: 2,
                            value: 'Video'
                        }
                    ]
                }

                return list.split(',').map(item => {
                    const [id, value] = item.split('|');
                    return {id: Number(id), value};
                });
            }
        },
        watch: {
            value(val, oldVal) {
                this.form = val;

                console.log('this.form.postStatus', this.form.postStatus);
                if ( this.form.postStatus === 'private' ) {
                    this.visibility = 'private';
                } else if ( this.form.postPassword ) {
                    this.visibility = 'protected';
                } else {
                    this.visibility = 'public';
                }
            },
            form(val, oldVal) {
                this.$emit('input', val);
            },
            visibility(val, oldVal) {
                if ( val !== 'protected' ) {
                    this.form.postPassword = '';
                }
                if ( val === 'private' ) {
                    this.form.postStatus = 'private';
                } else {
                    this.form.postStatus = 'publish';
                }
            }
        },
        mounted() {
            if ( this.value ) {
                this.form = this.value;
                if ( this.form.postStatus === 'private' ) {
                    this.visibility = 'private';
                } else if ( this.form.postPassword ) {
                    this.visibility = 'protected';
                } else {
                    this.visibility = 'public';
                }
            }
        },
        methods: {
            submit() {
                const { ...form } = this.form;

                if ( Array.isArray(form.tags) ) {
                    form.tags = form.tags.map(i => (i.text));
                }

                this.$emit('submitForm', form);
            },
        }
    }
</script>

<style>
    .content .ck-content.ck-editor__editable {
        min-height: 350px;
    }
</style>